@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";

.reward-tiers {
  .view-tier {
    margin-bottom: 24px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 34px 30px;
    cursor: default;

    .auction-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .auctions-tier {
      margin-top: 35px;

      .line-winners-nfts {
        width: 100%;
        height: 1px;
        background-color: #e5e5e5;
        margin: 30px 0;
      }

      @include md {
        margin-top: 24px;
      }
      @include sm {
        margin-top: 34px;
      }
    }
    .auctionIcon {
      margin-right: 20px;
      cursor: grab;
    }

    .img_head {
      display: flex;
      align-items: center;

      @media (min-width: 992px) {
        width: 70%;
      }

      .img_head_title {
        display: flex;
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 250px;
          width: 100%;
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.2px;
          color: #000000;
          margin-right: 12px;
        }
        @include lg {
          padding-top: 10px;
        }
        @include md {
          padding-top: unset;
        }
        @include sm {
          max-width: 200px;
        }
      }
      .winners__edit__btn {
        .winners {
          display: flex;
          .tier-winners,
          .tier-perwinners,
          .tier-minbid {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            margin-right: 12px;
            white-space: nowrap;
            h4 {
              position: static;
              height: 21px;
              left: 15.69%;
              right: 15.69%;
              top: 6px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #000000;
              flex: none;
              order: 0;
              flex-grow: 0;
              margin: 6px 16px;
              b {
                text-transform: uppercase;
              }
            }
            @include md {
              margin-bottom: 10px;
              width: fit-content;
            }
            @include sm {
              margin-right: 8px;
            }
          }
          @include lg {
            margin-top: 20px;
          }
          @include md {
            flex-wrap: wrap;
          }
          @include sm {
            margin-left: 0%;
          }
        }
        button {
          display: none;
          box-shadow: 2px 1000px 1px #f7f9f8 inset;
          img {
            padding-left: 12px;
            padding-right: 5px;
          }

          @include sm {
            display: flex;
            width: 100%;
            margin-top: 10px;
          }
        }
        @include sm {
          width: 100%;
        }
      }
      @include lg {
        display: grid;
      }
      @include sm {
        width: 100%;
      }
    }
    .launch-auction {
      height: 50px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      margin-right: 12px;
      img {
        margin-top: 15px;
        margin-left: 10px;
        height: 20px;

        @include sm {
          margin-top: 0;
          margin-left: 0;
        }
      }

      @include sm {
        margin-left: 0;
        margin-right: 0;
        border-left: none;
        grid-row: 1/2;
        display: flex;
        justify-content: flex-end;
      }
    }
    .edit-show {
      display: flex;
      .edit-btn {
        display: flex;
        grid-gap: 12px;
        .remove-image {
          position: relative;
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
          > img {
            border-radius: 12px;
            cursor: pointer;
            &:hover {
              background: rgba(255, 73, 73, 0.05);
              border-radius: 12px;
            }
          }
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 136px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 100px;
            padding: 4px 12px;
            position: absolute;
            z-index: 1;
            top: -40px;
            left: 51%;
            transform: translateX(-50%);
            box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.4);
            &::before {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-top: 0.6px;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
            }
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          @include sm {
            height: 45px;
            width: 45px;
          }
        }
        @include sm {
          align-items: flex-end;
        }
      }
      button {
        display: flex;
        box-shadow: 2px 1000px 1px #f7f9f8 inset;
        img {
          padding-left: 12px;
          padding-right: 5px;
        }
        &:hover {
          box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.9) inset;
        }
        @include sm {
          display: none;
        }
      }
      @include lg {
        align-items: flex-start;
      }
      @include sm {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 12px;
        align-items: unset;
      }
    }
    @include sm {
      padding: 23px 20px;
    }
    @include lg {
      padding: 24px 30px;
    }
  }
}

.tickeid-popup {
  position: relative;
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
  > img {
    border-radius: 12px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 73, 73, 0.05);
      border-radius: 12px;
    }
  }
  .tooltiptext {
    visibility: hidden;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    width: 136px;
    background-color: $black;
    color: $white;
    text-align: center;
    border-radius: 100px;
    padding: 4px 12px;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 51%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.4);

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: 0.6px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  .nft-tokenid-block {
    max-width: 109px;
    top: initial;
    bottom: 24px;
    border-radius: 12px;
    text-align: initial;
    padding: 12px 8px 12px 12px;

    .nft-tokenid-title {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      line-height: 150%;
      color: $white;
      opacity: 0.4;
    }

    .nft-tokenids {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 150%;
      color: #ffffff;
    }
  }
}

.reward-tiers {
  .slick-slide {
    width: unset !important;
  }
  .slick-dots {
    display: none !important;
  }
  .slick-track {
    padding: 4px 0px;
  }
  .slick-arrow {
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 42px;
    width: 42px;
    box-sizing: border-box;
    box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
    border-radius: 50%;
    top: 60px;
    &:hover {
      background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
      border: 1px solid transparent;
    }

    &::before {
      color: rgba(0, 0, 0, 1);
      position: absolute;
    }

    &.slick-prev {
      position: absolute;
      left: -18px;
      z-index: 1;
      top: 47px;
      bottom: 0;
      margin: auto;
      &::before {
        content: url("../../assets/images/slider-btn.svg");
        opacity: 1;
        top: 7px;
        right: 17px;
      }
    }
    &.slick-next {
      position: absolute;
      right: -18px;
      z-index: 1;
      top: 47px;
      bottom: 0;
      margin: auto;
      &::before {
        content: url("../../assets/images/slider-btn.svg");
        opacity: 1;
        transform: rotate(180deg);
        top: 14px;
        right: 16px;
      }
    }

    @include sm {
      display: none !important;
    }
  }
}
