@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";

.reward-tiers {
  .view-tier {
    margin-bottom: 24px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 34px 30px;
    cursor: default;

    .auction-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .auctions-tier {
      margin-top: 36px;
    }
    .auctionIcon {
      margin-right: 20px;
      cursor: grab;
    }

    .img_head {
      display: flex;
      align-items: center;

      .img_head_title {
        display: flex;
        h3 {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          display: flex;
          align-items: center;
          letter-spacing: 0.2px;
          color: #000000;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin-right: 12px;
        }
        @include lg {
          padding-top: 10px;
        }
        @include md {
          padding-top: unset;
        }
      }
      .winners__edit__btn {
        .winners {
          display: flex;
          .tier-winners,
          .tier-perwinners,
          .tier-minbid {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            margin-right: 12px;
            white-space: nowrap;
            h4 {
              position: static;
              height: 21px;
              left: 15.69%;
              right: 15.69%;
              top: 6px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #000000;
              flex: none;
              order: 0;
              flex-grow: 0;
              margin: 6px 16px;
              b {
                text-transform: uppercase;
              }
            }
            @include md {
              margin-bottom: 10px;
              width: fit-content;
            }
            @include sm {
              margin-right: 8px;
            }
          }
          @include lg {
            margin-top: 20px;
          }
          @include md {
            flex-wrap: wrap;
          }
          @include sm {
            margin-left: 0%;
          }
        }
        button {
          display: none;
          box-shadow: 2px 1000px 1px #f7f9f8 inset;
          img {
            padding-left: 12px;
            padding-right: 5px;
          }

          @include sm {
            display: flex;
            width: 100%;
            margin-top: 10px;
          }
        }
        @include sm {
          width: 100%;
        }
      }
      @include lg {
        display: grid;
      }
      @include sm {
        width: 100%;
      }
    }
    .launch-auction {
      height: 50px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      margin-right: 12px;
      img {
        margin-top: 15px;
        margin-left: 10px;
        height: 20px;

        @include sm {
          margin-top: 0;
          margin-left: 0;
        }
      }

      @include sm {
        margin-left: 0;
        margin-right: 0;
        border-left: none;
        grid-row: 1/2;
        display: flex;
        justify-content: end;
      }
    }
    .edit-show {
      display: flex;
      .edit-btn {
        display: flex;
        grid-gap: 12px;
        .remove-image {
          position: relative;
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
          > img {
            border-radius: 12px;
            cursor: pointer;
            &:hover {
              background: rgba(255, 73, 73, 0.05);
              border-radius: 12px;
            }
          }
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 136px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 100px;
            padding: 4px 12px;
            position: absolute;
            z-index: 1;
            top: -40px;
            left: 51%;
            transform: translateX(-50%);
            box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.4);
            &::before {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-top: 0.6px;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
            }
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          @include sm {
            height: 45px;
            width: 45px;
          }
        }
        @include sm {
          align-items: flex-end;
        }
      }
      button {
        display: flex;
        box-shadow: 2px 1000px 1px #f7f9f8 inset;
        img {
          padding-left: 12px;
          padding-right: 5px;
        }
        &:hover {
          box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.9) inset;
        }
        @include sm {
          display: none;
        }
      }
      @include lg {
        align-items: flex-start;
      }
      @include sm {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 12px;
        align-items: unset;
      }
    }
    @include sm {
      padding: 23px 20px;
    }
    @include lg {
      padding: 24px 30px;
    }
  }
  .rev-reward {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;

    .rev-reward__box {
      background: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 12px;
      position: relative;

      &__image {
        position: relative;
        margin-bottom: 12px;
        width: 164px;
        height: unset;
        padding-bottom: 100%;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 12px;
        }
        img.preview-image {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        .check__icon {
          position: absolute;
          top: 8px;
          left: 8px;
        }
        .video__icon {
          position: absolute;
          top: 9px;
          right: 7px;
        }
        @include lg {
          width: 100%;
          text-align: center;
          margin: auto auto 12px;
        }
        @include sm {
          width: 100%;
        }
      }

      &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        h3 {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          color: $black;
        }
        .three__dots {
          position: relative;
          display: flex;
          align-items: center;
          gap: 3px;
          span {
            height: 4px;
            width: 4px;
            background-color: $black;
            border-radius: 50%;
          }
        }
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .ed-count {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 21px;
          text-align: right;
          color: #000000;
        }
        .collection__details {
          display: flex;
          align-items: center;
          .random__bg__color {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: $black;
          }
          img {
            height: 20px;
            width: 20px;
            object-fit: cover;
            border-radius: 50%;
          }
          span {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            color: $black;
            margin-left: 6px;
          }
        }
        div.collection__count {
          position: relative;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          color: $black;
          cursor: default;

          &:hover {
            .generatedEditions {
              display: grid;
              grid-column-gap: 10px;
              grid-row-gap: 5px;
              z-index: 1;
            }
          }

          .generatedEditions {
            display: none;
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            background: $white;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            padding: 16px;

            > div {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              color: $black;
            }
          }
        }
      }

      &__highlight__one {
        position: absolute;
        bottom: -8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        width: 95%;
        height: 8px;
        left: 8px;
      }
      &__highlight__two {
        position: absolute;
        bottom: -16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        width: 90%;
        height: 8px;
        left: 16px;
      }
    }
    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
}
