@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.summary--parent--block {
    .section--title {
        font-family: $sharpGroteskSemiBoldFont;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: $black;
        margin-bottom: 40px;
    }
    .summary--content--block {
        width: 100%;
        min-height: 480px;
        padding: 40px;
        box-sizing: border-box;
        background: $white;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 12px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include lg {
            flex-direction: column;
        }
        @include md {
            padding: 20px;
        }
        .nft--image--block {
            width: calc(50% - 60px);
            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
            border-radius: 12px;
            overflow: hidden;
            @include lg {
                width: 100%;
                margin-bottom: 40px;
            }
            img {
                width: 100%;
            }
        }
        .right--block {
            width: calc(50% + 20px);
            @include lg {
                width: 100%;
            }
            .listing--title {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                color: $black;
                margin-bottom: 6px;
            }
            .listing--row {
                p {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: $black;
                    margin-bottom: 30px;
                    // display: flex;
                    // align-items: center;
                    // flex-direction: column;
                }
                .listed--paragraph {
                    img {
                        margin-left: 4px;
                    }
                    span {
                        font-weight: bold;
                        color: $black;
                        margin: 0 4px;
                    }
                }
            }
            .fees--row {
                .fees--desc {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: rgba(0, 0, 0, 0.4);
                    margin-bottom: 20px;
                }
                .fees--percent--block {
                    background: rgba(0, 0, 0, 0.02);
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    box-sizing: border-box;
                    border-radius: 10px;
                    min-height: 140px;
                    padding: 28px 30px;
                    margin-bottom: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .to--universe--row, .to--creator--row, .total--row {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 20% 70% 10%;
                        align-items: flex-end;
                        margin-bottom: 8px;
                        @include md {
                            grid-template-columns: 85px calc(100% - 125px) 40px;
                        }
                        p {
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            color: rgba(0, 0, 0, 0.4);
                        }
                        // div {
                        //     border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
                        // }
                        div{
                            overflow: hidden;
                        }
                        div::after {
                            content:"..............................................................................................................................................";
                            letter-spacing: 2px;
                            color: rgba(0, 0, 0, 0.4);
                        }
                        .percent--value {
                            text-align: right;
                        }
                    }
                    .total--row {
                        grid-template-columns: 10% 80% 10%;
                        @include md {
                            grid-template-columns: 50px calc(100% - 100px) 50px;
                        }
                        p {
                            color: $black;
                            font-weight: 600;
                        }
                    }
                }
            }
            .will--receive--row {
                width: 100%;
                p {
                    display: flex;
                    align-items: center;
                    .price--receive {
                        display: flex;
                        align-items: center;
                        img {
                            margin: 0 7px;
                        }
                    }
                }
            }
        }
    }
    .button--group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 60px;
        @include md {
            flex-direction: column-reverse;
        }
        button {
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 42px;
            font-size: 16px;
            @include md {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}
