@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.users--search--result {
    .user--box {
        display: flex;
        justify-content: space-between;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 30px;
        margin-bottom: 30px;
        .details {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 30px;
            align-items: center;
            img {
                min-width: 110px;
                min-height: 110px;
                max-width: 110px;
                max-height: 110px;
                object-fit: cover;
                border-radius: 50%;
                @include md {
                    min-width: 62px;
                    min-height: 62px;
                    max-width: 62px;
                    max-height: 62px;
                }
            }
            h2 {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 130%;
                color: $black;
            }
            p.desc {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: rgba(0, 0, 0, 0.4);
                max-width: 270px;
                margin: 3px 0px 14px;
                @include md {
                    display: none;
                }
            }
            .show--on--mobile--only {
                display: none;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: rgba(0, 0, 0, 0.4);
                max-width: 270px;
                @include md {
                    display: block;
                }
            }
            .follow {
                display: grid;
                grid-template-columns: 137px auto;
                grid-gap: 20px;
                .followers--count {
                    h3 {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 20px;
                        color: $black;
                    }
                    span {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 22px;
                        color: rgba(0, 0, 0, 0.4);
                    }
                }
                @include md {
                    display: none;
                }
            }
            @include md {
                grid-gap: 20px;
            }
        }
        .galleries {
            display: flex;
            align-items: center;
            margin-left: 20px;
            img {
                width: 110px;
                height: 110px;
                object-fit: cover;
                border-radius: 5px;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
            @include md {
                display: none;
            }
        }
        @include md {
            padding: 12px;
        }
    }
}