@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;

  .pagination {
    display: flex;
    // gap: 10px;

    li {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      &.previous {
        a {
          padding: 0;
        }
      }

      &.next {
        a {
          padding: 0;
        }
      }

      &.disabled {
        background: rgba(0, 0, 0, 0.1);
        opacity: 0.5;
        cursor: not-allowed;
      }

      &.active {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
      }

      a {
        padding: 5px 10px;
        cursor: pointer;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: $black;
      }
    }
  }

  .items__per__page {
    span {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: $black;
      margin-right: 8px;
    }
    button {
      background: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 10px;
      padding: 6px 12px;
      position: relative;

      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: $black;
        margin-right: 5px;
      }

      img {
        transition: 0.5s ease-in-out;
        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
    &__dropdown {
      position: absolute;
      bottom: 36px;
      left: 0;
      width: 100%;

      ul {
        padding: 8px;
        background: $white;
        box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        li {
          padding: 8px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: notmal;
          font-size: 14px;
          color: $black;

          &.active {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 6px;
          }
        }
      }
    }
    @include md {
      display: none;
    }
  }
  @include md {
    justify-content: center;
  }
}
