@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.collection__details {
  display: flex;
  align-items: center;

  .random__bg__color {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sharpGroteskMediumFont;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: $black;
  }

  img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
  }

  span {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: $black;
    margin-left: 6px;
  }
}

div.collection__count {
  position: relative;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $black;
  cursor: default;

  &:hover {
    .generatedEditions {
      display: grid;
      grid-column-gap: 10px;
      grid-row-gap: 5px;
      z-index: 1;
    }
  }

  .generatedEditions {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: $white;
    box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    padding: 16px;

    > div {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      color: $black;
    }
  }
}

.nft__box {
  height: 100%;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px;
  position: relative;
  // transition: 0.3s ease-in-out;

  input {
    @include css-checkbox(16px, $black, $white, 'middle', $white, 6px);
  }

  &:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border: 1px solid $white;
  }

  &.selected, &.has-selected-editions {
    background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
    border: 2px solid transparent;

    .nft__box__highlight__one {
      background: linear-gradient($white, $white) padding-box,
        linear-gradient(to right, #bceb00, #00eaea) border-box;
      border-bottom: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      bottom: -6px;
    }

    .nft__box__highlight__two {
      background: linear-gradient($white, $white) padding-box,
        linear-gradient(to right, #bceb00, #00eaea) border-box;
      border-bottom: 2px solid transparent;
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      bottom: -10px;
    }
  }

  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }

  &__image {
    position: relative;
    margin-bottom: 12px;
    // height: 230px;
    width: 100%;
    aspect-ratio: 1/1;
    // @include lg {
    //   height: 282px;
    // }
    // @include sm {
    //   height: 335px;
    // }

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-radius: 12px;
      cursor: pointer;
    }

    img.preview-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
      cursor: pointer;
    }

    .never-scrambled {
      .tooltiptext {
        visibility: hidden;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        width: 160px;
        background-color: $black;
        color: $white;
        text-align: center;
        border-radius: 100px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -32px;
        right: -63px;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
          @include md {
            left: 86%;
          }
        }
        @include md {
          right: -5px;
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible;
        }
      }
      img {
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }

    .single-trait-scrambled {
      .tooltiptext {
        visibility: hidden;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        width: 160px;
        background-color: $black;
        color: $white;
        text-align: center;
        border-radius: 100px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: -32px;
        right: -63px;
        &::after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
          @include md {
            left: 86%;
          }
        }
        @include md {
          right: -5px;
        }
      }
      &:hover {
        .tooltiptext {
          visibility: visible;
        }
      }
      img {
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }

    .video__icon {
      position: absolute;
      top: 9px;
      right: 7px;
    }
  }

  .selected-div {
    position: absolute;
    min-width: 50px;
    height: 25px;
    right: -25px;
    top: -25px;
    background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
    border-radius: 100px;
    display: flex;
    .check__icon {
      width: 12px;
      margin-right: 6px;
    }
    .selected-number {
      font-style: normal;
      font-weight: 600;
      font-size: 10px;
      line-height: 150%;
      display: flex;
      align-items: center;
      font-family: $spaceGroteskFont;
      padding: 3px 4px 3px 10px;
    }
  }
  &__name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: $black;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .three__dots {
      position: relative;
      display: flex;
      align-items: center;
      height: 15px;
      width: 20px;
      background-color: $white;
      span {
        height: 4px;
        width: 4px;
        background-color: $black;
        border-radius: 50%;
        margin-left: 3px;
      }

      .edit__remove {
        position: absolute;
        right: 0;
        top: 15px;
        background: $white;
        box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
        width: 160px;
        border-radius: 12px;
        z-index: 10;
        padding: 8px;

        li {
          display: flex;
          align-items: center;
          border-radius: 6px;
          padding: 15px;

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }

          img {
            margin-right: 6px;
          }

          p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }

          &.edit p {
            color: $black;
          }
          &.remove p {
            color: #ff4949;
          }
        }
      }
    }

    .editions-btn {
      width: 84px;
      height: 22px;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      color: $black;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: $white;
      border-radius: 12px;
      flex-grow: 0;
      padding: 2px 8px 2px 10px;
      // margin: 0px 2px 6px;
      .icon-up {
        transform: rotate(-180deg);
        margin-bottom: 3px;
      }
      &.selected {
        background-image: linear-gradient(101deg, #bceb00, #00eaea);
        background-origin: border-box;
        box-shadow: 2px 1000px 1px #fff inset;
        border: 1px solid transparent;
        border-radius: 12px;
      }
    }

    .ed-num {
      text-align: end;
    }

    div.collection__count {
      position: relative;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: $black;
      cursor: default;

      &:hover {
        .generatedEditions {
          display: grid;
          grid-column-gap: 10px;
          grid-row-gap: 5px;
          z-index: 1;
        }
      }

      .generatedEditions {
        display: none;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        padding: 16px;

        > div {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: $black;
        }
      }
    }

    p.collection__count {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .collection__details {
      display: flex;
      align-items: center;

      .random__bg__color {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $sharpGroteskMediumFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: $black;
      }

      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }

      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: $black;
        margin-left: 6px;
      }
    }

    div.collection__count {
      position: relative;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: $black;
      cursor: default;

      &:hover {
        .generatedEditions {
          display: grid;
          grid-column-gap: 10px;
          grid-row-gap: 5px;
          z-index: 1;
        }
      }

      .generatedEditions {
        display: none;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        padding: 16px;

        > div {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: $black;
        }
      }
    }

    p.collection__count {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__highlight__one {
    position: absolute;
    bottom: -4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: calc(100% - 12px);
    height: 4px;
    left: 6px;
  }

  &__highlight__two {
    position: absolute;
    bottom: -8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: calc(100% - 24px);
    height: 4px;
    left: 12px;
  }
}

.nft--card--footer.availability-cards {
  .name--and--price {
    align-items: center;
  }
}
