@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.accordion {
  position: relative;
  .box--shadow--effect--block {
    position: absolute;
    left: -4px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% + 8px);
    min-height: calc(100% + 6px);
    border-radius: 12px;
    background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
    opacity: 0;
    transition: 0.2s;
    z-index: -11;
  }

  &:hover {
    .box--shadow--effect--block {
      opacity: 0.2;
    }
  }
  .wallet--pending--section {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 60px;
    .dropdown__arrow {
      img {
        padding: 14px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        transition: 0.5s;
      }
    }
    &.opened {
      .accordion__item__header {
        padding-bottom: 0;
        .dropdown__arrow {
          img {
            transform: rotate(180deg);
            transition: 0.5s;
          }
        }
      }
    }

    .accordion__item__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      cursor: pointer;

      .title {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: $black;
      }
    }
    .accordion__item__body {
      padding: 0 30px;
      margin-top: 0px !important;
      animation: fadeOutDown ease-in-out forwards;
      animation-duration: 0s;

      .nfts__list {
        margin-bottom: 30px;
        button.slick-arrow {
          background: $white;
          border: 1px solid rgba(0, 0, 0, 0.1);
          height: 42px;
          width: 42px;
          border-radius: 50%;
          &:hover {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }

          &::before {
            display: none;
          }

          &.slick-prev {
            position: absolute;
            left: -18px;
            z-index: 1;
          }
          &.slick-next {
            position: absolute;
            right: -18px;
            z-index: 1;
          }
          @include md {
            visibility: hidden !important;
          }
        }
        .slick-slide {
          margin: 0 10px;
        }
        .slick-list {
          .slick-track {
            padding-top: 30px;
          }
        }
        .nft__card {
          position: relative;
          background: #ffffff;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          border-radius: 12px;
          padding: 16px 12px;
          height: 243px;
          cursor: pointer;
          &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .three__images {
              display: flex;
              align-items: center;
              .creator--details,
              .collection--details,
              .owner--details {
                position: relative;
                cursor: pointer;

                img {
                  pointer-events: none;
                  width: 26px;
                  height: 26px;
                  object-fit: cover;
                  border: 1px solid $white;
                  border-radius: 50%;
                }
              }
              .collection--details,
              .owner--details {
                margin-left: -7px;
              }
            }
            .nfts__qantity {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 600;
              font-size: 10px;
              line-height: 150%;
              text-align: right;
              color: rgba(0, 0, 0, 0.4);
            }
          }
          &__body {
            position: relative;
            padding: 16px 0;
            .loading-image {
              position: relative;
              height: 136px;
              .image__bg__effect {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
                z-index: 1;
                border-radius: 6px;
              }
              > img,
              video {
                border-radius: 6px;
                width: 100%;
                height: 136px;
              }

              .card-lds-roller {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
                width: 80px;
                height: 80px;
                z-index: 2;
              }
              .card-lds-roller div {
                animation: card-lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                transform-origin: 40px 40px;
              }
              .card-lds-roller div:after {
                content: " ";
                display: block;
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                margin: -4px 0 0 -4px;
              }
              .card-lds-roller div:nth-child(1) {
                animation-delay: -0.036s;
              }
              .card-lds-roller div:nth-child(1):after {
                background: #adea12;
                top: 63px;
                left: 63px;
              }
              .card-lds-roller div:nth-child(2) {
                animation-delay: -0.072s;
              }
              .card-lds-roller div:nth-child(2):after {
                background: #90ea35;
                top: 68px;
                left: 56px;
              }
              .card-lds-roller div:nth-child(3) {
                animation-delay: -0.108s;
              }
              .card-lds-roller div:nth-child(3):after {
                background: #72ea5b;
                top: 71px;
                left: 48px;
              }
              .card-lds-roller div:nth-child(4) {
                animation-delay: -0.144s;
              }
              .card-lds-roller div:nth-child(4):after {
                background: #33eaaa;
                top: 72px;
                left: 40px;
              }
              .card-lds-roller div:nth-child(5) {
                animation-delay: -0.18s;
              }
              .card-lds-roller div:nth-child(5):after {
                background: #31eaae;
                top: 71px;
                left: 32px;
              }
              .card-lds-roller div:nth-child(6) {
                animation-delay: -0.216s;
              }
              .card-lds-roller div:nth-child(6):after {
                background: #00eaea;
                top: 68px;
                left: 24px;
              }
              .card-lds-roller div:nth-child(7) {
                animation-delay: -0.252s;
              }
              .card-lds-roller div:nth-child(7):after {
                background: #00eaea;
                top: 63px;
                left: 17px;
              }
              .card-lds-roller div:nth-child(8) {
                animation-delay: -0.288s;
              }
              .card-lds-roller div:nth-child(8):after {
                background: #00eaea;
                top: 56px;
                left: 12px;
              }
              @keyframes card-lds-roller {
                0% {
                  transform: rotate(0deg);
                }
                100% {
                  transform: rotate(360deg);
                }
              }
            }
          }
          &__footer {
            .nft__name {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 120%;
              color: #000000;
            }
          }
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 100px;
            padding: 5px 12px;
            white-space: nowrap;
            position: absolute;
            z-index: 1111;
            top: -32px;
            left: 50%;
            transform: translateX(-50%);
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
        }
      }
      &.open {
        animation: fadeInDown 0.5s ease-in-out forwards;
      }

      img {
        @include md {
          grid-row-start: 1;
        }
      }

      @include md {
        grid-template-columns: 1fr;
      }
    }
  }
}
