@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.marketplace__page {
  .welcome__section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    min-height: 420px;
    padding: 0 60px;

    .ellipse-l {
      position: absolute;
      top: 20px;
      left: 0px;
      @include sm {
        height: 200px;
      }
    }

    .ellipse-r {
      position: absolute;
      bottom: 0px;
      right: 0px;
      transform: rotate(180deg);
      @include sm {
        height: 200px;
        bottom: 20px;
      }
    }

    &__container {
      max-width: 1110px;
      margin: 0 auto;
      overflow: hidden;

      h1.title {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        text-align: center;
        color: $white;
        @include md {
          font-size: 26px;
        }
      }
      p.desc {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 20px;
        @include md {
          font-size: 16px;
          max-width: 307px;
          margin: 20px auto 0;
        }
      }
    }
    @include sm {
      padding: 0px 20px;
      min-height: 300px;
    }
  }
  .tabs__section {
    position: relative;
    padding: 80px 60px;

    &__container {
      max-width: 1110px;
      margin: 0 auto;

      .tabs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;

        button {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.4);
          padding-bottom: 10px;
          background-color: transparent;
          &.active {
            color: $black;
            border-bottom: 1px solid $black;
          }
          &:nth-child(2) {
            margin-left: 40px;
          }
          @include sm {
            font-size: 11px;
          }
        }
      }
      .tab__content {
        .active__auctions__tab {
          .empty__nfts {
            width: 100%;
            h3 {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 22px;
              text-align: center;
              color: rgba(0, 0, 0, 0.6);
            }
          }
          .active__auctions__filters {
            margin-bottom: 60px;
            &__head {
              display: flex;
              align-items: center;
              justify-content: space-between;
              h1.title {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 130%;
                color: $black;
                margin-bottom: 10px;
              }
              button {
                background-color: $white;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                text-decoration-line: underline;
                color: $black;
              }
            }
            &__fields {
              display: grid;
              grid-template-columns: 255px 1fr;
              grid-gap: 30px;

              .dropdown {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                background: $white;
                border: 1px solid #d4d4d4;
                box-sizing: border-box;
                border-radius: 12px;
                padding: 15px 16px;
                cursor: pointer;

                .box--shadow--effect--block {
                  position: absolute;
                  width: calc(100% + 8px);
                  min-height: 58px;
                  // z-index: -9;
                  left: -4px;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                  border-radius: 12px;
                  opacity: 0;
                  background-image: linear-gradient(101deg, #bceb00, #00eaea);
                  background-origin: border-box;
                  box-shadow: 4px 1000px 1px #ffffff inset;
                  border: 4px solid transparent;
                  transition: 0.2s;
                }
                &.opened {
                  // background: linear-gradient($white, $white) padding-box,
                  //   linear-gradient(to right, #bceb00, #00eaea) border-box;
                  // border: 1px solid transparent;
                  // .chevron__down {
                  //   transform: rotate(180deg);
                  // }
                  background-image: linear-gradient(101deg, #bceb00, #00eaea);
                  background-origin: border-box;
                  box-shadow: 2px 1000px 1px $white inset;
                  border: 1px solid transparent;
                }
                &:hover {
                  border-radius: 10px;
                  .box--shadow--effect--block {
                    opacity: 0.2;
                  }
                }
                .selected__item {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 20px;
                  color: $black;
                }
                .chevron__down {
                  width: 14px;
                  transition: 0.5s ease;
                }
                .sorting__dropdown {
                  position: absolute;
                  top: 52px;
                  left: 0;
                  width: 100%;
                  z-index: 1;
                  background: $white;
                  box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                  border-radius: 12px;
                  padding: 8px;
                  ul {
                    background: $white;
                    // box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
                    // border-radius: 12px;

                    li {
                      padding: 15px;
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 20px;
                      color: $black;
                      border-radius: 6px;
                      // &:first-child {
                      //   border-bottom: 2px solid #e5e5e5;
                      // }
                    }
                    :hover {
                      background: rgba(0, 0, 0, 0.05);
                    }
                  }
                }
              }
              .search {
                position: relative;
                input {
                  width: 100%;
                  background: $white;
                  border: 1px solid #d4d4d4;
                  box-sizing: border-box;
                  border-radius: 12px;
                  padding: 15px 20px 15px 45px;
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 20px;

                  &::placeholder {
                    color: #cacaca;
                  }
                  &:focus {
                    background: linear-gradient($white, $white) padding-box,
                      linear-gradient(to right, #bceb00, #00eaea) border-box;
                    border: 1px solid transparent;
                  }
                }
                img {
                  position: absolute;
                  left: 20px;
                  top: 17px;
                  z-index: 10;
                }
              }
              @include md {
                grid-template-columns: 1fr;
                grid-gap: 15px;
              }
            }
          }
          .active__auctions__list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            .active__auction__item {
              display: grid;
              background: $white;
              // box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
              border-radius: 12px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              padding: 12px;
              grid-gap: 18px;

              .active__auction__image {
                position: relative;
                width: 100%;
                height: 311px;
                border-radius: 6px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 6px;
                }
                &.timeLeft {
                  .date {
                    // background-image: linear-gradient(#2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6);
                    // background-origin: border-box;
                    // box-shadow: 2px 1000px 1px rgba(0, 0, 0, 0.6) inset;
                    // border: 2px solid transparent;
                    height: 46px;

                    .date__border__div {
                      position: absolute;
                      width: calc(100% + 8px);
                      min-height: 50px;
                      z-index: -9;
                      left: -4px;
                      right: 0;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      border-radius: 100px;
                      background-image: linear-gradient(#2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6);
                      background-origin: border-box;
                      box-shadow: 2px 1000px 1px #010101 inset;
                      border: 2px solid transparent;
                      opacity: 0.6;
                    }
                  }
                }
                &.endedOn {
                  img {
                    filter: grayscale(1);
                  }
                }
                .date {
                  position: absolute;
                  bottom: 10px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  background: rgba(0, 0, 0, 0);
                  backdrop-filter: blur(4px);
                  border-radius: 100px;
                  padding: 6px;
                  width: 138px;
                  label {
                    display: block;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 8px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: $white;
                    opacity: 0.5;
                    text-align: center;
                    margin-bottom: 3px;
                  }
                  span {
                    display: block;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 160%;
                    text-align: center;
                    color: $white;
                  }
                }
                @include md {
                  height: 260px;
                }
                @include sm {
                  height: 311px;
                }
              }

              .active__auction__details {
                .title {
                  display: flex;
                  justify-content: space-between;
                  h2 {
                    // margin-top: 8px;
                    margin-bottom: 6px;
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 130%;
                    color: $black;
                  }
                }
                .creator {
                  display: flex;
                  align-items: center;
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 12px;
                  line-height: 150%;
                  margin-bottom: 20px;
                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                  }
                  span {
                    color: rgba(0, 0, 0, 0.4);
                    margin-left: 12px;
                    margin-right: 5px;
                  }
                  a {
                    color: $black;
                    // text-decoration: underline;
                    cursor: pointer;
                  }
                }
                .statistics {
                  display: grid;
                  grid-template-columns: auto auto;
                  grid-column-gap: 25px;
                  background: #f7f7f7;
                  border: 1px solid #f0f0f0;
                  box-sizing: border-box;
                  border-radius: 6px;
                  padding: 0 14px;
                  > div {
                    padding: 14px 0;
                    &:nth-child(1) {
                      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                    &:nth-child(2) {
                      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    }
                    label {
                      display: block;
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 12px;
                      line-height: 150%;
                      color: rgba(0, 0, 0, 0.4);
                    }
                    p {
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: bold;
                      font-size: 14px;
                      line-height: 150%;
                      color: $black;
                      span {
                        color: rgba(0, 0, 0, 0.4);
                      }
                    }
                  }
                }
                .view--auction--btn {
                  margin-top: 18px;
                }
              }

              // .title {
              //   grid-column: 1/2;
              //   padding-top: 10px;
              //   h1 {
              //     font-family: $sharpGroteskSemiBoldFont;
              //     font-style: normal;
              //     font-weight: 600;
              //     font-size: 16px;
              //     line-height: 130%;
              //     letter-spacing: 0.2px;
              //     color: $black;
              //     margin-bottom: 10px;
              //   }
              //   .artist__details {
              //     display: flex;
              //     align-items: center;

              //     img {
              //       width: 22px;
              //       height: 22px;
              //       margin-right: 10px;
              //       border-radius: 50%;
              //     }
              //     span {
              //       font-family: $spaceGroteskFont;
              //       font-style: normal;
              //       font-weight: normal;
              //       font-size: 12px;
              //       line-height: 150%;
              //       color: rgba(0, 0, 0, 0.4);
              //       margin-right: 5px;
              //     }
              //     button {
              //       font-family: $spaceGroteskFont;
              //       font-style: normal;
              //       font-weight: normal;
              //       font-size: 12px;
              //       line-height: 150%;
              //       background-color: $white;
              //       text-decoration: underline;
              //       color: #4d66eb;
              //     }
              //   }
              //   @include lg {
              //     grid-row: 2/3;
              //     grid-column: 1/3;
              //   }
              // }
              // .view__auction {
              //   grid-column: 2/3;
              //   display: flex;
              //   justify-content: flex-end;
              //   @include lg {
              //     grid-row: 4/5;
              //     grid-column: 1/3;
              //   }
              //   button {
              //     height: 52px;
              //     @include lg {
              //       width: 100%;
              //     }
              //   }
              // }
              // .auction__img {
              //   grid-column: 1/2;
              //   width: 290px;
              //   height: 290px;
              //   border-radius: 10px;
              //   display: flex;
              //   align-items: center;
              //   justify-content: center;

              //   &.show__avatar {
              //     background-image: url('../../../assets/images/artist_card_bg.png');
              //     background-position: center;
              //     background-size: cover;
              //     background-repeat: no-repeat;
              //     img.original {
              //       display: none;
              //     }
              //     img.artist__image {
              //       display: block;
              //     }
              //   }

              //   img.original {
              //     display: block;
              //     width: 100%;
              //     height: 100%;
              //     object-fit: cover;
              //     border-radius: 10px;
              //   }
              //   img.artist__image {
              //     display: none;
              //     width: 180px;
              //     height: 180px;
              //     object-fit: cover;
              //     border-radius: 50%;
              //     border: 4px solid $white;
              //   }
              //   @include lg {
              //     grid-row: 1/2;
              //     grid-column: 1/3;
              //     width: 100%;
              //   }
              // }
              // .auction__details {
              //   display: flex;
              //   flex-wrap: wrap;
              //   grid-column: 2/3;
              //   > div {
              //     width: 100%;
              //   }
              //   &__box {
              //     padding: 8px 0;
              //     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              //     p {
              //       font-family: $spaceGroteskFont;
              //       font-style: normal;
              //       font-weight: 600;
              //       font-size: 12px;
              //       line-height: 22px;
              //       color: rgba(0, 0, 0, 0.4);
              //       margin-bottom: -3px;
              //     }
              //     h3 {
              //       font-family: $spaceGroteskFont;
              //       font-style: normal;
              //       font-weight: bold;
              //       font-size: 14px;
              //       line-height: 160%;
              //       color: $black;
              //       span {
              //         color: rgba(0, 0, 0, 0.4);
              //         font-weight: normal;
              //       }
              //     }
              //   }
              //   @include lg {
              //     grid-row: 3/4;
              //     grid-column: 1/3;
              //     flex-wrap: nowrap;
              //     gap: 15px;
              //   }
              // }
              // @include lg {
              //   grid-gap: 15px;
              // }
              &:hover {
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
              }
            }
            @include xl {
              grid-template-columns: repeat(2, 1fr);
            }
            @include sm {
              grid-template-columns: 1fr;
            }
          }
        }
        .future__auctions__tab {
          .future__auctions__filters {
            margin-bottom: 60px;
            &__head {
              display: flex;
              align-items: center;
              justify-content: space-between;
              h1.title {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 130%;
                color: $black;
                margin-bottom: 10px;
              }
              button {
                background-color: $white;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                text-decoration-line: underline;
                color: $black;
              }
            }
            &__fields {
              display: grid;
              grid-template-columns: 255px 1fr;
              grid-gap: 30px;
              > div:not(.search){
                position: relative;

                &:hover {
                  .box--shadow--effect--block {
                    opacity: 0.2;
                  }
                  .dropdown {
                    border-color: transparent;
                  }
                }
              }

              .dropdown {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                background: $white;
                border: 1px solid #d4d4d4;
                box-sizing: border-box;
                border-radius: 12px;
                padding: 15px 16px;
                cursor: pointer;
                z-index: 100;
                &.opened {
                  background: linear-gradient($white, $white) padding-box,
                    linear-gradient(to right, #bceb00, #00eaea) border-box;
                  border: 1px solid transparent;
                  .chevron__down {
                    transform: rotate(180deg);
                  }
                }
                .selected__item {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 20px;
                  color: $black;
                }
                .chevron__down {
                  width: 14px;
                  transition: 0.5s ease;
                }
                .sorting__dropdown {
                  position: absolute;
                  top: 52px;
                  left: 0;
                  width: 100%;
                  z-index: 1;
                  background: $white;
                  box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                  border-radius: 12px;
                  padding: 8px;
                  ul {
                    background: $white;
                    // box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
                    // border-radius: 6px;

                    li {
                      padding: 15px;
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 16px;
                      line-height: 20px;
                      color: $black;
                      border-radius: 6px;
                      // &:first-child {
                      //   border-bottom: 2px solid #e5e5e5;
                      // }
                    }
                    :hover {
                      background: rgba(0, 0, 0, 0.05);
                    }
                  }
                }
              }
              .box--shadow--effect--block{
                position: absolute;
                left: -4px;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: calc(100% + 8px);
                min-height: 58px;
                border-radius: 12px;
                background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                opacity: 0;
                transition: 0.2s;
              }
              @include md {
                grid-template-columns: 1fr;
                grid-gap: 15px;
              }
            }
          }
          .future__auctions__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            .future__auction__item {
              background: $white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              // box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
              box-sizing: border-box;
              border-radius: 12px;
              padding: 12px;

              .title {
                h1 {
                  font-family: $sharpGroteskSemiBoldFont;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 130%;
                  // letter-spacing: 0.2px;
                  color: $black;
                  margin-bottom: 6px;
                }
                .artist__details {
                  display: flex;
                  align-items: center;

                  img {
                    width: 30px;
                    height: 30px;
                    margin-right: 12px;
                    border-radius: 50%;
                  }
                  span {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    color: rgba(0, 0, 0, 0.4);
                    margin-right: 5px;
                  }
                  button {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    background-color: $white;
                    // text-decoration: underline;
                    color: $black;
                  }
                }
              }
              .auction__img {
                // width: 290px;
                // height: 290px;
                position: relative;
                margin-bottom: 18px;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.show__avatar {
                  background-image: url('../../../assets/images/artist_card_bg.png');
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  img.original {
                    display: none;
                  }
                  img.artist__image {
                    display: block;
                  }
                }
                .start__date {
                  height: 39px;
                  position: absolute;
                  bottom: 12px;
                  padding: 0 24px;
                  background: rgba(0, 0, 0, 0.6);
                  backdrop-filter: blur(4px);
                  border-radius: 100px;
                  text-align: center;

                  label {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 8px;
                    line-height: 100%;
                    text-transform: uppercase;
                    color: $white;
                    opacity: 0.5;
                  }
                  p {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 160%;
                    color: $white;
                  }
                }

                img.original {
                  display: block;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 10px;
                }
                img.artist__image {
                  display: none;
                  width: 180px;
                  height: 180px;
                  object-fit: cover;
                  border-radius: 50%;
                  border: 4px solid $white;
                }

                @include lg {
                  width: 100%;
                }
              }
              .auction__details {
                display: flex;
                justify-content: space-between;
                background: #f7f7f7;
                border: 1px solid #f0f0f0;
                box-sizing: border-box;
                border-radius: 6px;
                margin-top: 18px;
                padding: 5px 27px 5px 16px;

                &__box {
                  padding: 8px 0;
                  &:not(:last-child) {
                    margin-right: 30px;
                  }
                  label {
                    display: block;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 150%;
                    color: rgba(0, 0, 0, 0.4);
                  }
                  p {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 150%;
                    color: $black;
                    span {
                      color: rgba(0, 0, 0, 0.4);
                    }
                  }
                }
              }
              &:hover {
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
              }
            }
            @include lg {
              grid-template-columns: 1fr 1fr;
            }
            @include md {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
    @include sm {
      padding: 80px 20px;
    }
  }
  .create__your__auction__section {
    position: relative;
    padding: 65px 60px;
    background-image: url('../../../assets/images/create-your-auction-bg-desktop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__container {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h1.title {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        color: $black;
        margin-bottom: 15px;

        @include lg {
          font-size: 26px;
        }
        @include sm {
          text-align: center;
        }
      }
      p.desc {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: $black;
        margin-right: 24px;
        margin-bottom: 24px;
        @include lg {
          font-size: 16px;
        }
        @include sm {
          text-align: center;
        }
      }
      .setup__auction__btn {
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $black;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          padding: 15px 26px;
          span {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            background: -webkit-linear-gradient(right, #00eaea, #bceb00);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-right: 10px;
          }
          @include sm {
            width: 100%;
          }
        }
        @include sm {
          width: 100%;
        }
      }
      @include sm {
        justify-content: center;
      }
    }
    @include lg {
      background-image: url('../../../assets/images/create-your-auction-bg-tablet.png');
    }
    @include sm {
      padding: 65px 20px;
      background-image: url('../../../assets/images/create-your-auction-bg-mobile.png');
    }
  }
}
