@import '../../assets/scss/variables';

.inp {
  background: $white;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 15px 16px;
  width: 100%;
}
.inp-light-border {
  border: 2px solid;
  border-image-source: linear-gradient(135deg, rgba(188, 235, 0, 0.4) 15.57%, rgba(0, 234, 234, 0.4) 84.88%);
  background: linear-gradient($white, $white) padding-box,
    linear-gradient(to right, #2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6) border-box;
}
// .input--focus--field.intup-l {
//   > div:not(.error-div-inp) {
//     padding: 1px;
//     border-radius: 11px;
//     background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
//     .box--shadow--effect--block {
//       opacity: 0.2 !important;
//     }
//   }
// }
.intup-l {
  display: inline-grid;
  position: relative;
  width: 100%;

  > div {
    position: relative;

    .box--shadow--effect--block {
      position: absolute;
      width: calc(100% + 8px);
      min-height: 58px;
      background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
      left: -4px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 12px;
      opacity: 0;
    }
    input {
      width: 445px;
      min-height: 50px;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      position: relative;
      box-sizing: border-box;
      z-index: 9;
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      &:focus {
        background: linear-gradient($white, $white) padding-box,
          linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent!important;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }

    &:not(.error-div-inp) {
      input {
        &:focus {
          border-radius: 10px;
        }
      }
      &:hover {
        .box--shadow--effect--block {
          opacity: 0.2 !important;
        }
        input {
          &:not(:disabled) {
            border: none;
            border-radius: 10px !important;
          }
          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
span.inp-label,
.inp-label {
  position: relative;
  bottom: 1px;
  line-height: 22px;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $black;
  margin-bottom: 6px;
}
.error-inp {
  border: 1px solid red !important;
  border-radius: 12px;
  padding: 15px;
}
.error-message {
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ff4949;
  margin-top: 6px;
}
.inp-disable {
  display: none;
}
