@import '../../assets/scss/variables';

.inp {
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 12px;
  // height: 50px;
  padding: 15px 16px;
  width: 100%;
}
.inp-light-border {
  border: 2px solid;
  border-image-source: linear-gradient(135deg, rgba(188, 235, 0, 0.4) 15.57%, rgba(0, 234, 234, 0.4) 84.88%);
  background: linear-gradient($white, $white) padding-box,
    linear-gradient(to right, #2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6) border-box;
}
.intup-l {
  display: inline-grid;
  position: relative;
  .box--shadow--effect--block {
    width: calc(100% + 4px);
  }
  input {
    width: 445px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
}
span.inp-label,
.inp-label {
  position: relative;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: $black;
  margin-bottom: 6px;
}
.error-inp {
  border: 1px solid red !important;
  border-radius: 12px;
  padding: 15px;
}
.error-message {
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #ff4949;
  margin-top: 6px;
}
.inp-disable {
  display: none;
}
