@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.search--tokenId--field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
  &.focus--field {
    padding: 1px;
    border-radius: 11px;
    background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
    .focus--field--box--shadow {
      opacity: 0.2 !important;
    }
    .search--icon {
      filter: invert(1);
    }
  }
  &:hover {
    .focus--field--box--shadow {
      opacity: 0.2 !important;
    }
    input {
      border-radius: 10px !important;
    }
  }
  .search--icon {
    position: absolute;
    left: 13px;
    width: 20px;
    height: 20px;
    z-index: 100;
  }
  .focus--field--box--shadow {
    position: absolute;
    width: calc(100% + 7px);
    min-height: 56px;
    background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
    left: -4px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -5;
    border-radius: 12px;
    opacity: 0;
  }
  input {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    padding-left: 40px;
    height: 50px;
    border-radius: 6px;
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    box-sizing: border-box;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    &:focus {
      border: none;
      border-radius: 10px;
    }
  }
}
