@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sort--by--select--parent {
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-gap: 16px;
    width: 100%;
    position: relative;
    &--active {
        .box--shadow--effect--block {
            opacity: 0.2 !important;
        }
    }
    .dropdown {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 11px 16px;
      border-radius: 12px;
      background: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
      min-height: 50px;
      z-index: 100;
      &.open {
        background-image: linear-gradient(101deg, #bceb00, #00eaea);
        background-origin: border-box;
        box-shadow: 2px 1000px 1px $white inset;
        border: 1px solid transparent;
      }
      // &:nth-child(1) {
      //   width: 160px;
      // }
      // &:nth-child(2) {
      //   width: 230px;
      // }
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $black;
      }
      img {
        transition: 0.1s ease-in-out;
        &.rotate {
          transform: rotate(180deg);
        }
      }
      &--items {
        position: absolute;
        top: 52px;
        left: 0px;
        right: 0px;
        z-index: 100;
        background: $white;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 12px;
        padding: 8px;
        .dropdown--item {
          padding: 15px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          color: $black;
          &:hover {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 6px;
          }
          &.disable {
            cursor: default;
            color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    .box--shadow--effect--block {
        position: absolute;
        left: -4px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: calc(100% + 8px);
        min-height: 58px;
        border-radius: 12px;
        background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
        opacity: 0;
        transition: 0.2s;
    }
}
.sort--by--select--parent:hover {
    .box--shadow--effect--block {
        opacity: 0.2;
    }
    .dropdown {
        border-color: transparent;
        border-radius: 10px;
    }
}
// .sort--by--select--parent--active {
//     .box--shadow--effect--block {
//         opacity: 0.2 !important;
//     }
// }