@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";

.universe_NFTs {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 28px;
  margin-bottom: 40px;

  @include md {
    grid-template-columns: 1fr;
  }

  .universe_filter {
    .universe_filter_label {
      margin-bottom: 15px;
      span {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #000000;
        margin-right: 15px;
      }
    }
  }

  .universe_search_by_name {
    .universe_search_by_name_label {
      margin-bottom: 15px;
      span {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #000000;
        margin-right: 15px;
      }
    }

    .search_by_name_input {
      input {
        background: $white;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        border-radius: 12px;
        width: 100%;
        padding: 15px;

        &::placeholder {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #cacaca;
          background-image: url("../../assets/images/search-gray.svg");
          background-repeat: no-repeat;
          text-indent: 25px;
        }
        &:focus {
          background: linear-gradient(#ffffff, #ffffff) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }
      }
    }
  }

  .universe_dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: $white;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px 16px;
    cursor: pointer;
    height: 47px;
    margin-bottom: 15px;
    &.opened {
      background: linear-gradient($white, $white) padding-box, linear-gradient(175deg, #bceb00, #00eaea) border-box;
      border: 1px solid transparent;
      .arrow__down {
        transform: rotate(180deg);
      }
      .box--shadow--effect--block {
        opacity: 0.2;
      }
    }
    .selected__universe__item {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $black;
    }
    .arrow__down {
      width: 14px;
      transition: 0.5s ease;
    }
    .sort__dropdown {
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      z-index: 1;
      ul {
        background: $white;
        box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        padding: 8px;

        li {
          padding: 15px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $black;
          border-radius: 6px;
          height: 50px;
          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}
.video_box {
  height: 215px;
  width: 231px;
  position: relative;
  > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
.videoicon {
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 20px;
}
.nft_box_footer {
  display: flex;
  > p {
    font-family: $spaceGroteskFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
}

.polymorph {
  height: 21px;
  left: 12px;
  top: 255px;
  > p {
    font-family: $spaceGroteskFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
  }
}
.nft_box_footer {
  margin-top: 10px;
  > p {
    font-family: $spaceGroteskFont;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 10px;
  }
}
.nft__box__image {
  .loading-ring {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
