@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 930px;
    }
}

@keyframes slideOut {
    from {
        width: 930px;
    }
    to {
        width: 0;
    }
}

@keyframes tabletModalSlideIn {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

@keyframes tabletMenuSlideIn {
    from {
        height: 0;
    }
    to {
        // height: calc(100vh - 88px);
        height: 378px;
    }
}

@keyframes mobileMenuSlideIn {
    from {
        height: 0;
    }
    to {
        // height: calc(100vh - 88px);
        height: 546px;
    }
}
@keyframes mobileModalSlideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 1;
        height: 150px;
    }
    100% {
        opacity: 1;
        height: 100%;
        margin-top: 30px;
    }
}
@keyframes fadeOutDown {
    0% {
        opacity: 1;
        height: 100%;
        margin-top: 30px;
    }
    50% {
        opacity: 1;
        height: 150px;
        margin-top: 30px;
    }
    100% {
        opacity: 0;
        height: 0;
        margin-top: 0;
    }
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}