@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.reviw-reward{
    .head-part{
        display: flex;
        .tier-title{
            width: 90%;
        }
        button{
            display: flex;

            img{
                padding-left: 12px;
            }
        }
    }
    .tier-inf{
        display: flex;
        margin-top: 40px;
        .tName, .numberWinn, .perWin{
            width: 28%;
            margin-right: 30px;
            border-top:1px solid rgba(0, 0, 0, 0.1);
            border-bottom:1px solid rgba(0, 0, 0, 0.1);
            padding: 18px 0;    
            p{
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #000000;
            }
            span{
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: #1A1A1A;

            }
        }
    }
    .totalNft{
        padding: 40px 0;
        p{
            font-family: $spaceGroteskFont;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: right;
            letter-spacing: 0.3px;
            color: #000000;
        }
        img{
            padding-left: 7px;
            padding-bottom: 2px;
        }
        .info-text{
            position: absolute;
            background: #ffffff;
            color: #000000;
            box-shadow: 0px 10px 20px 
              rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            width: 230px;
            min-height: 70px;
            padding: 16px;
            bottom: 15px;
            left: 15%;
            transform: translateX(-50%);
            font-weight: normal;
            font-size: 12px;
            p{
                font-family: $spaceGroteskFont;
                text-align: start;
            }
        }
    }
    .rev-reward {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        
        .rev-reward__box {
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            padding: 12px;
            position: relative;

            &__image {
                position: relative;
                margin-bottom: 12px;
                cursor: pointer;
                height: 230px;
                width: 100%;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
                img.preview-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }

                .check__icon {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }
                .video__icon {
                    position: absolute;
                    top: 9px;
                    right: 7px;
                }
            }

            &__name {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                h3 {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: $black;
                }
                .three__dots {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    span {
                        height: 4px;
                        width: 4px;
                        background-color: $black;
                        border-radius: 50%;
                    }

                    .edit__remove {
                        position: absolute;
                        right: 0;
                        top: 15px;
                        background: #E6E6E6;
                        box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
                        width: 160px;
                        border-radius: 12px;
                        z-index: 10;

                        li {
                            padding: 20px;
                            background-color: $white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            &:first-child {
                                margin-bottom: 2px;
                                border-top-left-radius: 12px;
                                border-top-right-radius: 12px;
                            }
                            &:last-child {
                                border-bottom-left-radius: 12px;
                                border-bottom-right-radius: 12px;
                            }

                            p {
                                font-family: $spaceGroteskFont;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 20px;
                            }

                            &.edit p {
                                color: $black;
                            }
                            &.remove p {
                                color: #FF4949;
                            }
                        }
                    }
                }
            }

            &__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .ed-count{
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 21px;                                          
                    text-align: right;
                    color: #000000;

                }
                .collection__details {
                    display: flex;
                    align-items: center;
                    .random__bg__color {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: $sharpGroteskMediumFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: $black;
                    }
                    img {
                        height: 20px;
                        width: 20px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    span {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        color: $black;
                        margin-left: 6px;
                    }
                }
                div.collection__count {
                    position: relative;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: $black;
                    cursor: default;

                    &:hover {
                        .generatedEditions {
                            display: grid;
                            grid-column-gap: 10px;
                            grid-row-gap: 5px;
                            z-index: 1;
                        }
                    }

                    .generatedEditions {
                        display: none;
                        position: absolute;
                        bottom: 25px;
                        left: 50%;
                        transform: translateX(-50%);
                        background: $white;
                        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
                        border-radius: 12px;
                        padding: 16px;

                        > div {
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 150%;
                            color: $black;
                        }
                    }
                }
                p.collection__count {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.4);
                }
            }

            &__highlight__one {
                position: absolute;
                bottom: -8px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom-left-radius: 150px;
                border-bottom-right-radius: 150px;
                width: 95%;
                height: 8px;
                left: 8px;
            }
            &__highlight__two {
                position: absolute;
                bottom: -16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom-left-radius: 150px;
                border-bottom-right-radius: 150px;
                width: 90%;
                height: 8px;
                left: 16px;
            }
        }
    }
    .create-btn{
        margin-top: 50px;
    }

}