@import "../../../assets/scss/variables";
@import "../../../assets/scss/_mixins";

.revenue--splits {
  margin-top: 40px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    width: fit-content;
    position: relative;
    width: 100%;
    h4 {
      display: flex;
      align-items: center;
      font-family: $sharpGroteskSemiBoldFont;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.2px;
      color: transparent;
      background: $black;
      -webkit-background-clip: text;
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    }
    svg {
      margin-left: 6px;
      path {
        transition: 0.1s ease-in-out;
      }
      &:hover {
        path {
          fill-opacity: 1;
        }
        + .revenue--splits--info--text {
          display: block;
        }
      }
    }
    .revenue--splits--info--text {
      display: none;
      position: absolute;
      z-index: 1;
      background: $white;
      padding: 16px 16px 18px 16px;
      box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
      border-radius: 12px;
      width: 229px;
      bottom: 20px;
      left: 165px;
      transform: translateX(-50%);

      p {
        font-family: $spaceGroteskFont;
        font-size: 12px;
        line-height: 150%;
        color: $black;
      }
    }
    .switch {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 24px;
      right: 0;
      margin-bottom: 0;
      input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      input:checked + .slider {
        background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        &.round {
          border-radius: 50px;
          &:before {
            border-radius: 50%;
          }
        }
        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: $white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }
    }
  }
  .revenue--split--row {
    display: flex;
    width: 100%;
    padding: 20px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.2),
      inset 0px 1px 0px rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    margin-bottom: 30px;

    h5 {
      font-family: $spaceGroteskFont;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
    }
    .intup-l {
      width: 100%;
    }
    input {
      font-family: $spaceGroteskFont;
      font-size: 16px;
      line-height: 20px;
      &.inp {
        width: 100%;
      }
      &:focus {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    ::placeholder {
      font-family: $spaceGroteskFont;
      color: rgba(0, 0, 0, 0.2);
    }
    .revenue--split--wallet--address {
      width: 69%;
      padding-right: 16px;

      @include sm {
        width: 100%;
        padding-right: 0;
        padding-bottom: 12px;
      }
    }
    .revenue--split--amount {
      width: 20%;
      padding-right: 16px;
      position: relative;
      .inp.withsign {
        z-index: 4;
      }
      .percent--sign {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        position: relative;
        box-sizing: border-box;
        z-index: 100;
        bottom: 36.3%;
        left: 77%;
        @include sm {
          bottom: 37%;
          left: 94%;
        }
        @media (max-width: 400px) {
          left: 90%;
        }
      }
      h5 {
        @include lg {
          width: 120px;
        }
      }
      @include sm {
        width: 100%;
        padding-right: 0;
        padding-bottom: 12px;
      }
    }

    .delete--img {
      margin-top: 21px;
      width: 52px;
      height: 52px;
      border-radius: 12px;
      cursor: pointer;

      @include sm {
        display: none;
      }
    }
    .light-border-button.red {
      border: 1px solid #ff4949;
      color: #ff4949;
    }
    img:hover {
      background-color: rgba(255, 73, 73, 0.05);
    }

    button {
      display: none;

      @include sm {
        display: flex;
      }
      .del--icon {
        margin-right: 10px;
      }
    }

    @include sm {
      display: grid;
    }
  }
  .property--add {
    h5 {
      cursor: pointer;
      display: block;
      width: fit-content;
      font-family: $spaceGroteskFont;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      &:hover {
        img {
          transform: scale(1.21);
        }
      }
      img {
        padding-left: 4px;
        padding-right: 10px;
      }
    }
  }
}
