@import "../../../assets/scss/variables";
@import "../../../assets/scss/_mixins";

.single__nft {
  .mintNftCollection-div {
    .modal-close {
      display: none;
    }
    .single-nft-title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
    }
  }
  .single-nft-content {
    margin-top: 20px;

    h5 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 4px;
      p.input-max-chars {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.4);
      }
      svg {
        path {
          transition: 0.1s ease-in-out;
        }
      }
      &:hover {
        svg {
          path {
            fill-opacity: 1;
          }
        }
      }
    }

    .single-nft-upload {
      width: 100%;

      .single-nft-upload-file {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.05);
        border: 2px dashed rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 40px 16px 40px 16px;
        transition: 0.3s ease-in-out;

        &-border {
          background: rgba(0, 0, 0, 0.1);
          border: 2px dashed rgba(0, 0, 0, 0.2);
        }

        .single-nft-drop-file {
          width: 100%;
          text-align: center;

          svg {
            g {
              transition: 0.3s ease-in-out;
            }
          }

          h5 {
            display: block;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
            transition: 0.3s ease-in-out;
          }

          img {
            padding-bottom: 16px;

            @include sm {
              padding-bottom: 10px;
            }
          }

          p {
            padding-bottom: 16px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
            transition: 0.3s ease-in-out;

            @include lg {
              display: grid;
            }

            @include sm {
              padding-bottom: 10px;
              max-width: 136px;
              margin: 0 auto;
            }
          }

          button {
            transition: 0.3s ease-in-out;
            &.light-border-button {
              @include sm {
                font-size: 10px;
                line-height: 10px;
              }
            }
          }

          @include md {
            padding-right: 20px;
          }
        }
        &:hover {
          cursor: pointer;
          background: rgba(0, 0, 0, 0.1);
          border: 2px dashed rgba(0, 0, 0, 0.2);
          .single-nft-drop-file {
            svg {
              g {
                opacity: 1;
              }
            }
            h5 {
              color: $black;
            }
            p {
              color: $black;
            }
            button {
              box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            }
          }
        }
      }
      .single-nft-upload-file.error {
        border: 3px dashed #ff4949;
      }
      .single-nft-preview {
        position: relative;
        padding: 30px 160px;
        background: rgba(0, 0, 0, 0.05);
        border: 3px dashed rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        margin: unset;
        .close {
          position: absolute;
          cursor: pointer;
          right: 0;
          top: 2px;
        }

        h5 {
          font-family: $spaceGroteskFont;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.4);
        }

        .single-nft-picture {
          width: 100%;
          height: 100%;
          background: $white;
          border: 1px solid #d4d4d4;
          box-sizing: border-box;
          border-radius: 12px;

          .default-image {
            width: 85px;
            height: 85px;
            margin-left: 30%;
            margin-top: 30%;

            @include md {
              width: 47px;
              height: 47px;
              margin-left: 32%;
            }
            @include sm {
              margin-left: 29%;
            }
          }

          .preview-image {
            width: inherit;
            height: 405px;
            border-radius: 12px;
            object-fit: cover;
            image-rendering: pixelated;
            @include sm {
              height: 300px;
            }
          }
        }
        .single-nft-video {
          border: unset;
        }
        &:hover {
          border: 2px dashed rgba(0, 0, 0, 0.2);
          background: rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }
        @include lg {
          padding: 30px 50px;
        }
        @include sm {
          margin: 0px;
        }
      }
    }

    .single-nft-name {
      margin-top: 40px;
      width: 100%;

      .intup-l {
        width: 100%;
      }

      input {
        font-family: $spaceGroteskFont;
        font-size: 16px;
        line-height: 20px;
        &.inp {
          width: 100%;
        }
        &:focus {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
      .inp::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }

    .single-nft-description {
      position: relative;
      margin-top: 40px;
      width: 100%;

      textarea {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        &.inp {
          width: 100%;
          height: 96px;
        }
        &:focus,
        &:active {
          background-image: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          background-origin: border-box;
          box-shadow: 2px 1000px 1px $white inset;
          border: 1px solid transparent;
        }
        &::placeholder {
          font-family: $spaceGroteskFont;
          color: rgba(0, 0, 0, 0.2);
        }
      }
      .box--shadow--effect--block {
        position: absolute;
        width: calc(100% + 8px);
        min-height: 50px;
        height: 104px;
        z-index: -9;
        left: -4px;
        right: 0;
        // top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 16px;
        opacity: 0;
        background-image: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        background-origin: border-box;
        box-shadow: 4px 1000px 1px #ffffff inset;
        border: 4px solid transparent;
        transition: 0.2s;
      }
      &:hover {
        z-index: 9;
        .box--shadow--effect--block {
          opacity: 0.2;
        }
      }
    }

    .single-nft-editions {
      margin-top: 40px;
      width: 100%;

      .single-nft-edition-header {
        position: relative;
        display: flex;
        width: fit-content;
        white-space: break-spaces;

        img {
          margin-left: 6px;
        }

        .info-text {
          position: absolute;
          background: $white;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          width: 190px;
          height: 68px;
          padding: 16px;
          bottom: 30px;
          left: 95%;
          transform: translateX(-50%);

          p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: $black;
          }
        }
      }

      .intup-l {
        width: 100%;
      }

      input {
        font-family: $spaceGroteskFont;
        font-size: 16px;
        line-height: 20px;
        &.inp {
          width: 100%;
        }
        &:focus {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
      ::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }

    .single-nft-choose-collection {
      margin-top: 40px;
      padding: 10px;
      h4 {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 20px;
      }

      .choose__collection {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;

        .collection-box {
          position: relative;
          .check__icon {
            position: absolute;
            right: -8px;
            top: -8px;
            z-index: 11;
          }
          &:hover {
            .box--shadow--effect--block {
              opacity: 0.2;
            }
          }

          .collection-name {
            display: inline-block;
            max-width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow-wrap: anywhere;

            @supports (-webkit-line-clamp: 2) {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: initial;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }

        .box--shadow--effect--block {
          position: absolute;
          width: calc(100% + 8px);
          min-height: 148px;
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          left: -4px;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border-radius: 12px;
          opacity: 0;
        }

        .create,
        .universe {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          box-sizing: border-box;
          background: rgba(255, 255, 255, 0.6);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.2),
            inset 0px 1px 0px rgba(255, 255, 255, 0.4);
          border-radius: 10px;
          padding: 24px 10px;
          cursor: pointer;
          z-index: 10;
          border: 1px solid transparent;
          &:hover {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%) border-box;
            border: 1px solid transparent;
          }

          div {
            img {
              pointer-events: none;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .random__bg__color {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            font-family: $sharpGroteskMediumFont;
          }

          h5 {
            font-family: $spaceGroteskFont;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $black;
            margin-top: 14px;
            margin-bottom: 6px;
            text-align: center;
          }
          p {
            text-align: center;
            font-family: $spaceGroteskFont;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
          }
          &.selected {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(135deg, #bceb00, #00eaea) border-box;
            border: 2px solid transparent;
          }
        }
        .create > img {
          border-radius: 50%;
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        }
        @include sm {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      .create:hover {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
      }
    }
    .hr-div {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 60px;
      margin-bottom: 60px;
    }
    .single-nft-properties {
      margin-top: 40px;

      .single-nft-properties-header {
        position: relative;
        display: flex;
        width: fit-content;
        width: 100%;

        h4 {
          font-family: $sharpGroteskSemiBoldFont;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0.2px;
          color: rgba(0, 0, 0, 0.7);
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          img {
            margin-left: 3px;
          }
          svg {
            margin-left: 6px;
            path {
              transition: 0.1s ease-in-out;
            }
          }
          &:hover {
            svg {
              path {
                fill-opacity: 1;
              }
            }
          }
        }

        .properties-info-text {
          position: absolute;
          background: $white;
          padding: 16px 16px 18px 16px;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          width: 226px;
          bottom: 33px;
          left: 130px;
          transform: translateX(-50%);

          p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            line-height: 150%;
            color: $black;
          }
        }

        .switch {
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 24px;
          right: 0;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 50px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }

      .properties {
        display: flex;
        width: 100%;
        padding: 20px 30px 30px 30px;
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.2),
          inset 0px 1px 0px rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        margin-bottom: 30px;

        h5 {
          font-family: $spaceGroteskFont;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
        }
        .intup-l {
          width: 100%;
        }
        input {
          font-family: $spaceGroteskFont;
          font-size: 16px;
          line-height: 20px;
          &.inp {
            width: 100%;
          }
          &:focus {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }
          &:focus::placeholder {
            color: transparent;
          }
        }
        ::placeholder {
          font-family: $spaceGroteskFont;
          color: rgba(0, 0, 0, 0.2);
        }

        .property-name {
          width: 44.5%;
          padding-right: 16px;

          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }

        .property-value {
          width: 44.5%;
          padding-right: 16px;

          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }
        .property-address {
          width: 69%;
          padding-right: 16px;

          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }
        .property-amount {
          width: 20%;
          padding-right: 16px;
          position: relative;
          .inp.withsign {
            z-index: 4;
          }
          .percent-sign {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            position: relative;
            box-sizing: border-box;
            z-index: 100;
            bottom: 36.3%;
            left: 77%;
            @include lg {
              left: 74%;
            }
            @include sm {
              bottom: 36%;
              left: 94%;
            }
            @media (max-width: 375px) {
              left: 90%;
            }
          }
          h5 {
            @include lg {
              width: 120px;
            }
          }
          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }

        .delete-img {
          margin-top: 26px;
          width: 52px;
          height: 52px;
          border-radius: 12px;
          cursor: pointer;

          @include sm {
            display: none;
          }
        }
        .light-border-button.red {
          border: 1px solid #ff4949;
          color: #ff4949;
        }
        img:hover {
          background-color: rgba(255, 73, 73, 0.05);
        }

        button {
          display: none;

          @include sm {
            display: flex;
          }
          .del-icon {
            margin-right: 10px;
          }
        }

        @include sm {
          display: grid;
        }
      }

      .property-add {
        cursor: pointer;
        h5 {
          display: block;
          font-family: $spaceGroteskFont;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $black;
          img {
            padding-left: 4px;
            padding-right: 10px;
            &:hover {
              transform: scale(1.21);
            }
          }
        }
      }
      .royalities {
        margin-top: 40px;
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 22px;
          width: fit-content;
          position: relative;
          align-items: flex-start;
          width: 100%;
          h4 {
            font-family: $sharpGroteskSemiBoldFont;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.2px;
            color: rgba(0, 0, 0, 0.7);
            svg {
              margin-left: 6px;
              path {
                transition: 0.1s ease-in-out;
              }
            }
            &:hover {
              svg {
                path {
                  fill-opacity: 1;
                }
              }
            }
            display: flex;
            align-items: center;
          }
          .royalities-info-text {
            position: absolute;
            background: $white;
            padding: 16px 16px 18px 16px;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            width: 229px;
            bottom: 20px;
            left: 165px;
            transform: translateX(-50%);

            p {
              font-family: $spaceGroteskFont;
              font-size: 12px;
              line-height: 150%;
              color: $black;
            }
          }
          img {
            margin-left: 6px;
          }
          .switch {
            position: absolute;
            display: inline-block;
            width: 40px;
            height: 24px;
            right: 0;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 50px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
        .percent__amount {
          .inp__container {
            position: relative;
            margin-bottom: 6px;
            .intup-l {
              width: 100%;
              input {
                width: 100%;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: $black;
                &::placeholder {
                  font-family: $spaceGroteskFont;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 20px;
                  color: rgba(0, 0, 0, 0.2);
                }
              }
            }
            span {
              position: absolute;
              top: 35px;
              right: 1px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: $black;
              display: flex;
              height: 40px;
              width: 50px;
              align-items: center;
              justify-content: center;
              background-color: $white;
              border-radius: 12px;
            }
          }
          .suggested {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    .single__final__error {
      margin-top: 40px;
      width: 100%;
      background: rgba(255, 73, 73, 0.04);
      border: 1px solid #ff4949;
      box-sizing: border-box;
      border-radius: 12px;
      display: flex;
      img {
        padding-left: 14px;
        align-self: baseline;
        padding-top: 24px;
      }
      .error-message {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #ff4949;
        padding: 20px 20px 20px 13px;
      }

      @include sm {
        width: 100%;
      }
    }

    .single-nft-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 60px;
      margin-bottom: 40px;
      text-align: right;
      button {
        &.light-border-button {
          margin-right: 12px;
          box-shadow: 2px 1000px 1px #f0f6f4 inset;
          &:disabled {
            background: transparent;
            box-shadow: none;
            &:hover {
              box-shadow: none !important;
              background: transparent !important;
            }
          }
          @include sm {
            margin-right: 0;
            margin-top: 20px;
          }
        }
      }
      @include sm {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        button {
          width: 100%;
        }
      }
    }
  }

  .scroll-box {
    max-height: 360px;
    overflow: scroll;
  }
}
