@import "../../../assets/scss/variables";
@import "../../../assets/scss/_mixins";

.create--nft--page {
  position: relative;
  background-color: $white;
  .create--nft--background {
    position: absolute;
    top: 80px;
    height: 200px;
    width: 100%;
    background-image: url("../../../assets/images/create-nft-header-background-desktop1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 -90px 90px -10px $white;
    @include lg {
      background-image: url("../../../assets/images/create-nft-header-background-tablet.png");
    }
    @include sm {
      background-image: url("../../../assets/images/create-nft-header-background-mobile.png");
      background-position: bottom;
    }
  }
  &--container {
    position: relative;
    max-width: 750px;
    margin: 40px auto 80px;
    .back-btn {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      cursor: pointer;
      padding: 0 10px;
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        margin-left: 10px;
      }
    }
    .page--title {
      padding: 0 10px;
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      color: $black;
      margin-bottom: 40px;
      @include sm {
        font-size: 26px;
      }
    }
    #tabs--wrapper {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 60px;
      .tabs {
        list-style: none;
        display: flex;
        .box--shadow--effect {
          filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14));
          padding: 0 4px;
          background: transparent;
          height: 56px;
          position: relative;
          top: -3px;
          clip-path: polygon(94% 0%, 100% 50%, 94% 100%, 0% 100%, 4% 50%, 0% 0%);
          > div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: white;
            clip-path: polygon(94.7% 0%, 100% 50%, 94.7% 100%, 0.5% 100%, 4% 50%, 0.5% 0%);
            height: 50px;
          }
          &:hover {
            background: linear-gradient(135deg, #bceb0036 15.57%, #00eaea31 84.88%);
            padding: 0 4px;
          }
        }
        li {
          position: relative;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 30px;
          color: $black;
          background-color: $white;
          width: 50%;
          clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
          img {
            margin-right: 7px;
            &.setting--icon {
              opacity: 0.2;
            }
          }
          &.active {
            background-color: $black;
            color: $white;
            &::after {
              border-left: 10px solid $black;
            }
            &::before {
              border-left: 10px solid #f7f6fb;
            }
            img {
              &.setting--icon {
                opacity: 1;
              }
            }
          }
          &.disabled {
            background: rgba(241, 241, 241, 72%);
            color: rgba(0, 0, 0, 0.2);
            &::after {
              border-left: 10px solid rgba(0, 0, 0, 0.03);
            }
          }
          &:nth-child(1) {
            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
            cursor: pointer;
            z-index: 2;
          }
          &:nth-child(2) {
            z-index: 1;
            position: relative;
            left: -13px;
            &.disabled {
              cursor: not-allowed;
            }
          }
          @include sm {
            padding: 10px 10px 10px 15px;
          }
        }
      }
    }
    .tab__content {
      .nft--collection--settings--page {
        padding: 0 10px;
        &--title {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 130%;
          color: $black;
        }
        .image--name--token {
          display: grid;
          grid-template-columns: 228px 1fr;
          grid-gap: 50px;
          margin: 40px 0;
          height: 248px;
          .collection--cover--image {
            &--circle {
              box-sizing: border-box;
              max-height: 228px;
              border-radius: 50%;
              height: 100%;
              width: 100%;
              background: rgba(0, 0, 0, 0.05);
              &.border--none {
                border: none;
              }
              .image--not--selected--border {
                border: 3px dotted $white !important;
                background: linear-gradient($white, $white) padding-box,
                  linear-gradient(175deg, #bceb00, #00eaea) border-box !important;
              }
              .image--not--selected {
                display: flex;
                border-radius: 50%;
                border: 3px dashed rgba(0, 0, 0, 0.2);
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                width: 100%;
                cursor: pointer;
                opacity: 0.4;
                transition: opacity 0.3s;
                input {
                  display: none;
                }
                p {
                  max-width: 100px;
                  margin: 16px auto 0;
                  word-break: break-all;
                  text-align: center;
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 160%;
                  color: $black;
                  @include sm {
                    display: none;
                  }
                }
                .second-p,
                .third-p {
                  margin-top: unset;
                  margin-bottom: unset;
                }
                .fourth-p {
                  margin-top: unset;
                }
                @include sm {
                  height: 140px;
                }
                &:hover {
                  opacity: 1;
                }
              }
              .image--selected {
                position: relative;
                height: 228px;
                @include sm {
                  height: 140px;
                }
                img.cover {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                  object-fit: cover;
                }
                .remove--selected--image {
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 26px;
                  height: 26px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: $white;
                  border-radius: 50%;
                  filter: drop-shadow(0px 10px 20px rgba(136, 120, 172, 0.2));
                  cursor: pointer;
                  img {
                    width: 12px;
                    height: 12px;
                  }
                  @include sm {
                    display: none;
                  }
                }
              }
            }
            p.error-message {
              text-align: center;
            }
          }
          .show--on--mobile--only {
            display: none;
            h3 {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 22px;
              color: $black;
              margin-bottom: 10px;
              span {
                color: rgba(0, 0, 0, 0.4);
              }
            }
            p {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 160%;
              color: rgba(0, 0, 0, 0.4);
              margin-bottom: 14px;
            }
            input {
              display: none;
            }
            @include sm {
              display: block;
            }
          }
          .collection--name--and--token {
            .collection--name {
              margin-bottom: 40px;
              &.inactive {
                .inp-label {
                  color: rgba(0, 0, 0, 0.1);
                }
                .inp {
                  color: rgba(0, 0, 0, 0.1);
                  border: 1px solid rgba(0, 0, 0, 0.1);
                }
                .warning {
                  display: none;
                }
              }
              .intup-l {
                width: 100%;
                input {
                  width: 100%;
                  &:focus {
                    background: linear-gradient($white, $white) padding-box,
                      linear-gradient(to right, #bceb00, #00eaea) border-box;
                    border: 1px solid transparent;
                  }
                  &:focus::placeholder {
                    color: transparent;
                  }
                }
              }
            }
            .collection--token,
            .collection--name {
              &.inactive {
                .inp-label {
                  color: rgba(0, 0, 0, 0.1);
                }
                .inp {
                  color: rgba(0, 0, 0, 0.1);
                  border: 1px solid rgba(0, 0, 0, 0.1);
                }
                .warning {
                  display: none;
                }
              }
              .intup-l {
                width: 100%;
                input {
                  width: 100%;
                  &:focus {
                    background: linear-gradient($white, $white) padding-box,
                      linear-gradient(to right, #bceb00, #00eaea) border-box;
                    border: 1px solid transparent;
                  }
                  &:focus::placeholder {
                    color: transparent;
                  }
                }
              }
              p.warning {
                margin-top: 6px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: #e4b613;
              }
            }
            @include sm {
              grid-row: 2/3;
              grid-column: 1/3;
            }
          }
          @include sm {
            grid-template-columns: 140px 1fr;
            height: auto;
            align-items: center;
            grid-gap: 30px;
          }
        }
        .collection--description {
          margin-bottom: 40px;
          > div {
            position: relative;
            &:hover {
              .box--shadow--effect--block {
                opacity: 0.2;
              }
            }
            textarea {
              position: relative;
              z-index: 1;
              margin-top: 5px;
              padding: 15px;
              width: 100%;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 12px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: $black;
              min-height: 86px;
              &:focus,
              &:active {
                background-image: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
                background-origin: border-box;
                box-shadow: 2px 1000px 1px $white inset;
                border: 1px solid transparent;
              }
              &::placeholder {
                color: rgba(0, 0, 0, 0.2);
              }
            }
            textarea::-webkit-scrollbar {
              width: 0.1px;
              height: 5px;
            }
            .box--shadow--effect--block {
              position: absolute;
              width: calc(100% + 8px);
              background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
              left: -4px;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              border-radius: 12px;
              opacity: 0;
            }
          }
          label {
            display: block;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: $black;
            span {
              color: #999999;
            }
          }
        }
        .collection--short--url {
          .intup-l {
            width: 100%;
            input {
              width: 100%;
              &.empty {
                background: linear-gradient(to right, #000000 133px, rgba(0, 0, 0, 0.2) 10%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              &.empty__error {
                border: 1px solid #ff4949;
                background: linear-gradient(to right, #000000 133px, rgba(0, 0, 0, 0.2) 10%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
          }
        }
        .collection--nfts {
          margin-top: 60px;
          margin-bottom: 60px;
          &--title {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 40px;
            h1 {
              font-family: $sharpGroteskSemiBoldFont;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: 130%;
              color: $black;
            }
            button {
              display: flex;
              align-items: center;
              img {
                margin-left: 12px;
              }
              @include sm {
                width: 100%;
                margin-top: 30px;
              }
            }
          }
          .create--nft--special--btn--box {
            position: relative;
            width: fit-content;
            transition: opacity 0.3s;
            &:hover {
              .gradient--shadow {
                opacity: 1;
              }
            }
            .create--nft--special--btn {
              position: relative;
              z-index: 1;
              background: linear-gradient($white, $white) padding-box,
                linear-gradient(135deg, rgb(188, 235, 0) 15.57%, rgb(0, 234, 234) 84.88%) border-box;
              border: 1px solid transparent;
              border-radius: 12px;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 228px;
              height: 337px;
              padding: 20px;
              transition: all 0.2s;
              @include sm {
                width: 100%;
                height: 200px;
              }
              .collection-t {
                p {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 20px;
                  text-align: center;
                }
              }
            }
            .gradient--shadow {
              opacity: 0;
              background: linear-gradient(135deg, rgb(188, 235, 0) 15.57%, rgb(0, 234, 234) 84.88%) border-box;
              position: absolute;
              top: 0;
              height: 100%;
              width: 228px;
              border-radius: 12px;
              filter: blur(3px);
            }
          }
          .collection--final--error {
            display: flex;
            align-items: flex-start;
            width: 100%;
            margin-top: 40px;
            background: rgba(255, 73, 73, 0.04);
            border: 1px solid #ff4949;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 24px;
            img {
              margin-right: 13px;
              @include sm {
                margin-right: 0px;
                margin-bottom: 9px;
              }
            }
            p {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 160%;
              color: #ff4949;
              @include sm {
                text-align: center;
              }
            }
            @include sm {
              flex-wrap: wrap;
              justify-content: center;
            }
          }
          .browse--nft--list {
            grid-template-columns: repeat(auto-fit, 228px);
            .nft--box--body {
              height: 203px;
              @include sm {
                height: 311px;
              }
              .slick-slider {
                .slider--box {
                  height: 203px;
                  @include sm {
                    height: 311px;
                  }
                }
              }
            }
            .three--dots {
              position: relative;
              display: grid;
              align-items: center;
              gap: 3px;
              button {
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 8px;
                background: none;
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                  display: block;
                  height: 3px;
                  width: 3px;
                  background-color: $black;
                  border-radius: 50%;
                  &:not(:last-child) {
                    margin-right: 3px;
                  }
                }
                .edit__remove {
                  position: absolute;
                  right: 0;
                  top: 33px;
                  width: 160px;
                  z-index: 10;
                  padding: 8px;
                  background: $white;
                  box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                  border-radius: 12px;
                  li {
                    padding: 15px;
                    background-color: $white;
                    display: flex;
                    align-items: center;
                    border-radius: 6px;
                    &:hover {
                      background: rgba(0, 0, 0, 0.05);
                    }
                    img {
                      margin-right: 8px;
                    }
                    p {
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 20px;
                    }
                    &.edit p {
                      color: $black;
                    }
                    &.remove p {
                      color: #ff4949;
                    }
                  }
                }
              }
            }
            .random--bg--color {
              height: 22px;
              width: 22px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: $sharpGroteskMediumFont;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              text-transform: uppercase;
              color: $black;
              cursor: pointer;
            }
            @include sm {
              grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
            }
          }
        }
        .create--collection--btn {
          display: flex;
          justify-content: flex-end;
          .light-border-button {
            margin-right: 12px;
          }
          @include sm {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            .light-border-button {
              margin-right: 0px;
              margin-top: 12px;
            }
            button {
              width: 100%;
            }
          }
        }
      }
      .create--nft--for--collection--page {
        margin-top: 80px;
        .upload--file--section {
          h3 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: $black;
          }
          .dropzone {
            background: rgba(0, 0, 0, 0.02);
            border: 3px dashed rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            &.error {
              border: 3px dashed #ff4949;
            }
            .image--not--selected {
              padding: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              height: 100%;
              width: 100%;
              input {
                display: none;
              }
              p {
                margin: 16px auto 18px;
                text-align: center;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 160%;
                color: rgba(0, 0, 0, 0.4);
              }
            }
            .image--selected {
              position: relative;
              padding: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              img.cover,
              video {
                max-width: 405px;
                max-height: 405px;
                height: 100%;
                width: 100%;
                border-radius: 12px;
                object-fit: cover;
              }
              .remove--selected--image {
                position: absolute;
                top: 16px;
                right: 16px;
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $white;
                border-radius: 50%;
                filter: drop-shadow(0px 10px 20px rgba(136, 120, 172, 0.2));
                cursor: pointer;
                img {
                  width: 12px;
                  height: 12px;
                }
              }
            }
          }
          .nft--name {
            margin-top: 40px;
            margin-bottom: 40px;
            .intup-l {
              width: 100%;
              input {
                width: 100%;
              }
            }
          }
          .nft--description {
            margin-bottom: 40px;
            label {
              display: block;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 22px;
              color: $black;
              margin-bottom: 6px;
            }
            textarea {
              width: 100%;
              min-height: 96px;
              padding: 15px;
              background: $white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              border-radius: 12px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: $black;
              &::placeholder {
                color: rgba(0, 0, 0, 0.2);
              }
            }
          }
          .nft-coll-editions {
            .nft-coll-editions-header {
              position: relative;
              display: flex;
              width: fit-content;
              label {
                display: block;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                color: $black;
                margin-bottom: 6px;
              }
              .info-text {
                position: absolute;
                background: $white;
                box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
                border-radius: 12px;
                width: 194px;
                height: 88px;
                padding: 16px;
                bottom: 25px;
                left: 100%;
                transform: translateX(-50%);

                p {
                  font-family: $spaceGroteskFont;
                  font-size: 12px;
                  line-height: 150%;
                  color: $black;
                }
              }
            }

            .intup-l {
              width: 100%;
              input {
                width: 100%;
              }
            }
          }
          hr {
            margin: 40px 0px;
            height: 1px;
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
          }
          .properties--section {
            margin-top: 60px;
            .properties--header {
              position: relative;
              display: flex;
              width: fit-content;
              h4 {
                font-family: $sharpGroteskSemiBoldFont;
                font-weight: 600;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.2px;
                color: $black;
                margin-bottom: 10px;
              }
              .properties--info--text {
                position: absolute;
                background: $white;
                padding: 16px 16px 18px 16px;
                box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
                border-radius: 12px;
                width: 226px;
                bottom: 50px;
                left: 85%;
                transform: translateX(-50%);

                p {
                  font-family: $spaceGroteskFont;
                  font-size: 12px;
                  line-height: 150%;
                  color: $black;
                }
              }
              .switch {
                margin-left: 15px;
              }
              input:checked + .slider {
                background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
              }
            }

            .properties {
              display: grid;
              grid-template-columns: 1fr 1fr auto;
              grid-gap: 16px;
              width: 100%;
              padding: 20px 30px;
              background: $white;
              box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
              border-radius: 10px;
              box-sizing: border-box;
              margin-bottom: 20px;

              h5 {
                font-family: $spaceGroteskFont;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
              }

              .property--name {
                .intup-l {
                  width: 100%;
                  input {
                    width: 100%;
                  }
                }
              }

              .property--value {
                .intup-l {
                  width: 100%;
                  input {
                    width: 100%;
                  }
                }
                @include sm {
                  width: 100%;
                  padding-right: 0;
                  padding-bottom: 12px;
                }
              }

              .delete--img {
                margin-top: 23px;
                width: 50px;
                height: 50px;
                border-radius: 12px;
                cursor: pointer;

                @include sm {
                  display: none;
                }
              }
              .light-border-button.red {
                border: 1px solid #ff4949;
                color: #ff4949;
              }
              img:hover {
                background-color: rgba(255, 73, 73, 0.05);
              }

              button {
                display: none;

                @include sm {
                  display: flex;
                }
                .del--icon {
                  margin-right: 10px;
                }
              }
              @include sm {
                grid-template-columns: 1fr;
              }
            }

            .property--add {
              cursor: pointer;
              img {
                padding-right: 10px;
              }
              h5 {
                font-family: $spaceGroteskFont;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: $black;
              }
            }
          }
          .royalty--splits--section {
            margin-top: 60px;
            .royalty--splits--header {
              position: relative;
              display: flex;
              width: fit-content;
              h4 {
                font-family: $sharpGroteskSemiBoldFont;
                font-weight: 600;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0.2px;
                color: $black;
                margin-bottom: 10px;
              }
              .royalty--splits--info--text {
                position: absolute;
                background: $white;
                padding: 16px 16px 18px 16px;
                box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
                border-radius: 12px;
                width: 226px;
                bottom: 50px;
                left: 85%;
                transform: translateX(-50%);

                p {
                  font-family: $spaceGroteskFont;
                  font-size: 12px;
                  line-height: 150%;
                  color: $black;
                }
              }
              .switch {
                margin-left: 15px;
              }
              input:checked + .slider {
                background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
              }
            }

            .royalty--splits {
              margin-bottom: 20px;
              background: $white;
              box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
              padding: 20px 30px;
              width: 100%;
              border-radius: 10px;
              box-sizing: border-box;
              &--item {
                display: grid;
                grid-template-columns: 1fr auto auto;
                grid-gap: 16px;

                h5 {
                  font-family: $spaceGroteskFont;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 22px;
                }

                .royalty--split--address {
                  .intup-l {
                    width: 100%;
                    input {
                      width: 100%;
                    }
                  }
                }

                .royalty--split--amount {
                  position: relative;
                  .inp.withsign {
                    z-index: 4;
                  }
                  .percent--sign {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    position: absolute;
                    box-sizing: border-box;
                    z-index: 5;
                    bottom: 23%;
                    right: 15%;
                    @include sm {
                      bottom: 22%;
                      right: 5%;
                    }
                  }
                  .intup-l {
                    width: 100%;
                    input {
                      width: 120px;
                      @include sm {
                        width: 100%;
                      }
                    }
                  }
                }

                .delete--img {
                  margin-top: 23px;
                  width: 50px;
                  height: 50px;
                  border-radius: 12px;
                  cursor: pointer;

                  @include sm {
                    display: none;
                  }
                }
                .light-border-button.red {
                  border: 1px solid #ff4949;
                  color: #ff4949;
                }
                img:hover {
                  background-color: rgba(255, 73, 73, 0.05);
                }

                button {
                  display: none;

                  @include sm {
                    display: flex;
                  }
                  .del--icon {
                    margin-right: 10px;
                  }
                }
                @include sm {
                  grid-template-columns: 1fr;
                }
              }
            }

            .add--royalty--split {
              cursor: pointer;
              img {
                padding-right: 10px;
              }
              h5 {
                font-family: $spaceGroteskFont;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                color: $black;
              }
            }
          }
          .nft--actions {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            .light-border-button {
              margin-right: 12px;
            }
            @include sm {
              button {
                width: 100%;
              }
              .light-border-button {
                margin-right: 0px;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
    @include lg {
      padding: 0 60px;
    }
    @include md {
      padding: 0 20px;
    }
  }

  .input-max-chars {
    font-family: $spaceGroteskFont;
    font-size: 10px;
    color: #e4b613;
  }
}
