@import '../../../assets/scss/variables';
@import '../../../assets/scss/_mixins';

.single__nft {
  .mintNftCollection-div {
    max-height: 100%;
    overflow-y: auto;
    padding: 0;

    @include lg {
      padding: 84px 60px;
    }
    @include sm {
      padding: 34px 20px;
    }
    .single-nft-title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: #000000;
    }
  }
  .single-nft-content {
    margin-top: 40px;

    h5 {
      font-family: $spaceGroteskFont;
      font-weight: bold;
      font-size: 14px;
      line-height: 160%;
    }

    .single-nft-upload {
      width: 100%;

      .single-nft-upload-file {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.02);
        border: 3px dashed rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 40px 16px 40px 16px;

        .single-nft-drop-file {
          width: 100%;
          text-align: center;

          h5 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
          }

          img {
            padding-bottom: 16px;

            @include sm {
              padding-bottom: 10px;
            }
          }

          p {
            padding-bottom: 16px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);

            @include lg {
              display: grid;
            }

            @include sm {
              padding-bottom: 10px;
              max-width: 136px;
              margin: 0 auto;
            }
          }

          button {
            &.light-border-button {
              @include sm {
                font-size: 10px;
                line-height: 10px;
              }
            }
          }

          @include md {
            padding-right: 20px;
          }
        }
      }
      .single-nft-upload-file.error {
        border: 3px dashed #ff4949;
      }
      .single-nft-preview {
        position: relative;
        padding: 30px 160px;
        background: rgba(0, 0, 0, 0.02);
        border: 3px dashed rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        margin: unset;
        .close {
          position: absolute;
          right: 0;
          top: 2px;
        }

        h5 {
          font-family: $spaceGroteskFont;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.4);
        }

        .single-nft-picture {
          width: 100%;
          height: 100%;
          background: $white;
          border: 1px solid #d4d4d4;
          box-sizing: border-box;
          border-radius: 12px;

          .default-image {
            width: 85px;
            height: 85px;
            margin-left: 30%;
            margin-top: 30%;

            @include md {
              width: 47px;
              height: 47px;
              margin-left: 32%;
            }
            @include sm {
              margin-left: 29%;
            }
          }

          .preview-image {
            width: inherit;
            max-height: 405px;
            border-radius: 12px;
            object-fit: fill;
            image-rendering: pixelated;

            // @include md {
            //   max-height: 350px;
            // }
            // @include sm {
            //   max-height: 250px;
            // }
          }
        }
        @include lg {
          padding: 30px 50px;
        }
        @include sm {
          margin: 0px;
        }
      }
    }

    .single-nft-name {
      margin-top: 40px;
      width: 100%;

      .intup-l {
        width: 100%;
      }

      input {
        font-family: $spaceGroteskFont;
        font-size: 16px;
        line-height: 20px;
        &.inp {
          width: 100%;
        }
      }
      .inp::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
      .error-inp::placeholder {
        color: #ff4949;
      }
    }

    .single-nft-description {
      margin-top: 40px;
      width: 100%;

      textarea {
        font-family: $spaceGroteskFont;
        font-size: 16px;
        line-height: 20px;
        &.inp {
          width: 100%;
          height: 96px;
        }
      }
      ::placeholder {
        font-family: $spaceGroteskFont;
        color: rgba(0, 0, 0, 0.2);
      }
    }

    .single-nft-editions {
      margin-top: 40px;
      width: 100%;

      .single-nft-edition-header {
        position: relative;
        display: flex;
        width: fit-content;
        white-space: break-spaces;

        .info-text {
          position: absolute;
          background: $white;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          width: 224px;
          height: 106px;
          padding: 16px;
          bottom: 25px;
          left: 85%;
          transform: translateX(-50%);

          p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            line-height: 150%;
            color: $black;
          }
        }
      }

      .intup-l {
        width: 100%;
      }

      input {
        font-family: $spaceGroteskFont;
        font-size: 16px;
        line-height: 20px;
        &.inp {
          width: 100%;
        }
      }
      ::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }

    .single-nft-choose-collection {
      margin-top: 40px;
      h4 {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }

      .choose__collection {
        display: flex;
        flex-wrap: wrap;

        .collection-box {
          width: 140px;
          height: 140px;
          margin-top: 10px;
          margin-right: 20px;

          &:hover {
            .box--shadow--effect--block {
                opacity: 1;
            }
          }
        }

        .box--shadow--effect--block{
          background: linear-gradient(to right, #bceb00, #00eaea) border-box;
          border-radius: 12px;
          position: absolute;
          filter: blur(3px);
          opacity: 0;
          width: 140px;
          height: 140px;
          margin-top: -140px;
        }

        .create,
        .universe {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 140px;
          height: 140px;
          background: $white;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          border-radius: 12px;
          padding: 10px;
          cursor: pointer;
          z-index: 10;
          &:hover {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }

          div {
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
            }
          }

          .random__bg__color {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            font-family: $sharpGroteskMediumFont;
          }

          h5 {
            font-family: $spaceGroteskFont;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: $black;
            margin-top: 12px;
            text-align: center;
          }
          p {
            text-align: center;
            font-family: $spaceGroteskFont;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
          }
          &.selected {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }
          // @include sm {
          //   width: 100%;
          // }
        }
        .create > img {
          border-radius: 50%;
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        }
      }
      .create:hover {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
      }
    }
    .hr-div {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 60px;
      margin-bottom: 20px;
    }
    .single-nft-properties {
      margin-top: 40px;

      .single-nft-properties-header {
        position: relative;
        display: flex;
        width: fit-content;
        width: 100%;

        h4 {
          font-family: $sharpGroteskSemiBoldFont;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          letter-spacing: 0.2px;
          color: $black;
          margin-bottom: 10px;
          img {
            margin-left: 3px;
          }
        }

        .properties-info-text {
          position: absolute;
          background: $white;
          padding: 16px 16px 18px 16px;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          width: 226px;
          bottom: 33px;
          left: 130px;
          transform: translateX(-50%);

          p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            line-height: 150%;
            color: $black;
          }
        }

        .switch {
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 24px;
          right: 0;
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: '';
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 50px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }

      .properties {
        display: flex;
        width: 100%;
        padding: 20px 30px 30px 30px;
        background: #ffffff;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 10px;
        margin-bottom: 30px;

        h5 {
          font-family: $spaceGroteskFont;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
        }
        .intup-l {
          width: 100%;
        }
        input {
          font-family: $spaceGroteskFont;
          font-size: 16px;
          line-height: 20px;
          &.inp {
            width: 100%;
          }
        }
        ::placeholder {
          font-family: $spaceGroteskFont;
          color: rgba(0, 0, 0, 0.2);
        }

        .property-name {
          width: 44.5%;
          padding-right: 16px;

          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }

        .property-value {
          width: 44.5%;
          padding-right: 16px;

          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }
        .property-address {
          width: 69%;
          padding-right: 16px;

          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }
        .property-amount {
          width: 20%;
          padding-right: 16px;
          position: relative;
          .inp.withsign {
            z-index: 4;
          }
          .percent-sign {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            position: absolute;
            box-sizing: border-box;
            z-index: 5;
            bottom: 23%;
            right: 20%;
            @include lg {
              right: 23%;
            }
            @include sm {
              bottom: 32%;
              right: 2%;
            }
          }
          h5 {
            @include lg {
              width: 120px;
            }
          }
          @include sm {
            width: 100%;
            padding-right: 0;
            padding-bottom: 12px;
          }
        }

        .delete-img {
          margin-top: 23px;
          width: 50px;
          height: 50px;
          border-radius: 12px;
          cursor: pointer;

          @include sm {
            display: none;
          }
        }
        .light-border-button.red {
          border: 1px solid #ff4949;
          color: #ff4949;
        }
        img:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        button {
          display: none;

          @include sm {
            display: flex;
          }
          .del-icon {
            margin-right: 10px;
          }
        }

        @include sm {
          display: grid;
        }
      }

      .property-add {
        cursor: pointer;
        h5 {
          font-family: $spaceGroteskFont;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $black;
          img {
            padding-left: 4px;
            padding-right: 10px;
            &:hover {
              transform: scale(1.21);
            }
          }
        }
      }
      .royalities {
        margin-top: 40px;
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 22px;
          width: fit-content;
          position: relative;
          align-items: flex-start;
          width: 100%;
          h4 {
            font-family: $sharpGroteskSemiBoldFont;
            font-weight: 600;
            font-size: 16px;
            line-height: 130%;
            letter-spacing: 0.2px;
            color: $black;
          }
          .royalities-info-text {
            position: absolute;
            background: $white;
            padding: 16px 16px 18px 16px;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            width: 229px;
            bottom: 20px;
            left: 165px;
            transform: translateX(-50%);

            p {
              font-family: $spaceGroteskFont;
              font-size: 12px;
              line-height: 150%;
              color: $black;
            }
          }
          img {
            margin-left: 3px;
          }
          .switch {
            position: absolute;
            display: inline-block;
            width: 40px;
            height: 24px;
            right: 0;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          .slider:before {
            position: absolute;
            content: '';
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 50px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
        .percent__amount {
          .inp__container {
            position: relative;
            margin-bottom: 6px;
            .intup-l {
              width: 100%;
              input {
                width: 100%;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: $black;
                &::placeholder {
                  font-family: $spaceGroteskFont;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 20px;
                  color: rgba(0, 0, 0, 0.2);
                }
              }
            }
            span {
              position: absolute;
              top: 35px;
              right: 1px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: $black;
              display: flex;
              height: 40px;
              width: 50px;
              align-items: center;
              justify-content: center;
              background-color: $white;
              border-radius: 12px;
            }
          }
          .suggested {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    .single__final__error {
      margin-top: 40px;
      width: 100%;
      background: rgba(255, 73, 73, 0.04);
      border: 1px solid #ff4949;
      box-sizing: border-box;
      border-radius: 12px;
      display: flex;
      img {
        padding-left: 14px;
        align-self: baseline;
        padding-top: 24px;
      }
      .error-message {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #ff4949;
        padding: 20px 20px 20px 13px;
      }

      @include sm {
        width: 100%;
      }
    }

    .single-nft-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: right;
      button {
        &.light-border-button {
          margin-right: 12px;
          @include sm {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
      }
      @include sm {
        display: grid;
      }
    }
  }
}
