@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";

.badge {
  position: relative;
  top: -3px;
  background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
  border-radius: 4px;
  margin-left: 4px;
  padding: 2px 4px;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: $black;
  text-transform: uppercase;
}
