@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.finalize__auction {
  background-image: url("../../assets/images/finalise-auction-desktop.png");
  background-size: 100% 200px;
  background-repeat: no-repeat;
  background-position-y: 80px;

  .back-rew {
    .set-text {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      margin-top: 20px;
      margin-bottom: 16px;

      @include sm {
        font-size: 26px;
      }
    }
  }
  .description {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.6);
    width: 522px;
    margin-bottom: 60px;

    @include sm {
      width: 100%;
    }
  }
  .finalize__auction__body {
    .create__auction {
      display: flex;

      .step {
        margin-left: 24px;

        .circle {
          height: 20px;
          width: 20px;
          margin-top: 3px;
          img {
            margin-bottom: 5px;
          }
        }
        .line {
          margin-left: 10px;
          width: 0px;
          height: 100%;
          border: 1px solid rgba(0, 0, 0, 0.1);
        }
        .colored {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }
        @include lg {
          margin-left: 0%;
        }
      }
      .create__auction__body {
        margin-left: 21px;
        width: 100%;

        h2 {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 130%;
          color: $black;
          margin-bottom: 10px;
        }
        .auction__description {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 160%;
          color: rgba(0, 0, 0, 0.6);
          margin-bottom: 30px;
        }
        .warning__div {
          display: flex;
          padding: 20px 20px 23px 24px;
          background: #fdfcf9;
          border: 1px solid #e4b613;
          box-sizing: border-box;
          border-radius: 12px;
          margin-bottom: 30px;
          width: fit-content;

          img {
            width: 18px;
            height: 18px;
          }

          p {
            font-family: $spaceGroteskFont;
            font-weight: 600;
            font-style: normal;
            font-size: 14px;
            line-height: 160%;
            color: #e4b613;
            margin-left: 13px;
          }
        }
        button {
          margin-bottom: 60px;

          @include sm {
            width: 100%;
          }
        }
        @include sm {
          margin-left: 10px;
        }
      }
      .collections {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;

        .collection__div {
          display: flex;
          background: $white;
          box-shadow: 0 10px 40px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          padding: 30px 60px 30px 30px;
          margin-right: 30px;
          margin-bottom: 30px;
          .approve-btn {
            padding: 11px 14px 11px 16px;
          }
          // h3{
          //   padding: 11px 70px 0 16px;
          // }
          .random__bg__color {
            height: 80px;
            width: 80px;
            margin-right: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: $black;
          }
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            margin-right: 30px;
            border-radius: 50%;

            @include sm {
              width: 60px;
              height: 60px;
              margin-right: 18px;
            }
          }
          .checkmark {
            width: 20px;
            height: 20px;
            margin-right: 0;
          }
          h3 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 16px;

            @include sm {
              margin-bottom: 10px;
            }
          }

          button {
            margin-bottom: 0px;
          }
          @include lg {
            margin-right: 18px;
            margin-bottom: 18px;
          }
        }
        @include lg {
          flex-wrap: wrap;
        }
      }
      .transaction {
        display: flex;
        justify-content: space-between;
        background: $white;
        box-shadow: 0 10px 40px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        padding: 24px 24px 30px 30px;
        margin-bottom: 16px;

        .transaction__details {
          .transaction__header {
            display: flex;
            margin-top: 12px;
            align-items: center;
            margin-bottom: 30px;

            h4 {
              font-family: $sharpGroteskMediumFont;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 130%;
              margin-right: 22px;
            }
            .head {
              display: flex;

              p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-weight: 14px;
                line-height: 150%;
                margin-right: 22px;
              }
              @include sm {
                margin-top: 10px;
              }
            }
            @include sm {
              display: grid;
              margin-bottom: 20px;
            }
          }
          .transaction__body {
            display: flex;
            flex-wrap: wrap;
            
            .transaction__image {
              position: relative;
              box-sizing: border-box;
              width: 87px;
              height: 95px;
              margin-right: 13px;

              .image-main {
                position: absolute;
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                z-index: 1;
                box-sizing: border-box;
                border-radius: 12px;
                width: 87px;
                height: 87px;
                padding: 6px;

                img {
                  z-index: 9999;
                  border-radius: 5px;
                  min-height: 100%;
                  min-width: 100%;
                }
                @include sm {
                  width: 75px;
                  height: 75px;
                }
              }
              .first {
                position: absolute;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 12px;
                width: 75px;
                height: 87px;
                top: 4px;
                left: 6px;

                @include sm {
                  width: 63px;
                  height: 75px;
                }
              }
              .second {
                position: absolute;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 12px;
                width: 63px;
                height: 77px;
                top: 18px;
                left: 12px;

                @include sm {
                  width: 51px;
                  height: 65px;
                }
              }
              @include sm {
                width: 75px;
                height: 83px;
                margin-right: 10px;
              }
            }
          }
        }
        button {
          margin-bottom: 0px;
          @include sm {
            margin-top: 20px;
            width: 100%;
          }
        }
        @include sm {
          display: block;
          padding: 15px;
        }
      }
    }
  }
  .attention-button {
    color: #FF4949;
    border: 1px solid #FF4949;
    margin-left: 25px;
  }
  .attention-button:hover {
    background-image: none;
  }
  @include lg {
    background-image: url("../../assets/images/finalise-auction-tablet.png");
  }
  @include sm {
    background-image: url("../../assets/images/finalise-auction-mobile.png");
  }
}
