@import '../../assets/scss/variables';

.popup-overlay {
  background: rgba(0, 0, 0, 0.4);
}
.preview__image {
  position: relative;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .size__up {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    &:hover {
      transform: scale(1.4);
    }
  }
}
.select_wallet__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;
  width: 80%;

  .close__popup {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  h1.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: $black;
    margin-bottom: 24px;
  }
  p.desc {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
  p.info {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    max-width: 355px;
    margin: 0 auto;
  }
  .wallets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin: 40px 0;

    button {
      padding: 32px;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      transition: .5s ease;

      &:hover {
        background: 
            linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #BCEB00, #00EAEA) border-box;
        border: 1px solid transparent;
      }
    }
  }
}
.preview__image__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .size__down {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    &:hover {
      transform: scale(1.4);
    }
  }
}
.popup-div{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
}
.popup-close{
  cursor: pointer;
  padding: 2px 8px;
  margin-top: -12px;
  margin-right: -12px;
  line-height: 2em;
  background-color: $white;
  border-radius: 50%;
  float: right; 
}
.popup-text {
  text-align: center;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.popup-text>p{
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.popup-btns{
  text-align: center;
  padding: 0;
  margin-top: 36px;
}
.popup-btns > .light-button{
  margin-right: 12px;
}
.popup-arrow {
  display: none;
}
.congrats{
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  font-family: $sharpGroteskSemiBoldFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 20px;
}
.congrats-text{
  padding: 0 80px;
  margin: 0;
}
.loading-div {
  width: 600px;
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
}
.loading-ring {
  display: flex;
  justify-content: center;
  height: 80px;
}
.loading-ring div{
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 3px solid $white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff #ADEB13  #65F2EC  #6BEA65;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text{
  margin-top: 30px;
  text-align: center;
  padding: 0;
  height: 82px;
}
.loading-text>p{
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.loading-btns{
  text-align: center;
  padding: 0;
  margin-top: 40px;
}
.loading-btns > .light-border-button{
  background: linear-gradient($white, $white) padding-box,                    
              linear-gradient(to right, #BCEB00, #00EAEA) border-box;
  border: 1px solid transparent;
  width: 104px;
  height: 42px;
}

