@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.popup-overlay {
  background: rgba(0, 0, 0, 0.7);
}
.preview__image {
  position: relative;
  width: 100%;
  height: 100%;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .size__up {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    &:hover {
      transform: scale(1.4);
    }
  }
}
.add__token {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
  height: 471px;
  background: $white;
  box-shadow: 0 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;

  .close {
    position: absolute;
    right: -13px;
    top: -13px;
    background: white;
    z-index: 9999;
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 50%;
  }

  h3 {
    font-family: $sharpGroteskSemiBoldFont;
    font-weight: 600px;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
  }

  label {
    font-family: $spaceGroteskFont;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 1px;
  }
  .intup-l {
    width: 100%;
  }
  input {
    font-family: $spaceGroteskFont;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    width: unset;
  }
  ::placeholder {
    font-family: $spaceGroteskFont;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.2);
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  @include sm {
    width: 90%;
    padding: 40px 20px;
  }
}
.preview__image__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  .size__down {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;
    &:hover {
      transform: scale(1.4);
    }
  }
}
.select_wallet__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 584px;

  .close__popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  h1.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: $black;
    margin-bottom: 24px;
  }
  p.desc {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
  p.info {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    max-width: 355px;
    margin: 0 auto;
  }
  .wallets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin: 40px 0;

    button {
      padding: 32px;
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      transition: 0.5s ease;

      &:hover {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
      }
    }
  }
  .links {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
.wrong__network__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 469px;

  .close__popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  h1.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: $black;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  p.desc {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 40px;

    span {
      color: $black;
    }
    a {
      color: $black;
      text-decoration: underline;
    }
  }
}
.bid__rankings__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px 10px 40px 40px;
  width: 100%;
  max-width: 500px;

  .close__popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  h1.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: $black;
  }
  .reward__tiers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // gap: 6px;
    margin: 15px 0;

    .label {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.3px;
      color: $black;
      margin-right: 6px;
    }
    .tiers {
      display: flex;
      align-items: center;
      // gap: 6px;
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        padding: 5px 10px;
        border-radius: 6px;
        margin-right: 6px;

        &:nth-child(1) {
          color: #80ccdf;
          border: 1px solid #80ccdf;
        }
        &:nth-child(2) {
          color: #ddbc45;
          border: 1px solid #ddbc45;
        }
        &:nth-child(3) {
          color: #bcbcbc;
          border: 1px solid #bcbcbc;
        }
      }
    }
  }
  .bids__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    max-height: 310px;
    overflow-y: auto;
    padding-right: 30px;

    .platinum {
      border: 1px solid #80ccdf;
      padding: 10px 20px;
      border-radius: 12px;
    }
    .gold {
      border: 1px solid #ddbc45;
      padding: 10px 20px;
      border-radius: 12px;
    }
    .silver {
      border: 1px solid #bcbcbc;
      padding: 10px 20px;
      border-radius: 12px;
    }

    table {
      tr {
        td {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: $black;
          padding: 5px 0;

          span.platinum__small {
            border: 1px solid #80ccdf;
            color: #80ccdf;
            padding: 2px 5px;
            border-radius: 12px;
            margin-left: 5px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 120%;
          }
          span.gold__small {
            border: 1px solid #ddbc45;
            color: #ddbc45;
            padding: 2px 5px;
            border-radius: 12px;
            margin-left: 5px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 120%;
          }
          span.silver__small {
            border: 1px solid #bcbcbc;
            color: #bcbcbc;
            padding: 2px 5px;
            border-radius: 12px;
            margin-left: 5px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 120%;
          }

          &:nth-child(1) {
            font-size: 12px;
          }
          &:nth-child(2) {
            font-weight: bold;
          }
          &:nth-child(4) {
            color: rgba(0, 0, 0, 0.6);
            font-size: 10px;
            text-align: right;
          }
        }
      }
    }
    @include sm {
      padding-right: 10px;
    }
  }
  @include sm {
    width: 90%;
    padding: 20px 10px 20px 20px;
  }
}
.place__bid__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 440px;

  .close__popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  h1.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: $black;
    @include sm {
      font-size: 20px;
    }
  }
  p.desc {
    margin: 24px 0;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    b {
      color: $black;
      font-weight: normal;
    }
    @include sm {
      margin: 8px 0 24px;
      font-size: 14px;
    }
  }
  .bid__form {
    position: relative;
    span {
      width: 100%;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: $black;
    }
    input {
      width: 100%;
      background: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 15px;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #1a1a1a;
    }
    .currency {
      position: absolute;
      right: 8px;
      top: 30px;
      padding: 7px 13px;
      display: flex;
      align-items: center;

      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        margin-left: 6px;
      }
    }
  }
  .info {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 8px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    .bid__eligible {
      position: relative;

      &__info {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        padding: 16px;
        min-width: 240px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: $black;
      }
    }
    @include sm {
      font-size: 12px;
    }
  }
  .total {
    margin-top: 24px;
    margin-bottom: 24px;
    .total_row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .label {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        gap: 5px;
        .service__fee,
        .total__bid__amount {
          position: relative;

          &__info {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            background: $white;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            padding: 16px;
            min-width: 240px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: $black;
          }
        }
      }
      .value {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        color: $black;
      }
    }
  }
  .errors {
    margin-top: 24px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ff4949;
  }
  .congrats__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
  }
  .congrats__title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: $black;
  }
  .congrats__desc {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin: 24px 0 40px;
    b {
      color: $black;
      font-weight: normal;
    }
  }
  .congrats__close {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      @include sm {
        width: 100%;
      }
    }
  }
  @include sm {
    width: 90%;
    padding: 30px;
  }
}
.preview__nfts__popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 340px;

  &.fullscreen {
    grid-template-columns: 1fr;
    .details {
      display: none;
    }
  }

  .slider {
    position: relative;
    display: flex;
    background-color: $black;
    .close {
      cursor: pointer;
      filter: invert(1);
      position: absolute;
      right: 14px;
      top: 14px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 13px;
      @include sm {
        padding: 8px;
      }
    }
    .full__screen {
      cursor: pointer;
      position: absolute;
      right: 73px;
      top: 14px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 13px;
      @include md {
        display: none;
      }
    }
    .slider__left__arrow {
      position: absolute;
      top: 50%;
      left: 14px;
      transform: translateY(-50%);
      filter: invert(1);
      background: rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      height: 42px;
      width: 42px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      z-index: 1;
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
      @include lg {
        background: rgba(0, 0, 0, 0.5);
        &:hover {
          background: rgba(0, 0, 0, 0.6);
        }
      }
      @include md {
        background: rgba(0, 0, 0, 0.2);
        &:hover {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
    .slider__right__arrow {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      filter: invert(1);
      background: rgba(0, 0, 0, 0.2);
      border-radius: 12px;
      height: 42px;
      width: 42px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      z-index: 1;
      &:hover {
        background: rgba(0, 0, 0, 0.3);
      }
      img {
        transform: rotate(180deg);
      }
      @include lg {
        background: rgba(0, 0, 0, 0.5);
        &:hover {
          background: rgba(0, 0, 0, 0.6);
        }
      }
      @include md {
        background: rgba(0, 0, 0, 0.2);
        &:hover {
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }
    .show__selected__nft__image {
      height: 100%;
      max-width: 60%;
      width: 100%;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      @include lg {
        // max-height: 500px;
        max-width: 100%;
        height: 80%;
      }
      @include md {
        max-height: 100%;
        max-width: 80%;
      }
      @include sm {
        max-width: 60%;
      }
    }
  }
  .details {
    background-color: $white;
    overflow-y: auto;
    .tier__details {
      padding: 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .tier__title {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        h2 {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 130%;
          color: $black;
          margin-left: 13px;
          @include sm {
            margin-left: 6px;
            font-size: 12px;
          }
        }
        span {
          display: block;
          border-radius: 50%;
          height: 28px;
          width: 28px;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          @include sm {
            height: 16px;
            width: 16px;
          }
        }
      }
      .tier__info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // gap: 12px;
        span {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 12px;
          padding: 6px 16px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 150%;
          color: $black;
          margin-right: 12px;
          margin-bottom: 12px;
        }
      }
      .tier__nfts {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 18px;
        .nft__image {
          width: 48px;
          height: 48px;
          cursor: pointer;
          border-radius: 10px;
          margin-right: 10px;
          margin-bottom: 10px;
          &.selected {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 2px solid transparent;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
        }
        @include sm {
          display: none;
        }
      }
    }
    .nft__details {
      padding: 25px;
      .nft__title {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        letter-spacing: 0.2px;
        color: $black;
        margin-bottom: 20px;
      }
      .nft__released {
        display: flex;
        align-items: center;
        // gap: 40px;
        margin-bottom: 25px;
        .item {
          margin-right: 40px;

          span {
            display: block;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            color: $black;
            margin-bottom: 4px;
          }
          p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: $black;
            white-space: nowrap;
            img {
              width: 26px;
              height: 26px;
              border-radius: 50%;
              margin-right: 6px;
            }
          }
        }
      }
      .description {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  @include md {
    grid-template-columns: 1fr;
    grid-template-rows: 520px 1fr;
  }
  @include sm {
    grid-template-rows: 240px 1fr;
  }
}
.subscribe__popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 730px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close__popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  h1.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: $black;
    margin-bottom: 16px;
    @include md {
      text-align: center;
      font-size: 20px;
    }
  }
  p.desc {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 24px;
    max-width: 255px;
    @include md {
      text-align: center;
      max-width: 100%;
    }
  }
  button {
    @include md {
      width: 100%;
    }
  }
  .subscribe__form {
    input {
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 15px;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 14px;

      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
  > div {
    &:not(:last-child) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include md {
      width: 100%;
    }
  }
  @include md {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
}
.popup-div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  max-width: 520px;
  width: 100%;

  @include lg {
    max-width: 520px;
    width: 70%;
  }
  @include sm {
    padding: 40px 26px;
    width: 85%;
  }
}
.popup-close {
  cursor: pointer;
  padding: 2px 8px;
  margin-top: -12px;
  margin-right: -12px;
  line-height: 2em;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.popup-title {
  text-align: center;
  padding-bottom: 24px;

  h4 {
    font-family: $sharpGroteskSemiBoldFont;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.2px;

    @include sm {
      font-size: 20px;
      line-height: 130%;
    }
  }
}
.popup-text {
  text-align: center;
  padding-bottom: 16px;
  justify-content: center;
  align-items: center;
}
.popup-text > p {
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.popup-btns {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-top: 20px;

  @include sm {
    display: grid;
    justify-content: normal;
  }
}
.popup-btns > .light-button {
  margin-right: 12px;

  @include sm {
    margin-right: 0%;
    margin-bottom: 20px;
  }
}
.popup-arrow {
  display: none;
}
.congrats {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  width: 100%;
  font-family: $sharpGroteskSemiBoldFont;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  padding-bottom: 20px;
}
.congrats-text {
  padding: 0 80px;
  margin: 0;
}
.loading-div {
  max-width: 520px;
  width: 100%;
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;

  @include lg {
    width: 70%;
  }
  @include sm {
    width: 85%;
  }
}
.loading-ring {
  display: flex;
  justify-content: center;
  height: 80px;
}
.loading-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 3px solid $white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff #adeb13 #65f2ec #6bea65;
}
.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-text {
  margin-top: 30px;
  text-align: center;
  padding: 0;
}
.loading-text > p {
  display: grid;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);

  @include md {
    display: block;
  }
}
.loading-btns {
  text-align: center;
  padding: 0;
  margin-top: 30px;
}

.mintNfts {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  height: 296;
  background: $white;
  box-shadow: 0 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 40px;

  .close {
    position: absolute;
    right: -13px;
    top: -13px;
    background: white;
    z-index: 9999;
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 50%;
  }

  h3 {
    font-family: $sharpGroteskSemiBoldFont;
    font-weight: 600px;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
    text-align: center;
  }
  .first-p{
    line-height: 10px;
  }
  p{
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
    span{
      color: #000000;
    }
  }
  .btns{
    text-align: center;
    margin-top: 30px;
    button{
      margin-right: 12px;
    }
  }
  .logo-success-div{
    text-align: center;
    margin-bottom: 32px;
    z-index: 100;
  }
}