@import '../../assets/scss/variables';

.search-intup-l {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  img {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    top: 16px;
  }
  .inp-label {
    position: relative;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: $black;
    margin-bottom: 1px;
  }
  input.inp {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px 15px 15px 47px;
    width: 300px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: black;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
    &:focus {
      outline: none;
      background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
      border: 1px solid transparent;
    }
    &:disabled {
      background: rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 12px;
      color: rgba(0, 0, 0, 0.4);
    }
  }
  input.inp:disabled + .inp-label {
    color: rgba(0, 0, 0, 0.4);
  }
  .error-inp {
    border: 1px solid #ff4949 !important;
    border-radius: 12px;
    padding: 15px;
    color: #ff4949 !important;
    &::placeholder {
      color: #ff4949 !important;
    }
  }
  .hover {
    border: 1px solid rgba(0, 0, 0, 0.4) !important;
  }
  .focus {
    outline: none;
    background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box !important;
    border: 1px solid transparent !important;
  }
}
