@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.nft--marketplace {
    .content--marketplace {
        display: flex;
        justify-content: space-between;
        // align-items: center;
        .marketplace--tab {
            width: 65%;
        }
        .summary--block--parent {
            width: 35%;
        }
    }
}