@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.nft--marketplace {
    .step--tabs--container {
        // position: relative;
        margin-top: -15px;
    }
    .before--footer--black--bg--section {
        width: 100%;
        min-height: 200px;
        background-color: $black;
    }
}