@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.nft--marketplace {
    .sell--nft--page--header {
        @include md {
            padding: 0 20px;
        }
    }
    .step--tabs--container--parent {
        @include md {
            padding: 0 20px;
        }
        .tabs__wrapper {
            #tabsdiv {
                button {
                    @include md {
                        font-size: 10px;
                    }
                    img {
                        @include md {
                            padding: 10px;
                        }
                    }
                }
            }
        }
        .step--tabs--container {
            // position: relative;
            margin-top: -15px;
        }
    }
    .before--footer--black--bg--section {
        width: 100%;
        min-height: 200px;
        background-color: $black;
        @include sm {
            min-height: 140px;
        }
    }
}

.new--tab--header {
    .tabs--wrapper {
        @include sm {
            overflow-x: auto;
        }
        .tabs {
            min-width: 500px;
        }
    }
    @include sm {
        margin-right: -20px;
    }
}