@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.collection__page {
  &__cover {
    position: relative;
    height: 210px;
    width: 100%;
    overflow: hidden;
    img.bg {
      pointer-events: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.blur {
        filter: blur(8px);
      }
    }
    .blured {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }
    .image-upload-error {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: red;
    }
    .random__bg__color {
      width: 100%;
      height: 100%;
    }
    .upload {
      position: absolute;
      right: 18px;
      top: 18px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 12px;
      padding: 11px;
      cursor: pointer;
      z-index: 1;
      img {
        filter: invert(1);
      }
    }
  }
  .collection__details__section {
    padding: 80px 60px;
    p.desc {
      font-family: $spaceGroteskFont;
      max-width: 540px;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: #000000;
      margin-top: 170px;
      margin-left: auto;
      margin-right: auto;
      @include sm{
        margin-top: 35px;
      }
    }
    .collection__edit {
      text-align: center;
      margin-top: 30px;
      margin-bottom: 40px;
      button {
        span {
          margin-right: 12px;
          line-height: 20px;
          font-family: $spaceGroteskFont;
          &.hide__on__mobile {
            @include sm {
              display: none;
            }
          }
        }
      }
      img{

      }
    }
    .collection--nfts--container {
      max-width: 1110px;
      margin: 0 auto;

      .empty__nfts {
        width: 100%;

        .tabs-empty {
          margin: 90px 0 120px;
          text-align: center;
          position: relative;
          width: 100%;
          h3 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500 !important;
            font-size: 18px !important;
            line-height: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.4) !important;
            margin-top: 30px;
            margin-bottom: 6px;
          }
          p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            text-align: center;
            color: rgba(0, 0, 0, 0.4);
            width: 37%;
            margin-left: 32%;
            margin-bottom: 30px;
            @include lg {
              width: 50%;
              margin-left: 25%;
            }
            @include sm {
              width: 73%;
              margin-left: 14%;
            }
          }
          button {
            img {
              margin-left: 12px;
            }
          }
        }
    
        h1.title {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          text-align: center;
          color: $black;
          margin-bottom: 130px;
          @include lg {
            margin-bottom: 100px;
          }
          @include sm {
            margin-bottom: 75px;
          }
        }
    
        h3 {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          text-align: center;
          color: $black;
        }
    
        p.desc {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          text-align: center;
          color: rgba(0, 0, 0, 0.6);
          max-width: 440px;
          margin: 16px auto 40px;
        }
    
        button.mint__btn {
          display: block;
          margin: 0 auto;
          background: $primary-bg-color;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $black;
          padding: 11px 26px;
          transition: 50ms ease-in;
          img {
            margin-left: 12px;
          }
    
          &:hover {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
              linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          }
    
          @include sm {
            width: 100%;
          }
        }
      }
    }
    .collection__details__container {
      position: absolute;
      width: 480px;
      height: 373px;
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
      top: 150px;

      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      @include sm {
        position: relative;
        width: unset;
        height: unset;
        border: unset;
        background: unset;
        top: unset;
        margin-top: -150px;
      }
      .collection__image {
        margin-bottom: 20px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        img {
          pointer-events: none;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 2px solid $white;
          object-fit: cover;
        }
        .random__bg__color {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $sharpGroteskMediumFont;
          font-style: normal;
          font-weight: 500;
          font-size: 64px;
          text-transform: uppercase;
          color: $black;
          width: 157px;
          height: 157px;
          border-radius: 50%;
          border: 2px solid $white;
        }
      }
      .collection__info {
        align-items: center;
        margin-bottom: 12px;
        .collection__name__desc {
          h1 {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: $black;
            text-align: center;
          }
        }
        .token{
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          color: #4D66EB;
          margin-top: 8px;
        }
        .item_info{
          margin-top: 35px;
          display: flex;
          max-height: 80px;
          text-align: center;
          width: 100%;
          margin-left: 5%;
          div{
            width: 30%;
            padding: 10px;
            @include sm {
              width: 35%!important;
              }
            h1{
              font-family:$spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 26px;
              line-height: 100%;
              // display: flex;
              align-items: center;
              text-align: center;
              color: #000000;
              @include sm {
              font-size: 20px;
              img{
                width: 13%;
              }
              }
            }
            span{
              font-family:$spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 150%;
              align-items: center;
              text-align: center;
              color: rgba(0, 0, 0, 0.4);
            }
          }
          .bordered{
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            @include sm {
            width: 30%!important;
            }
          }
        }
      }
    }
    .collection__filters {
      margin-bottom: 60px;
      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1.title {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 130%;
          color: $black;
          margin-bottom: 10px;
        }
      }
      &__fields {
        display: grid;
        grid-template-columns: 1fr 255px;
        grid-gap: 30px;

        // .dropdown {
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     position: relative;
        //     background: $white;
        //     border: 1px solid #d4d4d4;
        //     box-sizing: border-box;
        //     border-radius: 12px;
        //     padding: 15px 16px;
        //     cursor: pointer;
        //     &.opened {
        //         background: linear-gradient($white, $white) padding-box,
        //             linear-gradient(to right, #bceb00, #00eaea) border-box;
        //         border: 1px solid transparent;
        //         .chevron__down {
        //             transform: rotate(180deg);
        //         }
        //     }
        //     .selected__item {
        //         font-family: $spaceGroteskFont;
        //         font-style: normal;
        //         font-weight: 600;
        //         font-size: 16px;
        //         line-height: 20px;
        //         color: $black;
        //     }
        //     .chevron__down {
        //         width: 14px;
        //         transition: 0.5s ease;
        //     }
        //     .sorting__dropdown {
        //         position: absolute;
        //         top: 55px;
        //         left: 0;
        //         width: 100%;
        //         z-index: 1;
        //         ul {
        //             background: $white;
        //             box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
        //             border-radius: 12px;
        //             padding: 8px;

        //             li {
        //                 padding: 20px;
        //                 font-family: $spaceGroteskFont;
        //                 font-style: normal;
        //                 font-weight: 600;
        //                 font-size: 16px;
        //                 line-height: 20px;
        //                 color: $black;
        //                 border-radius: 6px;
        //                 &:hover {
        //                     background: rgba(0, 0, 0, 0.05);
        //                 }
        //             }
        //         }
        //     }
        // }
        .search {
          position: relative;
          @include md {
            margin-top: 16px;
          }
          input {
            width: 100%;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            padding: 15px 20px 15px 45px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;

            &::placeholder {
              color: #cacaca;
            }
            &:focus {
              background: linear-gradient($white, $white) padding-box,
                linear-gradient(to right, #bceb00, #00eaea) border-box;
              border: 1px solid transparent;
            }
          }
          img {
            position: absolute;
            left: 20px;
            top: 17px;
          }
          .focus--field--box--shadow {
            position: absolute;
            width: calc(100% + 8px);
            min-height: 58px;
            background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
            left: -4px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: -5;
            border-radius: 12px;
            opacity: 0;
          }
          &:hover {
            .focus--field--box--shadow {
              opacity: 0.2;
            }
            input {
              border: 1px solid transparent;
            }
          }
        }
        @include md {
          grid-template-columns: 1fr;
          grid-gap: unset;
          display: flex;
          flex-direction: column-reverse;
          margin-top: 20px;
        }
      }
      
    }
    
    @include sm {
      padding: 60px 20px;
    }
  }
}
.loader-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;

}
.loading-section {
    display: flex;
    justify-content: center;
    height: 50px;

  .collection-lds-roller {
    position: relative;
    top: 25px;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .collection-lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }

  .collection-lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin: -4px 0 0 -4px;
  }

  .collection-lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }

  .collection-lds-roller div:nth-child(1):after {
    background: #adea12;
    top: 63px;
    left: 63px;
  }

  .collection-lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .collection-lds-roller div:nth-child(2):after {
    background: #90ea35;
    top: 68px;
    left: 56px;
  }
  .collection-lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .collection-lds-roller div:nth-child(3):after {
    background: #72ea5b;
    top: 71px;
    left: 48px;
  }
  .collection-lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .collection-lds-roller div:nth-child(4):after {
    background: #33eaaa;
    top: 72px;
    left: 40px;
  }
  .collection-lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .collection-lds-roller div:nth-child(5):after {
    background: #31eaae;
    top: 71px;
    left: 32px;
  }
  .collection-lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .collection-lds-roller div:nth-child(6):after {
    background: #00eaea;
    top: 68px;
    left: 24px;
  }
  .collection-lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .collection-lds-roller div:nth-child(7):after {
    background: #00eaea;
    top: 63px;
    left: 17px;
  }
  .collection-lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .collection-lds-roller div:nth-child(8):after {
    background: #00eaea;
    top: 56px;
    left: 12px;
  }
  
}
