@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.planet--container {
    background-color: #f7f5f5;
    .welcome--section {
        > img {
            @include lg {
                display: none;
            }
        }
        @include md {
            padding: 20px;
        }
        .welcome__section__container {
            max-width: 1110px;
            padding: 0;
            // padding-left: 0;
            // padding: 0 60px;
            // @include lg {
            //     flex-direction: unset;
            //     width: 100%;
            //     padding: 0 0 0 60px;
            // }
            @include xl {
                padding: 0 60px;
            }
            @include lg {
                padding: 0;
                flex-direction: column-reverse;
                min-height: 685px;
                height: auto;
            }
            .left {
                // @include lg {
                //     width: 50%;
                // }
                @include lg {
                    width: 100%;
                    // padding: 20px;
                }
                h1 {
                    font-family: $sharpGroteskSemiBoldFont;
                    display: flex !important;
                    flex-direction: column !important;
                    span {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 120%;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        opacity: 0.4;
                        margin-bottom: 20px;
                        @include xl {
                            font-size: 14px;
                        }
                    }
                    @include xl {
                        font-size: 45px;
                    }
                    // @include lg {
                    //     text-align: left;
                    // }
                    @include lg {
                        text-align: center;
                    }
                }
                p {
                    color: $white;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    @include xl {
                        font-size: 16px;
                    }
                    // @include lg {
                    //     text-align: left;
                    //     margin: 30px 0 50px;
                    // }
                    @include lg {
                        text-align: center;
                        margin: 30px auto;
                        max-width: 100%;
                    }
                }
                .links {
                    @include md {
                        margin-bottom: 80px;
                        margin-top: 10px;
                    }
                    button {
                        @include md {
                            width: auto;
                            margin-bottom: 20px;
                        }
                    }
                    @include lg {
                        justify-content: center;
                        // margin-bottom: 20px;
                    }
                }
            }
            .right {
                width: 100%;
                img {
                    width: 620px;
                }
            }
            
        }
    }
    .planet--section2 {
        @include lg {
            padding: 0 60px;
        }
        @include md {
            padding: 20px;
        }
        > img {
            @include lg {
                max-width: 70%;
                max-height: 70%;
            }
            @include sm {
                max-width: 100%;
                max-height: 100%;
                width: 100%;
                min-height: 220px;
                top: 20px;
                object-fit: contain;
            }
        }
        .section--title {
            position: relative;
            z-index: 60;
            margin: 105px auto 60px;
            @include lg {
                margin: 100px auto 60px;
            }
            @include md {
                margin: 80px 0 60px;
            }
            h3 {
                @include md {
                    width: 100%;
                    font-size: 24px;
                }
            }
        }
        .cards--section {
            @include md {
                flex-direction: column;
                >div {
                    width: 100% !important;
                    margin-top: 20px !important;
                }
            }
        }
        .wrapper--center {
            @include lg {
                flex-wrap: nowrap;
                justify-content: space-between;
                > div {
                    width: 50%;
                    margin: 0;
                }
            }
            .section2--card--parent {
                @include lg {
                    width: 95%;
                    background-size: 100% 100%;
                }
                @include md {
                    width: 100%;
                }
                .image--block {
                    @include lg {
                        width: 100%;
                    }
                    
                }
                .buttons--group {
                    .mint--reprint--btn, .auction--btn {
                        @include lg {
                            width: 47%;
                            padding: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .planet--section3 {
        @include lg {
            width: 100%;
            padding: 0 60px;
        }
        @include md {
            padding: 20px;
        }
        .wrapper--center {
            @include md {
                >div {
                    width: 100%;
                }
            }
            .title--block {
                margin: 20px auto 80px;
                h3 {
                    @include md {
                        font-size: 26px;
                    }
                }
                p {
                    @include md {
                        font-size: 18px;
                    }
                }
            }
            .characters--parent--block {
                @include xl {
                    padding: 0 60px;
                }
                @include lg {
                    padding: 0;
                    width: 100%;
                    justify-content: space-between;
                }
                @include md {
                    flex-wrap: nowrap;
                    flex-direction: column;
                }
                .section2--card--parent {
                    @include xl {
                        width: 30%;
                    }
                    @include lg {
                        width: 48%;
                    }
                    @include md {
                        width: 100%;
                    }
                    .image--block {
                        @include xl {
                            width: 100%;
                        }
                        @include lg {
                            width: 100%;
                        }
                        
                    }
                    .buttons--group {
                        .mint--reprint--btn, .auction--btn {
                            @include xl {
                                width: 47%;
                                padding: 0;
                                font-size: 14px;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    .planet--section4 {
        @include md {
            padding-bottom: 0;
        }
        .wrapper--center {
            @include lg {
                width: 100%;
                padding: 60px;
            }
            @include md {
                padding: 20px 20px 100px;
                > div {
                    width: 100%;
                }
            }
            .title--block {
                h3 {
                    @include md {
                        font-size: 26px;
                    }
                }
                p {
                    @include md {
                        font-size: 18px;
                    }
                }
            }
            .characters--parent--block {
                @include lg {
                    width: 100%;
                    justify-content: space-between;
                }
                @include md {
                    flex-wrap: nowrap;
                    flex-direction: column;
                }
                .section2--card--parent {
                    @include lg {
                        margin: 20px 0;
                        width: 48%;
                    }
                    @include md {
                        margin: 10px 0;
                        width: 100%;
                    }
                    .image--block {
                        @include lg {
                            width: 100%;
                        }
                    }
                    .buttons--group {
                        .mint--reprint--btn, .auction--btn {
                            @include xl {
                                width: 47%;
                                padding: 0;
                                font-size: 14px;
                            }
                            
                        }
                    }
                }
            }
        }
    }
}