@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.future-auctions,
.active-auctions,
.past-auctions {
  .auction {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 34px 30px;
    margin-bottom: 24px;
    cursor: default;

    @include sm {
      padding: 20px 16px;
    }
  }

  .auction-header {
    display: flex;
    justify-content: space-between;
    // height: 42px;
    // align-items: center;
    margin-bottom: 20px;

    h3 {
      font-family: $sharpGroteskMediumFont;
      font-weight: 600;
      font-size: 16px;
      font-style: normal;
      line-height: 130%;
      letter-spacing: 0.2px;
      color: $black;
    }

    .auction-header-button {
      display: flex;
      justify-content: space-between;
      width: 100%;

      button {
        white-space: nowrap;
        @include md {
          margin-top: 20px;
        }
        @include sm {
          width: 100%;
        }
      }

      @include md {
        display: block;
        justify-content: start;
        width: fit-content;
      }
    }

    .launch-auction {
      display: flex;
      align-items: center;

      .line {
        width: 0;
        height: 42px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-left: 20px;
        margin-right: 12px;

        @include md {
          display: none;
        }
      }
      img {
        height: 20px;
      }

      @include md {
        display: block;
      }
    }
  }

  .auctions-launch-dates {
    display: flex;

    .total-dates {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      padding: 6px 16px;
      margin-right: 12px;

      p {
        display: flex;
        position: relative;
        font-family: $spaceGroteskFont;
        font-size: 14px;
        line-height: 150%;
        color: $black;
        white-space: break-spaces;

        img {
          margin: 0px 0px 3px 6px;
        }

        .launch__date__info {
          .launch-info {
            position: absolute;
            z-index: 2;
            padding: 16px;
            width: 224px;
            // height: fit-content;
            background: $white;
            border-radius: 12px;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);

            p {
              font-family: $spaceGroteskFont;
              font-weight: 300;
              font-size: 12px;
              line-height: 150%;
              color: $black;
            }
          }
        }
      }

      .end__date__info {
        .end-info {
          position: absolute;
          z-index: 2;
          padding: 16px;
          width: 251px;
          background: $white;
          border-radius: 12px;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          bottom: 5px;
          left: 100%;
          transform: translateX(-50%);

          p {
            font-family: $spaceGroteskFont;
            font-weight: 300;
            font-size: 12px;
            line-height: 150%;
            color: $black;
          }
        }
      }
      @include lg {
        margin-bottom: 10px;
        width: fit-content;
      }
    }

    .launch-date-error {
      position: relative;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      box-sizing: border-box;
      padding: 6px 16px;
      margin-right: 12px;
      align-items: center;
      border: 1px solid #ff4949;

      p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        line-height: 150%;
        color: #ff4949;
      }

      img {
        margin-left: 13px;
        margin-top: -2px;
        width: 14px;
        height: 14px;
      }
    }

    .end-date-error {
      position: relative;
      background: rgba(0, 0, 0, 0.05);
      border-radius: 12px;
      box-sizing: border-box;
      padding: 6px 16px;
      margin-right: 12px;
      align-items: center;
      border: 1px solid #ff4949;

      p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        line-height: 150%;
        color: #ff4949;
      }
      img {
        margin-left: 13px;
        margin-top: -2px;
        width: 14px;
        height: 14px;
      }
    }
    @include lg {
      flex-wrap: wrap;
    }
    @include sm {
      display: block;
    }
  }

  .auctions-steps {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 30px 43px 64px 73px;

    h6 {
      font-family: $spaceGroteskFont;
      font-weight: 600;
      font-size: 10px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.4);
    }
    h4 {
      font-family: $spaceGroteskFont;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: $black;
      margin-bottom: 2px;
    }
    .circle {
      position: relative;
      margin: auto;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      margin-bottom: 7px;
      z-index: 10;

      // .hz-line{
      //     position: absolute;
      //     left: 20px;
      //     top: 10px;
      //     width: 340px;
      //     height: 0px;
      //     border: 1px solid red;
      // }

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
    .step-1 {
      .circle {
        .hz-line1 {
          position: absolute;
          left: 20px;
          top: 10px;
          height: 0px;
          z-index: 1;
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb01, #9ceb28) border-box;
          border: 1px solid transparent;
          width: 340px;

          @include xl {
            width: 270px;
          }

          @include lg {
            width: 180px;
          }
        }
      }
      button {
        &.light-border-button {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }
      }
    }

    .step-2 {
      .circle {
        .hz-line2 {
          position: absolute;
          left: 20px;
          top: 10px;
          height: 0px;
          z-index: 5;
          border: 1px solid rgba(0, 0, 0, 0.1);
          width: 360px;

          @include xl {
            width: 300px;
          }

          @include lg {
            width: 220px;
          }
        }
      }
    }
    @include lg {
      margin: 30px 18px 60px 33px;
    }
    @include md {
      display: none;
    }
  }

  .auction-steps-mobile {
    display: none;
    margin-top: 30px;

    .auction-steps-moves {
      margin-right: 50px;
      margin-top: 8px;

      .circle {
        height: 20px;
        width: 20px;
        border-radius: 50px;
      }
      .hz-line1 {
        width: 0px;
        height: 123px;
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb01, #9ceb28) border-box;
        border: 1px solid transparent;
        margin-left: 9px;
      }
      .hz-line2 {
        width: 0px;
        height: 123px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-left: 9px;
      }
    }

    .steps {
      h6 {
        font-family: $spaceGroteskFont;
        font-weight: 600;
        font-size: 10px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.4);
      }
      h4 {
        font-family: $spaceGroteskFont;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        color: $black;
        margin-bottom: 10px;
      }
      button {
        @include md {
          width: 255px;
        }
        @include sm {
          width: 100%;
        }
      }

      .step-1,
      .step-2 {
        button {
          margin-bottom: 40px;
        }
      }
      .step-3 {
        button {
          margin-bottom: 20px;
        }
      }

      @include sm {
        width: 100%;
      }
    }
    @include md {
      display: flex;
    }
  }

  .auctions-tier {
    width: 100%;

    .tier {
      margin-bottom: 12px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 24px 30px;
      background: $white;
      box-sizing: border-box;
      border-radius: 10px;

      .tier-header {
        display: flex;
        margin-bottom: 15px;

        h3 {
          font-family: $sharpGroteskMediumFont;
          font-weight: 600;
          font-size: 14px;
          line-height: 150%;
          color: $black;
          margin-right: 22px;

          @include md {
            margin-bottom: 10px;
          }
        }
        .tier-header-description {
          display: flex;

          @include md {
            flex-wrap: wrap;
          }
        }

        p {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          line-height: 150%;
          color: $black;
          margin-right: 22px;
        }

        @include md {
          display: block;
        }
      }
      .tier-body {
        display: flex;
        background: $white;

        .tier-image {
          position: relative;
          height: 95px;
          width: 87px;
          margin-right: 13px;

          .tier-image-main {
            position: absolute;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            z-index: 1;
            box-sizing: border-box;
            border-radius: 10px;
            width: 87px;
            height: 87px;
            padding: 6px;

            img {
              z-index: 9999;
            }
          }
          .tier-image-first {
            position: absolute;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            width: 75px;
            height: 87px;
            top: 4px;
            left: 6px;
          }
          .tier-image-second {
            position: absolute;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            width: 63px;
            height: 77px;
            top: 18px;
            left: 12px;
          }
        }
      }
      @include sm {
        padding: 10px 10px 20px;
      }
    }
    button {
      margin-top: 20px;
      &.light-border-button {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
      }
      @include sm {
        width: 100%;
      }
    }
  }
  .end-info,
  .launch-info {
    position: absolute;
    background: #ffffff;
    color: #000000;
    box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    width: 251px;
    // height: fit-content;
    padding: 16px;
    font-size: 12px;
    font-family: $spaceGroteskFont;
    margin-top: -4%;
    margin-left: 2%;
  }

  .input-search {
    position: relative;
    float: right;
    margin-top: -85px;

    .intup-l {
      input {
        min-width: 350px;
        width: 100%;

        @include sm {
          min-width: 200px;
        }
      }
      ::placeholder {
        color: #cacaca;
      }

      @include lg {
        width: 100%;
      }
    }

    img {
      position: absolute;
      right: 21px;
      top: 17px;
      height: 20px;
    }
    @include lg {
      float: none;
      margin-top: 0%;
      margin-bottom: 30px;
    }
  }

  .searchInp {
    height: 50px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    box-sizing: border-box;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20px;
    font-family: $spaceGroteskFont;
    padding: 15px 16px;

    &:focus {
      background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
      border: 1px solid transparent;
    }
  }

  .clear-input {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: right;
    text-decoration-line: underline;
    color: #000000;
    background: #fff;
    margin-right: 16px;

    @include lg {
      display: none;
    }
  }
  .dateError {
    p {
      color: #ff4949 !important;
    }
    border: 1px solid #ff4949;
  }
}

.active-auctions,
.past-auctions {
  .active-auction {
    border: 2px solid;
    border-image-source: linear-gradient(135deg, rgba(188, 235, 0, 0.4) 15.57%, rgba(0, 234, 234, 0.4) 84.88%);
    background: linear-gradient($white, $white) padding-box,
      linear-gradient(to right, #2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6) border-box;
    padding-bottom: 0;
  }
  .past-auction {
    padding-bottom: 0;
  }
  .auction-header {
    .auctionIcon {
      margin-right: 20px;
      cursor: grab;
    }

    .img_head {
      display: flex;
      align-items: center;

      .img_head_title {
        display: flex;

        @include md {
          margin-bottom: 6px;
        }
      }

      @include md {
        display: block;
      }
    }

    .copy-div {
      position: relative;
      padding: 7px 8px 7px 11px;
      width: fit-content;

      .copy > span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
        opacity: 0.4;
      }
      .copyImg {
        margin-right: 5px;
        // margin-left: 11px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 12px;
        .copy > span {
          opacity: 0.6;
        }
      }
      &:active {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 12px;
      }
      .copy > span {
        opacity: 0.6;
      }
      .copied-div {
        position: absolute;
        // width: 94px;
        height: 27px;
        background: #000;
        border-radius: 100px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: #ffffff;
        left: 0px;
        top: -32px;
        padding: 4px 13px;

        span {
          position: absolute;
          width: 7.6px;
          height: 7.6px;
          left: 45px;
          top: 23px;
          background: #000;
          transform: matrix(0.71, 0.7, -0.71, 0.71, 0, 0);
        }
      }
      @include md {
        margin-left: -11px;
      }
    }
  }
  .bid_info {
    display: flex;
    text-align: center;
    margin: 30px 0 34px 0px;

    .bids.first {
      margin-right: 2%;

      @include sm {
        margin-right: 20px;
      }
    }
    .bids {
      width: 50%;

      div {
        padding: 15px 0 19px 0;
        display: flex;
        flex-direction: column;
        text-align: justify;
      }
      .head {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        align-items: center;
      }
      .value {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .dollar-val {
          padding-left: 5px;
          opacity: 0.4;
          color: #000;
        }
      }
      img {
        margin-right: 5px;
      }
      .boredred-div {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @include sm {
          height: 120px;
        }
      }
    }
  }
}
