@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.auction-settings {
  .setting-form {
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    padding: 50px 65px;

    @include lg {
      padding: 40px;
    }
    @include sm {
      padding: 20px;
    }
  }
  .up-side {
    // position: relative;
    // padding-bottom: 40px;
    // width: fit-content;
    .infoDiv {
      display: flex;
      width: 100%;
      margin-bottom: 40px;
      // padding: 50px 45px 0 45px;
      #name,
      #startingBid,
      #startDate,
      #endDate {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #1a1a1a;
      }
      .starting-bid {
        position: relative;
        width: 100%;
      }

      .date__input {
        // position: relative;
        width: 100%;

        .callendar__image {
          position: absolute;
          right: 1px;
          top: 24px;
          height: 49px;
        }
      }
      .intup-l {
        // position: relative;
        width: 100%;
        input {
          width: 100%;
        }
        .inp-label,
        p {
          margin-bottom: 1px;
          line-height: 22px;
        }
      }

      .auction-ext {
        // margin-left: 30px;
        margin-top: 9px;
        display: flex;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.6);
        img {
          padding-left: 4px;
        }
      }
      .info-text {
        position: absolute;
        background: #ffffff;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 230px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        bottom: 25px;
        left: 68%;
        transform: translateX(-50%);
        font-weight: normal;
      }
      .drop-down {
        position: absolute;
        width: 100px;
        height: 34px;
        right: 8px;
        top: 32px;
        border-radius: 6px;
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.02);
          border-radius: 6px;
          border: 1px solid #d4d4d4;
        }
        .active {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }
      }
      @include sm {
        display: block;
      }
    }
    .infoDiv > :first-child {
      margin-right: 30px;
      @include lg {
        margin-right: 25px;
      }
      @include sm {
        margin-right: 0%;
        margin-bottom: 20px;
      }
    }
  }

  .down-side {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    .bid-part {
      width: 48%;
      .bid-info {
        position: relative;
        display: flex;
        margin-bottom: 16px;
        align-items: center;

        h1 {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 21px;
          align-items: center;
          letter-spacing: 0.2px;
          color: #000000;
          padding-top: 2px;
        }
        img {
          padding: 0 6px;
        }
      }
      .bid-text {
        // width: 363px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 20px;
        ul {
          list-style-position: outside;
          list-style: inherit;
          .min-li {
            padding-right: 12%;
          }
        }
      }
      .info-text {
        position: absolute;
        background: #ffffff;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 250px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        bottom: 20px;
        left: 60%;
        transform: translateX(-50%);
        font-weight: normal;
      }
      @include md {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .tiers-inp {
      width: 48%;
      @include md {
        width: 100%;
      }
    }

    .tiers-part {
      // position: relative;
      // padding-left: 45px;
      width: 100%;
      .intup-l {
        // margin-bottom: 20px;
        width: 100%;
        input {
          width: 100%;
        }
      }
      .bid-type {
        position: absolute;
        bottom: 13px;
        right: 15px;
        display: flex;
        align-items: center;
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      min-width: 40px;
      height: 24px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
        linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 50px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    @include md {
      display: block;
    }
  }
  // .drop-down {
  //   position: absolute;
  //   width: 100px;
  //   height: 34px;
  //   right: 8px;
  //   top: 28px;
  //   border-radius: 6px;
  //   button {
  //     width: 100%;
  //     height: 100%;
  //     background: rgba(0, 0, 0, 0.02);
  //     border-radius: 6px;
  //     background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
  //     border: 1px solid transparent;
  //   }

  //   @include sm {
  //     top: 119px;
  //   }
  // }

  .option-list {
    z-index: 100;
    overflow-x: auto;
    position: absolute;
    width: 445px;
    height: 280px;
    right: -14px;
    top: 40px;
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    h1 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      color: #000000;
    }
    .searchInp {
      height: 50px;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 12px;
      font-size: 16px;
      line-height: 20px;
      font-family: $spaceGroteskFont;
      padding: 15px 16px;
      color: #cacaca;
      margin-left: unset !important;
      margin-top: 8px;
      width: 400px;

      &:focus {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
        border: 1px solid transparent;
        color: #000;
      }
    }
    .searchDiv {
      padding: 20px;
      height: 112px;
      &:hover {
        background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
      }
    }
    li {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: 20px;
      height: 50px;
      &:hover {
        background: #f6faf3;
      }
      .img-name {
        width: 100%;
        height: 100%;
      }
      img {
        padding: 17px 12px 0 0;
        margin: 0;
      }
      .imgDefSpan {
        padding-right: 33px;
      }
      .dai-name {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        // display: flex;
        align-items: center;
        color: #000000;
      }
      .subtitle {
        position: absolute;
        left: 12%;
        margin-top: -15px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 0;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.4);
      }
    }
  }
  .button-name {
    padding: 0 10px;
    font-family: $spaceGroteskFont;
    font-size: 16px;
    line-height: 20px;
  }
  .last-error {
    padding-top: 40px;
    margin-bottom: -20px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ff4949;
  }

  .light-button {
    margin-top: 51px;
  }
  .btn-div{
    float: right;
    margin-bottom: 7%;
    .light-border-button{
      margin-right: 15px;
    }
  }
}
