@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";

.auction-reward {
  .head-part {
    .tier-title {
      font-size: 20px;
      @include sm {
        font-size: 16px !important;
      }
    }
    p {
      margin-top: 16px;
    }
    button {
      @include sm {
        display: none;
      }
    }
  }
  .view-tier {
    margin-bottom: 12px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 26px 30px;
    .auction-header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .auctions-tier {
      margin-top: 20px;

      @include lg {
        margin-top: 24px;
      }
      @include md {
        margin-top: 12px;
      }
      @include sm {
        margin-top: 20px;
      }
    }

    .img_head {
      display: flex;
      align-items: center;
      width: 82%;

      .img_head_title {
        display: flex;
        h3 {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 21px;
          display: flex;
          align-items: center;
          letter-spacing: 0.2px;
          color: #000000;
          flex: none;
          order: 0;
          flex-grow: 0;
          margin-right: 12px;
        }
      }
      .winners__edit__btn {
        .winners {
          display: flex;
          .tier-winners,
          .tier-perwinners,
          .tier-minbid {
            border-radius: 12px;
            margin-right: 11px;
            white-space: nowrap;
            h4 {
              position: static;
              height: 21px;
              left: 15.69%;
              right: 15.69%;
              top: 6px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 21px;
              display: flex;
              align-items: center;
              color: #000000;
              flex: none;
              order: 0;
              flex-grow: 0;
              margin: 6px 16px;
              @include lg {
                margin: 6px 16px 6px 0;
              }
              @include sm {
                margin: 0px 16px 3px 0;
              }
            }
            @include md {
              margin-bottom: 12px;
            }
            @include sm {
              margin-bottom: 3px;
              width: fit-content;
              margin-right: 15px;
            }
          }
          @include lg {
            margin-top: 18px;
          }
          @include md {
            flex-wrap: wrap;
          }
        }
        button {
          display: none;
          img {
            padding-left: 12px;
            padding-right: 5px;
          }

          @include sm {
            display: flex;
            width: 100%;
            margin-top: 10px;
          }
        }
        @include sm {
          width: 100%;
        }
      }
      @include lg {
        display: grid;
      }
      @include sm {
        width: 100%;
      }
    }
    .launch-auction {
      height: 42px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      margin-right: 12px;
      min-width: fit-content;
      img {
        margin-top: 10px;
        margin-left: 10px;
        height: 20px;

        @include sm {
          margin-top: 0;
          margin-left: 0;
        }
      }

      @include sm {
        margin-left: 0;
        margin-right: 0;
        border-left: none;
      }
    }
    .edit-show {
      display: flex;
      button {
        display: flex;
        img {
          padding-left: 12px;
          padding-right: 5px;
        }
        @include sm {
          display: none;
        }
      }
    }
    @include sm {
      margin-top: 30px;
    }
  }
  .auction-reward {
    display: flex;
    flex-wrap: wrap;

    .auction-reward__box {
      background: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 6px;
      position: relative;
      margin-right: 20px;
      margin-bottom: 16px;

      &__image {
        position: relative;
        height: 75px;
        width: 75px;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        img.preview-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        .video__icon {
          position: absolute;
          top: 9px;
          right: 7px;
        }
      }
      &__highlight__one {
        position: absolute;
        bottom: -5px;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        width: 75px;
        height: 4px;
        left: 6px;
      }
      &__highlight__two {
        position: absolute;
        bottom: -9px;
        background-color: #ffffff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom-left-radius: 150px;
        border-bottom-right-radius: 150px;
        width: 63px;
        height: 4px;
        left: 12px;
      }
    }
  }
  .auction-settings-head {
    display: flex;
    justify-content: space-between;
    .auction-settings-title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: $black;
    }
    button.edit-auction-settings {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: $black;
      background: none;
      img {
        margin-left: 12px;
      }
    }
  }
  .royalty-settings-head {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .royalty-settings-title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: $black;
    }
  }
  .royalty-inf {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-wrap: wrap;
    @include sm {
      display: grid;
    }
    .royalty:nth-child(odd) {
      margin-right: 2%;
    }
    .royalty {
      width: 48.5%;
      padding-top: 14px;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      @include sm {
        width: 100%;
      }
      p {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: $black;
        &.show--on--desktop {
          @include lg {
            display: none;
          }
        }
        &.hide--on--desktop {
          display: none;
          @include lg {
            display: flex;
          }
        }
      }
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
  .reward-tiers-head {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
    .reward-tiers-title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: $black;
    }
    button.edit-reward-tiers {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      color: $black;
      background: none;
      img {
        margin-left: 12px;
      }
    }
  }
  .auction-inf {
    display: flex;
    margin-top: 20px;

    .name-bid {
      margin-right: 30px;

      .tName {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 14px 0;
      }
      @include lg {
        margin-right: 25px;
      }
    }
    .name-bid,
    .date-part {
      //   display: flex;
      width: 100%;
      .bid-part {
        display: flex;
        .bidToken {
          margin-right: 30px;

          @include lg {
            margin-right: 25px;
          }
        }

        .startingBid,
        .bidToken {
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          padding: 14px 0;

          @include md {
            border-top: none;
          }
        }
        @include md {
          display: grid;
        }
      }

      .endDate,
      .startDate {
        height: 100px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 14px 0;

        @include md {
          height: fit-content;
        }
      }

      p {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #000000;
      }
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #1a1a1a;
      }
    }
    @include md {
      display: grid;
    }
  }
  .auction-ext {
    position: relative;
    margin-top: 3px;
    display: flex;
    font-size: 12px !important;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6) !important;
    img {
      padding-left: 4px;
    }
  }
  .info-text {
    position: absolute;
    right: 168px;
    top: -129px;
    background: $white;
    color: $black;
    box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    width: 230px;
    min-height: 70px;
    padding: 16px;
    font-size: 12px;
    font-family: $spaceGroteskFont;
    p {
      font-weight: normal !important;
    }
  }
  .bidtype {
    text-transform: uppercase;
    img {
      padding-right: 5px;
    }
  }
  .message {
    display: flex;
    background: #fdfcf9;
    border: 1px solid #e4b613;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 24px 20px 20px;
    span {
      margin-right: 13px;

      img {
        min-height: 18px;
        min-width: 18px;
      }
    }
    h1 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 26px;
      color: #e4b613;
    }
    @include sm {
      display: block;
      text-align: center;
      padding: 18px 20px;
    }
  }
  .btn-div {
    margin-top: 60px;
    .light-border-button {
      @include sm {
        margin-top: 14px;
        margin-right: 0px;
      }
    }
    button {
      @include sm {
        width: 100%;
      }
    }
    @include sm {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      float: none;
    }
  }
}
