@import '../../assets/scss/variables';

.future-auctions , .active-auctions, .past-auctions {
    .auction{
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: rgba(0, 0, 0, 0.02);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 34px 30px;
        margin-bottom: 24px;
    }

    .auction-header{
        display: flex;
        justify-content: space-between;
        height: 42px;
        align-items: center;
        margin-bottom: 6px;

        h3{
            font-family: $sharpGroteskMediumFont;
            font-weight: 600;
            font-size: 16px;
            font-style: normal;
            line-height: 130%;
            letter-spacing: 0.2px;
            color: $black;
        }

        .launch-auction{
            display: flex;

            .line{
                width: 0;
                height: 42px;
                border: 1px solid rgba(0, 0, 0, 0.1);
                margin-left: 20px;
                margin-right: 12px;
            }
        }

    }
    
    .auctions-launch-dates{
        display: flex;

        .total-dates{
            background: rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            padding: 6px 16px;
            margin-right: 12px;

            p{
                font-family: $spaceGroteskFont;
                font-size: 14px;
                line-height: 150%;
                color: $black;
            }
            img{
                margin: 0px 0px 3px 6px;
            }
        }
        

        .launch-date-error{
            position: relative;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            box-sizing: border-box;
            padding: 6px 16px;
            margin-right: 12px;
            align-items: center;
            border: 1px solid #FF4949;

            p{
                font-family: $spaceGroteskFont;
                font-size: 14px;
                line-height: 150%;  
                color: #FF4949;
            }

            img{
                margin-left: 13px;
                margin-top: -2px;
                width: 14px;
                height: 14px;
            }

            .launch-info{
                position: absolute;
                z-index: 2;
                padding: 16px;
                width: 224px;
                background: $white;
                border-radius: 12px;
                box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
                top: -100px;
                left: 136px;

                p{
                    font-family: $spaceGroteskFont;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 150%;
                    color: $black;
                }
            }
        }

        .end-date-error{
            position: relative;
            background: rgba(0, 0, 0, 0.05);
            border-radius: 12px;
            box-sizing: border-box;
            padding: 6px 16px;
            margin-right: 12px;
            align-items: center;
            border: 1px solid #FF4949;

            p{
                font-family: $spaceGroteskFont;
                font-size: 14px;
                line-height: 150%; 
                color: #FF4949;
            }
            img{
                margin-left: 13px;
                margin-top: -2px;
                width: 14px;
                height: 14px;
            }
            .end-info{
                position: absolute;
                z-index: 2;
                padding: 16px;
                width: 251px;
                background: $white;
                border-radius: 12px;
                box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
                top: -100px;
                left: 99px;

                p{
                    font-family: $spaceGroteskFont;
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 150%;
                    color: $black;
                }
            }
        }
    }
    .auctions-steps{
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin: 30px 34px 64px 64px; 

        h6{
            font-family: $spaceGroteskFont;
            font-weight: 600;
            font-size: 10px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
        }
        h4{
            font-family: $spaceGroteskFont;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: $black;
            margin-bottom: 2px;
        }
        .circle{
            position: relative;
            margin: auto;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-bottom: 7px;

            .hz-line{
                position: absolute;
                left: 20px;
                top: 10px;
                width: 340px;
                height: 0px;
                border: 1px solid red;
            }

            img{
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }
        .step-1{
            .circle{
                .hz-line{
                    // z-index: 1;
                    background: 
                    linear-gradient($white, $white) padding-box,
                    linear-gradient(to right, #bceb01, #9ceb28) border-box;
                    border: 1px solid transparent;
                    width: 340px;
                }
            }
            button{
                &.light-border-button {
                    background: 
                    linear-gradient($white, $white) padding-box,
                    linear-gradient(to right, #BCEB00, #00EAEA) border-box;
                    border: 1px solid transparent;
                }
            }
        }

        .step-2{
            .circle{
                
                .hz-line{
                    z-index: 2;
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    width: 365px;
                }
            }
        }
    }

    .auctions-tier{
        width: 100%;
        

        .tier{
            margin-bottom: 12px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 24px 30px;
            background: $white;
            box-sizing: border-box;
            border-radius: 10px;

            .tier-header{
                display: flex;
                margin-bottom: 15px;

                h3{
                    font-family: $sharpGroteskMediumFont;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 150%;
                    color: $black;
                    margin-right: 22px;
                }
                p{
                    font-family: $spaceGroteskFont;
                    font-size: 14px;
                    line-height: 150%;
                    color: $black;
                    margin-right: 22px;
                }
            }
            .tier-body{
                display: flex;
                background: $white;

                .tier-image{
                    position: relative;
                    height: 95px;
                    width: 87px;
                    margin-right: 13px;
                    
                    .tier-image-main{
                        position: absolute;
                        background: $white;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        z-index: 1;
                        box-sizing: border-box;
                        border-radius: 10px;
                        width: 87px;
                        height: 87px;
                        padding: 6px;

                        img{
                            z-index: 9999;
                        }
                    }
                    .tier-image-first{
                        position: absolute;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        border-radius: 12px;
                        width: 75px;
                        height: 87px;
                        top: 4px;
                        left: 6px;
                    }
                    .tier-image-second{
                        position: absolute;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        border-radius: 12px;
                        width: 63px;
                        height: 77px;
                        top: 18px;
                        left: 12px;
                    }
                }
            }
        }
        button{
            margin-top: 20px;
            &.light-border-button {
                background: 
                linear-gradient($white, $white) padding-box,
                linear-gradient(to right, #BCEB00, #00EAEA) border-box;
                border: 1px solid transparent;
            }
        }    
    }
    .end-info, .launch-info{
        position: absolute;
        background: #ffffff;
        color: #000000;
        box-shadow: 0px 10px 20px   
              rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 251px;
        height: 87px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        margin-top: -4%;
        margin-left: 2%;
       } 
       .input-search{
        position: relative;
        float: right;
        margin-top: -85px;
        img{
        position: absolute;
        right: 4%;
        top: 28%;
        height: 20px;
        }
    }   
    .searchInp{
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 12px;
        font-size: 16px;
        line-height: 20px;
        font-family: $spaceGroteskFont;
        padding: 15px 16px;

        &:focus {
            background: 
                linear-gradient($white, $white) padding-box,
                linear-gradient(to right, #BCEB00, #00EAEA) border-box;
            border: 1px solid transparent;
        }
       }  
       .clear-input{
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 150%;
        text-align: right;
        text-decoration-line: underline;
        color: #000000;
        background: #fff;
        margin-right: 16px;
       }
    .dateError{
        p{
            color: #FF4949!important; 
        }
        border: 1px solid #FF4949;
      }   
    }

.active-auctions, .past-auctions{
    .active-auction{
        border: 2px solid;
        border-image-source: linear-gradient(135deg, rgba(188, 235, 0, 0.4) 15.57%, rgba(0, 234, 234, 0.4) 84.88%);
        background: linear-gradient($white, $white) padding-box,
        linear-gradient(to right, #2AD0CA, #E1F664, #FEB0FE, #ABB3FC, #5DF7A4, #58C4F6) border-box;
        padding-bottom: 0;
    }
    .past-auction{
        padding-bottom: 0;
    }
    .auction-header{
        .auctionIcon{
            margin-right: 20px;
        }
        .img_head{
            display: flex;
        }
        .copy>span{
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
            opacity: 0.4;
        }
        .copyImg{
            margin-right: 5px; 
            margin-left: 14px; 
        }
    }
    .bid_info{
        display: flex;
        text-align: center;
        margin: 30px 0 64px 0px;
    
        .bids.first{
            margin-right: 2%;
        }
        .bids{

        width: 50%;
       
        div{
            padding: 15px 0 19px 0;
            display: flex;
            flex-direction: column;
            text-align: justify;
        }
        .head{
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 22px;
            align-items: center;
            }
        .value{
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            display: flex;
            align-items: center;
            
            .dollar-val{
            padding-left: 5px;
            opacity: 0.4;
            color: #000;
            }
        }
        img{
            margin-right: 5px;
        }
        .boredred-div{
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
        }
    }
}