@import '../../assets/scss/variables.scss'; 

.auction__page {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        h1.title {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: $black;
        }

        button.set_up {
            background: $primary-bg-color;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: $black;
            padding: 15px 25px;
            margin-left: 12px;

            &:disabled {
                cursor: not-allowed;
                background: #E6E6E6;
                box-shadow: none;
            }
        }
    }

    .err-msg{
        display: flex;
        flex-direction: row;
        width: 693px;
        background: #FDFCF9;
        border: 1px solid #E4B613;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 12px;

        p{
            font-family: $spaceGroteskFont;
            font-size: 16px;
            line-height: 160%;
            color: #E4B613;
            flex: none;
            order: 1;
            flex-grow: 1;
            margin: 0px 10px;

            span{
                color: #000;
                font-weight: 500;
                font-size: 17px;
            }
        }
    }

    .empty__auction {
        margin-top: 11%;

        h1.title {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            text-align: center;
            color: $black;
            margin-bottom: 130px;
        }
        h3 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
            margin-bottom: 16px;
        }
        p.desc {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
            margin: 0 auto 40px;

            &:disabled{
            cursor: not-allowed;
            background: #E6E6E6;
            box-shadow: none;
            }
        }
        button.set_up {
            display: block;
            margin: 0 auto;
            background: $primary-bg-color;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: $black;
            padding: 15px 25px;
        }
    }

    
    &__body {
        ul.tabs {
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            li {
                margin-right: 40px;
                font-family: $sharpGroteskMediumFont;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                text-transform: uppercase;
                color: rgba(0, 0, 0, 0.4);
                padding-bottom: 9px;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    color: $black;
                    border-bottom: 1px solid $black;

                }
            }
        }

    }
}