@import '../../assets/scss/variables';


.back-rew>span{
    text-align: center;
    color: #000000;
    font-family: $sharpGroteskMediumFont;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    margin-left: 10px;
  }
  .back-rew{
    cursor: pointer;
  }

  .head-part{
    margin-top: 24px;
  .tier-title{
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.2px;      
        color: $black;
  }
  p{
    position: absolute;
    width: 32%;   
    margin-top: 10px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;    
    color: rgba(0, 0, 0, 0.6);
  }
  .create-p{
    width: 28%;
  }

    }

    .space-tier-div{
      margin-top: 8%;
      p{
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 20px;
      }
    }
    .create-rew-tier{
        border: 1px solid;
        border-image-source: linear-gradient(135deg, rgba(188, 235, 0, 0.4) 15.57%, rgba(0, 234, 234, 0.4) 84.88%);
        background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(to right, #2AD0CA, #E1F664, #FEB0FE, #ABB3FC, #5DF7A4, #58C4F6) border-box;
        border-radius: 12px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: 228px;
        min-height: 160px;
        padding: 20px;
        margin-top: 10%;
        margin-bottom: 30%;
    }
    .select-ntfs{
      height: 255px;
      width: 255px;
      margin-top: unset;
    }
    .plus-icon{
        text-align: center;
        align-items: center;
    }
    .create-rew-text{
        margin-top: 30px;
      }
    .create-rew-text>p{
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
      
  }
  .tier-info{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 10%;

    .intup-l{
      margin-top: 20px;
    }
  }
  .button-div{
    position: relative;
    display: flex;
    margin-top:4%;
      .light-border-button{
        margin-right: 2%;
      }  
      .total-num{
        position: absolute;
        right: 0;
        top: 35%;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.3px;
        color: #000000;

        img{
          padding-left: 5px;
        }
      }
    }
      .info-text {
        position: absolute;
        background: #ffffff;
        color: #000000;
        box-shadow: 0px 10px 20px 
          rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 230px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: "Space Grotesk", sans-serif;
        // bottom: 20px;
        left: 25px;
      }
      .info-text.t2{
        bottom: 75px;
        position: absolute;
      }
      .info-text.t1{
        bottom: 170px;
        position: absolute;
      }