@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.background-part {
  background-image: url("../../assets/images/tier-bg3.png");
  background-size: cover;
  @include lg {
    background-image: url("../../assets/images/tier-bg2.png");
    box-shadow: inset 0 -90px 90px -10px $white;
  }
  @include sm {
    background-image: url("../../assets/images/tier-bg1.png");
    box-shadow: unset;
  }
}

.back-rew > span {
  text-align: center;
  color: $black;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}
.back-rew {
  cursor: pointer;
}

.head-part {
  margin-top: 20px;
  .tier-title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 16px;
    color: transparent;
    background: black;
    -webkit-background-clip: text;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);

    @include sm {
      font-size: 26px;
    }
  }
  p {
    margin-bottom: 40px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);

    @include lg {
      width: 90%;
    }
    @include sm {
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      line-height: 160%;
    }
  }
  .create-p {
    margin-top: 18px;
    margin-bottom: 40px;
    line-height: 160%;

    @include lg {
      width: 80%;
    }

    @include sm {
      width: 100%;
    }
  }
}

.space-tier-div {
  margin-top: 80px;
  p {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: $black;
    margin-bottom: 20px;

    @include sm {
      font-size: 18px;
    }
  }
}
.create-rew-tier {
  background: linear-gradient(#f5f4f9, #f5f4f9) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 228px;
  min-height: 160px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 5%;

  @include sm {
    width: 100%;
    height: 335px;
  }
  &:hover {
    border: 2px solid;
    border-image-source: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
  }
}
.select-ntfs {
  height: 255px;
  width: 255px;
  margin-top: unset;

  @include sm {
    max-width: 335px;
    width: 100%;
    height: 335px;
  }
}
.plus-icon {
  text-align: center;
  align-items: center;
}
.create-rew-text {
  margin-top: 30px;
}
.create-rew-text > p {
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.tier--info {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 0px;
  .tier--name--and--number--of--winners {
    display: grid;
    grid-template-columns: 1fr 160px;
    grid-gap: 30px;
    margin-bottom: 30px;
    .tier--name {
      position: relative;
      input {
        width: 100%;
      }
      .input-max-chars {
        position: absolute;
        top: 5px;
        right: 0;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 13px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .number--of--winners {
      .inp-label {
        display: block;
        margin-bottom: 6px;
        > span {
          display: flex;
          align-items: center;
          svg {
            margin-left: 7px;
          }
        }
        .info-text {
          position: absolute;
          background: $white;
          color: $black;
          box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
          border-radius: 12px;
          width: 235px;
          height: fit-content;
          padding: 16px;
          font-size: 12px;
          line-height: 150%;
          font-family: $spaceGroteskFont;
          bottom: 25px;
          left: 65%;
          transform: translateX(-50%);
          font-weight: normal;
          z-index: 10;
          @include xl {
            left: 30%;
          }
          @media (max-width: 350px) {
            left: 50%;
          }
        }
      }
      .counter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 10px;
        button {
          width: 30px;
          height: 30px;
          padding: 0;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        span {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: $black;
        }
      }
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
  .intup-l {
    width: 100%;

    input {
      @include lg {
        width: 100%;
      }
    }

    @include lg {
      width: 100%;
    }
  }
  .include--reserve--price {
    position: relative;
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    width: 100%;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 130%;
      display: flex;
      align-items: center;
      color: $black;
      font-family: $sharpGroteskSemiBoldFont;
    }
    svg {
      margin: 0 6px;
    }
    .info-text {
      position: absolute;
      background: $white;
      color: $black;
      box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
      border-radius: 12px;
      width: 268px;
      min-height: 70px;
      padding: 16px;
      font-size: 12px;
      font-family: $spaceGroteskFont;
      bottom: 37px;
      left: 175px;
      transform: translateX(-50%);
      font-weight: normal;
      z-index: 11;
    }
    label {
      &.switch {
        position: relative;
        display: inline-block;
        width: 40px;
        min-width: 40px;
        height: 24px;
        top: 10px;
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
        input:checked + .slider {
          background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        }
        input:checked + .slider:before {
          -webkit-transform: translateX(16px);
          -ms-transform: translateX(16px);
          transform: translateX(16px);
        }
        .slider.round {
          border-radius: 50px;
        }
        .slider.round:before {
          border-radius: 50%;
        }
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
        .slider:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }
    }
  }
}

.btn-div {
  float: right;
  margin-bottom: 80px;
  margin-top: 40px;
  .light-border-button {
    box-shadow: 2px 1000px 1px #f4f8fa inset;
    margin-right: 15px;
    @include sm {
      margin-right: 0%;
      margin-bottom: 20px;
    }
  }
  @include sm {
    display: grid;
    width: 100%;
  }
}
.withtier {
  @include sm {
    display: flex;
    flex-direction: column-reverse;
    .light-border-button {
      margin-top: 20px;
    }
  }
}
.hr-line {
  border-bottom: 1px solid $black;
  opacity: 0.1;
  width: 1110px;
  margin: 0 auto;
  @media (max-width: 1229px) {
    width: 935px;
  }
  @include lg {
    width: 715px;
  }
  @include md {
    width: 93%;
  }
  @include sm {
    width: 90%;
  }
}
.selectNftPart {
  h1 {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    color: $black;
    margin-bottom: 20px;
  }
  p {
    font-family: $spaceGroteskFont;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    a {
      color: $black;
      font-weight: bold;
    }
    .second-line {
      margin-bottom: 40px;
    }
  }
  .react-select-wrapper {
    p {
      font-size: 12px;
      color: $black;
      margin-top: 2px;
    }
  }
}
