@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.background-part {
  background-image: url('../../assets/images/tier-bg.svg');
  background-size: cover;
  @include sm {
    background-image: url('../../assets/images/tier-bg1.svg');
  }
  @include lg {
    background-image: url('../../assets/images/tier-bg2.svg');
  }
}

.back-rew > span {
  text-align: center;
  color: #000000;
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-left: 10px;
}
.back-rew {
  cursor: pointer;
}

.head-part {
  margin-top: 20px;
  .tier-title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    color: $black;
    margin-bottom: 16px;

    @include sm {
      font-size: 16px;
    }
  }
  p {
    // margin-top: 5px;
    margin-bottom: 40px;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);

    @include lg {
      width: 90%;
    }
    @include sm {
      margin-top: 20px;
      width: 100%;
      font-size: 16px;
      line-height: 160%;
    }
  }
  .create-p {
    margin-top: 18px;
    margin-bottom: 40px;
    line-height: 160%;

    @include lg {
      width: 80%;
    }

    @include sm {
      width: 100%;
    }
  }
}

.space-tier-div {
  margin-top: 80px;
  p {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 20px;

    @include sm {
      font-size: 18px;
    }
  }
}
.create-rew-tier {
  background: linear-gradient($white, $white) padding-box, linear-gradient(to right, #bceb00, #00eaea) border-box;
  border: 1px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 228px;
  min-height: 160px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 5%;

  @include sm {
    width: 100%;
    height: 335px;
  }
}
.select-ntfs {
  height: 255px;
  width: 255px;
  margin-top: unset;

  @include sm {
    max-width: 335px;
    width: 100%;
    height: 335px;
  }
}
.plus-icon {
  text-align: center;
  align-items: center;
}
.create-rew-text {
  margin-top: 30px;
}
.create-rew-text > p {
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.tier-info {
  display: flex;
  position: relative;
  flex-direction: column;
  .tier-setting {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 10px;
  }
  .tiersInp {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include md {
      display: grid;
    }
  }
  .intup-l {
    margin-bottom: 20px;
    width: 100%;

    input {
      @include lg {
        // width: 475px;
        width: 100%;
      }
    }

    @include lg {
      width: 100%;
    }
  }
  .inps {
    width: 45%;
    input {
      width: 100%;
    }
    @include md {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .minBidPart {
    background: #ffffff;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    border-radius: 10px;
    padding: 40px 40px 20px;
    width: 50%;

    .bid-part {
      .bid-info {
        position: relative;
        display: flex;
        margin-bottom: 16px;
        align-items: center;
        width: 100%;  

        h1 {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 130%;
          display: flex;
          align-items: center;
          color: #000000;
          font-family: $sharpGroteskSemiBoldFont;
        }
        img {
          padding: 0 6px;
        }
      }
      .bid-text {
        width: 100%;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin-left: 20px;
        ul {
          list-style-position: outside;
          list-style: inherit;
          .min-li {
            padding-right: 20%;
          }
        }
      }
      .info-text {
        position: absolute;
        background: #ffffff;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 274px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        bottom: 37px;
        left: 200px;
        transform: translateX(-50%);
        font-weight: normal;
      }
      @include md {
        width: 100%;
      }
    }
    .tiers-part {
      width: 100%;
      .intup-l {
        margin-top: 20px;
        width: 100%;
        input {
          width: 100%;
          font-family: $spaceGroteskFont;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          line-height: 20px;

          &::placeholder {
            color: rgba(0, 0, 0, 0.2);
          }
        }
      }

      .bid-type {
        position: absolute;
        bottom: 35px;
        right: 15px;
        display: flex;
        align-items: center;
        .button-name {
          padding-left: 10px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
        }
      }
      .bid-type.disabled {
        opacity: 0.2;
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      min-width: 40px;
      height: 24px;
      top: 10px;
    }

    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: '';
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
        background:  linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 50px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
    @include md {
      display: block;
      width: 100%;
    }
  }

  .tier-info_icon {
    position: relative;
    display: flex;
    height: fit-content;

    .info-text {
      position: absolute;
      background: #ffffff;
      color: #000000;
      box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
      border-radius: 12px;
      width: 235px;
      height: fit-content;
      padding: 16px;
      font-size: 12px;
      line-height: 150%;
      font-family: $spaceGroteskFont;
      bottom: 25px;
      left: 100%;
      transform: translateX(-50%);
      font-weight: normal;
    }
  }
}

.button-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .light-border-button {
    margin-right: 7%;

    @include sm {
      margin-right: 0%;
      margin-bottom: 15px;
    }
  }

  .btns {
    display: flex;
    align-items: center;

    @include sm {
      display: grid;
      width: 100%;
    }
  }

  .total-num {
    position: relative;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #000000;

    .info-text {
      position: absolute;
      background: #ffffff;
      color: #000000;
      box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
      border-radius: 12px;
      width: 194px;
      min-height: 70px;
      padding: 16px;
      font-size: 12px;
      font-family: $spaceGroteskFont;
      bottom: 10px;
      right: 0;
      font-weight: normal;

      @include sm {
        top: 25px;
        width: 246px;
        bottom: unset;
      }
    }

    img {
      padding-left: 5px;
    }
    @include sm {
      margin-bottom: 15px;
    }
  }

  @include sm {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
.btn-div {
  float: right;
  margin-bottom: 80px;
  margin-top: 40px;
  .light-border-button {
    margin-right: 15px;
    @include sm {
      margin-right: 0%;
      margin-bottom: 20px;
    }
  }
  @include sm {
    display: grid;
    width: 100%;
  }
}
.hr-line {
  border-bottom: 1px solid #000000;
  opacity: 0.1;
  width: 100%;
}
.selectNftPart {
  h1 {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    color: #000000;
  }
  p {
    font-family: $spaceGroteskFont;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.6);
    a {
      color: #000000;
      text-decoration: underline;
    }
    .second-line {
      margin-bottom: 40px;
    }
  }
}
