@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.nfts__lists {
  display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  grid-gap: 30px;
  margin-bottom: 30px;
  .nft--card {
    background: $white;
    box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
    border-radius: 12px;
    padding: 12px;
    transition: 0.3s ease-in-out;
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 26px;
      &--right {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 14px;
        &--dropdown {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 32px;
          width: 32px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          box-sizing: border-box;
          border-radius: 8px;
          cursor: pointer;
          span {
            width: 3px;
            height: 3px;
            background: $black;
            border-radius: 50%;
          }
          span:nth-child(1),
          span:nth-child(2) {
            margin-right: 3px;
          }
          ul {
            position: absolute;
            right: -3px;
            top: 31px;
            z-index: 100;
            width: 164px;
            background: $white;
            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
            border-radius: 12px;
            padding: 8px;
            li {
              display: flex;
              align-items: center;
              padding: 15px;
              border-radius: 6px;
              &:hover {
                background: rgba(0, 0, 0, 0.05);
              }
              &.burn {
                p {
                  color: #FF4949;
                }
                &:hover {
                  background: rgba(255, 73, 73, 0.05);
                }
              }
              img {
                margin-right: 10px;
              }
              p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                color: $black;
              }
            }
          }
        }
      }
      .three--images {
        display: flex;
        align-items: center;
        .creator--details,
        .collection--details,
        .owner--details {
          position: relative;
          cursor: pointer;
          .random--bg--color {
            height: 22px;
            width: 22px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-transform: uppercase;
            color: $black;
          }
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 160px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 100px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: -32px;
            right: -66px;
            &::after {
              content: '';
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
        }
        .collection--details,
        .owner--details {
          margin-left: -7px;
        }
        img {
          pointer-events: none;
          width: 26px;
          height: 26px;
          object-fit: cover;
          border: 1px solid $white;
          border-radius: 50%;
        }
      }
      .likes--count {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          path {
            stroke: #ff4949;
          }
          .like-count {
            color: #ff4949;
          }
        }
        > div {
          position: relative;
          display: flex;
          align-items: center;
          svg {
            cursor: pointer;
            &.fill {
              path {
                fill: #ff4949;
                stroke: none;
              }
            }
          }
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 160px;
            background-color: $black;
            color: $white;
            text-align: left;
            border-radius: 12px;
            padding: 9px 12px;
            position: absolute;
            top: -73px;
            z-index: 111;
            right: -72px;
            .likers--text {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 150%;
              color: $white;
              margin-bottom: 7px;
            }
            .likers--avatars {
              display: flex;
              align-items: center;
              img {
                border: 1px solid $black;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                &:not(:first-child) {
                  margin-left: -7px;
                }
              }
            }
            &::after {
              content: '';
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
              @include sm {
                left: unset;
                right: 35px;
              }
            }
            @include sm {
              right: -32px;
            }
          }
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
        }
        span:not(.tooltiptext) {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.4);
          margin-left: 6px;
        }
        .redlike{
          color: #ff4949!important;
        }
      }
      .bundles--count {
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.02);
        border: 0.5px solid rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        border-radius: 6px;
        padding: 4px 8px;
        > span {
          font-family: $spaceGroteskFont;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          color: #00000066;
          margin-left: 6px;
        }
      }
    }
    &--body {
      position: relative;
      margin: 16px 0;
      height: 231px;
      width: 231px;
      cursor: pointer;
      .slick-slider {
        .slider--box {
          position: relative;
          height: 231px;
          @include lg {
            height: 196px;
          }
          @include sm {
            height: 311px;
          }
          @media (max-width: 375px) {
            height: 256px;
          }
        }
        ul.slick-dots {
          bottom: 5px;
          li {
            margin: 0;
            &.slick-active {
              button::before {
                background: linear-gradient(135deg, #bceb00, #00eaea);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            button::before {
              font-size: 8px;
              color: $white;
            }
          }
        }
        button.slick-arrow {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: $white;
          &::before {
            display: none;
          }

          &.slick-prev {
            position: absolute;
            left: 10px;
            z-index: 11;
            opacity: 0.4;
          }
          &.slick-next {
            position: absolute;
            right: 10px;
            z-index: 11;
            opacity: 0.4;
          }

          &.slick-disabled {
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
      > div {
        width: 100%;
        height: 100%;
      }
      img.nft--image,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
      img.nft--image {
        pointer-events: none;
      }
      .video--icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        width: 20px;
        height: 20px;
      }
      .nft--time--left {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
        padding: 6px 16px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        border-radius: 12px;

        p {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 150%;
          background: -webkit-linear-gradient(#bceb00, #00eaea);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          img {
            margin-right: 6px;
          }
        }
      }
      // img {
      //   @include lg {
      //     position: absolute;
      //   }
      // }
      @include lg {
        width: 196px;
        height: 196px;
      }
      @include sm {
        width: 311px;
        height: 311px;
      }
      @media (max-width: 375px) {
        width: 256px;
        height: 256px;
      }
    }
    &--footer {
      .name--and--price {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 10px;
        h4 {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 120%;
          color: $black;
        }
        .price--div {
          display: flex;
          align-items: center;
          span {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 120%;
            color: $black;
            margin-left: 4px;
          }
          img {
            height: 15px;
          }
        }
      }
      .quantity--and--offer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.4);
        }
        .price--offer--div {
          label {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
          }
          span {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 150%;
            color: $black;
          }
          img {
            margin: 0 3px 0 6px;
            height: 10px;
          }
        }
      }
    }
  }
  @include lg {
    grid-template-columns: repeat(auto-fit, 220px);
    grid-gap: 20px;
  }
  @include sm {
    grid-template-columns: repeat(auto-fit, 335px);
    justify-content: center;
  }
  @media (max-width: 375px) {
    grid-template-columns: repeat(auto-fit, 280px);
  }
}