@import '../../assets/scss/variables';

.light-button {
   padding: 11px 26px;
   background: $primary-bg-color;
   box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
   border-radius: 12px;
   // display: flex;
   align-items: center;
   justify-content: center;
   font-family: $spaceGroteskFont;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: $black;
}
.light-border-button{
   // display: flex;
   align-items: center;
   padding: 11px 26px;
   justify-content: center;
   padding: 11px 26px 11px 26px;
   border: 1px solid;
   border-image-source: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
   border-radius: 12px;
   background: 
      linear-gradient($white, $white) padding-box,
      linear-gradient(to right, #BCEB00, #00EAEA) border-box;
   font-family: $spaceGroteskFont;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: $black;
}
button:disabled{
   background: #E6E6E6;
   color: rgba(0, 0, 0, 0.2);
   box-shadow: none;
}