@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/_mixins";

.rev-reward__box {
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px;
  margin-right: 13px;
  width: 164px !important;
  position: relative;

  &__image {
    position: relative;
    margin-bottom: 12px;
    height: unset;
    padding-bottom: 100%;

    img.preview-image,
    video {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .check__icon {
      position: absolute;
      top: 8px;
      left: 8px;
    }
    .video__icon {
      position: absolute;
      top: 9px;
      right: 7px;
    }
    @include lg {
      width: 100%;
      text-align: center;
      margin: auto auto 12px;
    }
    @include sm {
      width: 100%;
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h3 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: $black;
    }
    .three__dots {
      position: relative;
      display: flex;
      align-items: center;
      gap: 3px;
      span {
        height: 4px;
        width: 4px;
        background-color: $black;
        border-radius: 50%;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ed-count {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      color: #000000;
    }
    .collection__details {
      display: flex;
      align-items: center;
      .random__bg__color {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $sharpGroteskMediumFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: $black;
      }
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        color: $black;
        margin-left: 6px;
      }
    }
    div.collection__count {
      position: relative;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: $black;
      cursor: default;

      &:hover {
        .generatedEditions {
          display: grid;
          grid-column-gap: 10px;
          grid-row-gap: 5px;
          z-index: 1;
        }
      }

      .generatedEditions {
        display: none;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        background: $white;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        padding: 16px;

        > div {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          color: $black;
        }
      }
    }
  }

  &__highlight__one {
    position: absolute;
    bottom: -8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 95%;
    height: 8px;
    left: 8px;
  }
  &__highlight__two {
    position: absolute;
    bottom: -16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 90%;
    height: 8px;
    left: 16px;
  }
  @include sm {
    width: 151px !important;
    margin-right: 10px;
  }
}
