@import '../../../assets/scss/variables';
@import '../../../assets/scss/_mixins';

.donate--general--section {
  padding: 20px 60px;
  background-color: black;
  @include md {
    padding: 50px 20px;
  }
  .donate--general--section--container {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include md {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
    .left--block {
      h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
        color: $white;
        // max-width: 540px;
        @include lg {
          font-size: 26px;
          line-height: 35px;
        }
      }
      p {
        font-family: $spaceGroteskFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        color: white;
        margin-top: 20px;
        max-width: 540px;
        @include lg {
          font-size: 16px;
          line-height: 25px;
        }
        @include md {
          max-width: none;
        }
      }
    }
    .right--block {
      @include md {
        grid-row: 1;
      }
    }
  }
}
