@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";
.create-tiers-sticky-bar {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(135deg, rgba(188, 235, 0, 0.03) 15.57%, rgba(0, 234, 234, 0.03) 84.88%),
    rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  z-index: 100;
  .selected-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto !important;
    @include md {
      display: block;
      width: 100%;
    }
    .winners-and-totals-mobile {
      display: none;
      align-items: center;
      span {
        margin-right: 20px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $black;
      }
      @include md {
        display: flex;
      }
    }
    .react-select-wrapper {
      position: relative;
      width: 185px;
      .box--shadow--effect--block {
        position: absolute;
        width: calc(100% + 8px);
        min-height: 58px;
        background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
        left: -4px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 12px;
        opacity: 0;
        z-index: -1;
      }
      .value-container-custom {
        .value-container {
          padding: 0;
          .option {
            display: flex;
            gap: 8px;
            > img {
              width: 20.8px;
              height: 24px;
            }
            .label-and-value {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              font-family: $sharpGroteskMediumFont;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 120%;
              .nfts-count {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 120%;
                display: flex;
                align-items: center;
                text-align: center;
              }
            }
          }
        }
      }
      @include md {
        width: 158px;
      }
    }
    .available-select {
      > .option {
        padding: 0;
        color: $black !important;
        background: transparent !important;
        .option-items {
          display: flex;
          gap: 8px;
          padding: 12px 0 12px 15px !important;
          > img {
            width: 20.8px;
            height: 24px;
            @include md {
              display: none;
            }
          }
          .label-and-value {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 120%;
            .nfts-count {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 10px;
              line-height: 120%;
              display: flex;
              align-items: center;
              text-align: center;
            }
          }
          &:hover {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 6px;
            flex: none;
            order: 0;
            align-self: stretch;
            flex-grow: 0;
            margin: 0px 0px;
          }
        }
      }
    }
    .select-component-tablet {
      @include md {
        display: none;
      }
    }
    @include lg {
      margin: 0 !important;
      padding: 0;
      width: 100%;
    }
  }
  .infoSelect-div {
    width: 645px;
    .slick-slider {
      .slick-list {
        overflow: unset !important;
        overflow-x: clip !important;
        @include md {
          overflow-x: unset !important;
        }
      }
      .slick-next,
      .slick-prev {
        @include md {
          display: none !important;
        }
      }
    }

    @include lg {
      width: 300px;
    }
    @include md {
      width: 100%;
      padding: 20px 0;
    }
    @include xl {
      max-width: 455px;
    }
  }
  .sel-info {
    display: flex;
    justify-content: center;
    .winners-and-totals {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      span {
        margin-right: 20px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: $black;
      }
      @include md {
        display: none;
      }
    }
    @include md {
      width: unset;
    }
    @include sm {
      display: grid;
    }
    .err-select {
      font-family: $spaceGroteskFont;
      font-size: 12px;
      line-height: 150%;
      text-align: right;
      color: #ff4949;
      @include md {
        text-align: left;
        margin-bottom: 12px;
      }
    }
  }
  .continue-nft {
    display: flex;
    justify-content: flex-end;
    position: relative;
    gap: 20px;
    // width: 100%;
    .select-component-mobile {
      display: none;
      .value-container-custom {
        .value-container {
          padding: 0;
          .option {
            > img {
              display: none;
            }
          }
        }
      }
      @include sm {
      }
    }
    button {
      width: 112px;
      height: 54px;
      @include md {
        width: 100%;
      }
      @include md {
        height: unset;
      }
    }
    @include md {
      margin-top: unset;
      justify-content: space-around;

      .select-component-mobile {
        display: block;
      }
    }
    @include sm {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  .img-div {
    .imgs {
      .for-editions-count {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 3px;
        left: 36px;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(2px);
        border-radius: 3px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 150%;
        color: #ffffff;
        text-align: center;
        @include sm {
          left: 25px;
        }
      }
      .delete-hover {
        position: absolute;
        width: 54px;
        height: 54px;
        text-align: center;
        bottom: 0px;
        left: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        border-radius: 5px;
        align-items: center;
        display: none;
        .upRemove-txt {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          padding: 4px 12px;
          position: absolute;
          height: 26px;
          left: -8px;
          top: -30px;
          background: #000000;
          border-radius: 100px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 150%;
          text-align: center;
          color: #ffffff;
          @include sm {
            left: -12px;
          }
        }
        .remove {
          width: 70px;
          img {
            top: 25px;
            right: 30px;
          }
        }
        .remove-eds {
          width: 173px;
          left: -55px;
          @include sm {
            right: -65px;
          }
        }
        .rec-img {
          position: absolute;
          top: -4px;
          right: 20px;
          @include sm {
            right: 15px;
          }
        }
      }
      .del-img {
        position: absolute;
        top: 30%;
        left: 32%;
        cursor: pointer;
        @include sm {
          top: 25%;
          left: 28%;
        }
      }
      &:hover {
        .delete-hover {
          display: unset;
        }
      }
    }
    .placeholder {
      background: rgba(0, 0, 0, 0.02);
      border: 1px solid #ff4949;
      box-sizing: border-box;
      border-radius: 6px;
      width: 54px;
      height: 54px;
      margin-right: 6px;
      margin-top: 6px;
      @include sm {
        width: 42px;
        height: 42px;
      }
    }
  }
  @include lg {
    padding: 20px 30px;
  }
}
