@import '../../../assets/scss/variables';
@import '../../../assets/scss/_mixins';

.lobby--lobsters--hero--section {
  position: relative;
  overflow: hidden;
  min-height: 750px;
  background-image: url('../../../assets/images/lobby-lobsters/bg_sky.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 90px 60px;
  @media (max-width: 1250px) {
    min-height: 650px;
  }
  @media (max-width: 1160px) {
    min-height: 600px;
  }
  @media (max-width: 1100px) {
    min-height: 550px;
  }

  .wave--img {
    position: absolute;
    left: 0;
    bottom: -130px;
    z-index: 2;
    width: 100%;
    img {
      width: 100%;
    }
    @include lg {
      bottom: -74px;
    }
    @include md {
      bottom: -57px;
    }
    @media (max-width: 440px) {
      bottom: -35px;
    }
  }

  .hero--img {
    max-width: 840px;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 1;
    .for--desktop {
      @include lg {
        display: none;
      }
    }
    .for--tablet {
      display: none;
      @include lg {
        display: block;
        width: 100%;
      }
    }
    @media (max-width: 1400px) {
      max-width: 780px;
    }
    @media (max-width: 1250px) {
      max-width: 700px;
      bottom: -30px;
    }
    @media (max-width: 1160px) {
      max-width: 630px;
    }
    @media (max-width: 1100px) {
      max-width: 530px;
    }
    @include lg {
      max-width: 100%;
      width: 100%;
    }
  }

  &--container {
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-top: 130px;

    .left--section {
      max-width: 440px;
      h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        color: $black;
        @include md {
          font-size: 32px;
        }
        @include sm {
          font-size: 26px;
        }
      }
      p {
        margin-top: 16px;
        margin-bottom: 35px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.6);
        @include sm {
          text-align: center;
        }
      }
      button {
        padding: 17px 34px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $white;
        border: 3px solid;
        border-image-source: linear-gradient(135deg, rgba(188, 235, 0, 0.4) 15.57%, rgba(0, 234, 234, 0.4) 84.88%);
        background: linear-gradient($black, $black) padding-box,
          linear-gradient(to right, #2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6) border-box;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
      }
      @include lg {
        max-width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    @include lg {
      align-items: flex-start;
      justify-content: center;
      padding-top: 0px;
    }
  }
  @include lg {
    min-height: 940px;
  }
  @include md {
    padding: 60px 20px;
  }
  @include sm {
    min-height: 540px;
  }
  @media (max-width: 840px) {
    min-height: 840px;
  }
  @media (max-width: 740px) {
    min-height: 740px;
  }
  @media (max-width: 640px) {
    min-height: 680px;
  }
  @media (max-width: 540px) {
    min-height: 600px;
  }
  @media (max-width: 380px) {
    min-height: 540px;
  }
}
