@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
.marketplace--nft--page {
  display: grid;
  grid-template-columns: 1fr 560px;
  .Marketplace--img {
    border-right: 1px solid #e4e4e4;
    padding-top: 60px;
    max-height: 720px;
    border-bottom: 1px solid #e4e4e4;
    &.full--screen {
      position: fixed;
      top: 0;
      padding-top: 0;
      z-index: 99999;
      width: 100%;
      height: 100vh;
      bottom: 0;
      max-height: 100%;
      border: none;
      background: $black;
      > div {
        width: 800px;
        height: 100%;
        img {
          border-radius: 0px;
        }
        .custom--player {
          position: fixed;
          width: 97%;
        }
      }
    }
    > div {
      position: relative;
      height: 600px;
      width: 600px;
      border-radius: 12px;
      margin: auto;
      img,
      video {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
      }
      .custom--player {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(4px);
        border-radius: 12px;
        padding: 0px 22px 12px;
        width: 560px;
        .controls {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &--left {
            display: flex;
            align-items: center;
            span {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 120%;
              color: $white;
            }
            img {
              width: 36px;
              height: 36px;
              margin-right: 10px;
              margin-left: -10px;
              cursor: pointer;
            }
          }
          &--right {
            display: flex;
            align-items: center;
            img {
              cursor: pointer;
              &:last-child {
                margin-right: -10px;
              }
            }
          }
        }
        .progress--bar {
          background: rgba(255, 255, 255, 0.2);
          height: 4px;
          width: 100%;
          overflow: hidden;
          &--filled {
            background: $white;
            width: 80%;
            height: 100%;
          }
        }
      }
    }
  }
  .Marketplace--settings {
    position: relative;
    padding-top: 60px;
    overflow-y: auto;
    max-height: 720px;
    border-bottom: 1px solid #e4e4e4;
    .Marketplace--name {
      padding-left: 50px;
      padding-right: 40px;
      .icon {
        display: flex;
        justify-content: space-between;
        .likes--count {
          display: flex;
          align-items: center;
          > div {
            position: relative;
            display: flex;
            align-items: center;
            svg {
              cursor: pointer;
              &:hover {
                path {
                  stroke: #ff4949;
                }
              }
              &.fill {
                path {
                  fill: #ff4949;
                  stroke: none;
                }
              }
            }
            .tooltiptext {
              visibility: hidden;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              width: 160px;
              background-color: $black;
              color: $white;
              text-align: left;
              border-radius: 12px;
              padding: 9px 12px;
              position: absolute;
              z-index: 1;
              top: -80px;
              right: -72px;
              .likers--text {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 150%;
                color: $white;
                margin-bottom: 7px;
              }
              .likers--avatars {
                display: flex;
                align-items: center;
                img {
                  border: 1px solid $black;
                  height: 26px;
                  width: 26px;
                  border-radius: 50%;
                  &:not(:first-child) {
                    margin-left: -7px;
                  }
                }
              }
              &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
              }
            }
            &:hover {
              .tooltiptext {
                visibility: visible;
              }
            }
          }
          span:not(.tooltiptext) {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.4);
            margin-left: 6px;
          }
        }
        > p {
          margin: auto;
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
        .share-open {
          cursor: pointer;
          border: 1px solid #0000001a;
          border-radius: 12px;
          height: 42px;
          width: 42px;
          padding: 7px;
        }
      }
      display: flex;
      justify-content: space-between;
      > h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
    .Marketplace--number {
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 40px;
      > p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #00000066;
      }
    }
    .Marketplace--collections {
      display: flex;
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 40px;
      > div:not(:first-child) {
        padding-left: 42px;
      }
      .Marketplace--creators {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .creator--name {
          padding-left: 10px;
          position: relative;
          > p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #00000066;
          }
          > h6 {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $black;
          }
        }
      }
    }
    .Marketplace--text {
      margin-top: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: 50px;
      padding-right: 40px;
      > p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(0, 0, 0, 0.6);
        padding-bottom: 30px;
        > span {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: $black;
        }
      }
    }
    .tabs {
      display: flex;
      align-items: center;
      overflow-x: auto;
      margin-top: 40px;
      padding-left: 50px;
      padding-right: 40px;
      ul.tab_items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 460px;
        white-space: nowrap;
        li {
          margin-right: 40px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.4);
          padding-bottom: 9px;
          cursor: default;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            cursor: pointer;
            color: $black;
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
  .theunveiling {
    width: 100%;
    background: linear-gradient(135deg, rgba(188, 235, 0, 0.03) 15.57%, rgba(0, 234, 234, 0.03) 84.88%),
      rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    position: sticky;
    bottom: 0px;
    .unveiling--box {
      display: flex;
      padding-left: 40px;
      padding-top: 40px;
      padding-right: 40px;
      .unveiling--info {
        margin-left: 15px;
        position: relative;
        > h1 {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          color: black;
          > span {
            color: rgba(0, 0, 0, 0.4);
          }
        }
        .icon--box {
          display: flex;
          padding-top: 7px;
          > .box--hover {
            padding-right: 7px;
            position: relative;
            cursor: pointer;
            .weth--hover {
              visibility: hidden;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              width: 57px;
              background-color: $black;
              color: $white;
              text-align: center;
              border-radius: 100px;
              padding: 5px 0;
              position: absolute;
              z-index: 1;
              top: -40px;
              left: 33%;
              transform: translateX(-50%);
              &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
              }
            }
            &:hover {
              .weth--hover {
                visibility: visible;
              }
            }
          }
          > p {
            font-family: $spaceGroteskFont;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
            .span--price {
              font-family: $spaceGroteskFont;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 0px;
              text-align: left;
              color: #00000066;
              padding-left: 6px;
            }
            .span--procent {
              font-family: $spaceGroteskFont;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 0px;
              text-align: left;
              color: #e4b613;
              padding-left: 6px;
            }
            > img {
              padding-right: 6px;
            }
          }
        }
        > p {
          font-family: $spaceGroteskFont;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          .span--price {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
            color: #00000066;
            padding-left: 6px;
          }
          .span--procent {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
            color: #e4b613;
            padding-left: 6px;
          }
          > img {
            padding-right: 6px;
          }
        }
      }
    }
    .button--box {
      padding-bottom: 40px;
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 24px;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
    }
  }
}
.collection {
  background: linear-gradient(127.59deg, #f2f3fb -1.33%, #fcf9f4 91.03%);
  .collection--title {
    padding-top: 80px;
    width: 100%;
    > h1 {
      font-family: $sharpGroteskSemiBoldFont;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
  .browse--nft--list {
    grid-template-columns: repeat(4, 1fr);
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
  }
}
.view--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.like--share {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  border-radius: 12px;
  height: 42px;
  width: 62px;
  cursor: pointer;
  margin-right: 7px;
  &:hover {
    path {
      stroke: #ff4949;
    }
  }
}
.share_dropdown {
  display: flex;
  background: $white;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 12px;
  cursor: pointer;
  height: 42px;
  width: 42px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  position: relative;
  &.opened {
    background: linear-gradient($white, $white) padding-box, linear-gradient(175deg, #bceb00, #00eaea) border-box;
    border: 1px solid transparent;
    .arrow__down {
      transform: rotate(180deg);
    }
  }
  .selected__item {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: $black;
    padding-bottom: 11px;
  }
  .sort__share__dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    width: 180px;
    height: 116px;
    z-index: 1;
    .dropdown__report {
      color: red;
    }
    ul {
      background: $white;
      box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
      border-radius: 12px;
      padding: 8px;

      li {
        padding: 15px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        border-radius: 6px;
        height: 50px;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
