@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
.marketplace--nft--page {
  display: grid;
  grid-template-columns: 1fr 560px;
  border-bottom: 1px solid #e4e4e4;
  .Marketplace--img {
    border-right: 1px solid #e4e4e4;
    padding: 60px 20px;
    max-height: 720px;
    &.full--screen {
      position: fixed;
      top: 0;
      padding: 0;
      z-index: 99999;
      width: 100%;
      height: 100vh;
      bottom: 0;
      max-height: 100%;
      border: none;
      background: $black;
      .media--container {
        transform: translate(0px, 0px) !important;
      }
      .image--wrapper {
        max-width: 800px !important;
        max-height: 100% !important;
        height: 100%;
        img {
          border-radius: 0px;
        }
        .custom--player {
          position: fixed;
          width: 97%;
        }
      }
      .custom--player {
        max-width: 100% !important;
      }
    }
    .image--wrapper {
      position: relative;
      max-height: 600px;
      max-width: 600px;
      height: 100%;
      width: 100%;
      border-radius: 12px;
      margin: auto;
      @include lg {
        max-width: unset;
      }
      > img {
        @include lg {
          object-fit: cover;
        }
      }
      &.with--bundles {
        max-height: 512px;
        max-width: 512px;
        @include lg {
          max-width: unset;
        }
      }
      .nft--count {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(4px);
        border-radius: 8px;
        padding: 7px 14px;
        img {
          width: 12px;
          height: 12px;
          margin-right: 6px;
        }
        span {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          color: $white;
        }
      }
      .media--container {
        height: 100%;
        width: 100%;
        &.show--controls {
          img.play--pause,
          img.close--miniplayer {
            visibility: visible !important;
          }
        }
        &.scale--player {
          width: 100% !important;
          height: 250px !important;
          bottom: 0px !important;
          right: 0px !important;
          img,
          video {
            border-radius: 0px !important;
          }
        }
        &.show--miniplayer {
          position: fixed;
          z-index: 99999;
          bottom: 20px;
          right: 20px;
          width: 300px;
          height: 200px;
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
          cursor: move;
          @include sm {
            width: 150px;
            height: 100px;
          }
          &:hover {
            img.play--pause,
            img.close--miniplayer {
              visibility: visible !important;
            }
          }
          video,
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
          img.play--pause {
            visibility: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80px;
            height: 80px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px; 
            @include sm {
              width: 40px;
              height: 40px;
            }
          }
          img.close--miniplayer {
            visibility: hidden;
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
            width: 25px;
            height: 25px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            padding: 5px;
            @include sm {
              width: 20px;
              height: 20px;
              top: 5px;
              right: 5px;
            }
          }
        }
      }
      img,
      video,
      .empty--black--video {
        height: 100%;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
        @include lg {
          object-fit: cover;
        }
      }
      .empty--black--video {
        background-color: $black;
        @include lg {
          height: 500px;
        }
        @include sm {
          height: 335px;
        }
      }
      .custom--player {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-sizing: border-box;
        backdrop-filter: blur(4px);
        border-radius: 12px;
        padding: 0px 22px 12px;
        max-width: 560px;
        width: 90%;
        .controls {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &--left {
            display: flex;
            align-items: center;
            span {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 120%;
              color: $white;
              @include sm {
                font-size: 10px;
              }
            }
            img {
              width: 36px;
              height: 36px;
              margin-right: 10px;
              margin-left: -10px;
              cursor: pointer;
            }
          }
          &--right {
            display: flex;
            align-items: center;
            img {
              cursor: pointer;
              &:last-child {
                margin-right: -10px;
              }
            }
          }
        }
        .progress--bar {
          background: rgba(255, 255, 255, 0.2);
          height: 4px;
          width: 100%;
          overflow: hidden;
          cursor: pointer;
          &--filled {
            background: $white;
            height: 100%;
          }
        }
      }
    }
    .bundles--slider {
      max-width: 472px;
      margin: 20px auto;
      .slider--with--horizontall--scrolling {
        overflow-x: auto;
        display: none;
        .each--nft {
          margin-right: 10px;
          margin-left: 0px;
          &:last-child {
            margin-right: 0px;
          }
        }
        @include lg {
          display: flex;
        }
      }
      .slick-slider {
        display: block;
        @include lg {
          display: none;
        }
      }
      button.slick-arrow {
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        height: 42px;
        width: 42px;
        border-radius: 50%;
        &:hover {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }

        &::before {
          display: none;
        }

        &.slick-prev {
          position: absolute;
          left: -18px;
          z-index: 1;
        }
        &.slick-next {
          position: absolute;
          right: -18px;
          z-index: 1;
        }
      }
      .each--nft {
        box-sizing: border-box;
        border-radius: 12px;
        margin: 0 10px;
        cursor: pointer;
        &.selected {
          .nft--media {
            opacity: 1;
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 2px solid transparent !important;
          }
        }
        .nft--media {
          border-radius: 12px;
          min-width: 64px;
          min-height: 64px;
          max-width: 64px;
          max-height: 64px;
          opacity: 0.2;
          transition: opacity 0.3s ease-in-out;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    @include lg {
      padding: 40px;
      border-right: none;
    }
    @include sm {
      padding: 30px 20px;
    }
  }
  .Marketplace--settings {
    position: relative;
    padding-top: 60px;
    overflow-y: auto;
    max-height: 720px;
    .Marketplace--name {
      padding-left: 40px;
      padding-right: 40px;
      .icon {
        display: flex;
        justify-content: space-between;
        .likes--count {
          display: flex;
          align-items: center;
          > div {
            position: relative;
            display: flex;
            align-items: center;
            svg {
              cursor: pointer;
              &:hover {
                path {
                  stroke: #ff4949;
                }
              }
              &.fill {
                path {
                  fill: #ff4949;
                  stroke: none;
                }
              }
            }
            .tooltiptext {
              visibility: hidden;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              width: 160px;
              background-color: $black;
              color: $white;
              text-align: left;
              border-radius: 12px;
              padding: 9px 12px;
              position: absolute;
              z-index: 1;
              top: 37px;
              right: -83px;
              .likers--text {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 150%;
                color: $white;
                margin-bottom: 7px;
              }
              .likers--avatars {
                display: flex;
                align-items: center;
                img {
                  border: 1px solid $black;
                  height: 26px;
                  width: 26px;
                  border-radius: 50%;
                  &:not(:first-child) {
                    margin-left: -7px;
                  }
                }
              }
              &::after {
                content: '';
                position: absolute;
                top: -10px;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
                transform: rotate(180deg);
              }
            }
            &:hover {
              .tooltiptext {
                visibility: visible;
              }
            }
          }
          span:not(.tooltiptext) {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.4);
            margin-left: 6px;
          }
        }
        > p {
          margin: auto;
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
        .share-open {
          cursor: pointer;
          border: 1px solid #0000001a;
          border-radius: 12px;
          height: 42px;
          width: 42px;
          padding: 7px;
        }
      }
      display: flex;
      justify-content: space-between;
      > h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        @include sm {
          font-size: 16px;
        }
      }
      @include sm {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .Marketplace--number {
      margin-top: 15px;
      padding-left: 40px;
      padding-right: 40px;
      > p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #00000066;
      }
      @include sm {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .Marketplace--collections {
      // display: flex;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 40px;
      margin-top: 15px;
      padding-left: 40px;
      padding-right: 40px;
      width: fit-content;
      // > div:not(:first-child) {
      //   padding-left: 42px;
      // }
      .Marketplace--creators {
        display: flex;
        align-items: center;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .creator--name {
          padding-left: 10px;
          position: relative;
          > p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #00000066;
          }
          > h6 {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: $black;
          }
        }
      }
      @include sm {
        grid-gap: 20px;
        grid-template-columns: repeat(2, auto);
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .Marketplace--text {
      margin-top: 20px;
      padding-left: 40px;
      padding-right: 40px;
      > p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(0, 0, 0, 0.6);
        padding-bottom: 30px;
        > span {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: $black;
        }
      }
      @include sm {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .tabs {
      display: flex;
      align-items: center;
      overflow-x: auto;
      margin-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
      ul.tab_items {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 460px;
        white-space: nowrap;
        border-bottom: 2px solid #e4e4e4;
        li {
          margin-right: 40px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.4);
          padding-bottom: 9px;
          cursor: default;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            cursor: pointer;
            color: $black;
            border-bottom: 2px solid $black;
          }
        }
      }
    }
    @include lg {
      padding-top: 0px;
      max-height: unset;
      overflow-y: unset;
    }
  }
  .theunveiling {
    padding-bottom: 40px;
    width: 100%;
    background: linear-gradient(135deg, rgba(188, 235, 0, 0.03) 15.57%, rgba(0, 234, 234, 0.03) 84.88%),
      rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    position: sticky;
    bottom: 0px;
    .border--gradient {
      width: 100%;
      margin-top: -22px;
    }
    .span--percent--seperate {
      display: block;
      text-align: center;
      font-family: $spaceGroteskFont;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0px;
      color: #e4b613;
    }
    .auction-timer-box {
      position: absolute;
      top: -21px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 18px;
      border-radius: 100px;
      background: linear-gradient(
        95.11% 95.11% at 36.64% 4.89%,
        #2ad0ca 0%,
        #e1f664 22.92%,
        #feb0fe 46.88%,
        #abb3fc 68.23%,
        #5df7a4 87.5%,
        #58c4f6 100%
      );
      background: linear-gradient(#ffffff, #ffffff) padding-box,
        linear-gradient(
            to right,
            #2ad0ca 0%,
            #e1f664 22.92%,
            #feb0fe 46.88%,
            #abb3fc 68.23%,
            #5df7a4 87.5%,
            #58c4f6 100%
          )
          border-box;
      border: 2px solid transparent;
      > img {
        padding-right: 4px;
      }
      > p {
        padding-left: 4px;
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0px;
        text-align: left;
      }
      @include sm {
        width: 210px;
      }
    }
    .unveiling--box {
      display: flex;
      padding-left: 40px;
      padding-top: 40px;
      padding-right: 40px;
      > img {
        object-fit: cover;
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
      .unveiling--info {
        margin-left: 15px;
        position: relative;
        > h1 {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          color: black;
          > span {
            color: rgba(0, 0, 0, 0.4);
          }
        }
        .icon--box {
          display: flex;
          padding-top: 7px;
          > .box--hover {
            padding-right: 7px;
            position: relative;
            cursor: pointer;
            .weth--hover {
              visibility: hidden;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              width: 57px;
              background-color: $black;
              color: $white;
              text-align: center;
              border-radius: 100px;
              padding: 5px 0;
              position: absolute;
              z-index: 1;
              top: -40px;
              left: 33%;
              transform: translateX(-50%);
              &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: black transparent transparent transparent;
              }
            }
            &:hover {
              .weth--hover {
                visibility: visible;
              }
            }
          }
          > p {
            font-family: $spaceGroteskFont;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: left;
            .span--price {
              font-family: $spaceGroteskFont;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 0px;
              text-align: left;
              color: #00000066;
              padding-left: 6px;
            }
            .span--percent {
              font-family: $spaceGroteskFont;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 17px;
              letter-spacing: 0px;
              text-align: left;
              color: #e4b613;
              padding-left: 6px;
            }
            > img {
              padding-right: 6px;
            }
          }
        }
        > p {
          font-family: $spaceGroteskFont;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          .span--price {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
            color: #00000066;
            padding-left: 6px;
          }
          .span--procent {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            text-align: left;
            color: #e4b613;
            padding-left: 6px;
          }
          > img {
            padding-right: 6px;
          }
        }
      }
      @include sm {
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
      }
    }
    .button--box {
      padding-bottom: 12px;
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 24px;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
      @include sm {
        grid-template-columns: auto;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  }
  @include lg {
    grid-template-columns: 1fr;
  }
  @include md {
    display: block;
  }
}
.collection {
  padding: 80px 40px;
  background: linear-gradient(127.59deg, #f2f3fb -1.33%, #fcf9f4 91.03%);
  .collection--title {
    width: 100%;
    margin-bottom: 40px;
    > h1 {
      font-family: $sharpGroteskSemiBoldFont;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
      @include lg {
        font-size: 20px;
      }
    }
    @include sm {
      margin-bottom: 30px;
    }
  }
  .browse--nft--list {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 0px;
    // padding-right: 40px;
    // padding-left: 40px;
    // padding-top: 40px;
    @include xl {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
  @include lg {
    padding: 60px 40px;
  }
  @include sm {
    padding: 60px 20px;
  }
}
.view--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  button {
    @include sm {
      width: 100%;
    }
  }
}

.like--share {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000001a;
  border-radius: 12px;
  height: 42px;
  width: 62px;
  cursor: pointer;
  margin-right: 7px;
  &:hover {
    path {
      stroke: #ff4949;
    }
  }
}
.share_dropdown {
  display: flex;
  background: $white;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  border-radius: 12px;
  cursor: pointer;
  height: 42px;
  width: 42px;
  letter-spacing: 1px;
  justify-content: center;
  align-items: center;
  position: relative;
  &.opened {
    background: linear-gradient($white, $white) padding-box, linear-gradient(175deg, #bceb00, #00eaea) border-box;
    border: 1px solid transparent;
    .arrow__down {
      transform: rotate(180deg);
    }
  }
  .selected__item {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: $black;
    padding-bottom: 11px;
  }
  .sort__share__dropdown {
    position: absolute;
    top: 55px;
    right: 0;
    width: 180px;
    height: 116px;
    z-index: 1;
    .dropdown__report {
      color: red;
    }
    ul {
      background: $white;
      box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
      border-radius: 12px;
      padding: 8px;

      li {
        padding: 15px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        border-radius: 6px;
        height: 50px;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}
