@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
.marketplace--nft--page {
  display: grid;
  grid-template-columns: 1fr 560px;
  .Marketplace--img {
    border-right: 1px solid #e4e4e4;
    // padding-bottom: 570px;
    padding-top: 60px;
    max-height: 720px;
    border-bottom: 1px solid black;
    > img {
      height: 600px;
      width: 600px;
      border-radius: 12px;
      margin: auto;
      display: block;
      // margin-top: 96px;
    }
  }
  .Marketplace--settings {
    // padding-left: 50px;
    // padding-right: 40px;
    position: relative;
    padding-top: 63px;
    overflow-y: auto;
    max-height: 720px;
    border-bottom: 1px solid black;
    .Marketplace--name {
      padding-left: 50px;
      padding-right: 40px;
      .icon {
        display: flex;
        justify-content: space-between;
        > * {
          padding: 0 0 0 20px;
        }
        > p {
          margin: auto;
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
        }
        .share-open {
          cursor: pointer;
        }
      }
      display: flex;
      justify-content: space-between;
      > h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
    .Marketplace--number {
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 40px;
      > p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: #00000066;
      }
    }
    .Marketplace--collections {
      display: flex;
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 40px;
      > div:not(:first-child) {
        padding-left: 42px;
      }
      .Marketplace--creators {
        display: flex;
        .creator--name {
          padding-left: 10px;
          > p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #00000066;
          }
          > h6 {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #000000;
          }
        }
      }
    }
    .Marketplace--text {
      margin-top: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-left: 50px;
      padding-right: 40px;
      > p {
        font-family: $spaceGroteskFont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        color: rgba(0, 0, 0, 0.4);
        padding-bottom: 30px;
        > span {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
          color: #000000;
        }
      }
    }
    .tabs {
      display: flex;
      align-items: center;
      overflow-x: auto;
      margin-top: 40px;
      padding-left: 50px;
      padding-right: 40px;
      ul.tab_items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 460px;
        white-space: nowrap;

        li {
          margin-right: 40px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: rgba(0, 0, 0, 0.4);
          padding-bottom: 9px;
          cursor: default;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            cursor: pointer;
            color: $black;
            border-bottom: 1px solid $black;
          }
        }
      }
    }
  }
  .theunveiling {
    width: 100%;
    background-color: white;
    // opacity: 0.4;
    border-top: 1px solid red;
    position: sticky;
    bottom: 0px;
    .unveiling--box {
      display: flex;
      padding-left: 40px;
      padding-top: 40px;
      padding-right: 40px;
      .unveiling--info {
        margin-left: 15px;
        > h1 {
          font-family: $spaceGroteskFont;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          // color: rgba(0, 0, 0, 0.4);
          color: black;
          > span {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(0, 0, 0, 0.4);
          }
        }
        > p {
          font-family: $spaceGroteskFont;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
    .button--box {
      padding-bottom: 40px;
      padding-right: 40px;
      padding-left: 40px;
      padding-top: 24px;
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
    }
  }
}
.collection {
  .collection--title {
    padding-top: 80px;
    width: 100%;
    > h1 {
      font-family: $sharpGroteskSemiBoldFont;
      font-size: 26px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0px;
      text-align: center;
    }
  }
}
