@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.collection--name--parent {
    width: 100%;
    min-height: 66px;
    // background: rgba(0, 0, 0, 0.04);
    background: #E5E5E5;
    .collection--name--container {
        height: 100%;
        min-height: 66px;
        justify-content: flex-start;
        .left--block {
            transform: rotate(90deg);
            width: 16px;
            img {
                width: 100%;
            }
        }
        .img--block {
            width: 36px;
            height: 36px;
            margin-left: 16px;
        }
        .description--block {
            margin-left: 10px;
            .collection--name {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 160%;
                color: rgba(0, 0, 0, 0.4);
            }
            h6 {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 160%;
                color: #000000;
                .last--purchased {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 160%;
                    color: rgba(0, 0, 0, 0.4);
                }
                .eth--icon {
                    margin: 0 5px;
                }
            }

        }
    }
}