@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.sell--nft--container {
    min-height: 800px;
    padding: 60px;
    background: linear-gradient(127.59deg, #F2F3FB -1.33%, #FCF9F4 91.03%);
    .sell--nft--wrapper--center {
        .sell--nft--container--title {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: $black;
            margin: 0 0 20px 0;
        }
        .content {
            width: 100%;
        }
    }
}