@import '../../assets/scss/variables';
.future__auction__item {
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 18px 24px;
  width: 293px;

  .title {
    h1 {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.2px;
      color: $black;
      margin-bottom: 10px;
    }

    .artist__details {
      display: flex;
      align-items: center;

      img {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        border-radius: 50%;
        padding: 0;
      }

      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.4);
        margin-right: 5px;
      }

      button {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        background-color: $white;
        text-decoration: underline;
        color: #4d66eb;
      }
    }
  }

  .auction__img {
    width: 290px;
    height: 290px;
    margin-bottom: 16px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img.original {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .auction__details {
    display: flex;
    margin-top: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    &__box {
      padding: 8px 0;

      &:not(:last-child) {
        margin-right: 30px;
      }

      p {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.4);
      }

      h3 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        color: $black;
      }
    }
  }
}
