@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.transfer--nft--popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  padding: 30px;
  width: 90%;
  max-width: 380px;

  .close--popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: $white;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    cursor: pointer;
  }
  .step1 {
    h1.title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: $black;
      margin-bottom: 10px;
    }
    p.desc {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      color: rgba(0, 0, 0, 0.6);
    }
    .form {
      margin-top: 30px;
      margin-bottom: 30px;
      .receiver--address {
        margin-bottom: 20px;
        label {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          color: $black;
        }
        input {
          width: 100%;
        }
      }
      .tokenID {
        label {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          color: $black;
        }
        .tokenID--dropdown--container {
          position: relative;
          .box--shadow--effect--block {
            position: absolute;
            width: calc(100% + 7px);
            min-height: 56px;
            background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
            left: -4px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: -1;
            border-radius: 12px;
            opacity: 0;
          }
          &:hover {
            .box--shadow--effect--block {
              opacity: 0.2;
            }
          }
          .dropdown {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            padding: 11px 16px;
            border-radius: 12px;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;
            min-height: 50px;

            &.open {
              background-image: linear-gradient(101deg, #bceb00, #00eaea);
              background-origin: border-box;
              box-shadow: 2px 1000px 1px $white inset;
              border: 1px solid transparent;
              + .box--shadow--effect--block {
                opacity: 0.2;
              }
            }
            span {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $black;
            }
            img {
              transition: 0.1s ease-in-out;
              &.rotate {
                transform: rotate(180deg);
              }
            }
            &--items {
              position: absolute;
              top: 52px;
              left: 0px;
              right: 0px;
              z-index: 111;
              background: $white;
              box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
              border-radius: 12px;
              padding-top: 8px;
              padding-right: 8px;
              &--container {
                padding: 0px 0px 8px 8px;
                max-height: 184px;
                overflow-y: auto;
                .dropdown--item {
                  padding: 15px;
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 14px;
                  line-height: 140%;
                  color: $black;
                  border-radius: 6px;
                  &:hover {
                    background: rgba(0, 0, 0, 0.05);
                  }
                }
              }
            }
          }
        }
      }
    }
    .btn--actions {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 12px;
    }
  }
  .step2 {
    p.desc {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      margin: 30px auto;
      @include sm {
        max-width: 216px;
      }
    }
    .btn--actions {
      display: flex;
      justify-content: center;
    }
  }
  .step3 {
    .congrats--icon {
      width: 142px;
      margin: 0px auto 30px;
      img {
        width: 100%;
      }
    }
    h4.title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
      color: $black;
    }
    p.desc {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      margin: 10px auto 30px;
      span {
        color: $black;
      }
    }
    .btn--actions {
      display: flex;
      justify-content: center;
    }
  }
}
