@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.my-account {
  background-image: url('../../assets/images/my-profile-bg.png');
  background-size: 100% 200px;
  background-repeat: no-repeat;
  background-position-y: 88px;
  .my-account-title {
    display: grid;
    grid-template-columns: 1fr 253px;

    h1 {
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: $sharpGroteskSemiBoldFont;
      font-weight: 600;
      font-size: 32px;
      line-height: 140%;
      color: $black;
      margin-bottom: 16px;

      @include sm {
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 26px;
        margin-bottom: 16px;
      }
    }
    p {
      grid-column: 1/3;
      grid-row: 2/3;
      max-width: 516px;
      font-family: $spaceGroteskFont;
      font-size: 18px;
      line-height: 150%;
      color: rgba(0, 0, 0, 0.6);
      @include sm {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }

    button {
      grid-column: 2/3;
      grid-row: 1/2;
      white-space: nowrap;
      box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
      height: fit-content;

      @include sm {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        margin-top: 20px;
      }
    }

    @include lg {
      padding-top: 40px;
    }

    @include sm {
      grid-template-columns: 1fr;
      padding-top: 40px;
    }
  }

  .account-grid-container {
    // .account-grid-name {
    //   display: flex;
    //   width: 100%;
    //   padding: 40px 0;

    //   .account-picture {
    //     min-width: 285px;

    //     .account-image {
    //       width: 190px;
    //       height: 190px;
    //       border-radius: 50%;
    //       border: 1px solid rgba(0, 0, 0, 0.1);

    //       .default-img {
    //         width: 60px;
    //         height: 60px;
    //         margin: 64px;

    //         @include lg {
    //           width: 41px;
    //           height: 41px;
    //           margin: 46px;
    //         }
    //         @include sm {
    //           width: 31px;
    //           height: 31px;
    //           margin: 32px;
    //         }
    //       }
    //       .account-img {
    //         width: 190px;
    //         height: 190px;
    //         border-radius: 50%;
    //         object-fit: cover;
    //       }

    //       @include lg {
    //         width: 132px;
    //         height: 132px;
    //       }
    //       @include sm {
    //         width: 96px;
    //         height: 96px;
    //       }
    //     }

    //     .account-picture-editing {
    //       margin-top: 12px;
    //       width: 190px;
    //       text-align: center;

    //       p {
    //         font-family: $spaceGroteskFont;
    //         font-size: 14px;
    //         line-height: 160%;
    //         color: rgba(0, 0, 0, 0.6);
    //         padding-bottom: 12px;
    //       }
    //       button {
    //         margin: auto;
    //       }

    //       @include lg {
    //         width: 160px;
    //         margin-top: 19px;
    //         text-align: left;
    //       }
    //     }

    //     @include lg {
    //       min-width: 185px;
    //     }
    //     @include sm {
    //       margin-top: 5px;
    //       min-width: 119px;
    //     }
    //   }

    //   .account-grid-name-edit {
    //     display: flex;
    //     width: 100%;
    //     justify-content: space-between;
    //     margin-top: 50px;

    //     .account-name {
    //       h2 {
    //         font-family: $sharpGroteskMediumFont;
    //         font-weight: 600;
    //         font-size: 26px;
    //         line-height: 140%;
    //         letter-spacing: 0.2px;
    //         color: $black;
    //         padding-bottom: 10px;

    //         @include sm {
    //           font-size: 20px;
    //           line-height: 130%;
    //           letter-spacing: 0px;
    //           padding-bottom: 3px;
    //         }
    //       }
    //       .account-link {
    //         display: flex;
    //         flex-wrap: wrap;
    //         font-family: $spaceGroteskFont;
    //         font-size: 18px;
    //         line-height: 23px;
    //         .link {
    //           color: $black;
    //         }
    //         .default-address {
    //           color: rgba(0, 0, 0, 0.4);
    //         }
    //       }
    //     }
    //     @include lg {
    //       margin-top: 30px;
    //     }
    //     @include md {
    //       display: grid;
    //       margin-top: 0px;
    //     }

    //     button {
    //       @include md {
    //         width: fit-content;
    //         margin-top: 10px;
    //       }
    //     }
    //   }

    //   @include lg {
    //     padding: 50px 0;
    //   }
    //   @include sm {
    //     padding: 40px 0 20px;
    //   }
    // }

    .account-grid-name1 {
      display: flex;
      width: 100%;

      .account-picture {
        min-width: 285px;

        .account-image {
          width: 190px;
          height: 190px;
          border-radius: 50%;
          border: 1px solid rgba(0, 0, 0, 0.1);

          .default-img {
            width: 60px;
            height: 60px;
            margin: 64px;

            @include lg {
              width: 41px;
              height: 41px;
              margin: 46px;
            }
            @include sm {
              width: 31px;
              height: 31px;
              margin: 32px;
            }
          }
          .account-img {
            width: 190px;
            height: 190px;
            border-radius: 50%;
            object-fit: cover;
          }
          @include lg {
            width: 132px;
            height: 132px;
          }
          @include md {
            margin-right: 24px;
          }
          @include sm {
            width: 96px;
            height: 96px;
          }
        }
        .error-img {
          border: 1px solid #ff4949 !important;
        }

        .account-picture-editing {
          margin-top: 12px;
          width: 190px;
          text-align: center;

          p {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.6);
            padding-bottom: 12px;
            width: 174px;
            margin: auto;
          }
          button {
            margin: auto;
          }
          .error__text {
            padding-top: 4px;
            font-family: $spaceGroteskFont;
            font-size: 12px;
            line-height: 150%;
            color: #ff4949;
          }

          @include lg {
            width: 160px;
            margin-top: 19px;
            text-align: left;
          }
          @include sm {
            margin-top: 0px;
          }
        }

        @include lg {
          min-width: 185px;
        }
        @include md {
          display: flex;
        }
        @include sm {
          min-width: 119px;
        }
      }

      .account-grid-name-editing {
        position: relative;
        // width: 100%;

        .about__artist__warning {
          display: none;
        }

        h3 {
          font-family: $sharpGroteskMediumFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: $black;
        }
        h5 {
          display: flex;
          align-items: center;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          margin-top: 20px;
        }

        .intup-l {
          width: 100%;
          @include lg {
            width: 100%;
            max-width: 540px;
          }
        }

        input {
          max-width: 730px;
          width: 100%;
          height: 50px;
          font-family: $spaceGroteskFont;
          font-size: 16px;
          line-height: 20px;
          // margin-bottom: 20px;

          &::placeholder {
            color: rgba(0, 0, 0, 0.2);
          }
          &:focus {
            background: linear-gradient($white, $white) padding-box,
              linear-gradient(to right, #bceb00, #00eaea) border-box;
            border: 2px solid transparent;
          }
          &:focus::placeholder {
            color: transparent;
          }

          @include lg {
            width: 100%;
          }
        }
        .error__text {
          padding-top: 4px;
          font-family: $spaceGroteskFont;
          font-size: 12px;
          line-height: 150%;
          color: #ff4949;
        }

        .empty {
          background: linear-gradient(to right, #000000 116px, rgba(0, 0, 0, 0.2) 10%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .universe__page__address {
          position: relative;
          margin-left: 5px;
          .info-text1 {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            min-width: 229px;
            min-height: 106px;
            padding: 16px;
            background: $white;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            z-index: 10;

            p {
              font-family: $spaceGroteskFont;
              font-size: 12px;
              line-height: 150%;
              font-weight: normal;
            }
          }
          img {
            margin-bottom: 4px;
          }
        }
        .account-grid-address {
          position: relative;

          .box--shadow--effect--block {
            position: absolute;
            width: calc(100% + 8px);
            min-height: 58px;
            z-index: -9;
            left: -4px;
            right: 0;
            bottom: -4px;
            margin: auto;
            border-radius: 12px;
            opacity: 0;
            background-image: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
            background-origin: border-box;
            box-shadow: 4px 1000px 1px #ffffff inset;
            border: 4px solid transparent;
            transition: 0.2s;
          }
          &:hover {
            z-index: 9;
            .box--shadow--effect--block {
              opacity: 0.2;
            }
          }
        }
        .account-grid-about-editing {
          position: relative;
          width: 100%;
          textarea {
            max-width: 730px;
            width: 100%;
            height: 150px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            padding: 15px 16px;
            // margin-bottom: 20px;
            &::placeholder {
              color: rgba(0, 0, 0, 0.2);
            }
            &:focus {
              background: linear-gradient($white, $white) padding-box,
                linear-gradient(to right, #bceb00, #00eaea) border-box;
              border: 2px solid transparent;
            }
            &:hover {
              border-radius: 10px;
            }
          }
          .box--shadow--effect--block {
            position: absolute;
            width: calc(100% + 8px);
            min-height: 50px;
            height: 158px;
            z-index: -9;
            left: -4px;
            right: 0;
            // top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 12px;
            opacity: 0;
            background-image: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
            background-origin: border-box;
            box-shadow: 4px 1000px 1px #ffffff inset;
            border: 4px solid transparent;
            transition: 0.2s;
          }
          &:hover {
            z-index: 9;
            .box--shadow--effect--block {
              opacity: 0.2;
            }
          }
        }
        .display-warning {
          position: relative;
          display: flex;
          max-width: 730px;
          width: 100%;
          padding: 24px;
          background: #fdfcf9;
          border: 1px solid #e4b613;
          box-sizing: border-box;
          border-radius: 12px;
          margin-bottom: 20px;
          margin-top: 20px;

          p {
            padding-left: 31px;
            font-family: $spaceGroteskFont;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #e4b613;
          }
          img {
            position: absolute;
            top: 24px;
            left: 24px;
          }
        }
        .display__error {
          position: relative;
          display: flex;
          max-width: 730px;
          width: 100%;
          padding: 24px;
          background: rgba(255, 73, 73, 0.04);
          border: 1px solid #ff4949;
          box-sizing: border-box;
          border-radius: 12px;
          margin-bottom: 40px;

          p {
            padding-left: 31px;
            font-family: $spaceGroteskFont;
            font-weight: 500;
            font-size: 16px;
            line-height: 160%;
            color: #ff4949;
          }
          img {
            position: absolute;
            top: 24px;
            left: 24px;
          }
          @include lg {
            max-width: 100%;
          }
        }
        @include lg {
          width: 100%;
          margin-top: 17px;
        }
      }

      @include lg {
        padding: 50px 0;
      }
      @include md {
        display: block;
      }
      @include sm {
        padding: 40px 0;
      }
    }

    .account-grid-about {
      display: flex;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 30px 0;

      h5 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.4);
        min-width: 285px;

        @include lg {
          min-width: 185px;
          margin-bottom: 16px;
        }
      }

      .account-grid-about-edit {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .about-default-text {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: rgba(0, 0, 0, 0.4);

          @include sm {
            margin-top: 23px;
            max-width: 178px;
          }
        }
        .about-text {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          color: $black;
          max-width: 635px;
          width: 75%;
        }
        button {
          @include md {
            position: absolute;
            top: 20px;
            right: 0px;
          }
          @include sm {
            display: flex;
            padding: 0px;
            height: 42px;
            width: 42px;
          }
        }
      }
      .animated.zoomIn {
        width: 100%;
      }
      .account-grid-about-editing {
        width: 100%;
        textarea {
          max-width: 540px;
          width: 100%;
          height: 127px;
          font-family: $spaceGroteskFont;
          font-size: 16px;
          line-height: 20px;
          padding: 15px 16px;
          margin-bottom: 20px;
        }
        ::placeholder {
          color: rgba(0, 0, 0, 0.2);
        }
      }
      @include lg {
        padding: 50px 0;
      }

      @include md {
        position: relative;
        display: grid;
        padding: 20px 0;
      }
    }

    .account-grid-logo {
      display: flex;
      width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 30px 0;
      .animated.zoomIn {
        width: 100%;
      }

      h5 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.4);
        min-width: 285px;

        @include lg {
          min-width: 185px;
          padding-bottom: 29px;
        }
      }

      .account-grid-logo-edit {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .image-logo {
          width: 95px;
        }
        .default-logo {
          width: 42px;
          height: 42px;
        }
        button {
          @include sm {
            position: absolute;
            top: 20px;
            right: 0px;
            display: flex;
            padding: 0px;
            height: 42px;
            width: 42px;
          }
        }
      }

      .account-grid-logo-editing {
        width: 100%;
        .import-logo {
          text-align: center;
          max-width: 540px;
          width: 100;
          height: fit-content;
          background: rgba(0, 0, 0, 0.02);
          border: 1px dashed rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          border-radius: 10px;
          margin-bottom: 20px;

          .cloud {
            margin-top: 31px;

            @include sm {
              display: none;
            }
          }
          h5 {
            margin-top: 16px;
            font-family: $spaceGroteskFont;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            color: black;
            @include lg {
              padding-bottom: 5px;
            }

            @include sm {
              padding-bottom: 5px;
            }
          }
          p {
            font-family: $spaceGroteskFont;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.4);
            margin-bottom: 16px;
          }
          button {
            margin: auto;
          }

          .import-logo-preview {
            margin: 20px;
            h6 {
              text-align: start;
              font-family: $spaceGroteskFont;
              font-weight: 600;
              font-size: 12px;
              line-height: 150%;
              color: rgba(0, 0, 0, 0.4);
            }
            .logo-picture {
              background-color: $white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              border-radius: 10px;

              .logo-img {
                width: 100%;
                max-height: 252px;
                object-fit: cover;
              }

              .default-image {
                width: 90px;
                height: 90px;
                margin: 91px;
              }
            }
          }
        }
      }

      @include lg {
        padding: 50px 0;
      }
      @include md {
        display: grid;
      }

      @include sm {
        position: relative;
        padding: 20px 0;
      }
    }

    .account-grid-social {
      display: flex;
      width: 100%;
      // border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 30px 0;
      .animated.zoomIn {
        width: 100%;
      }
      .social {
        @include md {
          display: flex;
          justify-content: space-between;
        }
      }

      h5 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.4);
        min-width: 285px;
        margin-bottom: 14px;

        @include lg {
          min-width: 185px;
          margin-bottom: 20px;
        }
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
        margin-bottom: 20px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: '';
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 50px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .account-grid-social-edit {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .site {
          display: flex;
          margin-bottom: 24px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;

          .site-link {
            color: $black;
          }
          .site-default-address {
            color: rgba(0, 0, 0, 0.4);
          }

          img {
            padding-right: 12px;
          }
          @include sm {
            flex-wrap: wrap;
          }
        }
        button {
          @include sm {
            position: absolute;
            top: 20px;
            right: 0px;
            display: flex;
            padding: 0px;
            height: 42px;
            width: 42px;
          }
        }
      }

      .account-grid-social-editing {
        width: 100%;
        max-width: 730px;
        h3 {
          span {
            color: rgba(0, 0, 0, 0.2);
          }
        }
        h5 {
          font-family: $spaceGroteskFont;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          color: $black;
          margin-bottom: 0px;
        }
        .intup-l {
          width: 100%;
        }

        .twitter {
          position: relative;
          width: 100%;
          max-width: 730px;

          img {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 13px;
            top: 36px;
            z-index: 10;
          }

          input {
            width: 100%;
            padding-left: 50px;
            font-family: $spaceGroteskFont;
            font-size: 16px;
            line-height: 20px;
            // margin-bottom: 20px;

            &::placeholder {
              color: rgba(0, 0, 0, 0.2);
            }
            &:focus {
              background: linear-gradient($white, $white) padding-box,
                linear-gradient(to right, #bceb00, #00eaea) border-box;
              border: 1px solid transparent;
            }
            &:focus::placeholder {
              color: transparent;
            }
            @include lg {
              width: 100%;
              max-width: 540px;
            }
          }
        }
        .instagram {
          position: relative;
          max-width: 730px;
          width: 100%;

          img {
            position: absolute;
            width: 24px;
            height: 24px;
            left: 13px;
            top: 36px;
            z-index: 10;
          }

          input {
            width: 100%;
            padding-left: 50px;
            font-family: $spaceGroteskFont;
            font-size: 16px;
            line-height: 20px;
            // margin-bottom: 20px;

            &::placeholder {
              color: rgba(0, 0, 0, 0.2);
            }

            &:focus {
              background: linear-gradient($white, $white) padding-box,
                linear-gradient(to right, #bceb00, #00eaea) border-box;
              border: 1px solid transparent;
            }

            &:focus::placeholder {
              color: transparent;
            }
          }
        }
      }
      @include md {
        position: relative;
        display: block;
        padding: 20px 0;
      }
    }
    .account-display-buttons {
      display: flex;

      button {
        margin-right: 10px;

        @include sm {
          margin-bottom: 15px;
        }
      }
      // @include lg {
      //   margin-left: 185px;
      //   margin-bottom: 40px;
      // }

      // @include md {
      //   margin-left: 0%;
      // }

      @include sm {
        display: grid;
        justify-content: unset;
      }
    }

    button {
      // height: max-content;
      span {
        margin-right: 12px;
        &.hide__on__mobile {
          @include sm {
            display: none;
          }
        }
      }
    }
  }

  @include lg {
    width: 100%;
    padding: 0px 60px;
    margin: 0 auto;
  }
  @include sm {
    width: 100%;
    padding: 0px 20px;
    margin: 0 auto;
  }
}
