@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.my--bids--list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  .my--bids--item {
    display: grid;
    background: $white;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    grid-gap: 18px;
    &.past {
      .my--bids--image {
        .full--width {
          opacity: 0.6;
        }
        .date {
          width: 209px;
          background: rgba(255, 0, 0, 0.5);
        }
      }
    }

    .my--bids--image {
      cursor: pointer;
      position: relative;
      width: 100%;
      height: 311px;
      border-radius: 12px 12px 0px 0px;
      .full--width {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.show--avatar {
        .full--width {
          background-image: url("../../../assets/images/artist_card_bg.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        img.original {
          display: none;
        }
        img.artist--image {
          display: block;
        }
      }
      img.artist--image {
        display: none;
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid $white;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
      &.timeLeft {
        .date {
          .date--border--div {
            position: absolute;
            width: calc(100% + 8px);
            min-height: 50px;
            z-index: -9;
            left: -4px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100px;
            background-image: linear-gradient(#2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6);
            background-origin: border-box;
            box-shadow: 2px 1000px 1px #010101 inset;
            border: 2px solid transparent;
            opacity: 0.6;
          }
        }
      }
      .date {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(4px);
        border-radius: 100px;
        padding: 6px;
        width: 138px;
        label {
          display: block;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 8px;
          line-height: 100%;
          text-transform: uppercase;
          color: $white;
          opacity: 0.5;
          text-align: center;
          margin-bottom: 3px;
        }
        span {
          display: block;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 160%;
          text-align: center;
          color: $white;
        }
      }
      @include md {
        height: 260px;
      }
      @include sm {
        height: 311px;
      }
    }

    .my--bids--details {
      padding: 0 12px 12px;
      .title {
        display: flex;
        justify-content: space-between;
        h2 {
          margin-bottom: 6px;
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: $black;
          cursor: pointer;
        }
      }
      .creator {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 20px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          color: rgba(0, 0, 0, 0.4);
          margin-left: 12px;
          margin-right: 5px;
        }
        a {
          color: $black;
          cursor: pointer;
        }
      }
      .my--bid--section {
        position: relative;
        margin-bottom: 12px;
        padding: 20px 30px;
        background: linear-gradient($white, $white) padding-box,
          linear-gradient(
              135deg,
              rgba(42, 208, 202, 1),
              rgba(225, 246, 100, 1),
              rgba(254, 176, 254, 1),
              rgba(171, 179, 252, 1),
              rgba(93, 247, 164, 1),
              rgba(88, 196, 246, 1)
            )
            border-box;
        border: 2px solid transparent;
        border-radius: 8px;
        .caption {
          position: absolute;
          top: -8px;
          left: 30px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 140%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: rgba(0, 0, 0, 0.4);
          background: $white;
          padding: 0 6px;
        }
        p {
          display: flex;
          align-items: center;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          color: $black;
          img {
            margin-right: 4px;
          }
          span {
            font-size: 12px;
            margin-left: 4px;
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }
      .statistics {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 25px;
        background: #f7f7f7;
        border: 1px solid #f0f0f0;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 0 14px;
        > div {
          padding: 14px 0;
          &:nth-child(1) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          &:nth-child(2) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          label {
            display: block;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
          }
          p {
            display: flex;
            align-items: center;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            color: $black;
            img {
              margin-right: 4px;
              width: 16px;
              height: 16px;
            }
            span {
              margin-left: 4px;
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }
      }
      .view--auction--btn {
        margin-top: 18px;
      }
    }
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
  }
  @include xl {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}
