@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.new--tab--parent--block {
    width: 100%;
    padding: 0 60px;
    @include md {
        padding: 0 20px;
    }
    .new--tab--container {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
        .new--tab--header {
            .tabs--wrapper {
                position: relative;
                width: 100%;
                height: 50px;
                margin-bottom: 60px;
                z-index: 1;
                .tabs {
                    list-style: none;
                    display: flex;
                    .tab--item--parent--element {
                        position: relative;
                        @include md {
                            left: 0 !important;
                        }
                    } 
                    li {
                        position: relative;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-family: $sharpGroteskSemiBoldFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 30px;
                        color: $black;
                        background-color: $white;
                        width: 100%;
                        clip-path: polygon(97% 0%, 100% 50%, 97% 100%, 0% 100%, 3% 50%, 0% 0%);
                        cursor: pointer;
                        z-index: 5;
                        @include md {
                          clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
                          font-size: 10px;
                          height: 70px;
                        }
                        > div {
                            @include md {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                height: 70px;
                                line-height: 1;
                                padding: 0 40%;
                                img {
                                    margin-bottom: 5px;
                                }
                                // padding: 0 20px;
                            }
                        }
                        img {
                            margin-right: 7px;
                            opacity: 0.2;
                            @include md {
                                margin-right: 0;
                            }
                        }
                        &.active {
                            background-color: $black;
                            color: $white;
                            img {
                                opacity: 1;
                            }
                        }
                        &.disabled {
                            background: #f4f4f4a8;
                            color: rgba(0, 0, 0, 0.2);
                            user-select: none;
                            &:hover {
                                cursor: not-allowed;
                            }
                            &::after {
                                border-left: 10px solid rgba(0, 0, 0, 0.03);
                            }
                        }
                    }
                    .verification--step--tab {
                        height: 56px;
                        // padding: 0 3px;
                        background: rgba(177, 176, 176, 0.041);
                        clip-path: polygon(96% 0%, 100% 50%, 96% 100%, 0% 100%, 4% 50%, 0% 0%);
                        @include md {
                            height: 70px;
                        }
                        &:hover {
                          background: linear-gradient(to right, #bceb004f, #00eaea4f) border-box;
                          padding: 0 3px;
                        }
                        > div {
                            height: 50px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: $white;
                            clip-path: polygon(96.3% 0%, 100% 50%, 96.3% 100%, 0.5% 100%, 4.2% 50%, 0.5% 0%);
                            @include md {
                                height: 70px;
                            }
                        }
                        img {
                            opacity: 1;
                        }
                        @at-root .verif--tab--parent {
                            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                            border-radius: 4px;
                            background-color: rgba(220, 220, 221, 0.14);
                            top: -3px;
                            position: relative;
                            @include md {
                                top: 0;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}