@import '../../../assets/scss/variables';
@import '../../../assets/scss/_mixins';

.helpus--general--section {
  padding: 90px 60px;
  background: linear-gradient(360deg, #000000 1.12%, #44a4b6 109.49%, rgba(68, 164, 182, 0) 157.55%);
  @include md {
    padding: 50px 19px;
  }
  .helpus--general--section--container {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    @include md {
      grid-template-columns: 1fr;
    }
    .right--block {
      h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 50px;
        color: $white;
        @include lg {
          font-size: 26px;
        }
      }
      p {
        font-family: $spaceGroteskFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        color: $white;
        margin-top: 20px;
        margin-bottom: 40px;
        @include lg {
          font-size: 16px;
          line-height: 25px;
        }
      }
      .info--box {
        display: flex;
        border-radius: 12px;
        .icon--section {
          padding: 32.5px;
          border-radius: 12px 0 0 12px;
          background-color: rgba(255, 255, 255, 0.05);
          display: flex;
          @include lg {
            align-items: center;
          }
          img {
            height: 25px;
            width: 25px;
            min-height: 25px;
            min-width: 25px;
          }
        }
        .text--section {
          padding: 19px 30px;
          background-color: rgba(255, 255, 255, 0.09);
          border-radius: 0 12px 12px 0;
          @include md {
            padding: 22px 19px;
          }
          h2 {
            font-family: $spaceGroteskFont;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            color: $white;
            @include lg {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
