@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.wrap {
  position: relative;
  height: 100%;
}
.wrap::before {
  display: block;
  background: radial-gradient(100% 100% at 0% 0%, #E1F664 0%, #FEB0FE 37.21%, #ABB3FC 68.23%, #5DF7A4 100%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  opacity: 0.2;
}

#broken-nft-container {
  position: relative;
  display: flex;
  border-radius: 6px;

  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.error-text {
  font-family: $spaceGroteskFont;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.4);
} 

#cog-img {
  width: 68px;
  height: 68px;
  margin-bottom: 12px;
}
