@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.parent--horizontal--slider {
    width: 100%;
    margin: 20px auto;
    position: relative;
    .bubble {
      top: 40px;
      font-size: 12px;
      font-family: $spaceGroteskFont;
      font-weight: bold;
      color: rgba(255, 255, 255, 0.2);
      text-transform: capitalize;
      background: rgba(255, 0, 0, 0);
      border: 1px solid rgba(255, 255, 255, 0.2);
      position: absolute;
      border-radius: 12px;
      left: 50%;
      transform: translateX(-45%);
      width: 110px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        color: $white;
      }
    }
    .bubble::after {
      // content: "";
      // position: absolute;
      // // width: 10px;
      // height: 10px;
      // // background: red;
      // top: -10px;
      // left: 50%;
    }
    .bubble::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 10px solid #556a74;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      bottom: 100%;
      left: 41%;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      // border-radius: 4px;
    }
    .slider--range--labels {
      width: 100%;
      color: $white;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 140%;
      .slider--start--label {
        float: left;
        color: #78EB03;
      }
      .slider--end--label {
        float: right;
        color: #FE4F4F;
      }
    }
    input[type=range] {
        width: 100%;
        background-color: transparent;
        -webkit-appearance: none;
      }
      input[type=range]:focus {
        outline: none;
      }
      input[type=range]::-webkit-slider-runnable-track {
        background-color: $white;
        background-image: linear-gradient(90deg, #75EB00 0%, rgba(117, 235, 0, 0) 50%, rgba(254, 75, 75, 0) 50%, #FE4B4B);
        border: 0.2px solid $white;
        border-radius: 18px;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
      }
      input[type=range]::-webkit-slider-thumb {
        margin-top: -12px;
        width: 32px;
        height: 32px;
        background: #ffffff;
        border: 6px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
      }
      input[type=range]:focus::-webkit-slider-runnable-track {
        background-image: linear-gradient(90deg, #75EB00 0%, rgba(117, 235, 0, 0) 50%, rgba(254, 75, 75, 0) 50%, #FE4B4B);
      }
      input[type=range]::-moz-range-track {
        background-image: linear-gradient(90deg, #75EB00 0%, rgba(117, 235, 0, 0) 50%, rgba(254, 75, 75, 0) 50%, #FE4B4B);
        border: 0.2px solid #010101;
        border-radius: 1.3px;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
      }
      input[type=range]::-moz-range-thumb {
        width: 32px;
        height: 32px;
        background: #ffffff;
        border: 4.4px solid #000000;
        border-radius: 50px;
        cursor: pointer;
      }
      input[type=range]::-ms-track {
        background: transparent;
        border-color: transparent;
        border-width: 12.8px 0;
        color: transparent;
        width: 100%;
        height: 8.4px;
        cursor: pointer;
      }
      input[type=range]::-ms-fill-lower {
        background: #2a6495;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
      }
      input[type=range]::-ms-fill-upper {
        background: #3071a9;
        border: 0.2px solid #010101;
        border-radius: 2.6px;
      }
      input[type=range]::-ms-thumb {
        width: 32px;
        height: 32px;
        background: #ffffff;
        border: 4.4px solid #000000;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 0px;
        /*Needed to keep the Edge thumb centred*/
      }
      input[type=range]:focus::-ms-fill-lower {
        background: #3071a9;
      }
      input[type=range]:focus::-ms-fill-upper {
        background: #367ebd;
      }
      /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
      how to remove the virtical space around the range input in IE*/
      @supports (-ms-ime-align:auto) {
        /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
        input[type=range] {
          margin: 0;
          /*Edge starts the margin from the thumb, not the track as other browsers do*/
        }
      }
}