@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.parent--horizontall--slider {
    width: 100%;
    min-height: 38px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    box-shadow: inset 0px 0px 20px $black;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    margin: 40px 0;
    @include sm {
        margin: 20px 0;
    }
    .child--horizontall--slider {
        min-height: 34px;
        // width: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 143.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), linear-gradient(90deg, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        // background: conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), linear-gradient(90deg, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        background-blend-mode: screen, normal;
        filter: blur(2px);
        border-radius: 100px 0px 0px 100px;
    }
    .horizontall--scroll--value {
        position: absolute;
        font-family: $spaceGroteskFont;
        font-weight: 600;
        font-size: 12px;
        line-height: 140%;
        text-align: center;
        color: $black;
        min-width: 20%;
        // span {
        //     @include sm {
        //         display: none;
        //     }
        // }
    }
}