@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.quantity--input--group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: $spaceGroteskFont;
    .label--block {
        width: 25% !important;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
    }
    .controll-box {
        display: flex;
        width: 75% !important;
        border: 1px solid rgba(255, 255, 255, 0.4);;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 12px;
        @include sm {
            width: 50%;
        }
        button {
            height: 40px !important;
            font-family: $spaceGroteskFont;
            display: block;
            width: 32% !important;
            background-color: rgba(255, 255, 255, 0.4);
            color: white;
            font-size: 35px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            cursor: pointer;
            font-weight: 100;
        }
        .value {
            width: 30% !important;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
        }
    }
}