@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.sale--type--filter {
  z-index: 2 !important;
    .sale--dropdown {
        position: absolute;
        top: 46px;
        left: 0px;
        background: $white;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 12px;
        z-index: 9;
        @include sm {
          width: calc(200% + 10px);
        }
        .sale--dropdown--body {
          padding: 30px 30px 0px;
          .sale--dropdown--header {
            display: flex;
            background: rgba(0, 0, 0, 0.06);
            border-radius: 12px;
            padding: 4px;

            div {
              padding: 6px;
              width: 168px;
              text-align: center;
              border-radius: 8px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $black;

              &.active {
                background: $white;
              }
            }
          }
          .sale--types {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px 12px;
            padding: 30px 0px;

            .sale--type--div {
              display: flex;
              align-items: center;

              .sale--type--checkboxes {
                -webkit-appearance: none;
                position: relative;
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 6px;
                width: 24px;
                height: 24px;
                margin-right: 12px;
                &:hover {
                  background-image: linear-gradient(101deg, #bceb00, #00eaea);
                  background-origin: border-box;
                  box-shadow: 2px 1000px 1px $white inset;
                  border: 1px solid transparent;
                }

                &:checked {
                  background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
                  border-color: transparent;

                  &::after {
                    content: '\2518';
                    color: #000000;
                    font-size: 16px;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    transform: rotate(45deg);
                  }
                }
              }
              .sale--type--name {
                h4 {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 140%;
                  color: $black;
                }
                p {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 150%;
                  color: rgba(0, 0, 0, 0.4);
                }
              }
            }
          }
        }
        .sale--dropdown--footer {
          display: flex;
          justify-content: space-between;
          padding: 14px 30px;
          border-top: 1px solid rgba(0, 0, 0, 0.1);

          .clear--all {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            color: $black;
            background: $white;
            text-decoration: underline;
          }
        }
    }
}