@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.planets--parent {
    .planets--adaka--section, .planets--prosopon--section, .planets--kuapo--section {
        padding: 0 60px;
        min-height: 700px;
        width: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(90deg, rgba(182, 220, 255, 0.2) -6.7%, rgba(184, 48, 248, 0.2) 50%, white 50%), #FFFFFF;
        display: flex;
        align-items: center;
        @include lg {
            min-height: 450px;
        }
        @include md {
            padding: 0 20px;
            // background: $white;
        }
        @include sm {
            background: linear-gradient(180deg, #FFFFFF 60%, rgba(255, 255, 255, 0) 75%), linear-gradient(360deg, rgba(182, 220, 255, 0.2) -6.7%, rgba(184, 48, 248, 0.2) 60%, white 50%), #FFFFFF;
        }
        .wrapper--center {
            min-height: 700px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;
            @include lg {
                min-height: 450px;
            }
            @include sm {
                flex-direction: column-reverse;
                > div {
                    width: 100% !important;
                }
            }
            > div {
                width: 50%;
            }
            .planet--image--block {
                // min-height: 700px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                @include sm {
                    justify-content: center;
                }
                img {
                    max-width: 120%;
                    max-height: 120%;
                    transform: translateX(-17%);
                    @include sm {
                        transform: translateX(0);
                    }
                }
            }
            .description--block {
                padding-left: 50px;
                @include sm {
                    padding-left: 0;
                    margin-top: 80px;
                    margin-bottom: 30px;
                }
                .planet--number {
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 140%;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.16);
                    margin-bottom: 20px;
                }
                .planet--name {
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 140%;
                    color: #000000;
                    margin-bottom: 20px;
                    @include lg {
                        font-size: 26px;
                    }
                    @include md {
                        font-size: 20px;
                    }
                }
                .description {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    color: #666666;
                    margin-bottom: 40px;
                    @include lg {
                        font-size: 14px;
                    }
                }
                button {
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: none;
                    img {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    .planets--prosopon--section {
        background: linear-gradient(270deg, rgba(251, 255, 79, 0.1) 0%, rgba(255, 135, 200, 0.1) 50%, white 50%), #FFFFFF;
        @include md {
            // background: $white;
            background: linear-gradient(0deg, rgba(251, 255, 79, 0.1) 0%, rgba(255, 135, 200, 0.1) 20%, white 70%), #FFFFFF;
        }
        .wrapper--center {
            @include sm {
                flex-direction: column;
            }
        }
        .description--block {
            padding-right: 50px;
            padding-left: 0 !important;
            @include sm {
                padding-right: 0;
            }
        }
        .planet--image--block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @include sm {
                justify-content: center;
            }
            img {
                transform: translateX(-5%) !important;
                @include sm {
                  transform: translateX(0) !important;
                }
            }
        }
    }
    .planets--kuapo--section {
        background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(90deg, rgba(138, 255, 157, 0.1) -1.77%, rgba(88, 237, 246, 0.1) 50%, white 50%), #FFFFFF;
        @include sm {
            background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%),
              linear-gradient(0deg, rgba(138, 255, 157, 0.1) -1.77%, rgba(88, 237, 246, 0.1) 35%, white 70%), #FFFFFF;
        }
    }
}