@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.collections--search--result {
  &--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    .collection--box {
      background: $white;
      box-sizing: border-box;
      border-radius: 12px;
      box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);

      &--header {
        height: 80px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

          &.blur {
            filter: blur(8px);
          }
        }

        .random--bg--color {
          height: 100%;
          width: 100%;
        }
      }

      &--body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $white;
        position: relative;
        z-index: 2;
        padding: 0 15px 30px;
        border-radius: 12px;

        .collection--avatar {
          height: 75px;
          width: 75px;
          object-fit: cover;
          border-radius: 50%;
          border: 2px solid $white;
          margin-top: -40px;
        }

        .random--avatar--color {
          height: 75px;
          width: 75px;
          border-radius: 50%;
          border: 2px solid $white;
          margin-top: -40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $sharpGroteskMediumFont;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          text-transform: uppercase;
          color: $black;
        }

        .collection--name {
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          text-align: center;
          color: $black;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        .owner {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 150%;
          span {
            color: rgba(0, 0, 0, 0.4);
            margin-right: 3px;
          }
          a {
            color: $black;
            font-weight: bold;
          }
        }
      }
    }

    @include lg {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
  }
}