@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.characters-drop{
    .welcome__section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $black;
        min-height: 720px;
        padding: 0 60px;
        .scroll-part{
            position:absolute;
            bottom: 0;
            height: 80px;
            left: 85%;
            cursor: pointer;
            opacity: 0.5;
            @include sm {
                left: unset;
            }
            img{
                cursor: pointer;
                transform: rotate( -270deg);
                padding-top: 12px;
            }
            button{    
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 100%;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-90deg);
            background: transparent;
            }
        }
        
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1110px;
            margin: 0 auto;
            @include lg {
                text-align: center;
                margin: 0 0 0 11%;
                // margin: 30px auto 50px;
            }
            @include sm {
                font-size: 16px;
                margin: 16px auto 30px;
            }
            @media (min-width: 993px) and (max-width: 1700px){
                margin: 0px 18% 0 28%;
            }

            .left {
                position: relative;
                display: inline;
                margin-left: 12%;
                @include lg {
                    margin-left: unset;
                 }
                 @include sm {                       
                    margin-left: 20px;               
                 }
                h1 {
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 90px;
                    line-height: 100%;
                    letter-spacing: -2px;
                    color: #FFFFFF;
                    @include lg {
                        font-size: 60px;
                     }
                     @include sm {                       
                     font-size: 42px;                 
                     }
                     @media (max-width:365px) {
                        font-size: 37px;
                     }
                }
                .title1{
                    margin-left: -30%;
                    position: relative;
                    @include lg {
                        margin-left: -65%;
                     }
                     @include sm     {
                        margin-left: -2%;
                     }
                }
                p.desc {
                    margin: 30px 0 50px;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    color: rgba(255, 255, 255, 0.6);
                    max-width: 436px;
                    b{
                        color: #FFFFFF;
                    }
                    @include sm {
                        margin-top: 15%;
                        font-size: 16px;
                        max-width: 272px;
                    }
                }   
            }
            .char-img1{
                position: absolute;
                top: 11%;
                left: -53%;
                z-index: 99;
                display: inline;
                @include lg {
                    max-width: 50%;
                    left: -40%;
                 }
                 @include sm {   
                    max-width: 139px;
                    left: -30px;
                    top: 23%;
                 }
                 @media (max-width:365px) {
                    max-width: 40%;
                    left: -12px;
                    top: 23%;
                 }
            }
            .char-img2{
                position: absolute;
                top: -30%;
                left: 22%;
                display: inline;
                @include lg {
                    max-width: 32%;
                    left: 40%;
                    top: -26%;
                 }
                 @include sm {   
                    max-width: 28%;
                    left: 70%;
                    top: -20%;
                 }
            }
            .char-img3{
                position: absolute;
                top: 26%;
                display: inline;
                left: 60%;
                @include lg {
                    max-width: 35%;
                    left: 75%;
                 }
                 @include sm {   
                    max-width: 37%;
                    left: 72%;
                    top: 19%;
                 }
                 @media (max-width:370px) {
                    max-width: 28%;
                    top: 20%;
                 }
            }
        }
    }
//     .planet1--parent {
//         background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%),
//           linear-gradient(90deg, rgba(182, 220, 255, 0.2) -6.7%, rgba(184, 48, 248, 0.2) 72%, $white 72%), #FFFFFF;
//         padding: 0 60px;
//     }
//     .planet2--parent {
//         background: linear-gradient(270deg, rgba(251, 255, 79, 0.1) 0%, rgba(255, 135, 200, 0.1) 80%, #FFFFFF 50%), #FFFFFF;
//         padding: 0 60px;
//     }
//     .planet3--parent {
//         background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%),
//           linear-gradient(90deg, rgba(138, 255, 157, 0.1) -1.77%, rgba(88, 237, 246, 0.1) 72%, $white 72%), #FFFFFF;
//         padding: 0 60px;
//     }
//     .planets__section{
//         .planet1, .planet2, .planet3{
//             min-height: 700px;
//             width: 100%;
//             display: flex;
//             max-width: 1110px;
//             margin: auto;
//             @include lg {
//                 height: 405px;
//              }
//              @include sm {   
//                 display: flex;
//                 height: 750px;
//              }
        
//         .img-part{
//             position: relative;
//             width: 50%;
//             height: auto;
//             // right: 8%;
//             @include sm {   
//                 width: 100%;
//              }
//         }
//         .bg1{
//                 background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(110.73deg, rgba(182, 220, 255, 0.2) -6.7%, rgba(184, 48, 248, 0.2) 105.32%), #FFFFFF;
//                 .bg-text, .character-img, .bg-img{
//                     left: 35%;
//                     margin-right: -50%;
//                     transform: translate(-50%, -50%);
//                     position: absolute;
//                 }
//                 .bg-text{
//                     top: 32%;
//                     mix-blend-mode: overlay;
//                     @include lg {
//                       width: 70%;
//                     }
//                 }
//                 .character-img{
//                     top: 46%;
//                     @include lg {
//                         width: 70%;
//                     }
//                 }
//                 .bg-img{
//                     top: 54%;
//                     @include lg {
//                         top: 58%;
//                         width: 100%;
//                         left: 55%;
//                     }
//                 }
//             }
//         .bg2{
//                 background: linear-gradient(257deg, rgba(251, 255, 79, 0.1) 0%, rgba(255, 135, 200, 0.1) 100.71%), #FFFFFF;
//                 // left: 3%;
//                 .bg-text, .character-img, .bg-img{
//                     left: 55%;
//                     margin-right: -50%;
//                     transform: translate(-50%, -50%);
//                     position: absolute;
//                 }
//                 .bg-text{
//                     top: 28%;
//                     mix-blend-mode: overlay;
//                     @include lg {
//                         width: 70%;
//                     }
//                 }
//                 .character-img{
//                     top: 34%;
//                     filter: drop-shadow(0px 0px 100px #F1EFAB);
//                     @include lg {
//                         width: 85%;
//                     }
//                 }
//                 .bg-img{
//                     top: 59%;
//                     @include lg {
//                         top: 55%;
//                         width: 100%;
//                         left: 47%;
//                     }
//                     @include lg {
//                         top: 52%;
//                     }
//                 }
//         }
//         .bg3{
//                 background: linear-gradient(360deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 50%), linear-gradient(111.62deg, rgba(138, 255, 157, 0.1) -1.77%, rgba(88, 237, 246, 0.1) 105.25%), #FFFFFF;
//                 .bg-text, .character-img, .bg-img{
//                     left: 35%;
//                     margin-right: -50%;
//                     transform: translate(-50%, -50%);
//                     position: absolute;
//                 }
//                 .bg-text{
//                     top: 28%;
//                     mix-blend-mode: overlay;
//                     @include lg {
//                         width: 70%;
//                     }
//                 }
//                 .character-img{
//                     width: 95%;
//                     top: 29%;
//                     @include lg {
//                         width: 70%;
//                     }
//                 }
//                 .bg-img{
//                     top: 62%;
//                     width: 100%;
//                     @include lg{
//                         top: 52%;
//                         width: 100%;
//                         left: 51%;
//                     }
//                 }
//             }

//         .second{
//             padding-left: 0 !important;
//             padding-right: 10%;
//             // padding-top: 8%!important;
//         }
//         .content-part{
//             width: 50%;
//             padding-left: 50px;
//             background-color: $white;
//             // padding: 4%;
//             // padding-top: 8%;
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             justify-content: center;
//             @include sm {   
//                 width: 100%;
//             }
//         .num{
//             font-family: $sharpGroteskSemiBoldFont;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 11px;
//             line-height: 140%;
//             letter-spacing: 4px;
//             text-transform: uppercase;
//             color: rgba(0, 0, 0, 0.16);
//             padding-bottom: 20px;
//         }
//         h1{
//             font-family:$sharpGroteskSemiBoldFont;
//             font-style: normal;
//             font-weight: 600;
//             font-size: 32px;
//             line-height: 140%;
//             color: #000000;
//             padding-bottom: 20px;
//             @include lg{
//             font-size: 26px;
//             }
//         }
//         .text-p{
//             font-family:$spaceGroteskFont;
//             font-style: normal;
//             font-weight: normal;
//             font-size: 18px;
//             line-height: 150%;
//             color: #666666;
//             width: 100%;
//             padding-bottom: 40px;
//             @include lg{
//                 font-size: 14px;
//                 width: 100%;
//             }
//                 @include sm{
//                     padding-left: 10px;
//                     padding-right: 15px;
//                 }
//         }
//         button{
//             img{
//                 padding-left: 10px
//             }
//         }
//       }
//      }
//      .planet1, .planet3{
//         @include sm{
//            flex-direction: column-reverse;
//         }
//     }
//    .planet2{
//         @include sm{
//            flex-direction: column;
//          }   
//         }
//     }
    .future_core_section {
        position: relative;
        display: block;
        align-items: center;
        justify-content: center;
        background-color: $black;
        padding: 0 60px;
        min-height: 925px;
        @include lg {
            min-height: 670px;
        }
        @include md {
            padding: 0 20px;
        }
        @include sm {
            padding-bottom: 100px;
        }
        .bg--flag--future--core--drops {
            position: absolute;
            left: 0;
            top: 15%;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            @include sm {
                margin: 0;
                left: 0;
                top: 15%;
            }
        }
        // .char1{
        //     position: absolute;
        //     width: 100%;
        //     top: 55%;
        //     transform: rotate(1.01deg);
        //     left: 0;
        //     right: 0;
        //     @include sm{
        //         top: 31%;
        //         transform: rotate(15.49deg);
        //     }
        // }
        // .char2{
        //     position: absolute;
        //     width: 100%;
        //     top: 55%;
        //     transform: rotate(-5.51deg);
        //     left: 0;
        //     right: 0;
        //     @include sm{
        //         top: 31%;
        //         transform: rotate(-20.94deg);
        //     }
        // }
        .future_core_head{
            padding-top: 130px;
            padding-bottom: 80px;
            text-align: center;
            width: 100%;
            @include lg {
                padding-top: 100px;
                padding-bottom: 50px;
            }
            @include sm {
                padding-bottom: 40px;
            }
            h1 {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 140%;
                text-align: center;
                color: #FFFFFF;
                @include lg {
                    font-size: 26px;
                    text-align: left;
                }
                @include sm {
                    text-align: center;
                }
            }
        }
    }
    .img-info{
        display: flex;
        width: 100%;
        max-width: 1110px;
        margin: auto;
        justify-content: space-between;
        @include sm {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .polmorphic-part{
        position: relative;
        z-index: 10;
        min-height: 535px;
        width: calc(50% - 15px);
        background:url(../../assets/images/polmorphic.png), conic-gradient(from 209.44deg at 104.91% -5.17%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(183.7% 188.43% at -71.11% -57.8%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 12px;
        @include xl {
            min-height: 45vw;
        }
        @include lg {
            min-height: 50vw;
        }
        @include sm {
            width: 100%;
            min-height: 100vw;
        }
        // margin-right: 15px;
        // @include lg {
        //     background:url(../../assets/images/polmorphic-tablet.png), conic-gradient(from 209.44deg at 104.91% -5.17%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(183.7% 188.43% at -71.11% -57.8%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        //     width: 344px;
        //     height: 375px;
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat
        // }
        // @include sm {
        //     background-size: 100% 100%;
        //     background:url(../../assets/images/polmorphic-mobile.png), conic-gradient(from 209.44deg at 104.91% -5.17%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(183.7% 188.43% at -71.11% -57.8%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        //     width: 335px;
        //     height: 375px;
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat;
        //     margin-right: unset;
        //     margin-top: 15px;
        // }
        // @media (max-width: 440px) {
        //     width: 250px;
        //     height: 335px;
        //   }
        // @media (max-width: 300px) {
        //   width: 210px;
        //   height: 270px;
        // } 
        .vec-div{
          background: rgba(0, 0, 0, 0.6);
          border-radius: 8px;
          position: absolute;
          width: 69px;
          height: 69px;
          top: 30px;
          left: 30px;
          @include lg{
              width: 54px;
              height: 54px;
          }
          img{
              left: 33%;
              position: absolute;
              top: 33%;
              @include lg{
                  width: 40%;
                  top: 35%;
                  left: 31%;
              }
          }
        }
        .info-text{
            padding: 0px 25px 25px  30px;
            position: absolute;
            bottom: 0;
            @include lg {
                padding: 0 20px;
              }
              @include sm {
                  font-size: 12px;
              }  
         h1{
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            display: flex;
            align-items: center;
            color: #000000;
            flex: none;
            order: 0;
            flex-grow: 0;
            margin: 12px 0px;
            @include lg {
                font-size: 16px;
            }
        }
        p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.6);
            flex: none;
            order: 1;
            flex-grow: 0;
            margin: 12px 0px;
            @include lg {
                font-size: 12px;
            }
        }
     }
    }
    .comics-part{
        position: relative;
        z-index: 10;
        min-height: 535px;
        // width: 540px;
        width: calc(50% - 15px);
        background:url(../../assets/images/comics.png), conic-gradient(from 203.44deg at 100% -7.8%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(212.34% 218.84% at 206.2% -109.87%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.88%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: 12px;
        @include xl {
            min-height: 45vw;
        }
        @include lg {
            min-height: 50vw;
        }
        @include sm {
            width: 100%;
            min-height: 100vw;
            margin-top: 30px;
        }
        // margin-left: 15px;
        // @include lg {
        //     background:url(../../assets/images/comics-tablet.png), conic-gradient(from 209.44deg at 104.91% -5.17%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(183.7% 188.43% at -71.11% -57.8%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        //     width: 344px;
        //     height: 375px;
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat;
        // }
        // @include sm {
        //     background-size: 100% 100%;
        //     background:url(../../assets/images/comics-mobile.png), conic-gradient(from 209.44deg at 104.91% -5.17%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg), radial-gradient(183.7% 188.43% at -71.11% -57.8%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.87%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
        //     width: 335px;
        //     height: 375px;
        //     background-size: 100% 100%;
        //     background-repeat: no-repeat;
        //     margin-left: unset;
        //     margin-top: 15px;
        // }
        // @media (max-width: 440px) {
        //     width: 250px;
        //     height: 335px;
        //   }
        //   @media (max-width: 300px) {
        //     width: 210px;
        //     height: 270px;  
        //   } 
          .vec-div{
            background: rgba(0, 0, 0, 0.6);
            border-radius: 8px;
            position: absolute;
            width: 69px;
            height: 69px;
            top: 30px;
            left: 30px;
            @include lg{
                width: 54px;
                height: 54px;
            }
            img{
                left: 33%;
                position: absolute;
                top: 33%;
                @include lg{
                    width: 40%;
                    top: 35%;
                    left: 31%;
                }
            }
          }
        .info-text{
            padding: 0px 25px 25px  30px;
            position: absolute;
            bottom: 0;
            @include lg {
              padding: 0 20px;
            }
            @include sm {
                font-size: 12px;
                padding: 0 20px;
            }
            h1 {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 130%;
                display: flex;
                align-items: center;
                color: #000000;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin: 12px 0px;
                @include lg {
                    font-size: 16px;
                }
                @include sm {
                    font-size: 16px;
                
                }
            }
            p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: rgba(0, 0, 0, 0.6);
                flex: none;
                order: 1;
                flex-grow: 0;
                margin: 12px 0px;
                @include lg {
                    font-size: 12px;
                }
            }
        }
    }
}