@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.select--sell--method--tab {
    .select--sell--method--title {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: $black;
        margin-bottom: 60px;
        @include sm {
            margin-bottom: 40px;
            font-size: 16px;
        }
    }
    .select--methods--section {
        width: 100%;
        min-height: 310px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 120px;
        @include sm {
            flex-direction: column;
        }
        .method--item {
            width: calc(33.3% - 20px);
            padding: 1px;
            box-sizing: border-box;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            // cursor: pointer;
            user-select: none;
            cursor: pointer;
            @include sm {
                width: 100%;
                margin-bottom: 20px;
            }
            .child {
                width: 100%;
                min-height: 310px;
                background-color: $white;
                border-radius: 11px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 35px;
                .icon--block {
                    margin-bottom: 20px;
                }
                .title {
                    display: block;
                    text-align: center;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 160%;
                    color: $black;
                    margin-bottom: 5px;
                }
                .description {
                    text-align: center;
                    font-family: $spaceGroteskFont;
                    font-size: 14px;
                    line-height: 160%;
                    color: rgba(0, 0, 0, 0.4);
                    margin-bottom: 20px;
                    @include md {
                        font-size: 12px;
                    }
                }
                .select--method--btn {
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .method--item:hover {
            background: linear-gradient(157deg, rgba(188,235,0,1) 25%, rgba(0,234,234,1) 100%);
            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        }
    }
    .go--to--universe--auctions--section {
        padding: 2px;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        top: 100px;
        border-radius: 12px;
        background: radial-gradient(95.11% 95.11% at 36.64% 4.89%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.88%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%), conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg);
        .child {
            background: url('../../../assets/images/sellNft/go-to-universe-auction-section-bg-img.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            min-height: 250px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            @include sm {
                min-height: 220px;
            }
            .section--title {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 140%;
                text-align: center;
                color: $black;
                margin-bottom: 28px;
                @include sm {
                    font-size: 20px;
                }
            }
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    margin-left: 10px;
                    transform: rotate(180deg);
                }
            }
        }
    }
}