
@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.auction-reward{
    .view-tier{
        margin-top: 10%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        padding: 34px 30px;
        .auction-header{
            display: flex;
            width: 100%;
        }
        .auctions-tier{
            margin-top: 36px;
        }

        .img_head{
            display: flex;
            align-items: center;
            width: 82%;

            .img_head_title{
                display: flex;
                h3{
                    font-family: $sharpGroteskMediumFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.2px;
                    color: #000000;
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    margin-right: 12px;
                }
            }
            .winners__edit__btn{
                .winners{
                    display: flex;
                    .tier-winners, .tier-perwinners{
                        
                        background: rgba(0, 0, 0, 0.05);
                        border-radius: 12px;
                        margin-right: 12px;
                        h4{
                            position: static;
                            height: 21px;
                            left: 15.69%;
                            right: 15.69%;
                            top: 6px;
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 21px;
                            display: flex;
                            align-items: center;
                            color: #000000;
                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            margin: 6px 16px ;
                        }
                        @include sm{
                            margin-bottom: 10px;
                            width: fit-content;
                        }
                    }
                    @include lg{
                        margin-top: 12px;
                        margin-left: 35px;
                    }
                    @include sm{
                        margin-left: 0%;
                        display: grid;
                    }
                }
                button{
                    display: none;
                    img{
                        padding-left: 12px;
                        padding-right: 5px;
                    }

                    @include sm{
                        display: flex;
                        width: 100%;
                        margin-top: 10px;
                    }
                }
                @include sm{
                    width: 100%;
                }
            }
            @include lg{
                display: grid;
            }
            @include sm{
                width: 100%;
            }
        }
        .launch-auction{        
            height: 42px;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            margin-left: 20px;
            margin-right: 12px;
            img{
                margin-top: 10px;
                margin-left: 10px;
                height: 20px;

                @include sm{
                    margin-top: 0;
                    margin-left: 0;
                }
            }

            @include sm{
                margin-left: 0;
                margin-right: 0;
                border-left: none;
            }
        }  
        .edit-show{
            display: flex;
            // width: 18%;
            button{
                display: flex;
                img{
                    padding-left: 12px;
                    padding-right: 5px;
                }
                @include sm{
                    display: none;
                }
            }
        }
         
    }
    .auction-reward {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
        
        .auction-reward__box {
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            padding: 12px;
            position: relative;

            &__image {
                position: relative;
                margin-bottom: 12px;
                cursor: pointer;
                height: 230px;
                width: 230px;

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
                img.preview-image {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }

                .check__icon {
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }
                .video__icon {
                    position: absolute;
                    top: 9px;
                    right: 7px;
                }
                @include lg{
                    width: 100%;
                    height: 129px;
                    text-align: center;
                    margin: auto;
                }
                @include sm {
                    width: 100%;
                    height: 312px;
                }
            }

            &__name {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                h3 {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: $black;
                }
                .three__dots {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    span {
                        height: 4px;
                        width: 4px;
                        background-color: $black;
                        border-radius: 50%;
                    }
                }
            }

            &__footer {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .ed-count{
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 21px;                                          
                    text-align: right;
                    color: #000000;

                }
                .collection__details {
                    display: flex;
                    align-items: center;
                    .random__bg__color {
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: $sharpGroteskMediumFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        text-transform: uppercase;
                        color: $black;
                    }
                    img {
                        height: 20px;
                        width: 20px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    span {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 12px;
                        color: $black;
                        margin-left: 6px;
                    }
                }
                div.collection__count {
                    position: relative;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    color: $black;
                    cursor: default;

                    &:hover {
                        .generatedEditions {
                            display: grid;
                            grid-column-gap: 10px;
                            grid-row-gap: 5px;
                            z-index: 1;
                        }
                    }
                }
            }

            &__highlight__one {
                position: absolute;
                bottom: -8px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom-left-radius: 150px;
                border-bottom-right-radius: 150px;
                width: 95%;
                height: 8px;
                left: 8px;
            }
            &__highlight__two {
                position: absolute;
                bottom: -16px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                border-right: 1px solid rgba(0, 0, 0, 0.1);
                border-bottom-left-radius: 150px;
                border-bottom-right-radius: 150px;
                width: 90%;
                height: 8px;
                left: 16px;
            }
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        @include sm {
            grid-template-columns: 1fr;
        }
    }
    .auction-inf{
        display: block;
        margin-top: 40px;
        .name-bid, .date-part{
            display: flex;
            width: 100%;
    
        .endDate, .startDate{
                width: 47%;
                margin-right: 30px;
                border-bottom:1px solid rgba(0, 0, 0, 0.1);
                padding: 18px 0;    
            }
        .startDate{
                // width: 48% !important;
            }
        .tName {
                width: 50% !important;
            }    
            
        .tName, .startingBid, .bidToken,{
            margin-right: 30px;
            width: 24%;
            border-top:1px solid rgba(0, 0, 0, 0.1);
            border-bottom:1px solid rgba(0, 0, 0, 0.1);
            padding: 18px 0;    
        }

            p{
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                display: flex;
                align-items: center;
                color: #000000;
            }
            span{
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                color: #1A1A1A;

            }
        }
    }  
    .auction-ext {
        margin-top: 3px;
        display: flex;
        font-size: 12px!important;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.6)!important;
        img {
          padding-left: 4px;
        }
      }
      .info-text {
        position: absolute;
        background: #ffffff;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 230px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        left: 57%;
        p{
        font-weight: normal!important;
        }
      } 
}