@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.calendar {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: $white;
  box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
  border-radius: 12px;
  width: 336px;
  .close {
    position: absolute;
    right: -13px;
    top: -13px;
    background: white;
    z-index: 9999;
    width: 26px;
    height: 26px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .calendar__wrapper {
    // display: flex  ;
    overflow-y: auto;

    @include md {
      // max-height: 400px;
      display: block;
    }
    .calendar-first {
      h1 {
        font-family: $sharpGroteskSemiBoldFont;
        padding: 34px 0 0px 30px;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
      }
    }
  }

  &__header {
    padding: 24px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-btn {
      background-color: #ffffff;
    }
    h2 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 22px;
      color: $black;
    }
    .month__changers {
      display: flex;
      align-items: center;
      button {
        background-color: $white;
        img {
          cursor: pointer;

          &.right {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__body {
    overflow: hidden;
    padding: 22px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .week__days {
      display: flex;
      align-items: center;
      div {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 125%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        width: 40px;
        height: 40px;
        @include sm {
          width: 30px;
          height: 30px;
        }
      }
    }
    .week__days__numbers {
      display: flex;
      align-items: center;
      button {
        background: none;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 125%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $black;
        width: 40px;
        height: 40px;

        &.selectedDay {
          background: #5fea73;
          border-radius: 6px;
          font-weight: bold;
        }

        &.selectedStartDay {
          background: #5fea73;
          // border-radius: 12px;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          font-weight: bold;
        }
        &.selectedEndDay {
          background: #5fea73;
          // border-top-left-radius: 12px;
          // border-bottom-left-radius: 12px;
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          font-weight: bold;
        }
        &.inRange {
          background: rgba(95, 234, 115, 0.4);
          font-weight: bold;
        }
        &.startEdge {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
        }
        &.endEdge {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
        }
        &:disabled {
          color: #d0d0d0;
        }
        // @include sm {
        //   width: 30px;
        //   height: 30px;
        // }
      }
    }
  }
  &__footer {
    padding: 24px 30px;
    padding-top: 8%;
    .timezone {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 14px;
      .label {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: $black;
      }
      .selected__timezone {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 22px;
        text-align: right;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .time__format {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 10px;
      margin-top: 10px;

      margin-bottom: 10px;
      padding: 6px;
      display: flex;
      align-items: center;
      > div {
        width: 50%;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        color: $black;
        padding: 4px;
        cursor: pointer;
        &.selected {
          background-color: $white;
          border-radius: 6px;
        }
      }
    }
    .time {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 10px;
      input {
        border-radius: 10px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 22px;
        text-align: center;
        color: $black;
        padding: 16px;
        width: 127px;
        @include sm {
          width: 111px;
        }
      }
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $black;
      }
    }
    .actions {
      margin-top: 14px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 16px;
      button {
        margin-top: 0;
      }

      @include md {
        margin-top: 35px;
      }
    }
    @include md {
      padding: 24px 30px;
    }
  }

  .error-message {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #ff4949;
    margin-top: 6px;
  }

  @include md {
    width: 100%;
    max-width: 290px;
  }
}
