@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.calendar {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: $white;
    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
    border-radius: 12px;
    width: 660px;
    display: flex;
    
    &__header {
        padding: 24px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left-btn{
            background-color: #ffffff;
        }
        h2 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 22px;
            color: $black;
        }
        .month__changers {
            display: flex;
            align-items: center;
            button {
                background-color: $white;
                img {
                    cursor: pointer;
                    
                    &.right {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    &__body {
        overflow: hidden;
        padding: 24px 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .week__days {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 125%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: rgba(0, 0, 0, 0.4);
                width: 40px;
                height: 40px;
                @include sm {
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .week__days__numbers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 125%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $black;
                width: 40px;
                height: 40px;
                margin: 3px 0;

                &.selectedStartDay {
                    background: #5FEA73;
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                    font-weight: bold;
                }
                &.selectedEndDay {
                    background: #5FEA73;
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                    font-weight: bold;
                }
                &.inRange {
                    background: rgba(95, 234, 115, 0.4);
                    font-weight: bold;
                }
                &.startEdge {
                    border-top-left-radius: 12px;
                    border-bottom-left-radius: 12px;
                }
                &.endEdge {
                    border-top-right-radius: 12px;
                    border-bottom-right-radius: 12px;
                }
                @include sm {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
    &__footer {
        padding: 24px 30px;
        padding-top:15%;
        .timezone {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .label {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                color: $black;
            }
            .selected__timezone {
                position: relative;
                background: rgba(0, 0, 0, 0.02);
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 10px;
                padding: 3px 15px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 22px;
                color: $black;
                cursor: pointer;
                img {
                    margin-left: 12px;
                    transition: 0.5s ease-in-out;
                    &.rotate {
                        transform: rotate(180deg);
                    }
                }
                ul {
                    position: absolute;
                    top: 32px;
                    left: 0;
                    width: 100%;
                    box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
                    background: $white;
                    border-radius: 12px;
                    padding: 6px;
                    max-height: 250px;
                    overflow-y: auto;

                    li {
                        text-align: center;
                        padding: 6px 15px;
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 22px;
                        color: $black;

                        &:hover {
                            background: rgba(0, 0, 0, 0.05);
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
        .close{
            position: absolute;
            right: -13px;
            top: -13px;
            background: white;
            z-index: 9999;
            width: 26px;
            height: 26px;
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;
        }
        .time__format {
            background: rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            margin-top: 10px;
            
            margin-bottom: 10px;
            padding: 6px;
            display: flex;
            align-items: center;
            > div {
                width: 50%;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                text-align: center;
                color: $black;
                padding: 4px;
                cursor: pointer;
                &.selected {
                    background-color: $white;
                    border-radius: 6px;
                }
            }
        }
        .time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 10px;
            input {
                border-radius: 10px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 22px;
                text-align: center;
                color: $black;
                padding: 16px;
                width: 127px;
                @include sm {
                    width: 111px;
                }
            }
            span {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: $black;
            }
        }
        .actions {
            margin-top: 64px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 16px;
            button {
                margin-top: 0;
            }
        }
    }
    @include sm {
        width: 295px;
    }
}