@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.welcome--slider--bonding--curve {
  width: 100%;
  max-width: 1110px;
  min-height: 305px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  padding: 0 80px;
  overflow: hidden;
  &.sold--out {
    min-height: 295px !important;
    @include sm {
      min-height: 265px !important;
    }
    @media (max-width: 375px) {
      min-height: 300px !important;
    }
  }
  @include lg {
    padding: 0 50px;
  }
  @include md {
    padding: 0 20px;
  }
  @include sm {
    min-height: 335px;
  }
  .left--blur {
    position: absolute;
    left: 80px;
    top: 240px;
    width: 250px;
    filter: blur(40px);
    @include sm {
      left: 0;
    }
  }
  .right--blur {
    position: absolute;
    right: -95px;
    bottom: 235px;
    filter: blur(40px);
    width: 250px;
    height: 450px;
    max-height: 450px;
  }
  .row1 {
    font-family: $spaceGroteskFont;
    h5 {
      margin: 40px 0 15px;
      font-family: $sharpGroteskSemiBoldFont;
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: #ffffff;
    }
    p {
      text-align: center;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
      span {
        color: rgba(255, 255, 255, 0.5);
        letter-spacing: 0.5px;
      }
    }
  }
  .row3--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include lg {
      align-items: flex-start;
    }
    .quantity--input--group {
      width: 215px !important;
      height: 50px;
      @include sm {
        max-width: 160px;
        width: 50% !important;
      }
      .label--block {
        width: 45% !important;
        @include sm {
          max-width: 160px !important;
          width: 100% !important;
        }
      }
      .controll-box {
        height: 50px;
        justify-content: space-between;
        padding: 0 4px;
        @include lg {
          margin: 5px 0 0;
        }
        @include sm {
          width: 100% !important;
          max-width: 160px !important;
        }
      }
      button {
        width: 40px !important;
        height: 40px !important;
        border-radius: 8px !important;
        display: block;
        position: relative;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 0.2s;
        .down--quantity,
        .up--quantity--horizontal,
        .up--quantity--vertical {
          width: 40%;
          height: 1px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background-color: $white;
        }
        .up--quantity--vertical {
          transform: rotate(90deg);
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
      @include lg {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        min-height: 80px;
      }
    }
    .light-button {
      height: 50px !important;
    }
    .price--block {
      width: 25% !important;
      min-height: 30px;
      @include sm {
        min-height: 70px;
        max-width: 160px;
        width: 50% !important;
      }
      p {
        color: white;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: Space Grotesk;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        .price--label {
          font-weight: 100;
          font-size: 14px;
        }
        @include lg {
          flex-direction: column;
          align-items: flex-end;
          justify-content: space-between;
          min-height: 70px;
        }
        span {
          @include lg {
            display: block;
          }
        }
      }
      img {
        margin: -5px 5px 0 10px;
      }
    }
  }
  .row3--section--sold--out {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .light-button {
    position: relative;
    display: block;
    height: 50px;
    box-shadow: 0px 10px 20px rgba(93, 247, 164, 0.2);
    @include sm {
      width: 100%;
      margin: 15px 0 0;
    }
    &.dark:disabled {
      background: rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.2);
      box-shadow: none;
    }
    &.light:disabled {
      box-shadow: none;
    }
  }
}
