@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.section3--randomise--parent {
    .wrapper--center {
        min-height: 800px;
        @include xl {
            padding: 0 60px;
        }
        @include lg {
            padding: 0 20px;
            min-height: 750px;
        }
        @include md {
            padding: 0 20px;
            min-height: 600px;
        }
        @include sm {
            flex-direction: column;
            justify-content: center;
            min-height: 550px;
            .wrapper--left--column {
                width: 100%;
            }
            .wrapper--right--column {
                width: 100%;
            }
        }
        
    }
    .left--randomise--img--block--parent {
        overflow: hidden;
        filter: drop-shadow(0px 10px 40px rgba(136, 120, 172, 0.2));
        @include sm {
            margin: 30px 0;
        }
        .left--randomise--img--block--child {
            max-width: 540px;
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            border-radius: 30px;
            @include xl {
                border-radius: 23px;
            }
            @include lg {
                border-radius: 20px;
            }
            @include md {
                border-radius: 15px;
            }
            @include sm {
                border-radius: 4.8%;
            }
            overflow: hidden;
            .headwears--img, .pants--img, .torso--img, .glasses--img, .shoes--img, .lefthand--img, .righthand--img {
                position: absolute;
                left: 0;
                top: 0;
            }
            .randomise--border--image {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 70 !important;
            }
            .marquee--top, .marquee--right, .marquee--bottom, .marquee--left {
                font-family: $sharpGroteskBoldFont;
                font-style: normal;
                font-weight: bold;
                font-size: 10px;
                line-height: 140%;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: $black;
                mix-blend-mode: normal;
                opacity: 0.1;
                display: flex;
                align-items: center;
                justify-content: center;
                word-spacing: 5px;
                div {
                    margin-left: 5px;
                }
            }
            .marquee--top {
                position: absolute;
                top: 1px;
                left: 0;
                right: 0;
                z-index: 71 !important;
                max-width: 540px;
                width: 95%;
                margin: auto;
                // background-color: brown;
            }
            .marquee--right {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: calc(50% + 6px);
                z-index: 72 !important;
                transform: rotate(90deg);
                max-width: 540px;
                width: 95%;
                margin: auto;
                // background-color: crimson;
                @include xl {
                    left: calc(50% + 4px);
                }
            }
            .marquee--bottom {
                position: absolute;
                bottom: 1px;
                left: 0;
                right: 0;
                z-index: 73 !important;
                max-width: 540px;
                width: 95%;
                margin: auto;
                transform: rotate(180deg);
                // background-color: chocolate;
            }
            .marquee--left {
                position: absolute;
                top: 0;
                left: calc(-100% + 14px);;
                right: 0;
                bottom: 0;
                z-index: 74;
                transform: rotate(-90deg);
                max-width: 540px;
                width: 95%;
                margin: auto;
                // background-color: blueviolet;
            }
        }
    }
    .wrapper--randomise--right--block {
        @include xl {
            padding: 0 30px;
        }
        @include sm {
            padding: 0;
        }
        .right--randomise--block--parent {
            max-width: 450px;
            margin: 0 auto;
            @include sm {
                display: flex;
                flex-direction: column-reverse;
                max-width:  576px;
            }
            .warning--popup--info {
                max-width: 445px;
                min-height: 92px;
                border: 1px solid #E4B613;
                border-radius: 12px;
                padding: 20px;
                box-sizing: border-box;
                @include lg {
                    padding: 15px;
                }
                @include sm {
                    margin-bottom: 50px;
                    max-width: 576px;
                }
                .warning--popup--info--child {
                    display: flex;
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 5px;
                    }
                    p {
                        font-family: Space Grotesk;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 160%;
                        color: #E4B613;
                        margin: 0;
                        @include lg {
                            font-size: 13px;
                        }
                    }
                }
                
            }
            button {
                width: 170px;
                height: 42px;
                margin-top: 45px;
                @include md {
                    margin-top: 20px;
                }
                @include sm {
                    width: 100%;
                    margin-top: 0;
                    margin-bottom: 30px;
                }
                img {
                    position: relative;
                    left: 8px;
                    bottom: 1px;
                    width: 20px;
                    height: 20px;
                }
            }
        } 
    }
    .tittle--randomise--block {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-size: 32px;
        line-height: 140%;
        color: #000000;
        margin: 20px 0;
        @include xl {
            font-size: 26px;
        }
        @include lg {
            font-size: 21px;
        }
        @include sm {
            text-align: center;
        }
    }
    .hint--text--randomise--block {
        font-family:  $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 40px;
        @include lg {
            font-size: 13px;
            margin-bottom: 20px;
        }
        @include md {
            margin-bottom: 20px;
        }
        @include sm {
            text-align: center;
        }
    }
}