@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.collections__list {
  button.slick-arrow {
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    &:hover {
      background: linear-gradient($white, $white) padding-box,
        linear-gradient(to right, #bceb00, #00eaea) border-box;
      border: 1px solid transparent;
    }

    &::before {
      display: none;
    }

    &.slick-prev {
      position: absolute;
      left: -18px;
      z-index: 1;
    }
    &.slick-next {
      position: absolute;
      right: -18px;
      z-index: 1;
    }
    @include md {
      visibility: hidden !important;
    }
  }
  .slick-slide {
    margin: 0 10px;
    border-radius: 12px;
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
  }
  .slick-list {
    .slick-track {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
}

.collection__card {
  position: relative;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  padding: 22px 24px 16px;
  cursor: pointer;

  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    .loading-image {
      position: relative;
      height: 74px;
      width: 74px;
      margin-top: 0px !important;
      .image__bg__effect {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        z-index: 1;
        border-radius: 50%;
      }
      > img,
      > video {
        border-radius: 50%;
        width: 100%;
        height: 74px;
      }

      .card-lds-roller {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        width: 80px;
        height: 80px;
        z-index: 2;
        zoom: 0.7;
      }
      .card-lds-roller div {
        animation: card-lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .card-lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin: -4px 0 0 -4px;
      }
      .card-lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .card-lds-roller div:nth-child(1):after {
        background: #adea12;
        top: 63px;
        left: 63px;
      }
      .card-lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .card-lds-roller div:nth-child(2):after {
        background: #90ea35;
        top: 68px;
        left: 56px;
      }
      .card-lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .card-lds-roller div:nth-child(3):after {
        background: #72ea5b;
        top: 71px;
        left: 48px;
      }
      .card-lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .card-lds-roller div:nth-child(4):after {
        background: #33eaaa;
        top: 72px;
        left: 40px;
      }
      .card-lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .card-lds-roller div:nth-child(5):after {
        background: #31eaae;
        top: 71px;
        left: 32px;
      }
      .card-lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .card-lds-roller div:nth-child(6):after {
        background: #00eaea;
        top: 68px;
        left: 24px;
      }
      .card-lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .card-lds-roller div:nth-child(7):after {
        background: #00eaea;
        top: 63px;
        left: 17px;
      }
      .card-lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .card-lds-roller div:nth-child(8):after {
        background: #00eaea;
        top: 56px;
        left: 12px;
      }
      @keyframes card-lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  &__footer {
    .collection__name {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #000000;
      margin-top: 16px;
      text-align: center;
    }
  }
  .tooltiptext {
    visibility: hidden;
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    background-color: $black;
    color: $white;
    text-align: center;
    border-radius: 100px;
    padding: 5px 12px;
    white-space: nowrap;
    position: absolute;
    z-index: 1111;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }
  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }
}