@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";
.minting-page {
  padding-bottom: 100px;
  background-image: url("../../../assets/images/minting_page_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .select--title {
    background-image: url("../../../assets/images/mintingGradient.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container {
      margin: 0px auto !important;
      padding: 60px 0;
      @include xl {
        padding: 60px 20px;
      }
      > h1 {
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 45px;
        color: rgba(0, 0, 0, 0.7);
      }
      > p {
        color: rgba(0, 0, 0, 0.6);
        font-family: $spaceGroteskFont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        margin-top: 10px;
      }
    }
  }
  .container {
    margin: 2px auto !important;
    width: 730px;
    @include md {
      width: 100%;
    }
  }
  .selecttype--section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @include sm {
      grid-template-columns: 1fr;
    }
    .nft-section {
      position: relative;
      z-index: 100;
      .single-box {
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.1), inset 0px -1px 1px rgba(0, 0, 0, 0.2),
          inset 0px 1px 0px rgba(255, 255, 255, 0.4);
        border-radius: 10px;
        padding: 49px 0 53px 0;
        text-align: center;
        min-height: 100%;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.6);
          box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2), inset 0px -1px 1px rgba(0, 0, 0, 0.2),
            inset 0px 1px 0px rgba(255, 255, 255, 0.4);

          .image-section {
            img.hide--on--hover {
              opacity: 0;
            }
            img.show--on--hover {
              opacity: 1;
            }
          }
        }
        .image-section {
          position: relative;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          img {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.3s ease-in;
          }
          img.hide--on--hover {
            opacity: 1;
          }
          img.show--on--hover {
            opacity: 0;
          }
        }
        .text-section {
          max-width: 234px;
          margin: 28px auto 0px;
          @include sm {
            margin: 0;
            max-width: unset;
            text-align: left;
          }
          > h3 {
            font-family: $spaceGroteskFont;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 29px;
            color: $black;
          }
          > p {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            margin-top: 15px;
            color: rgba(0, 0, 0, 0.6);
            @include sm {
              margin-top: 8px;
            }
          }
        }
        @include sm {
          display: grid;
          grid-template-columns: 72px 1fr;
          grid-gap: 20px;
          align-items: center;
          justify-content: center;
          padding: 30px;
        }
      }
    }
  }
}
