@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/_mixins';

.tablet__nav {
    display: none;
    align-items: center;
    button.hamburger {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 10px;
        background-color: $white;
    }
    .overlay {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
    }
    ul.nav__menu {
        position: absolute;
        right: 0;
        top: 80px;
        width: 100%;
        height: 0;
        // max-height: calc(100vh - 88px);
        max-height: 378px;
        padding: 0px 60px;
        background-color: $white;
        z-index: 999;
        animation: tabletMenuSlideIn .3s ease-in-out forwards;
        overflow-y: auto;
        li {
            .grid__menu {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                padding: 40px 0;
                p.title {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.4);
                    margin-bottom: 30px;
                }
                button {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 10px 10px 10px 0;
                    background-color: $white;
                    text-align: left;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 140%;
                    border-radius: 10px;
                    &.disable {
                        position: relative;
                        cursor: default;
                        img,
                        span:not(.tooltiptext) {
                            opacity: 0.2;
                        }
                        .tooltiptext {
                            visibility: hidden;
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            width: 120px;
                            background-color: $black;
                            color: $white;
                            text-align: center;
                            border-radius: 100px;
                            padding: 5px 0;
                            position: absolute;
                            z-index: 1;
                            top: -25px;
                            left: 25%;
                            transform: translateX(-50%);
                            &::after {
                                content: "";
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: black transparent transparent transparent;
                            }
                        }
                        &:hover {
                            .tooltiptext {
                                visibility: visible;
                            }
                        }
                    }
                    img {
                        margin-right: 8px;
                    }
                }
                @include md {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            &.sign__in {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                button {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $black;
                    padding: 15px;
                    background: 
                        linear-gradient($white, $white) padding-box,
                        linear-gradient(to right, #BCEB00, #00EAEA) border-box;
                    border: 1px solid transparent;
                    border-radius: 12px;
                }
            }
        }
    }
    .wallet__connected__tablet {
        position: relative;
        img.account__icon {
            width: 40px;
            height: 40px;
            margin-right: 12px;
            &.hide__on__tablet {
                display: block;
                @include lg {
                    display: none;
                }
            }
            &.show__on__tablet {
                display: none;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 50%;
                @include lg {
                    display: block;
                }
            }
        }
        .dropdown {
            position: absolute;
            right: 0;
            top: 60px;
            background: $white;
            border-radius: 10px;
            width: 280px;
            z-index: 2;
            filter: drop-shadow(0px 10px 20px rgba(136, 120, 172, 0.2));

            &__header {

                .copy-div{
                    position: relative;
                    padding: 15px 20px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .copy__div{
                            padding-top: 2px;
                            padding-right: 8px;

                            .copy>span{
                                font-family: $spaceGroteskFont;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 18px;
                                color: #000000;
                                opacity: 0.4;
                            }
                            .copyImg{
                                margin-right: 5px; 
                                margin-left: 11px; 
                            }
                            .copy>span{
                                opacity: 0.6;
                            }
                            .copied-div{
                                position: absolute;
                                width: fit-content;
                                height: 27px;
                                background: #000;
                                border-radius: 100px;
                                font-family: $spaceGroteskFont;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 12px;
                                line-height: 150%;
                                text-align: center;
                                color: #FFFFFF;
                                margin-top: -12%;
                                left: 68%;
                                padding: 4px 12px;
                            
                                span{
                                    position: absolute;
                                    width: 7.6px;
                                    height: 7.6px;
                                    left: 48%;
                                    top: 23px;
                                    background: #000;
                                    transform: matrix(0.71, 0.7, -0.71, 0.71, 0, 0);
                                }
                            }
                        }
                }   
                
                .first-span{
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 22px;
                align-items: center;
                color: #000000;
                }
                .second-span{
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                align-items: center;
                color: rgba(0, 0, 0, 0.4);
                margin: 0px 12px;     
                }

                .group1 > img, .group2 > img{
                    margin: 0px 12px 0 0;
                }

                .group1 ,.group2{
                    margin-top: 15px;
                    padding: 0 20px;
                }
                
                .group2 {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    padding-bottom: 20px;   
                }

                .diamond {
                    border: 1px solid #E6E6E6;
                    border-radius: 50%;
                    padding: 5px 6px;
                }
                .ethereum__address {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    color: $black;
                    margin: 0 12px;
                }
                .copy {
                    cursor: pointer;
                }

            }

            &__body {
                padding: 6px;
                button {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 20px;
                    background-color: $white;
                    text-align: left;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    border-radius: 10px;
                    &:hover {
                        background: rgba(0, 0, 0, 0.05);
                    }
                    &.signOut {
                        color: #FF4949;
                        &:hover {
                            background: rgba(255, 73, 73, 0.05)!important;
                        }
                    }
                    img {
                        margin-right: 8px;
                    }
                }
                
            }
        }
    }
    @include lg {
        display: flex;
    }
    @include sm {
        display: none;
    }
}