@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.browse--nft--page {
  .browse--nft--grid {
    display: grid;
    // grid-template-columns: 300px 1fr;

    .browse--nft--sidebar--filtration {
      background: $white;
      height: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      &--item {
        padding: 30px 20px;
        &:not(:last-child) {
          border-bottom: 1px solid #e4e4e4;
        }
        &--header {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          h3 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            color: $black;
          }
          img {
            transition: 0.1s ease-in-out;
            &.rotate {
              transform: rotate(180deg);
            }
          }
          .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            min-width: 40px;
            height: 24px;
          }

          .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }

          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          .slider:before {
            position: absolute;
            content: '';
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }

          input:checked + .slider {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
              linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
          }

          input:checked + .slider:before {
            -webkit-transform: translateX(16px);
            -ms-transform: translateX(16px);
            transform: translateX(16px);
          }

          /* Rounded sliders */
          .slider.round {
            border-radius: 50px;
          }

          .slider.round:before {
            border-radius: 50%;
          }
        }
        &--content {
          margin-top: 20px;
          .sale--type--buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
            button {
              padding: 15px 20px;
              background: $white;
              border: 1px solid rgba(0, 0, 0, 0.2);
              box-sizing: border-box;
              border-radius: 12px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 140%;
              color: $black;
              &.selected {
                border: 1px solid transparent;
                background-image: linear-gradient(101deg, #bceb00, #00eaea);
                background-origin: border-box;
                box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.7) inset;
              }
            }
          }
          .apply-button {
            margin-top: 10px;
            width: 100%;
          }
          .price--dropdown--item--list {
            display: flex;
            align-items: center;
            background: $white;
            border: 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            padding: 11px 15px;
            cursor: pointer;
            position: relative;
            > div:nth-child(1) {
              margin-right: 12px;
            }
            > div:nth-child(2) {
              flex: 1;
              h6 {
                display: flex;
                align-items: center;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: $black;
              }
              p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 13px;
                color: rgba(0, 0, 0, 0.4);
                margin-left: 6px;
              }
            }
            > div:nth-child(3) {
              img {
                transition: 0.1s ease-in-out;
                &.rotate {
                  transform: rotate(180deg);
                }
              }
            }
            &--items {
              position: absolute;
              left: 0;
              right: 0;
              top: 43px;
              z-index: 10;
              background: $white;
              box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
              border-radius: 12px;
              padding: 7px 9px;
              .price--dropdown--item {
                display: flex;
                align-items: center;
                padding: 11px 10px;
                > div:nth-child(1) {
                  margin-right: 12px;
                }
                > div:nth-child(2) {
                  h6 {
                    display: flex;
                    align-items: center;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    color: $black;
                  }
                  p {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 13px;
                    color: rgba(0, 0, 0, 0.4);
                    margin-left: 6px;
                  }
                }
                &:hover {
                  background: rgba(0, 0, 0, 0.05);
                  border-radius: 6px;
                }
              }
            }
          }
          .min--max--fields {
            margin-top: 20px;
            display: flex;
            align-items: center;
            input {
              background: $white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              border-radius: 12px;
              padding: 11px 16px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: $black;
              width: 45%;
              &::placeholder {
                color: rgba(0, 0, 0, 0.2);
              }
            }
            span.to {
              margin: 0 7px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              color: $black;
            }
            button {
              background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
              box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
              border-radius: 10.08px;
              margin-left: 10px;
              padding: 14px 11px;
              &:hover {
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
                  linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
              }
              &:disabled {
                background: rgba(0, 0, 0, 0.05);
                color: rgba(0, 0, 0, 0.2);
                box-shadow: none;
                cursor: not-allowed;
                img {
                  opacity: 0.4;
                }
              }
              img {
                transform: rotate(180deg);
              }
            }
          }
          .range--slider {
            // margin-top: 20px;
            .input-range__label {
              display: none;
            }
            .input-range__slider {
              background: $white;
              border: 3px solid white;
              height: 20px;
              margin-top: -0.85rem;
              width: 20px;
              box-shadow: 0px 7px 14px rgba(136, 120, 172, 0.2);
            }
            .input-range__track--active {
              background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
            }
          }
          .search--field {
            position: relative;
            margin-bottom: 20px;
            input {
              width: 100%;
              background: $white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              border-radius: 12px;
              padding: 11px 48px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 20px;
              color: $black;
              &::placeholder {
                color: rgba(0, 0, 0, 0.2);
              }
            }
            img {
              position: absolute;
              top: 13px;
              left: 18px;
            }
          }
          .collections--list {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 12px;
            }
            img {
              width: 32px;
              height: 32px;
              object-fit: cover;
              margin-right: 10px;
              border-radius: 5px;
            }
            .collection--avatar {
              height: 32px;
              width: 32px;
              object-fit: cover;
              border-radius: 5px;
              // border: 2px solid $white;
              margin-right: 10px;
            }

            .random--avatar--color {
              height: 32px;
              width: 32px;
              border-radius: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-family: $sharpGroteskMediumFont;
              font-style: normal;
              font-weight: 500;
              margin-right: 10px;
              text-transform: uppercase;
              color: $black;
            }

            .collection--name {
              font-family: $sharpGroteskSemiBoldFont;
              font-style: normal;
              text-align: center;
              color: $black;
              font-size: 16px;
            }
            p {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: $black;
            }
          }
          .creators--list {
            display: flex;
            align-items: center;
            cursor: pointer;
            &:not(:last-child) {
              margin-bottom: 12px;
            }
            img {
              width: 32px;
              height: 32px;
              object-fit: cover;
              margin-right: 10px;
              border-radius: 50%;
            }
            p {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: $black;
            }
          }
        }
      }
    }
    &--item {
      position: absolute;
      left: 0;
      right: 0;
      top: 43px;
      z-index: 10;
      background: $white;
      box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
      border-radius: 12px;
      padding: 7px 9px;
      .price--dropdown--item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .selected--filters {
          display: flex;
          align-items: center;
          max-width: 500px;
          .show--selected--filters {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .light-border-button {
              display: flex;
              cursor: default;
              margin-bottom: 10px;
              margin-right: 10px;
              padding: 7.5px 20px;
              img.close {
                cursor: pointer;
                height: 10px;
                width: 10px;
                margin-left: 10px;
              }
              img.price {
                margin-right: 8px;
              }
            }
            .results--count {
              margin-right: 16px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 160%;
              color: $black;
              margin-bottom: 10px;
            }
            .clear--all--selected--filters {
              cursor: pointer;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 150%;
              text-decoration-line: underline;
              color: $black;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
  .min--max--fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .value--div {
      position: relative;
      width: 45%;
      input {
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 30px 16px 12px;
        height: 64px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: $black;
        width: 100%;
        &::placeholder {
          color: rgba(0, 0, 0, 0.2);
        }
      }
      // span.to {
      //   margin: 0 7px;
      //   font-family: $spaceGroteskFont;
      //   font-style: normal;
      //   font-weight: normal;
      //   font-size: 12px;
      //   line-height: 150%;
      //   color: $black;
      // }
      .value--text {
        position: absolute;
        top: 12px;
        left: 16px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    button {
      background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
      box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
      border-radius: 10.08px;
      margin-left: 10px;
      padding: 14px 11px;
      &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
          linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
      }
      &:disabled {
        background: rgba(0, 0, 0, 0.05);
        color: rgba(0, 0, 0, 0.2);
        box-shadow: none;
        cursor: not-allowed;
        img {
          opacity: 0.4;
        }
      }
      img {
        transform: rotate(180deg);
      }
    }
  }
  .range--slider {
    margin-bottom: 32px;
    .input-range__label {
      display: none;
    }
    .input-range__slider {
      background: $white;
      border: none;
      height: 25px;
      margin-top: -0.85rem;
      width: 25px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
    .input-range__track {
      background: rgba(0, 0, 0, 0.1);
      height: 6px;
    }
    .input-range__track--active {
      background: $black;
    }
  }
  .search--field {
    position: relative;
    margin-bottom: 20px;
    input {
      width: 100%;
      background: $white;
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      border-radius: 12px;
      padding: 11px 48px;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      &::placeholder {
        color: rgba(0, 0, 0, 0.2);
      }
    }
    img {
      position: absolute;
      top: 13px;
      left: 18px;
    }
  }
  .collections--list {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 5px;
    }
    p {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: $black;
    }
    .random--avatar--color {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      border-radius: 5px;
    }
  }
  .creators--list {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    img {
      width: 32px;
      height: 32px;
      object-fit: cover;
      margin-right: 10px;
      border-radius: 50%;
    }
    p {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      color: $black;
    }
  }
}

.browse--nft--content {
  // background: linear-gradient(127.59deg, #f2f3fb -1.33%, #fcf9f4 91.03%);
  background: $white;
  padding: 40px 40px 60px;
  .browse--nft--list {
    .nft--box {
      box-shadow: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    .nft--box:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2) !important;
    }
  }
  .selected--filters--and--sorting {
    .sorting__filters__desktop {
      @include lg {
        display: none;
      }
    }
    .sorting__filters__tablet {
      display: none;

      .head--part {
        display: flex;
        justify-content: space-between;

        .sorting__filter__button {
          display: flex;
          align-items: center;
          background: $white;
          border: 1px solid rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          border-radius: 12px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          padding: 11px 16px;
          color: $black;

          img {
            margin-right: 10px;
          }
          .tablet--selected--filters {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
            border-radius: 50%;
            border: 1px solid $white;
            margin-right: 10px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 11px;
            line-height: 100%;
            color: $black;
          }
        }
      }
      @include lg {
        display: block;
      }
      @include md {
        display: none;
      }
    }
    .sorting__filters__mobile {
      display: none;

      @include md {
        display: block;

        .selected--filters--numbers {
          position: fixed;
          bottom: 70px;
          right: 14px;
          width: 20px;
          height: 20px;
          border: 1px solid black;
          background: black;
          color: white;
          border-radius: 20px;
          text-align: center;
          box-sizing: border-box;
          z-index: 9;
          font-family: $spaceGroteskFont;
          font-weight: normal;
          font-style: normal;
          font-size: 12px;
          line-height: 150%;
        }
        button {
          position: fixed;
          bottom: 30px;
          right: 20px;
          z-index: 9;
          padding: 15px;
        }
      }
    }
    .sorting__filters {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .sorting--filters--list {
      display: flex;
      width: 70%;

      .sorting--filter {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 200px;
        min-width: 150px;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;
        padding: 11px;
        margin-right: 12px;
        cursor: pointer;

        &:hover {
          background-image: linear-gradient(101deg, #bceb00, #00eaea);
          background-origin: border-box;
          box-shadow: 2px 1000px 1px $white inset;
          border: 1px solid transparent;
        }
        &.open {
          background-image: linear-gradient(101deg, #bceb00, #00eaea);
          background-origin: border-box;
          box-shadow: 2px 1000px 1px $white inset;
          border: 1px solid transparent;
        }

        p.filter--name {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: $black;

          img.filter__icon {
            margin-right: 6px;
          }
        }
        img.arrow {
          margin-right: 7.5px;
          transition: 0.1s ease-in-out;
          &.rotate {
            transform: rotate(180deg);
          }
        }
        .sale--dropdown {
          position: absolute;
          top: 46px;
          left: 0px;
          background: $white;
          box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
          border-radius: 12px;
          z-index: 9;

          .sale--dropdown--body {
            padding: 30px 30px 0px;
            .sale--dropdown--header {
              display: flex;
              background: rgba(0, 0, 0, 0.06);
              border-radius: 12px;
              padding: 4px;

              div {
                padding: 6px;
                width: 168px;
                text-align: center;
                border-radius: 8px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                color: $black;

                &.active {
                  background: $white;
                }
              }
            }
            .sale--types {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 20px 12px;
              padding: 30px 0px;

              .sale--type--div {
                display: flex;
                align-items: center;

                .sale--type--checkboxes {
                  -webkit-appearance: none;
                  position: relative;
                  background: $white;
                  border: 1px solid rgba(0, 0, 0, 0.1);
                  box-sizing: border-box;
                  border-radius: 6px;
                  width: 24px;
                  height: 24px;
                  margin-right: 12px;
                  &:hover {
                    background-image: linear-gradient(101deg, #bceb00, #00eaea);
                    background-origin: border-box;
                    box-shadow: 2px 1000px 1px $white inset;
                    border: 1px solid transparent;
                  }

                  &:checked {
                    background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
                    border-color: transparent;

                    &::after {
                      content: '\2518';
                      color: #000000;
                      font-size: 16px;
                      position: absolute;
                      top: 4px;
                      left: 4px;
                      transform: rotate(45deg);
                    }
                  }
                }
                .sale--type--name {
                  h4 {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 140%;
                    color: $black;
                  }
                  p {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 150%;
                    color: rgba(0, 0, 0, 0.4);
                  }
                }
              }
            }
          }
          .sale--dropdown--footer {
            display: flex;
            justify-content: space-between;
            padding: 14px 30px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            .clear--all {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $black;
              background: $white;
              text-decoration: underline;
            }
          }
        }
        .price__dropdown {
          position: absolute;
          top: 46px;
          left: 0px;
          background: $white;
          box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
          border-radius: 12px;
          width: 404px;
          z-index: 9;

          .price__dropdown__body {
            padding: 30px;

            .price--dropdown {
              display: flex;
              align-items: center;
              background: $white;
              border: 1px solid rgba(0, 0, 0, 0.1);
              box-sizing: border-box;
              border-radius: 12px;
              padding: 11px 15px;
              cursor: pointer;
              position: relative;
              margin-bottom: 30px;
              > div:nth-child(1) {
                margin-right: 12px;
              }
              > div:nth-child(2) {
                flex: 1;
                h6 {
                  display: flex;
                  align-items: center;
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 140%;
                  color: $black;
                }
                p {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 140%;
                  color: rgba(0, 0, 0, 0.4);
                  margin-left: 6px;
                }
              }
              > div:nth-child(3) {
                img {
                  transition: 0.1s ease-in-out;
                  &.rotate {
                    transform: rotate(180deg);
                  }
                }
              }
              &--items {
                position: absolute;
                left: 0;
                right: 0;
                top: 43px;
                z-index: 10;
                background: $white;
                box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                border-radius: 12px;
                padding: 7px 9px;
                .price--dropdown--item {
                  display: flex;
                  align-items: center;
                  padding: 11px 10px;
                  > div:nth-child(1) {
                    margin-right: 12px;
                  }
                  > div:nth-child(2) {
                    h6 {
                      display: flex;
                      align-items: center;
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 140%;
                      color: $black;
                    }
                    p {
                      font-family: $spaceGroteskFont;
                      font-style: normal;
                      font-weight: normal;
                      font-size: 12px;
                      line-height: 140%;
                      color: rgba(0, 0, 0, 0.4);
                      margin-left: 6px;
                    }
                  }
                  &:hover {
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 6px;
                  }
                }
              }
              &.open {
                background-image: linear-gradient(101deg, #bceb00, #00eaea);
                background-origin: border-box;
                box-shadow: 2px 1000px 1px $white inset;
                border: 1px solid transparent;
              }
            }
          }
          .price--dropdown--footer {
            display: flex;
            justify-content: space-between;
            padding: 14px 30px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            .clear--all {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $black;
              background: $white;
              text-decoration: underline;
            }
          }
        }
        .collection--dropdown {
          position: absolute;
          top: 46px;
          left: 0px;
          background: $white;
          box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
          border-radius: 12px;
          z-index: 9;
          width: 404px;

          .collection--dropdown--body {
            padding: 30px 30px 0px;

            .collection--dropdown--selected {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              margin-bottom: 12px;

              .light-border-button {
                display: flex;
                padding: 6px 11px 6px 6px;
                box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.9) inset !important;
                font-size: 14px;
                line-height: 140%;
                margin-right: 8px;
                margin-bottom: 8px;

                .sell__collection {
                  width: 20px;
                  height: 20px;
                  border-radius: 5px;
                  margin-right: 8px;
                }
                .random--avatar--color {
                  width: 20px;
                  height: 20px;
                  border-radius: 5px;
                  margin-right: 8px;
                }
                .close {
                  width: 10px;
                  height: 10px;
                  margin-left: 8px;
                }
              }
            }

            .collection--search--field {
              position: relative;
              margin-bottom: 8px;

              input {
                width: 100%;
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 12px;
                padding: 12px 18px 12px 46px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: $black;
                &::placeholder {
                  color: rgba(0, 0, 0, 0.2);
                }
                &:focus {
                  background-image: linear-gradient(101deg, #bceb00, #00eaea);
                  background-origin: border-box;
                  box-shadow: 2px 1000px 1px $white inset;
                  border: 2px solid transparent;
                }
              }
              img {
                position: absolute;
                top: 13px;
                left: 16px;
              }
            }
            .collections__list {
              overflow-y: auto;
              max-height: 226px;

              .collection__item {
                display: flex;
                padding: 10px;
                border-radius: 10px;
                align-items: center;
                cursor: pointer;

                p {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 140%;
                  color: $black;
                }

                .collection__avatar {
                  width: 30px;
                  height: 30px;
                  border-radius: 5px;
                  margin-right: 12px;
                }
                .random--avatar--color {
                  width: 30px;
                  height: 30px;
                  border-radius: 5px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: 'Sharp Grotesk Medium', sans-serif;
                  font-style: normal;
                  font-weight: 500;
                  margin-right: 12px;
                  text-transform: uppercase;
                  color: #000000;
                }
                &:hover {
                  background: rgba(0, 0, 0, 0.05);
                }
              }
            }
          }

          .collection--dropdown--footer {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 14px 30px;

            .clear--all {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $black;
              background: $white;
              text-decoration: underline;
            }
          }
          @include lg {
            right: 0px;
            left: unset;
          }
        }
        .artist--dropdown {
          position: absolute;
          top: 46px;
          left: 0px;
          background: $white;
          box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
          border-radius: 12px;
          z-index: 9;
          width: 404px;

          .artist--dropdown--body {
            padding: 30px 30px 0;

            .artist--dropdown--selected {
              display: flex;
              align-items: center;
              flex-wrap: wrap;
              margin-bottom: 12px;

              .light-border-button {
                display: flex;
                padding: 6px 11px 6px 6px;
                box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.9) inset !important;
                font-size: 14px;
                line-height: 140%;
                margin-right: 8px;
                margin-bottom: 8px;

                .artist {
                  width: 20px;
                  height: 20px;
                  border-radius: 200px;
                  margin-right: 8px;
                }
                .close {
                  width: 10px;
                  height: 10px;
                  margin-left: 8px;
                }
              }
            }

            .artist--search--field {
              position: relative;
              margin-bottom: 8px;

              input {
                width: 100%;
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 12px;
                padding: 12px 18px 12px 46px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 18px;
                color: $black;

                &:focus {
                  background-image: linear-gradient(101deg, #bceb00, #00eaea);
                  background-origin: border-box;
                  box-shadow: 2px 1000px 1px $white inset;
                  border: 2px solid transparent;
                }

                &::placeholder {
                  color: rgba(0, 0, 0, 0.2);
                }
              }
              img {
                position: absolute;
                top: 13px;
                left: 16px;
              }
            }
            .artists__list {
              overflow-y: auto;
              max-height: 226px;

              .artists__item {
                display: flex;
                padding: 10px;
                border-radius: 10px;
                align-items: center;
                cursor: pointer;

                .artist__avatar {
                  width: 30px;
                  height: 30px;
                  border-radius: 200px;
                  margin-right: 12px;
                }
                p {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 22px;
                  color: $black;
                }
                &:hover {
                  background: rgba(0, 0, 0, 0.05);
                }
              }
            }
          }
          .artists--dropdown--footer {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding: 14px 30px;

            .clear--all {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 140%;
              color: $black;
              background: $white;
              text-decoration: underline;
            }
          }
          @include lg {
            right: 0%;
            left: unset;
          }
        }
      }
      @include lg {
        width: 100%;
        margin-top: 20px;
      }
    }

    .selected--filters {
      display: flex;
      align-items: center;
      // max-width: 500px;
      margin-top: 30px;
      .show--selected--filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .light-border-button {
          display: flex;
          cursor: default;
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 7.5px 20px;
          box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.9) inset !important;
          .random--avatar--color {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin-right: 8px;
          }
          img.close {
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin-left: 10px;
          }
          img.price {
            margin-right: 8px;
          }
          img.sell__collection {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin-right: 8px;
          }
          img.creator {
            width: 20px;
            height: 20px;
            border-radius: 200px;
            margin-right: 8px;
          }
        }
        .results--count {
          margin-right: 16px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 160%;
          color: $black;
          margin-bottom: 10px;
        }
        .clear--all--selected--filters {
          cursor: pointer;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          text-decoration-line: underline;
          color: $black;
          margin-bottom: 10px;
        }
      }
      @include md {
        display: none;
      }
    }
    .nft--sorting {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 16px;
      .dropdown {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 11px 16px;
        border-radius: 12px;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 230px;
        &.open {
          background-image: linear-gradient(101deg, #bceb00, #00eaea);
          background-origin: border-box;
          box-shadow: 2px 1000px 1px $white inset;
          border: 1px solid transparent;
        }
        // &:nth-child(1) {
        //   width: 160px;
        // }
        // &:nth-child(2) {
        //   width: 230px;
        // }
        span {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: $black;
        }
        img {
          transition: 0.1s ease-in-out;
          &.rotate {
            transform: rotate(180deg);
          }
        }
        &--items {
          position: absolute;
          top: 52px;
          left: 0px;
          right: 0px;
          z-index: 1;
          background: $white;
          box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
          border-radius: 12px;
          padding: 8px;
          .dropdown--item {
            padding: 15px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: $black;
            &:hover {
              background: rgba(0, 0, 0, 0.05);
              border-radius: 6px;
            }
          }
        }
        @include md {
          width: 100%;
        }
      }
      @include md {
        grid-template-columns: none;
      }
    }
  }
  .load--more--nfts {
    margin-top: 40px;
    width: 100%;
    box-shadow: 2px 1000px 1px #fcf9f5 inset;
  }
  @include sm {
    padding: 20px;
  }
}
