@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.search--page {
    .search--background {
        height: 200px;
        background-image: url('../../assets/images/marketplace/search-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        .search--field {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-gap: 20px;
            align-items: center;
            background: $white;
            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
            border-radius: 12px;
            padding: 20px;
            width: 600px;
            .close--icon {
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
            input {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: $black;
            }
        }
    }
    .container {
        margin-top: 0;
        h1.page--title {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 140%;
            text-align: center;
            color: $black;
            margin-bottom: 50px;
        } 
        .tabs__wrapper {
            position: relative;
            margin-bottom: 40px;
            .search--results {
                position: absolute;
                right: 0;
                top: 16px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: $black;
            }
            .tab__left__arrow {
                display: none;
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                justify-content: flex-end;
                transform: rotate(180deg);
                pointer-events: none;

                img {
                    pointer-events: all;
                }

            }
            .tab__right__arrow {
                display: none;
                position: absolute;
                top: 10px;
                left: 0;
                right: 0;
                justify-content: flex-end;
                pointer-events: none;
                img {
                    pointer-events: all;
                }
            }
            .tabs {
                display: flex;
                align-items: center;
                overflow-x: auto;
                min-height: 60px;
                ul.tab_items {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    min-width: 460px;
                    white-space: nowrap;
                    li {
                        margin-right: 40px;
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: rgba(0, 0, 0, 0.4);
                        padding-bottom: 9px;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                        &.active {
                            color: $black;
                            border-bottom: 1px solid $black;
                        }
                    }
                }
            }
        }
        .no--search--result {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3 {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 22px;
                text-align: center;
                color: $black;
                margin-top: 30px;
                margin-bottom: 20px;
            }
            p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 20px;
            }
        }
    }
}