@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.active__auctions__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  &.past {
    .active__auction__item {
      .active__auction__image {
        filter: grayscale(1);
      }
    }
  }
  .active__auction__item {
    display: grid;
    background: $white;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px;
    grid-gap: 18px;
    cursor: pointer;

    .active__auction__image {
      position: relative;
      width: 100%;
      height: 311px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      &.show__avatar {
        background-image: url("../../assets/images/artist_card_bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        img.original {
          display: none;
        }
        img.artist__image {
          display: block;
        }
      }
      img.artist__image {
        display: none;
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid $white;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
      &.timeLeft {
        .date {
          height: 46px;

          .date__border__div {
            position: absolute;
            width: calc(100% + 8px);
            min-height: 50px;
            z-index: -9;
            left: -4px;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 100px;
            background-image: linear-gradient(#2ad0ca, #e1f664, #feb0fe, #abb3fc, #5df7a4, #58c4f6);
            background-origin: border-box;
            box-shadow: 2px 1000px 1px #010101 inset;
            border: 2px solid transparent;
            opacity: 0.6;
          }
        }
      }
      &.endedOn {
        img {
          filter: grayscale(1);
        }
      }
      .date {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(4px);
        border-radius: 100px;
        padding: 6px;
        width: 138px;
        label {
          display: block;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 8px;
          line-height: 100%;
          text-transform: uppercase;
          color: $white;
          opacity: 0.5;
          text-align: center;
          margin-bottom: 3px;
        }
        span {
          display: block;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 160%;
          text-align: center;
          color: $white;
        }
      }
      @include md {
        height: 260px;
      }
      @include sm {
        height: 311px;
      }
    }

    .active__auction__details {
      .title {
        display: flex;
        justify-content: space-between;
        h2 {
          margin-bottom: 6px;
          font-family: $sharpGroteskSemiBoldFont;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 130%;
          color: $black;
        }
      }
      .creator {
        display: flex;
        align-items: center;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 150%;
        margin-bottom: 20px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        span {
          color: rgba(0, 0, 0, 0.4);
          margin-left: 12px;
          margin-right: 5px;
        }
        a {
          color: $black;
          cursor: pointer;
        }
      }
      .statistics {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 25px;
        background: #f7f7f7;
        border: 1px solid #f0f0f0;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 0 14px;
        > div {
          padding: 14px 0;
          &:nth-child(1) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          &:nth-child(2) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }
          label {
            display: block;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
            text-transform: uppercase;
          }
          p {
            display: flex;
            align-items: center;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 150%;
            color: $black;
            img {
              margin-right: 4px;
              width: 16px;
              height: 16px;
            }
            span {
              color: rgba(0, 0, 0, 0.4);
              margin-left: 4px;
            }
          }
        }
      }
      .view--auction--btn {
        margin-top: 18px;
      }
    }
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
  }
  @include xl {
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm {
    grid-template-columns: 1fr;
  }
}
