@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.browse--nft--list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  .nft--box {
    background: $white;
    box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
    border-radius: 12px;
    padding: 20px 12px;
    transition: 0.3s ease-in-out;
    // width: calc(50% - 10px);
    &:hover {
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 26px;
      .three--images {
        display: flex;
        align-items: center;
        .creator--details,
        .collection--details,
        .owner--details {
          position: relative;
          cursor: pointer;
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 160px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 100px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            top: -32px;
            right: -69px;
            &::after {
              content: '';
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
        }
        .collection--details,
        .owner--details {
          margin-left: -7px;
        }
        img {
          width: 22px;
          height: 22px;
          object-fit: cover;
          border: 1px solid $white;
          border-radius: 50%;
        }
      }
      .likes--count {
        display: flex;
        align-items: center;
        > div {
          position: relative;
          display: flex;
          align-items: center;
          svg {
            cursor: pointer;
            &:hover {
              path {
                stroke: #ff4949;
              }
            }
            &.fill {
              path {
                fill: #ff4949;
                stroke: none;
              }
            }
          }
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 160px;
            background-color: $black;
            color: $white;
            text-align: left;
            border-radius: 12px;
            padding: 9px 12px;
            position: absolute;
            z-index: 9;
            top: -80px;
            right: -72px;
            .likers--text {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 12px;
              line-height: 150%;
              color: $white;
              margin-bottom: 7px;
            }
            .likers--avatars {
              display: flex;
              align-items: center;
              img {
                border: 1px solid $black;
                height: 26px;
                width: 26px;
                border-radius: 50%;
                &:not(:first-child) {
                  margin-left: -7px;
                }
              }
            }
            &::after {
              content: '';
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
              @include sm {
                left: unset;
                right: 35px;
              }
            }
            @include sm {
              right: -32px;
            }
          }
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
        }
        span:not(.tooltiptext) {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 22px;
          color: rgba(0, 0, 0, 0.4);
          margin-left: 6px;
        }
      }
      .bundles--count {
        background: rgba(0, 0, 0, 0.02);
        border: 0.5px solid rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        border-radius: 6px;
        padding: 4px 8px;
        > span {
          font-family: $spaceGroteskFont;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          color: #00000066;
          margin-left: 6px;
        }
      }
    }
    &--body {
      position: relative;
      margin: 16px 0;
      width: 100%;
      height: 303px;
      cursor: pointer;
      .slick-slider {
        .slider--box {
          position: relative;
          height: 303px;
        }
        ul.slick-dots {
          bottom: 5px;
          li {
            margin: 0;
            &.slick-active {
              button::before {
                background: linear-gradient(135deg, #bceb00, #00eaea);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
            }
            button::before {
              font-size: 8px;
              color: $white;
            }
          }
        }
        button.slick-arrow {
          background: linear-gradient($white, $white) padding-box,
            linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          background: $white;
          &::before {
            display: none;
          }

          &.slick-prev {
            position: absolute;
            left: 10px;
            z-index: 11;
            opacity: 0.4;
          }
          &.slick-next {
            position: absolute;
            right: 10px;
            z-index: 11;
            opacity: 0.4;
          }

          &.slick-disabled {
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.1);
          }
        }
      }
      > div {
        width: 100%;
        height: 100%;
      }
      img.nft--image,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
      .video__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        width: 20px;
        height: 20px;
      }
      .nft--time--left {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        width: fit-content;
        margin: auto;
        padding: 6px 16px;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(4px);
        border-radius: 12px;

        p {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 150%;
          background: -webkit-linear-gradient(#bceb00, #00eaea);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          img {
            margin-right: 6px;
          }
        }
      }
      img {
        @include lg {
          position: absolute;
        }
      }
      @include lg {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
        height: unset;
      }
    }
    &--footer {
      .name--and--price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        h4 {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 120%;
          color: $black;
        }
        .price--div {
          display: flex;
          align-items: center;
          span {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 120%;
            color: $black;
            margin-left: 4px;
          }
          img {
            height: 15px;
          }
        }
      }
      .quantity--and--offer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 150%;
          color: rgba(0, 0, 0, 0.4);
        }
        .price--offer--div {
          label {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.4);
          }
          span {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 10px;
            line-height: 150%;
            color: $black;
          }
          img {
            margin: 0 3px 0 6px;
            // width: 5px;
            height: 10px;
          }
        }
      }
    }
  }
}
