@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.galleries--search--result {
    &--grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        .gallery--box {
            box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
            background: $white;
            border-radius: 12px;
            padding: 16px 16px 23px;
            &--top {
                display: grid;
                grid-template-columns: 60% 40%;
                height: 190px;
                grid-gap: 2px;
                border-radius: 4px;
                overflow: hidden;
                margin-bottom: 20px;
                > div {
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:nth-child(1) {
                        grid-column: 1/2;
                        grid-row: 1/3;
                        // height: 190px;
                        // width: 210px;
                    }
                    &:nth-child(2) {
                        grid-column: 2/3;
                        grid-row: 1/2;
                        // height: 94px;
                        // width: 106px;
                    }
                    &:nth-child(3) {
                        grid-column: 2/3;
                        grid-row: 2/3;
                        // height: 94px;
                        // width: 106px;
                    }
                }
            }
            &--middle {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
                h2 {
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 130%;
                    color: $black;
                }
                .likes--count {
                    display: flex;
                    align-items: center;
                    > div {
                        position: relative;
                        display: flex;
                        align-items: center;
                        svg {
                            cursor: pointer;
                            &:hover {
                                path {
                                    stroke: #FF4949;
                                }
                            }
                            &.fill {
                                path {
                                    fill: #FF4949;
                                    stroke: none;
                                }
                            }
                        }
                        .tooltiptext {
                            visibility: hidden;
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            width: 160px;
                            background-color: $black;
                            color: $white;
                            text-align: left;
                            border-radius: 12px;
                            padding: 9px 12px;
                            position: absolute;
                            z-index: 1;
                            top: -80px;
                            right: -72px;
                            .likers--text {
                                font-family: $spaceGroteskFont;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 12px;
                                line-height: 150%;
                                color: $white;
                                margin-bottom: 7px;
                            }
                            .likers--avatars {
                                display: flex;
                                align-items: center;
                                img {
                                    border: 1px solid $black;
                                    height: 26px;
                                    width: 26px;
                                    border-radius: 50%;
                                    &:not(:first-child) {
                                        margin-left: -7px;
                                    }
                                }
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: black transparent transparent transparent;
                            }
                        }
                        &:hover {
                            .tooltiptext {
                                visibility: visible;
                            }
                        }
                    }
                    span:not(.tooltiptext) {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 12px;
                        line-height: 22px;
                        color: rgba(0, 0, 0, 0.4);
                        margin-left: 6px;
                    }
                }
            }
            &--bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .user {
                    display: flex;
                    align-items: center;
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 150%;
                    img {
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    span {
                        color: rgba(0, 0, 0, 0.4);
                        margin-left: 6px;
                        margin-right: 3px;
                    }
                    a {
                        color: $black;
                        font-weight: bold;
                        &:hover {
                            text-decoration: underline;
                            color: #4D66EB;
                            cursor: default;
                        }
                    }
                }
                .items--count {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 140%;
                    color: $black;
                }
            }
        }
    }
}