@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.planet--section5 {
    min-height: 885px;
    background: url('../../../../assets/images/planet-section5-horizontal-text.png'), linear-gradient( $black 0, $black 100%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 0 60px;
    @include md {
        background: linear-gradient( $black 0, $black 100%);
        padding: 0 20px;
    }
    .section5--wrapper {
        .section--title {
            color:$white;
            text-align: center;
            width: 100%;
            margin: 100px auto 70px;
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
            @include md {
                font-size: 32px;
                margin: 80px auto 70px;
            }
        }
        .two--planet--cards--block {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include lg {
                .left--planet, .right--planet {
                    min-height: 55vw !important;
                    // .planet--hintText {
                    //     min-height: 14vw !important;
                    // }
                }
            }
            @include md {
                flex-direction: column;
            }
            .left--planet {
                width: calc(50% - 15px);
                min-height: 565px;
                border-radius: 12px;
                background: url('../../../../assets/images/planet-section5-item-bg.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                @include md {
                    width: 100%;
                    margin-bottom: 30px;
                }
                .planet--image--block {
                    // img {
                    //     mix-blend-mode: overlay;
                    // }
                }
                .description--block {
                    padding: 0 35px;
                    position: relative;
                    bottom: 30px;
                    @include md {
                        padding: 0 20px;
                    }
                    .planet--number {
                        width: 100%;
                        text-align: center;
                        font-family: $sharpGroteskSemiBoldFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 120%;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        color: $black;
                        opacity: 0.4;
                        margin-bottom: 20px;
                    }
                    .planet--title{
                        width: 100%;
                        text-align: center;
                        font-family: $sharpGroteskSemiBoldFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 120%;
                        color: #000000;
                        margin-bottom: 20px;
                    }
                    .planet--hintText {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: $black;
                    }
                    button {
                        margin: 30px auto 0;
                        display: block;
                    }
                }
            }
            .right--planet {
                width: calc(50% - 15px);
                min-height: 565px;
                border-radius: 12px;
                background: url('../../../../assets/images/planet-section5-item-bg.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                @include md {
                    width: 100%;
                    margin-bottom: 100px;
                }
                .planet--image--block {
                    // img {
                    //     mix-blend-mode: overlay;
                    // }
                }
                .description--block {
                    padding: 0 35px;
                    position: relative;
                    bottom: 30px;
                    @include md {
                        padding: 0 20px;
                    }
                    .planet--number {
                        width: 100%;
                        text-align: center;
                        font-family: $sharpGroteskSemiBoldFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 120%;
                        letter-spacing: 4px;
                        text-transform: uppercase;
                        color: $black;
                        opacity: 0.4;
                        margin-bottom: 20px;
                    }
                    .planet--title{
                        width: 100%;
                        text-align: center;
                        font-family: $sharpGroteskSemiBoldFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 120%;
                        color: #000000;
                        margin-bottom: 20px;
                    }
                    .planet--hintText {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 150%;
                        text-align: center;
                        color: $black;
                    }
                    button {
                        margin: 30px auto 0;
                        display: block;
                    }
                }
            }
        }
    }
}