@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.section2--card--parent {
    width: 350px;
    min-height: 475px;
    margin: 0 auto;
    position: relative;
    background-image: url('../../../../assets/images/section2-card-border.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .planet--card--legendary--image {
        position: absolute;
        right: 3.5px;
        top: 7px;
        z-index: 50;
    }
    .image--block {
        width: 314px;
        height: 314px;
        background-image: url("../../../../assets/images/randomise-person-images/background-img/bg-12.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        position: relative;
        img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
    .text--block {
        margin: 20px 0 15px;
        h6 {
            font-family: $sharpGroteskSemiBoldFont;
            font-size: 16px;
            color: $black;
            text-transform: capitalize;
        }
        p {
            margin-top: 5px;
            text-transform: capitalize;
            font-family: $spaceGroteskFont;
            font-size: 14px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .buttons--group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
        button {
            width: 150px;
            height: 38px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}