@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.planet--section4 {
    width: 100%;
    min-height: 800px;
    overflow: hidden;
    padding-bottom: 110px;
    .title--block {
        width: 100%;
        margin-bottom: 60px;
        h3 {
            text-transform: capitalize;
            text-align: center;
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;
        }
        p {
            text-align: center;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 150%;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .characters--parent--block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .section2--card--parent {
            background-image: none;
            background-color: white;
            border-radius: 12px;
            margin: 20px;
        }
    }
}