@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.accordion {
  position: relative;
  .box--shadow--effect--block {
    position: absolute;
    left: -4px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: calc(100% + 8px);
    min-height: calc(100% + 6px);
    border-radius: 12px;
    background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
    opacity: 0;
    transition: 0.2s;
    z-index: -11;
  }

  &:hover {
    .box--shadow--effect--block {
      opacity: 0.2;
    }
  }
  .pending--section {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 60px;
    .dropdown__arrow {
      img {
        padding: 14px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05);
        border-radius: 8px;
        transition: 0.5s;
      }
    }
    &.opened {
      .accordion__item__header {
        padding-bottom: 0;
        .dropdown__arrow {
          img {
            transform: rotate(180deg);
            transition: 0.5s;
          }
        }
      }
    }

    .accordion__item__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      cursor: pointer;

      .title {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        color: $black;
      }
    }
    .accordion__item__body {
      padding: 0 30px;
      margin-top: 0px !important;
      animation: fadeOutDown ease-in-out forwards;
      animation-duration: 0s;

      &.open {
        animation: fadeInDown 0.5s ease-in-out forwards;
      }

      img {
        @include md {
          grid-row-start: 1;
        }
      }

      @include md {
        grid-template-columns: 1fr;
      }
    }
  }

}
