@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.team__page {
    .welcome__section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $black;
        min-height: 420px;
        padding: 0 60px;

        .ellipse-l {
            position: absolute;
            top: 20px;
            left: 0px;
            @include sm {
                height: 200px;
            }
        }

        .ellipse-r {
            position: absolute;
            bottom: 0px;
            right: 0px;
            transform: rotate(180deg);
            @include sm {
                height: 200px;
                bottom: 20px;
            }
        }
        
        &__container {
            max-width: 1110px;
            margin: 0 auto;
            overflow: hidden;

            h1.title {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 120%;
                text-align: center;
                color: $white;
                @include lg {
                    max-width: 396px;
                    margin: 0 auto;
                    font-size: 36px;
                }
            } 
            p.desc {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                color: rgba(255, 255, 255, 0.6);
                margin-top: 20px;
                max-width: 680px;
                margin: 14px auto 0;
                @include lg {
                    max-width: 451px;
                }
            }

        }
        @include sm {
            padding: 0px 20px;
            min-height: 300px;
        }
    }
    .team__section {
        padding: 120px 60px;
        background-color: $white;

        &__container {
            max-width: 1110px;
            margin: 0 auto;

            .creators__section {
                margin-bottom: 150px;
                .title {
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 140%;
                    color: $black;
                    margin-bottom: 40px;
                    @include sm {
                        font-size: 26px;
                    }
                }
                .creators {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-column-gap: 30px;
                    grid-row-gap: 60px;

                    .creator {
                        h2 {
                            font-family: $sharpGroteskSemiBoldFont;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 130%;
                            color: $black;
                            margin-top: 16px;
                        }
                    }
                    @include lg {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @include md {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }

            .contributors__section {
                .title {
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 140%;
                    color: $black;
                    margin-bottom: 40px;
                    @include sm {
                        font-size: 26px;
                    }
                }
                .contributors {
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-column-gap: 30px;
                    grid-row-gap: 60px;

                    .contributor {
                        h2 {
                            font-family: $sharpGroteskSemiBoldFont;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 130%;
                            color: $black;
                            margin-top: 16px;
                        }
                    }
                    @include xl {
                        grid-template-columns: repeat(5, 1fr);
                    }
                    @include lg {
                        grid-template-columns: repeat(4, 1fr);
                    }
                    @include md {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @include sm {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
        @include sm {
            padding: 60px 20px;
        }
    }
}