@import "../../assets/scss/variables";
@import "../../assets/scss/_mixins";

header {
  position: fixed;
  // min-height: 88px;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 11.5px 40px;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s ease-in;

  + div {
    padding-top: 80px !important;
  }

  &.dark {
    background-color: $black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .search--field {
      &--wrapper {
        &.focus {
          .box--shadow--effect--block {
            box-shadow: 2px 1000px 1px $black inset !important;
          }
        }
      }
    }
    .app__logo {
      .dark {
        display: none;
      }
      .light {
        display: block;
      }
      .search--field {
        &--wrapper {
          border-left: 1px solid rgba(255, 255, 255, 0.1);
        }
        input {
          color: $white;
          &::placeholder {
            color: rgba(255, 255, 255, 0.4);
          }
          &:focus {
            background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(170deg, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }
          &:active {
            background: linear-gradient(#000000, #000000) padding-box,
              linear-gradient(170deg, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }
        }
        .close {
          filter: invert(1);
        }
        img.search {
          filter: invert(0) !important;
        }
      }
    }
    .tablet__nav {
      .search--box {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        img {
          filter: invert(1);
        }
      }
      .wallet__connected__tablet img.account__icon.show__on__tablet {
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    .mobile__nav {
      .mobile--search--box {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        img {
          filter: invert(1);
        }
      }
      .wallet__connected__tablet img.account__icon.show__on__tablet {
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }

    .desktop__nav ul li .menu-li {
      color: $white;

      img.arrow {
        filter: invert(1);
      }
    }

    .desktop__nav ul li .myAccount {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }

    .desktop__nav ul li .sign__in {
      background-image: linear-gradient(101deg, #bceb00, #00eaea);
      background-origin: border-box;
      box-shadow: 2px 1000px 1px $black inset;
      color: $white;
      &:hover {
        box-shadow: 2px 1000px 1px rgba(0, 0, 0, 0.9) inset;
      }
    }

    .tablet__nav button.hamburger {
      background-color: $black;
      border: 1px solid rgba(255, 255, 255, 0.2);

      img {
        filter: invert(1);
      }
    }

    .mobile__nav button.hamburger {
      background-color: $black;
      border: 1px solid rgba(255, 255, 255, 0.2);

      img {
        filter: invert(1);
      }
    }
  }

  .app__logo {
    display: flex;
    align-items: center;
    .search--field {
      position: relative;
      // margin-left: 30px;
      padding-left: 30px;
      // border-left: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
      &--wrapper {
        position: relative;
        display: flex;
        align-items: center;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 440px;
        .box--shadow--effect--block {
          position: absolute;
          width: calc(100% + 8px);
          min-height: 58px;
          z-index: -9;
          left: -4px;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          border-radius: 12px;
          opacity: 0;
          background-image: linear-gradient(101deg, #bceb00, #00eaea);
          background-origin: border-box;
          box-shadow: 4px 1000px 1px $white inset;
          border: 4px solid transparent;
          transition: 0.2s;
        }
        &.focus {
          border-left: none;
          .box--shadow--effect--block {
            opacity: 0.2;
          }
          input {
            padding: 16px;
          }
          img.search {
            filter: invert(1);
          }
        }
        .search {
          position: absolute;
          left: 18px;
          width: 20px;
          height: 20px;
        }
        input {
          text-indent: 30px;
          background-color: transparent;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 20px;
          color: $black;
          padding: 0 16px;
          width: 100%;
          border: 1px solid transparent;
          &::placeholder {
            color: rgba(0, 0, 0, 0.2);
          }
          &:focus {
            background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(170deg, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }
          &:active {
            background: linear-gradient(#ffffff, #ffffff) padding-box,
              linear-gradient(170deg, #bceb00, #00eaea) border-box;
            border: 1px solid transparent;
          }
        }
        .close {
          position: absolute;
          right: 20px;
          width: 12px;
          height: 12px;
          cursor: pointer;
        }
        .search__results {
          position: absolute;
          min-width: 300px;
          width: 100%;
          max-height: 522px;
          height: fit-content;
          background: white;
          border-radius: 12px;
          top: 57px;
          box-shadow: 0 10px 36px rgba(136, 120, 172, 0.14);
          padding: 24px 8px;
          overflow-y: auto;

          .search__nfts {
            h4 {
              font-family: $sharpGroteskSemiBoldFont;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 130%;
              color: $black;
              margin-left: 12px;
              margin-bottom: 8px;
            }
            .nft__div,
            .auction__div,
            .collection__div {
              display: flex;
              padding: 10px 12px;
              border-radius: 6px;

              .nft--image,
              .auction--image,
              .collection--image {
                width: 36px;
                height: 36px;
                margin-right: 15px;
                border-radius: 5px;

                img {
                  border-radius: 5px;
                }
                video {
                  width: 36px;
                  height: 36px;
                  object-fit: cover;
                  border-radius: 5px;
                }
              }
              .random--avatar--color {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                margin-right: 15px;
                border-radius: 5px;
              }
              .nft--desc,
              .auction--desc,
              .collection--desc {
                .nft--name,
                .auction--title,
                .collection--name {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 160%;
                  color: $black;
                }
                .nft--price,
                .auction--artist,
                .collection--owner {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 22px;
                  color: rgba(0, 0, 0, 0.4);
                }
              }
              &:hover {
                background: rgba(0, 0, 0, 0.05);
              }
            }
            .users__div,
            .communities__div,
            .galleries__div {
              display: flex;
              padding: 10px 12px;
              border-radius: 6px;

              .user--avatar,
              .communities--photo,
              .galleries--photo {
                width: 36px;
                height: 36px;
                margin-right: 15px;
                border-radius: 50%;

                img {
                  border-radius: 50%;
                }
              }
              .user--desc,
              .communities--desc,
              .galleries--desc {
                .user--name,
                .communities--name,
                .galleries--name {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 160%;
                  color: $black;
                }
                .user--followers,
                .communities--members,
                .galleries--likes {
                  font-family: $spaceGroteskFont;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 12px;
                  line-height: 22px;
                  color: rgba(0, 0, 0, 0.4);
                }
              }
              &:hover {
                background: rgba(0, 0, 0, 0.05);
              }
            }
            button {
              margin-top: 25px;
              width: 100%;
            }
          }
          .no__result {
            padding: 12px;
            p {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 150%;
              color: $black;
            }
          }
        }
        @include xl {
          display: none;
        }
      }
    }
    .dark {
      display: block;
      img {
        min-width: 153px;
      }
    }
    .light {
      min-width: 153px;
      display: none;
    }
  }

  .blockie-lg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .blockie-md {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  @include sm {
    padding: 11.5px 20px;
  }
}
