@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

// .container {
//   max-width: 90%;
// }

// @media (min-width: $screen-md-max) {
//   .container {
//     width: 600px;
//   }
// }

// @media (min-width: $screen-lg-max) {
//   .container {
//     width: 900px;
//   }
// }

// @media (min-width: $screen-xl-max) {
//   .container {
//     width: 1230px;
//   }
// }

.scramble--wrapper {
  font-family: $spaceGroteskFont;
  font-style: normal;

  .go--back--wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 60px;

    span {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: $black;
      margin-left: 10px;
    }
    @include lg {
      margin-bottom: 40px;
    }
  }

  .scramble--content {
    display: grid;
    grid-template-columns: 445px 1fr;
    grid-gap: 83px;
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // flex-wrap: wrap;

    // @media (min-width: $screen-sm-max) {
    //   justify-content: space-between;
    // }

    .avatar--wrapper {
      height: 445px;
      width: 445px;
      position: relative;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      // margin: 0 auto 100px;
      // position: relative;
      // height: 270px;
      // flex-basis: 350px;
      // flex-grow: 0;

      // .go--back--wrapper {
      //   top: 0;
      //   left: 0;
      //   cursor: pointer;
      //   margin-top: -20px;
      //   flex-basis: 100%;
      //   margin-left: 0;

      //   span {
      //     margin-left: 10px;
      //     font-weight: 500;
      //     font-size: 16px;
      //   }

      // }

      // @media (min-width: $screen-md-max) {
      //   height: 500px;
      //   flex-basis: 500px;
      // }

      img.avatar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        box-sizing: border-box;
        filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14));
        border-radius: 12px;
        // display: block;
        // position: absolute;
        // top: 50px;
        // left: 0;
        // right: 0;
        // background-repeat: no-repeat;
        // background-size: 100%;
        // mix-blend-mode: normal;

      }

      .background {
        z-index: 1;
      }

      .person {
        z-index: 2;
      }

      .footwear {
        z-index: 3;
      }

      .pants {
        z-index: 4;
      }

      .torso {
        z-index: 5;
      }

      .eyeWear {
        z-index: 6;
      }

      .headWear {
        z-index: 7;
      }

      .leftHand {
        z-index: 8;
      }

      .rightHand {
        z-index: 9;
      }

      @include lg {
        width: 100%;
        height: 714px;
      }
      @include md {
        height: 335px;
      }
    }

    .scramble--options {
      // width: 560px;
      // max-width: 90%;

      .name {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        color: $black;
        @include md {
          font-size: 20px;
        }
      }

      .description {
        margin-top: 16px;
        margin-bottom: 40px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.6);
      }

      .tabs__wrapper {
        padding: 0;
        margin: 0px 0 20px 0;
        max-width: 100%;
        width: auto;
        ul.tab_items {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          width: 100%;
          min-width: auto;

          li {
            cursor: pointer;
          }
          @include lg {
            li {
              cursor: pointer;
            }
          }
        }
      }

      .scramble--properties {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: center;
        margin-bottom: 40px;
        
        // @media (min-width: $screen-md-max) {
          //   justify-content: space-between
        // }
        @include xl { 
          grid-template-columns: repeat(2, 1fr);
        }
        @include lg { 
          grid-template-columns: repeat(4, 1fr);
        }
        @include md { 
          grid-template-columns: repeat(3, 1fr);
        }
        @include sm { 
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .metadata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;
        padding: 0 15px;

        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;

        .owner--string--name {
          font-weight: 500;
          font-size: 16px;
          padding-top: 15px;
        }

        .owner--string--value {
          font-weight: 500;
          font-size: 16px;
          color: #4D66EB;
          padding: 15px 0;
          cursor: pointer;
          a {
            text-decoration: none;
            color: #4D66EB;
          }
        }

        .genome--string--name {
          font-weight: 500;
          font-size: 16px;
          padding-top: 15px;
        }

        .genome--string--value {
          font-weight: 500;
          font-size: 16px;
          color: #4D66EB;
          cursor: copy;
        }
        .copy-div {
          position: relative;
          padding: 15px 0px 15px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .copy__div {
            // padding-top: 2px;
            // padding-right: 8px;
        
            .copy > span {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 18px;
              color: $black;
              opacity: 0.4;
            }
            .copyImg {
              margin-right: 5px;
              margin-left: 11px;
            }
            .copy > span {
              opacity: 0.6;
            }
            .copied-div {
              position: absolute;
              width: fit-content;
              height: 27px;
              background: $black;
              border-radius: 100px;
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 150%;
              text-align: center;
              color: $white;
              margin-top: -20%;
              left: 50%;
              padding: 4px 12px;
        
              span {
                position: absolute;
                width: 7.6px;
                height: 7.6px;
                left: 48%;
                top: 23px;
                background: $black;
                transform: matrix(0.71, 0.7, -0.71, 0.71, 0, 0);
              }
            }
          }
        }
      }

      .light-button {
        @include sm {
          width: 100%;
        }
        // width: 90%;
        // display: block;
        // margin: 0 auto;

        // @media (min-width: $screen-md-max) {
        //   margin: unset!important;
        //   width: unset;
        // }

      }

    }
    @include xl {
      grid-gap: 40px;
    }
    @include lg {
      grid-template-columns: 1fr;
    }
  }

  .loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-basis: 500px;
  
  
    .lds-roller {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      width: 80px;
      height: 80px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      background: #ADEA12;
      top: 63px;
      left: 63px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      background: #90EA35;
      top: 68px;
      left: 56px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      background: #72EA5B;
      top: 71px;
      left: 48px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      background: #33EAAA;
      top: 72px;
      left: 40px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      background: #31EAAE;
      top: 71px;
      left: 32px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      background: #00EAEA;
      top: 68px;
      left: 24px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      background: #00EAEA;
      top: 63px;
      left: 17px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      background: #00EAEA;
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}