@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.scramble--prop {
  background: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  flex-basis: 150px;
  flex-shrink: 0;
  height: auto;
  margin: 0 20px 25px 0;
  flex-grow: 1;
  padding: 15px;

  font-family: Space Grotesk, sans-serif;
  font-style: normal;
  text-align: center;

  .prop--trait {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;

    text-transform: uppercase;

    color: #000000;
  }

  .prop--name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;

    color: #000000;
  }

  .prop--chance {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;

    color: rgba(0, 0, 0, 0.4);
  }

}