@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

.container {
  max-width: 90%;
}

@media (min-width: $screen-md-max) {
  .container {
    width: 600px;
  }
}

@media (min-width: $screen-lg-max) {
  .container {
    width: 900px;
  }
}

@media (min-width: $screen-xl-max) {
  .container {
    width: 1230px;
  }
}

.scramble--wrapper {
  font-family: Space Grotesk, sans-serif;
  font-style: normal;

  .scramble--content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: $screen-sm-max) {
      justify-content: space-between;
    }

    .avatar--wrapper {
      margin: 0 auto 100px;
      position: relative;
      height: 270px;
      flex-basis: 350px;
      flex-grow: 0;

      .go--back--wrapper {
        top: 0;
        left: 0;
        cursor: pointer;
        margin-top: -20px;
        flex-basis: 100%;
        margin-left: 0;

        span {
          margin-left: 10px;
          font-weight: 500;
          font-size: 16px;
        }

      }

      @media (min-width: $screen-md-max) {
        height: 500px;
        flex-basis: 500px;
      }

      img.avatar {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;

        background-repeat: no-repeat;
        background-size: 100%;
        mix-blend-mode: normal;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;

        filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14));
        border-radius: 12px;
      }

      .background {
        z-index: 1;
      }

      .person {
        z-index: 2;
      }

      .footwear {
        z-index: 3;
      }

      .pants {
        z-index: 4;
      }

      .torso {
        z-index: 5;
      }

      .eyeWear {
        z-index: 6;
      }

      .headWear {
        z-index: 7;
      }

      .leftHand {
        z-index: 8;
      }

      .rightHand {
        z-index: 9;
      }

    }

    .scramble--options {
      width: 560px;
      max-width: 90%;

      .name {
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
      }

      .description {
        margin-top: 20px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.6);
      }

      .tabs__wrapper {
        padding: 0;
        margin: 30px 0 20px 0;
      }

      .scramble--properties {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;

        @media (min-width: $screen-md-max) {
          justify-content: space-between
        }
      }

      .metadata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 0 15px;

        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;

        .genome--string--name {
          font-weight: 500;
          font-size: 16px;
          padding-top: 15px;
        }

        .genome--string--value {
          font-weight: 500;
          padding: 15px 0;
          font-size: 16px;
          color: #4D66EB;
        }

      }

      .light-button {
        width: 90%;
        display: block;
        margin: 0 auto;

        @media (min-width: $screen-md-max) {
          margin: unset!important;
          width: unset;
        }

      }

    }

  }

}