@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/mixins';

// .container {
//   max-width: 90%;
// }

// @media (min-width: $screen-md-max) {
//   .container {
//     width: 600px;
//   }
// }

// @media (min-width: $screen-lg-max) {
//   .container {
//     width: 900px;
//   }
// }

// @media (min-width: $screen-xl-max) {
//   .container {
//     width: 1230px;
//   }
// }

.scramble--wrapper {
  font-family: $spaceGroteskFont;
  font-style: normal;

  .go--back--wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 60px;

    span {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      color: $black;
      margin-left: 10px;
    }
    @include lg {
      margin-bottom: 40px;
    }
  }

  .scramble--content {
    display: grid;
    grid-template-columns: 445px 1fr;
    grid-gap: 83px;
    // width: 100%;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // flex-wrap: wrap;

    // @media (min-width: $screen-sm-max) {
    //   justify-content: space-between;
    // }

    .avatar--wrapper {
      height: 445px;
      width: 445px;
      position: sticky;
      top: 100px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      // margin: 0 auto 100px;
      // position: relative;
      // height: 270px;
      // flex-basis: 350px;
      // flex-grow: 0;

      // .go--back--wrapper {
      //   top: 0;
      //   left: 0;
      //   cursor: pointer;
      //   margin-top: -20px;
      //   flex-basis: 100%;
      //   margin-left: 0;

      //   span {
      //     margin-left: 10px;
      //     font-weight: 500;
      //     font-size: 16px;
      //   }

      // }

      // @media (min-width: $screen-md-max) {
      //   height: 500px;
      //   flex-basis: 500px;
      // }

      img.avatar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
        filter: drop-shadow(0px 10px 36px rgba(136, 120, 172, 0.14));
        border-radius: 12px;
        // display: block;
        // position: absolute;
        // top: 50px;
        // left: 0;
        // right: 0;
        // background-repeat: no-repeat;
        // background-size: 100%;
        // mix-blend-mode: normal;

      }

      .scrambled {
        .tooltiptext {
          visibility: hidden;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          width: 160px;
          background-color: $black;
          color: $white;
          text-align: center;
          border-radius: 100px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: -32px;
          right: -63px;
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
            @include md {
              left: 86%;
            }
          }
          @include md {
            right: -5px;
          }
        }
        &:hover {
          .tooltiptext {
            visibility: visible;
          }
        }
        img {
          position: absolute;
          top: 4px;
          right: 4px;
          z-index: 10;
        }
      }

      .background {
        z-index: 1;
      }

      .person {
        z-index: 2;
      }

      .footwear {
        z-index: 3;
      }

      .pants {
        z-index: 4;
      }

      .torso {
        z-index: 5;
      }

      .eyeWear {
        z-index: 6;
      }

      .headWear {
        z-index: 7;
      }

      .leftHand {
        z-index: 8;
      }

      .rightHand {
        z-index: 9;
      }

      @include lg {
        width: 100%;
        height: 714px;
        position: relative;
        top: 0;
      }
      @include md {
        height: 335px;
      }
    }

    .scramble--options {
      // width: 560px;
      // max-width: 90%;

      .name {
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        color: $black;
        @include md {
          font-size: 20px;
        }
      }

      .tags {
        display: flex;
        align-items: center;
        margin: 20px 0 8px;
        > div {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 12px;
          margin-right: 12px;
          margin-bottom: 12px;
          padding: 6px 16px;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 150%;
          color: $black;
          span {
            font-weight: bold;
          }
        }
        @include sm {
          flex-wrap: wrap;
        }
      }
      .description {
        margin-bottom: 40px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: rgba(0, 0, 0, 0.6);
      }

      .tabs__wrapper {
        padding: 0;
        margin: 0px 0 20px 0;
        max-width: 100%;
        width: auto;
        ul.tab_items {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          width: 100%;
          min-width: auto;
        }
      }

      // .scramble--properties {
      //   display: grid;
      //   grid-template-columns: 1fr 1fr 1fr;
      //   grid-gap: 20px;
      //   margin-bottom: 40px;
      //   @include xl { 
      //     grid-template-columns: repeat(2, 1fr);
      //   }
      //   @include lg { 
      //     grid-template-columns: repeat(4, 1fr);
      //   }
      //   @include md { 
      //     grid-template-columns: repeat(3, 1fr);
      //   }
      //   @include sm { 
      //     grid-template-columns: repeat(2, 1fr);
      //   }
      // }

      .scramble--properties {
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 17px;
          .rarity--description--gradient {
            position: relative;
            .rarity--description {
              z-index: 100;
            }
            .rarity--rank--border {
              position: absolute;
              width: calc(100% + 2px);
              min-height: 58px;
              background: linear-gradient(90deg, #c857ca 50%, #fb8c00 50%);
              left: -1px;
              right: 0px;
              top: -1px;
              bottom: -1px;
              margin: auto;
              border-radius: 12px;
              opacity: 0.8;
            }
          }
          .rarity--description {
            position: relative;
            background: rgba(0, 0, 0, 0.02);
            border: 1px solid rgba(0, 0, 0, 0.08);
            box-sizing: border-box;
            border-radius: 12px;
            padding: 13px 0;
            text-align: center;
  
            .matching {
              img {
                position: absolute;
                top: -15px;
                right: -15px;
                // @include sm {
                //   top: 4px;
                //   right: 4px;
                // }
              }
              .tooltiptext {
                visibility: hidden;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                background-color: $black;
                color: $white;
                text-align: center;
                border-radius: 100px;
                padding: 4px 12px;
                position: absolute;
                z-index: 1111;
                top: -48px;
                right: -54px;
                &::after {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: black transparent transparent transparent;
                  @include xl {
                    left: 84%;
                  }
                }
                @include xl {
                  right: -15px;
                }
                @include sm {
                  right: 2px;
                  top: -29px;
                }
              }
              &:hover {
                cursor: pointer;
                .tooltiptext {
                  visibility: visible;
                }
              }
            }
  
            h4 {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: 500;
              font-size: 10px;
              line-height: 160%;
              text-transform: uppercase;
              color: $black;
              margin-bottom: 3px;
  
              @include xl {
                font-weight: normal;
              }
            }
            h3 {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 130%;
              color: $black;
              margin-bottom: 3px;
  
              @include xl {
                font-size: 12px;
              }
              @include md {
                font-size: 14px;
              }
            }
            .description {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 160%;
              color: rgba(0, 0, 0, 0.4);
              margin-bottom: 0px;
            }
            @include xl {
              padding: 13px 5px;
            }
          }
          @include xl {
            gap: 14px;
          }

          @include lg {
            grid-template-columns: repeat(4, 1fr);
          }
  
          @include md {
            grid-template-columns: repeat(3, 1fr);
          }
          @include sm {
            grid-template-columns: repeat(2, 1fr);
          }
        .selected {
          box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.8) inset !important;
          background-image: linear-gradient(101deg, #bceb00, #00eaea) !important;
          background-origin: border-box;
        }
        .selected--blue {
          background: rgba(30, 136, 229, 0.05) !important;
          border: 1px solid #1e88e5 !important;
        }
        .selected--pink {
          background: rgba(200, 87, 202, 0.1) !important;
          border: 1px solid #c857ca !important;
        }
        .selected--orange {
          background: rgba(251, 140, 0, 0.05) !important;
          border: 1px solid #fb8c00 !important;
        }
        .selected--pink--orange {
          background: linear-gradient(90deg, #f9eef9 50%, #fff9f2 50%) !important;
        }
      }

      .metadata {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 40px;
        padding: 0 15px;

        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 12px;

        .genome--string--name {
          font-weight: 500;
          font-size: 16px;
          padding-top: 15px;
        }

        .genome--string--value {
          font-weight: 500;
          padding: 15px 0;
          font-size: 16px;
          color: #4D66EB;
        }

      }

      .btn-actions {
        .light-button {
          margin-right: 20px;
          @include sm {
            margin-right: 0px;
            margin-bottom: 20px;
            width: 100%;
          }
        }
        .light-border-button {
          img {
            margin-left: 13px;
          }
          @include sm {
            width: 100%;
          }
        }
      }

    }
    @include xl {
      grid-gap: 40px;
    }
    @include lg {
      grid-template-columns: 1fr;
    }
  }
}