@import "../../../assets/scss/variables";
@import "../../../assets/scss/_mixins";

.social--connections {
  margin-top: 40px;
  .title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    h4 {
      font-family: $sharpGroteskSemiBoldFont;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: 0.2px;
      color: transparent;
      background: $black;
      -webkit-background-clip: text;
      text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
    }
    .social--connections--info {
      position: relative;
      display: flex;
      align-items: center;
      svg {
        margin-left: 6px;
        path {
          transition: 0.1s ease-in-out;
        }
        &:hover {
          path {
            fill-opacity: 1;
          }
          + .social--connections--info--text {
            display: block;
          }
        }
      }
      .social--connections--info--text {
        display: none;
        position: absolute;
        z-index: 1;
        background: $white;
        padding: 16px 16px 18px 16px;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 229px;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        @include sm {
          transform: translateX(-90%);
        }
        p {
          font-family: $spaceGroteskFont;
          font-size: 12px;
          line-height: 150%;
          color: $black;
        }
      }
    }
  }
  .social--items--grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    .twitter--section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title--icon {
        display: flex;
        align-items: center;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: $black;
        svg {
          margin-right: 7px;
        }
      }
      .connect--btn {
        .twitter--connected {
          position: relative;
          .tooltiptext {
            visibility: hidden;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            width: 90px;
            background-color: $black;
            color: $white;
            text-align: center;
            border-radius: 100px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 53px;
            left: 50%;
            transform: translateX(-50%);
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: black transparent transparent transparent;
            }
          }
          &:hover {
            .tooltiptext {
              visibility: visible;
            }
          }
        }
        .light-border-button {
          display: flex;
          align-items: center;
          box-shadow: 2px 1000px 1px #f2f6f9 inset;
          svg {
            width: 16px;
            height: 16px;
            margin-right: 12px;
          }
        }
      }
    }
    .social--links--item {
      position: relative;
      width: 100%;

      h5 {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: $black;
      }

      svg {
        position: absolute;
        left: 17px;
        top: 40px;
        z-index: 10;
      }

      .pre {
        position: absolute;
        z-index: 10;
        left: 42px;
        top: 35px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: $black;
      }

      input {
        width: 100%;
        padding-left: 40px;
        &.pl-135 {
          padding-left: 135px;
        }
        &.pl-167 {
          padding-left: 167px;
        }
        &.pl-87 {
          padding-left: 87px;
        }
      }
    }
  }
}
