@import '../../assets/scss/variables';
img {
    padding: 0 10px;
}
.iconpagesm{
    width: 900px;
    margin: auto;
}
.iconsection1 {
    height: 150px;
    padding-top: 40px;
}
.iconsection2 {
    height: 100px;
    padding-top: 20px;
}
.iconsection3 {
    height: 100px;
    padding-top: 30px;
}
.iconsection4 {
    height: 80px;
    padding-top: 20px;
}
.iconsection5 {
    height: 60px;
    padding-top: 30px;
}
.iconsection6 {
    height: 60px;
    padding-top: 20px;
}
.iconsection7 {
    height: 60px;
    padding-top: 20px;
}
.iconsection8 {
    height: 60px;
    padding-top: 20px;
}
.iconsection9 {
    height: 100px;
    padding-top: 40px;
}
.iconsection10 {
    height: 100px;
    padding-top: 20px;
}