@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.create-tiers {
  .tier-info {
    display: flex;
    position: relative;
    flex-direction: column;
    .intup-l {
      margin-bottom: 20px;
      input {
        width: 540px;

        @include lg {
          width: 100%;
        }
      }
    }

    .tier-info_icon {
      position: relative;
      display: flex;
      height: fit-content;
      .info-text {
        position: absolute;
        background: $white;
        color: $black;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 230px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        bottom: 25px;
        left: 100%;
        transform: translateX(-50%);
        font-weight: normal;
      }
    }
  }
  .button-div {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 540px;
    .light-border-button {
      margin-right: 12px;
      @include sm {
        margin-right: 0%;
        margin-bottom: 15px;
      }
    }
    .btns {
      display: flex;
      align-items: center;
      @include sm {
        display: grid;
      }
    }
    .total-num {
      position: relative;
      display: flex;
      white-space: break-spaces;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.3px;
      color: $black;

      .info-text {
        position: absolute;
        background: $white;
        color: $black;
        box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
        border-radius: 12px;
        width: 230px;
        min-height: 70px;
        padding: 16px;
        font-size: 12px;
        font-family: $spaceGroteskFont;
        bottom: 25px;
        left: -100px;
        font-weight: normal;
        height: fit-content;
      }

      img {
        padding-left: 5px;
      }
    }
    @include lg {
      width: 100%;
    }
  }
}
