@import '../../assets/scss/variables.scss';
@import '../../components/auctions/AuctionsTabs.scss';
@import '../../assets/scss/_mixins';

.auction__page {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        h1.title {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: $black;
        }

        button.set_up {
            background: $primary-bg-color;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            // text-transform: uppercase;
            line-height: 20px;
            color: $black;
            padding: 11px 26px;
            margin-left: 12px;

            &:disabled {
                cursor: not-allowed;
                background: #E6E6E6;
                box-shadow: none;
            }

            @include sm{
                margin-left: 0px;
                margin-top: 30px;
                width: 100%;
            }
        }

        @include sm{
            display: block;
            margin-bottom: 30px;
        }
    }

    .err-msg{
        display: flex;
        flex-direction: row;
        width: 693px;
        background: #FDFCF9;
        border: 1px solid #E4B613;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 12px;

        p{
            font-family: $spaceGroteskFont;
            font-size: 16px;
            line-height: 160%;
            color: #E4B613;
            flex: none;
            order: 1;
            flex-grow: 1;
            margin: 0px 10px;

            span{
                color: #000;
                font-weight: 500;
                font-size: 17px;
            }
        }
    }

    .empty__auction {
        margin-top: 11%;

        h1.title {
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            text-align: center;
            color: $black;
            margin-bottom: 130px;
        }
        h3 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
            margin-bottom: 16px;
        }
        p.desc {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
            color: rgba(0, 0, 0, 0.6);
            margin: 0 auto 40px;

            &:disabled{
            cursor: not-allowed;
            background: #E6E6E6;
            box-shadow: none;
            }
        }
        button.set_up {
            display: block;
            margin: 0 auto;
            background: $primary-bg-color;
            box-shadow: 0px 10px 20px rgba(136, 120, 172, 0.2);
            border-radius: 12px;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: $black;
            padding: 11px 26px;
        }
    }

    
    &__body {
        .tabs__wrapper{
            position: relative;
            margin-bottom: 40px;

            .tab__left__arrow {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                justify-content: flex-end;
                transform: rotate(180deg);
                pointer-events: none;
                img {
                    pointer-events: all;
                }
            }

            .tab__right__arrow {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                justify-content: flex-end;
                pointer-events: none;
                img {
                    pointer-events: all;
                }
            }
        }


        ul.tabs {
            display: flex;
            align-items: center;            
            overflow-x: hidden;

            li {
                margin-right: 40px;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                // text-transform: uppercase;
                color: rgba(0, 0, 0, 0.4);
                padding-bottom: 9px;
                cursor: pointer;
                white-space: nowrap;

                &:last-child {
                    margin-right: 0;
                }

                &.active {
                    color: $black;
                    border-bottom: 1px solid $black;

                }
            }
        }

    }
}