@import '../../assets/scss/variables.scss';
@import '../../components/auctions/AuctionsTabs.scss';
@import '../../assets/scss/_mixins';

.auction__page {
  background-color: $white;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    h1.title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      color: $black;
    }

    button.set_up {
      @include sm {
        margin-left: 0px;
        margin-top: 30px;
        width: 100%;
      }
    }

    @include sm {
      display: block;
      margin-bottom: 30px;
    }
  }

  .err-msg {
    display: flex;
    flex-direction: row;
    width: 693px;
    background: #fdfcf9;
    border: 1px solid #e4b613;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 12px;

    p {
      font-family: $spaceGroteskFont;
      font-size: 16px;
      line-height: 160%;
      color: #e4b613;
      flex: none;
      order: 1;
      flex-grow: 1;
      margin: 0px 10px;

      span {
        color: #000;
        font-weight: 500;
        font-size: 17px;
      }
    }
  }

  .empty__auction {
    margin-top: 100px;
    text-align: center;

    .warning__div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px auto;
      padding: 20px 20px 23px 24px;
      background: #fdfcf9;
      border: 1px solid #e4b613;
      box-sizing: border-box;
      border-radius: 12px;
      width: fit-content;

      button {
        font-family: $spaceGroteskFont;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        text-decoration: underline;
        background: none;
      }

      img {
        width: 20px;
        height: 20px;

        @include md {
          margin-bottom: 6px;
        }
      }

      p {
        font-family: $spaceGroteskFont;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
        line-height: 160%;
        color: #e4b613;
        margin-left: 13px;
        text-align: center;
      }
    }

    h1.title {
      font-family: $sharpGroteskSemiBoldFont;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      text-align: center;
      color: $black;
      margin-bottom: 130px;
    }
    h3 {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
      margin-top: 30px;
      // margin-bottom: 16px;
    }
    p.desc {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      text-align: center;
      color: rgba(0, 0, 0, 0.4);
      margin: 6px auto 30px;

      &:disabled {
        cursor: not-allowed;
        background: #e6e6e6;
        box-shadow: none;
      }
      @include sm {
        max-width: 243px;
      }
    }
    button.set_up {
      display: block;
      margin: 0 auto;

      // @include sm {
      //   width: 100%;
      // }
    }
  }

  &__body {
    .tabs__wrapper {
      position: relative;
      margin-bottom: 40px;

      .tab__left__arrow {
        display: none;
        position: absolute;
        top: 11px;
        left: 0;
        right: 0;
        justify-content: flex-end;
        transform: rotate(180deg);
        pointer-events: none;
        img {
          pointer-events: all;
        }
      }

      .tab__right__arrow {
        display: none;
        position: absolute;
        top: 11px;
        left: 0;
        right: 0;
        justify-content: flex-end;
        pointer-events: none;
        img {
          pointer-events: all;
        }
      }
    }

    ul.tabs {
      display: flex;
      align-items: center;
      margin-right: 40px;
      overflow-x: auto;

      li {
        margin-right: 40px;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.4);
        padding-bottom: 9px;
        cursor: pointer;
        white-space: nowrap;

        &:last-child {
          margin-right: 0;
        }

        &.active {
          color: $black;
          border-bottom: 1px solid $black;
        }
      }
    }
  }
}
