@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

footer {
  padding: 0;
  margin: 0;
  background: $black;

  .footer {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 60px;

    &__container {
      max-width: 1110px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      @include lg {
        grid-template-columns: 1fr;
      }
    }

    li:first-child {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.4);
      padding-bottom: 9%;
      cursor: unset;
    }

    li {
      position: relative;
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      padding-bottom: 24px;
      color: $white;
      cursor: pointer;
      &.disable {
        color: rgba(255, 255, 255, 0.4);
        cursor: default;
        .tooltiptext {
          visibility: hidden;
          font-family: $spaceGroteskFont;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          width: 120px;
          background-color: $black;
          color: $white;
          text-align: center;
          border-radius: 100px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: -30px;
          left: 30%;
          transform: translateX(-50%);
          box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.4);
          &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-top: 0.6px;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
          }
          &::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
        }
        &:hover {
          .tooltiptext {
            visibility: visible;
          }
        }
      }
    }

    .universe {
      .logo-div {
        margin: -5px 15px 25px 0;

        img {
          height: 56px;
          width: 151px;
          margin-right: 15px;
        }
      }

      .subscribe {
        position: relative;
        max-width: 350px;
        width: 100%;

        @include sm {
          max-width: 100%;
        }
      }

      p {
        color: $white;
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 22px;
      }

      input {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 14px;
        height: 50px;
        width: 100%;
        padding-left: 3%;
        padding-bottom: 2px;

        @include lg {
          width: 100%;
          max-width: 350px;
        }
        @include sm {
          max-width: 100%;
        }
      }

      button {
        position: absolute;
        right: 4px;
        bottom: 4px;

        @include sm {
          position: relative;
          margin-left: 1%;
          margin-top: 16px;
          width: 100%;
        }
      }
      @include lg {
        display: flex;
        justify-content: space-between;
        margin-left: 0%;
        margin-bottom: 60px;
      }

      @include sm {
        display: block;
      }
    }

    .universe-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      @include lg {
        width: 100%;
      }
      @include sm {
        grid-template-columns: 1fr 1fr;
        grid-gap: 60px;
      }
    }

    @include lg {
      display: block;
      padding: 60px;
    }

    @include sm {
      padding: 60px 20px;
    }
  }
  .footer-bottom {
    padding: 25px 60px;

    &-container {
      max-width: 1110px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include sm {
        grid-template-columns: 1fr auto;
      }
    }

    .footer-links {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      color: rgba(255, 255, 255, 0.4);
    }

    .powered-by {
      font-family: $spaceGroteskFont;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      color: rgba(255, 255, 255, 0.4);
      @include sm {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: left;
      }
    }

    .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img:last-child {
        padding-left: 15px;
      }
      @include sm {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }

    @include lg {
      padding: 40px 60px;
    }
    @include sm {
      padding: 40px 20px;
    }
  }
}
