@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

footer {
  padding: 0;
  margin: 0;
  background: $black;
  margin-top: auto;

  .footer {
    .footer__top {
      padding: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 222px;
        max-width: 1110px;
        margin: 0 auto;
        .subscribe {
          position: relative;
          width: 100%;
          p {
            color: $white;
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 14px;
            line-height: 22px;
            @include md {
              text-align: center;
            }
          }
          .form {
            position: relative;
            input {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              background: $white;
              box-sizing: border-box;
              border-radius: 14px;
              width: 100%;
              padding: 11px;
              height: 50px;

              &::placeholder {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.2);
              }
              @include md {
                height: auto;
              }
            }
            button {
              position: absolute;
              right: 4px;
              bottom: 4px;

              @include md {
                position: relative;
                top: 14px;
                right: 0;
                bottom: 0;
                padding: 11px;
                width: 100%;
              }
            }
          }
        }
        .join__community {
          position: relative;
          p {
            color: $white;
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 14px;
            line-height: 22px;
            @include md {
              text-align: center;
            }
          }
          .icons {
            display: flex;
            align-items: center;
            div {
              background: rgba(255, 255, 255, 0.05);
              border: 1px solid rgba(255, 255, 255, 0.1);
              box-sizing: border-box;
              border-radius: 12px;
              cursor: pointer;
              margin-right: 15px;
              padding: 15px;
              img {
                width: 22px;
                height: 22px;
              }
              @include sm {
                padding: 10px;
              }
            }
            div:last-child {
              margin-right: 0;
            }
            @include md {
              justify-content: center;
            }
          }
        }
        @include lg {
          grid-gap: 62px;
        }
        @include md {
          grid-template-columns: 1fr;
        }
      }
      @include md {
        padding: 60px 20px;
      }
    }

    .footer__middle {
      padding: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &__container {
        max-width: 1110px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-gap: 125px;
        .universe {
          .logo-div {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            margin-left: -5px;
          }
          p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: $white;
            max-width: 255px;
            @include md {
              max-width: none;
            }
          }
        }

        .universe-list {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 20px;

          li {
            position: relative;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: $white;
            cursor: pointer;
            margin-bottom: 10px;

            &:first-child {
              font-family: $sharpGroteskSemiBoldFont;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 130%;
              color: $white;
              cursor: unset;
              margin-bottom: 20px;
            }
            &.disable {
              color: rgba(255, 255, 255, 0.4);
              cursor: default;
              .tooltiptext {
                visibility: hidden;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                width: 120px;
                background-color: $black;
                color: $white;
                text-align: center;
                border-radius: 100px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: -30px;
                left: 30%;
                transform: translateX(-50%);
                box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.4);
                &::before {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-top: 0.6px;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
                }
                &::after {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: black transparent transparent transparent;
                }
              }
              &:hover {
                .tooltiptext {
                  visibility: visible;
                }
              }
            }
          }
          @include lg {
            grid-template-columns: 1fr 1fr;
          }
          @include md {
            grid-template-columns: repeat(4, 1fr);
          }
          @include sm {
            grid-template-columns: repeat(2, 1fr);
          }
        }
        @include lg {
          grid-gap: 60px;
        }
        @include md {
          grid-template-columns: 1fr;
        }
      }
      @include md {
        padding: 60px 20px;
      }
    }
  }
  .footer__bottom {
    padding: 25px 60px;
    &__container {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.4);
        @include md {
          display: block;
          width: 100%;
          margin-bottom: 20px;
        }
      }
      .powered-by {
        display: flex;
        justify-content: flex-end;
        span:first-child {
          margin-right: 30px;
        }
        span {
          cursor: pointer;
          &:hover {
            color: $white;
            transition: 0.3s;
          }
        }
        @include md {
          width: 100%;
          flex-wrap: wrap;
        }
      }
      @include md {
        flex-wrap: wrap;
      }
    }
    @include md {
      padding: 25px 20px;
    }
  }
}
