@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

footer {
  padding: 0;
  margin: 0;
  background: $black;
  margin-top: auto;

  .footer {
    .footer__top {
      padding: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 120px;
        max-width: 1110px;
        margin: 0 auto;
        .universe {
          .logo-div {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            margin-left: -5px;
          }
          p {
            font-family: $spaceGroteskFont;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            color: $white;
            @include md {
              max-width: none;
            }
          }
        }
        .subscribe {
          position: relative;
          width: 100%;
          padding-top: 17px;
          p {
            color: $white;
            font-family: $sharpGroteskSemiBoldFont;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            margin-bottom: 14px;
            line-height: 22px;
            @include md {
              text-align: center;
            }
            @include sm{
              text-align: left;
            }
          }
          .form {
            position: relative;
            input {
              font-family: $spaceGroteskFont;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              background: $white;
              box-sizing: border-box;
              border-radius: 14px;
              width: 100%;
              padding: 11px;
              height: 50px;

              &::placeholder {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: rgba(0, 0, 0, 0.2);
              }
              @include md {
                height: auto;
              }
            }
            button {
              position: absolute;
              right: 4px;
              bottom: 4px;

              @include md {
                position: relative;
                top: 14px;
                right: 0;
                bottom: 0;
                padding: 11px;
                width: 100%;
              }
            }
          }
          @include sm{
            padding-top: 0px;
          }
        }
        @include lg {
          grid-gap: 40px;
        }
        @include md {
          grid-template-columns: 1fr;
        }
      }
      @include md {
        padding: 60px 20px;
      }
    }

    .footer__middle {
      padding: 60px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &__container {
        max-width: 1110px;
        margin: 0 auto;
        display: grid;
        grid-gap: 125px;
        .universe {
          .logo-div {
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            margin-left: -5px;
          }
          p {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: $white;
            max-width: 255px;
            @include md {
              max-width: none;
            }
          }
        }

        .universe-list {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 20px;

          li {
            position: relative;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            color: $white;
            cursor: pointer;
            margin-bottom: 10px;

            &:first-child {
              font-family: $sharpGroteskSemiBoldFont;
              font-style: normal;
              font-weight: 600;
              font-size: 12px;
              line-height: 130%;
              color: $white;
              cursor: unset;
              margin-bottom: 20px;
            }
            &.disable {
              color: rgba(255, 255, 255, 0.4);
              cursor: default;
              .tooltiptext {
                visibility: hidden;
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                width: 120px;
                background-color: $black;
                color: $white;
                text-align: center;
                border-radius: 100px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: -30px;
                left: 21%;
                transform: translateX(-50%);
                box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.4);
                &::before {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-top: 0.6px;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
                }
                &::after {
                  content: '';
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: black transparent transparent transparent;
                }
              }
              &:hover {
                .tooltiptext {
                  visibility: visible;
                }
              }
            }
          }
          @include lg {
            grid-template-columns: repeat(3, 1fr);
          }
          @include sm {
            grid-template-columns: repeat(2, 1fr);
          }
        }
        @include lg {
          grid-gap: 60px;
        }
        @include md {
          grid-template-columns: 1fr;
        }
      }
      @include md {
        padding: 60px 20px;
      }
    }
  }
  .footer__bottom {
    padding: 25px 60px;
    &__container {
      max-width: 1110px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .powered-by{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .op-sourced{
          font-family: $spaceGroteskFont;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          color: rgba(255, 255, 255, 0.4)
        }
        span{
          font-family: $spaceGroteskFont;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 22px;
          color: rgba(255, 255, 255, 0.6)
        }
        span:last-child{
          margin-left: 20px;
          @include sm {
            margin-left: 0px;
          }
        }
        span:not(:first-child){
          cursor: pointer;
        }
        @include sm{
          grid-template-columns: 1fr;
          margin-top: 30px;
        }
      }
      .join__community {
        .icons {
          display: flex;
          align-items: center;
          div {
            background: rgba(255, 255, 255, 0.05);
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-sizing: border-box;
            border-radius: 12px;
            cursor: pointer;
            margin-right: 15px;
            padding: 15px;
            img {
              width: 22px;
              height: 22px;
            }
            &:hover {
              background: rgba(255, 255, 255, 0.15);
            }
            @include sm {
              padding: 10px;
            }
          }
          div:last-child {
            margin-right: 0;
          }
          @include md {
            justify-content: center;
          }
          @include sm{
            justify-content: space-between;
          }
        }
      }
      @include md {
        flex-wrap: wrap;
      }
      @include sm{
        flex-wrap: wrap ;
        flex-direction: column-reverse;
        align-items: unset;
      }
    }
    @include md {
      padding: 25px 20px;
    }
  }
}
