@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.marketplace--submenu {
    display: flex;
    align-items: center;
    background: $white;
    padding: 13px 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    > div {
        margin-right: 40px;
        &.page--title {
            font-family: $sharpGroteskMediumFont;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 14px;
            color: $black;
        }
        &.page--subtitle {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: $black;
        }
    }
}