@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.rarity--charts--page {
    &--container {
        max-width: 1110px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 100px;
        @include xl {
            padding-left: 60px;
            padding-right: 60px;
        }
        @include md {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}