@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.communities--search--result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    .community--box {
        background: $white;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 12px;
        padding: 30px 24px;
        &--header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .avatar--title--members {
                display: flex;
                align-items: center;
                img {
                    margin-right: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                h3 {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 160%;
                    color: $black;
                }
                p {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 160%;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
        }
        &--body {
            p.desc {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: rgba(0, 0, 0, 0.4);
            }
        }
    }
}