@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.congrats_content {
  padding: 0px 30px;
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  h2.title {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: $black;
  }
  p.desc {
    font-family: $spaceGroteskFont;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    max-width: 380px;
    margin: 10px auto 16px;
  }
  .view__rankings {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration-line: underline;
        color: $black;
        background-color: $white;
    }
  }
  @include sm {
    padding: 40px 30px;
  }
}