@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.communitie--item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    .img--column {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        img {
            border-radius: 50%;
        }
    }
    .description--column {
        margin-left: 10px;
        .name {
            font-family: $spaceGroteskFont;
            font-weight: bold;
            font-size: 12px;
            line-height: 160%;
            color: $black;
        }
        .members {
            font-family: $spaceGroteskFont;
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.4);
        }
    }
}