@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.cover--photo {
    width: 100%;
    min-height: 230px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    input {
        display: none;
    }
    label {
        width: 42px;
        height: 42px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 12px;
        cursor: pointer;
        position: absolute;
        right: 18px;
        top: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}