@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.my--profile--communities {
    padding: 20px 30px;
    height: 250px;
    width: 100%;
    background: $white;
    border-radius: 12px;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: auto;
    .title--section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h5 {
            font-family: $spaceGroteskFont;
            font-size: 14px;
            line-height: 18px;
        }
        p {
            text-decoration: underline;
            font-family: $spaceGroteskFont;
            font-size: 12px;
            line-height: 160%;
            text-align: right;
            cursor: pointer;
        }
    }
    .communities--content {
        :last-child {
          margin-bottom:0 !important;
        }
    }
}
