@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.my--profile--container {
    width: 100%;
    overflow: hidden;
    background: linear-gradient(127.59deg, #F2F3FB -1.33%, #FCF9F4 91.03%);
    .my--profile--wrapper {
        align-items: flex-start;
        position: relative;
        .left--column {
            position: relative;
            width: 30%;
            bottom: 165px;
        }
        .right--column {
            width: calc(100% - 30% - 50px);
            padding: 40px 0;
        }
    }
}