@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.recent--activity--section {
    margin-top: 50px;
    .title {
        margin-bottom: 30px;
        font-family: $sharpGroteskSemiBoldFont;
        font-size: 16px;
        line-height: 130%;
        color: $black;
    }
}