@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tabs--parent {
    width: 100%;
    .tabs--header--labels {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        :first-child {
            margin-left: 0px !important;
        }
        .tab--header--item {
            min-height: 31px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 40px;
            cursor: pointer;
            h5 {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
                color: rgba(0, 0, 0, 0.4);
            }
        }
        .active {
            border-bottom: 2px solid $black;
            h5 {
                color: $black;
            }
        }
    }
}