@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.welcome--section {
    background-image: url('../../assets/images/lobby-lobsters/bg_sky.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}