@import '../../../assets/scss/variables';
@import '../../../assets/scss/_mixins';

.lobby--lobsters--slider--section {
    background: linear-gradient(180deg, #000000 0%, #44A4B6 74.58%);
    padding-bottom: 70px;
    &--wrapper {
        padding: 150px 60px 0px;
        &--container {
            max-width: 1110px;
            margin: 0 auto 20px;
            .grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 85px;
                .lottie--animation {
                    > div {
                        @include md {
                            display: flex;
                            justify-content: center;
                        }
                        svg {
                            @include md {
                                width: 220px!important;
                                height: 220px!important;
                            }
                        }
                    }
                }
                @include md {
                    grid-template-columns: 1fr;
                    grid-gap: 0;
                }
            }
        }
        @include md {
            padding: 90px 20px 0px;
        }
    }
    .slick-slide {
        margin: 0 8px;
        img {
            border-radius: 12px;
        }
    }
    .slick-slider div { transition: none; }
}