@import '../../assets/scss/variables';
@import '../../assets/scss/_mixins';

.carousel.img-div {
    .slick-slide{
        width: auto!important;
      }

      .slick-arrow {
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        height: 42px;
        width: 42px;
        box-sizing: border-box;
        box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        border-radius: 50%;

        &:hover {
          background: linear-gradient($white, $white) padding-box,
          linear-gradient(to right, #bceb00, #00eaea) border-box;
          border: 1px solid transparent;
        }

        &::before {
         color: rgba(0, 0, 0, 1);
         position: absolute;
        }

        &.slick-prev {
          position: absolute;
          left: -18px;
          z-index: 1;
          &::before{
            content: url('../../assets/images/slider-btn.svg');
            opacity: 1;
            top: 7px;
            right: 17px;
          }
        }
        &.slick-next {
          position: absolute;
          right: -18px;
          z-index: 1;
          &::before{
            content: url('../../assets/images/slider-btn.svg');
            opacity: 1;
            transform: rotate(180deg);
            top: 14px;
            right: 16px;
          }
        }
      }
}