@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.about--wrapper--row1 {
    min-height: 425px;
    width: 90%;
    @include sm {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
        padding: 60px 20px;
        div {
            max-width: 627px;
            width: 100%;
            align-items: center;
        }
    }
    .new--technology {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 40px;
        @include sm {
            padding: 0;
        }       
        h2 {
            @include lg {
                font-size: 26px;
            }
            @include sm {
                font-size: 26px;
            }
            font-family: Sharp Grotesk;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
        }
        p {
            @include lg {
                font-size: 14px;
            }
            @include sm {
                font-size: 14px;
            }
            margin-top: 1.1vw;
            font-family: Space Grotesk;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: #666666;
        }
    }
    
}
.about--wrapper--row2 {
    min-height: 425px;
    width: 90%;
    @include sm {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding: 60px 20px;
        div {
            max-width: 627px;
            width: 100%;
            align-items: center;
        }
    }
    .released--left--block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;  
        padding: 0 40px;
        @include sm {
            padding: 0;
        }
        h2 {
            @include lg {
                font-size: 26px;
            }
            @include sm {
                font-size: 26px;
            }
            font-family: Sharp Grotesk;
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 140%;
        }
        p {
            @include lg {
                font-size: 14px;
            }
            @include sm {
                font-size: 14px;
            }
            margin-top: 1.1vw;
            font-family: Space Grotesk;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            color: #666666;
        }
    }
    .relased--right--block {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .dominant--image {
            z-index: 10;
            position: relative;
            max-height: 400px;
        }
        // .row2--background {
        //     @include sm {
        //         max-height: 300px;
        //         height: 300px;
        //         top: -65px;
        //         width: 80%;
        //         left: 70px;
        //         object-fit: cover;
        //     }
        //     position: absolute;
        //     right: -100px;
        //     top: -35px;
        //     height: 600px;
        //     max-height: 600px;
        // }
    } 
}