@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.polymorphs--characters {
    margin-top: 7vw;
    padding: 30px 0;
    width: 100%;
    background-image: url("../../../assets/images/polymorph-section3-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    align-items: center;
    @include sm {
        height: auto;
    }
    .polymorphs--characters--wrapper {
        max-width: 1310px;
        @include sm {
            max-width: 1110px;
            width: 100%;
            flex-direction: column;
        }
        >div {
            @include sm {
                width: 100%;
            }
            width: 33.3%;
        }
        img {
            @include sm {
                height: auto;
                width: 100%;
                object-fit: cover;
            }
            height: auto;
            position: relative;
        }
        .polymorph--section3--center--block {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
            .section3--center--child--block {
                h2 {
                    @include sm {
                        font-size: 26px;
                        line-height: 36.4px;
                        padding: 0 20px;
                    }
                    @include lg {
                        font-size: 26px;
                        line-height: 36.4px;
                    }
                    font-family: Sharp Grotesk;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 140%;
                    text-align: center;
                    color: #000000;
                }
                p {
                    @include sm {
                        padding: 0 20px;
                    }
                    font-family: Space Grotesk;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    text-align: center;
                    color: rgba(0, 0, 0, 0.6);
                    margin-top: 1.2vw;
                }
                button {
                    margin: 0 auto;
                    display: block;
                    margin-top: 1.2vw;
                    width: 175px;
                    height: 42px;
                }
            }
        }
        .polymorph--section3--right--block {
            display: flex;
            justify-content: flex-end;
            position: relative;
            @include sm {
                height: auto;
            }
        }
    }
}