@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.polymorphs--section6 {
    min-height: 567px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: #FBFEFD 0px 80px 40px -2em inset;
    background: radial-gradient(208.62% 367% at -7.47% -21.19%, rgba(42, 208, 202, 0.2) 0%, rgba(225, 246, 100, 0.2) 22.92%, rgba(254, 176, 254, 0.2) 46.88%, rgba(171, 179, 252, 0.2) 68.23%, rgba(93, 247, 164, 0.2) 87.5%, rgba(88, 196, 246, 0.2) 100%), #FFFFFF;
    // @include lg {
    //     min-height: 750px;
    // }
    .wrapper--center--section6--two-columns {
        min-height: 300px;
        align-items: flex-start;
        height: 500px;
        @include xl {
            padding: 20px 60px;
        }
        @include lg {
            align-items: center;
        }
        @include sm {
            flex-wrap: nowrap;
            flex-direction: column-reverse;
            width: 100%;
            padding: 20px;
            // height: auto;
        }
        .wrapper--left--column {
            >div {
                text-align: center;
                img {
                    @include sm {
                        height: 320px;
                        object-fit: contain;
                    }
                }
            }
            @include sm {
                width: 100%;
                height: 250px;
            }
        }
        .wrapper--right--column {
            height: 100%;
            display: flex;
            align-items: center;
            @include sm {
                width: 100%;
                text-align: center;
                height: 250px;
            }
            > div {
                @include lg {
                    padding: 0;
                }
                padding: 0 50px;
                .coming-soon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 112px;
                    height: 28px;
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 100px;
                    font-family: $sharpGroteskSemiBoldFont;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 9px;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: rgba(0, 0, 0, 0.2);
                    @include sm {
                        margin: 0 auto;
                    }
                }
                h2 {
                    @include lg {
                        font-size: 26px;
                    }
                    margin: 15px 0;
                    font-family: Sharp Grotesk;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 140%;
                    color: #000000;
                }
                p {
                    @include lg {
                        font-size: 14px;
                        margin-top: 0;
                    }
                    margin-top: 25px;
                    font-family: Space Grotesk;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 150%;
                    color: rgba(0, 0, 0, 0.6);
                }
            }
            
        }
    }
    @include sm {
        margin-top: 60px;
    }
}
.section6--end--block--parent {
    width: 100%;
    height: 200px;
    background-color: $black;
    @include sm {
        height: 165px;
    }
    >div {
        height: 100%;
    }
    .section6--end--block {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        max-width: 1210px;
        height: 470px;
        background-image: url('../../../assets/images/Section7-Background-min.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        z-index: 500;
        flex-wrap: nowrap;
        flex-direction: column;
        bottom: 260px;
        @include xl {
            width: 95%;
        }
        @include lg {
            width: 100%;
            height: 395px;
            bottom: 210px;
        }
        @include sm {
            height: 350px;
            bottom: 210px;
        }
        h2 {
            padding: 0 30px;
            font-family: Sharp Grotesk;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 140%;
            text-align: center;
            color: #000000;
            width: 45%;
            @include lg {
                font-size: 20px;
                line-height: 130%;
            }
            @include sm {
                padding: 0;
                width: 80%;
                margin-bottom: 40px;
            }
        }
        button {
            margin: 15px 0;
            width: 175px;
            height: 42px;
            @include sm {
             width: 80%;   
            }
        }
    }
}