@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.polymorph--section4 {
    background-color: $black;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    @include lg {
        min-height: 530px;
    }
    @include sm {
        height: auto;
        min-height: auto;
    }
    .polymorph--wrapper--center--section4 {
        min-height: 500px;
        @include lg {
            min-height: 430px;
        }
        @include sm {
            min-height: 600px;
            height: auto;
            flex-direction: column-reverse;
            justify-content: center;
            padding: 20px 0;
        }
        > div {
            @include sm {
                width: 100%;
                min-height: 300px;
                display: flex;
                align-items: center;
            }
        }
        .section4--left--block {
            height: 500px;
            background-image: url('../../../assets/images/Section4-Background-min.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position-x: right;
            display: flex;
            align-items: center;
            @include lg {
                height: 430px;
            }
            @include sm {
                transform: rotate(90deg);
                display: flex;
                justify-content: center;
                min-height: 320px;
                
            }
            img {
                @include lg {
                    position: relative;
                    bottom: 40px;
                }
                @include sm {
                    transform: rotate(-90deg);
                    bottom: 0;
                    width: 75%;
                }
            }
        }
        .section4--right--block {
            padding: 0 40px;
            @include sm {
                padding: 0 20px;
            }
            .coming--soon {
                background: rgba(255, 255, 255, 0.15);
                border-radius: 100px;
                padding: 8px 14px;
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 9px;
                line-height: 130%;
                width: fit-content;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 30px;
                @include sm {
                    margin: 0 auto 30px;
                }
            }
            h2 {
                @include lg {
                    font-size: 20px;
                    line-height: 130%; 
                }
                @include sm {
                    text-align: center;
                }
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 140%; 
                color: $white;
            }
            p {
                @include lg {
                    font-size: 16px;
                    line-height: 160%;
                }
                @include sm {
                    text-align: center;
                }
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 150%;
                color: $white;
                margin: 20px 0 40px;
            }
            button {
                height: 42px;
                @include sm {
                    width: 100%;
                }
            }
        }
    }
    
}