@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.polymorph--section4 {
  background-color: $black;
  width: 100%;
  height: 680px;
  display: flex;
  align-items: center;
  @include lg {
    min-height: 530px;
  }
  @include sm {
    height: auto;
    min-height: auto;
  }
  .polymorph--wrapper--center--section4 {
    min-height: 500px;
    @include lg {
      min-height: 430px;
    }
    @include sm {
      min-height: 600px;
      height: auto;
      flex-direction: column-reverse;
      justify-content: center;
      padding: 20px 0;
    }
    > div {
      @include sm {
        width: 100%;
        min-height: 300px;
      }
    }
    .section4--left--block {
      height: 400px;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      zoom: 2;
      @include lg {
        height: 430px;
        background-image: none;
        margin-right: 25px;
      }
      @include md {
        zoom: 1;
        margin-right: 0px;
      }
      .hide--on--tablet {
        @include lg {
          display: none;
        }
      }
      .show--on--mobile {
        display: none;
        @include sm {
          display: block;
        }
      }
      .show--on--tablet {
        display: none;
        @include lg {
          display: block;
        }
        @include sm {
          display: none;
        }
      }
    }
    .section4--right--block {
      padding: 0 40px;
      margin-left: 50px;
      @include lg {
        margin-left: 25px;
      }
      @include md {
        margin-left: 0px;
      }
      @include sm {
        padding: 50px 20px 0px;
      }
      .coming--soon {
        background: rgba(255, 255, 255, 0.15);
        border-radius: 100px;
        padding: 8px 14px;
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 9px;
        line-height: 130%;
        width: fit-content;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 30px;
        @include sm {
          margin: 0 auto 30px;
        }
      }
      h2 {
        @include lg {
          font-size: 20px;
          line-height: 130%;
        }
        @include md {
          font-size: 16px;
        }
        @include sm {
          // text-align: center;
        }
        white-space: nowrap;
        font-family: $sharpGroteskSemiBoldFont;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 140%;
        color: $white;
      }
      p {
        @include lg {
          font-size: 16px;
          line-height: 160%;
        }
        @include sm {
          // text-align: center;
          // margin: 20px auto;
        }
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        color: $white;
        font-weight: 400;
        margin: 20px 0 20px;
        max-width: 404px;
      }
      button {
        height: 42px;
        @include sm {
          width: 100%;
        }
      }
    }
  }
}
