@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.mint--polymorph {
    .welcome--section {
        overflow: hidden;
        @include xl {
            padding: 0 60px;
        }
        
        @include lg {
            padding: 0 60px;
        }
        @include md {
            padding: 0 20px;
        }
        .welcome__section__container {
            padding: 0;
            max-width: 1110px;
            flex-direction: column;
            justify-content: center;
            position: relative;
            overflow: visible;
            .left {
                max-width: 900px;
                width: 100%;
                text-align: center;
                min-height: 200px;
                .links {
                    margin: 0;
                }
                @include lg {
                    min-height: 255px;
                }       
                @include sm {
                    min-height: 265px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                h1 {
                    font-size: 48px;
                    @include lg {
                        margin-bottom: 3vw;
                    }
                    @include sm {
                        font-size: 26px;
                    }
                }
                p {
                    @include lg {
                        width: 80%;
                        margin: 0 auto;
                    }
                    @include sm {
                        font-size: 14px;
                        width: 100%;
                    }
                    font-family: $spaceGroteskFont;
                    max-width: 1110px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 160%;
                    text-align: center;
                    color: #FFFFFF;
                    letter-spacing: 1px;
                }
            }
            > div {
                width: 100%;
            }
            .right {
                position: relative;
                div {
                    @include lg {
                        max-width: 800px;
                    }
                }            
            }
            .welcome--slider--bonding--curve {
                background-color: rgb(18, 18, 18);
            }
        }
    }
    .section4 {
        background-position: center;
        background-size: 100% 100%;
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-image: url("../../assets/images/distribution-curve-desktop-bg.png");
        overflow: hidden;
        .section4--child {
            width: 100%;
            height: 100%;
            height: 500px;
            // background-image: linear-gradient(white 10%, transparent);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: relative;
            @include xl {
                padding: 0 60px;
            }
            @include lg {
                padding: 0 20px;
            }
            .welcome--slider--bonding--curve {
                margin: 0 auto;
                background-color: $white;
                -webkit-box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
                .parent--horizontall--slider {
                    box-shadow: inset 0px 0px 20px #9a9a9a2e;
                }
                h5 {
                    color: $black;
                }
                p {
                    color: $black;
                }
                .row3--section {
                    .quantity--input--group {
                        .controll-box {
                            color: $black;
                            border: 1px solid rgba(0, 0, 0, 0.1);
                            button {
                                background-color: rgba(0, 0, 0, 0.05);
                                color: $black;
                                div {
                                    background-color: $black;
                                }
                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.1);
                                }
                            }
                        }
                    }
                }
            }
        }
        @include lg {
            background-image: url("../../assets/images/distribution-curve-tablet-bg.png");
        }
        @include sm {
            background-image: url("../../assets/images/distribution-curve-mobile-bg.png");
        }
    }
}