@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@font-face {
    font-family: Sharp Grotesk;
    src: url(../../assets//fonts/SharpGrotesk/SharpGroteskSmBold.woff2);
}
.polymorphs {
    .welcome--section {
        @include xl {
            padding: 0 60px;
            overflow: hidden;
        }
        @include sm {
            padding: 0 20px;
        }
        .welcome__section__container {
            max-width: 1110px;
            width: 100%;
            padding-left: 0;
            @include xl {
                overflow: visible;
            }
            @include lg {
                min-height: 685px;
                height: auto;
            }
        }
        .left {
            p.desc {
                max-width: 430px;
            }
        }
        .right {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            @include xl {
                width: 115%;
            }
            @include lg {
                width: 100%;
            }
            >div {
                height: 535px;
                top: 50px;
                @include xl {
                    height: auto;
                }
                @include lg {
                    max-width: 100%;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
            @include xl {
                position: relative;
            }
        }
        .welcome--marquee {
            position: relative;
            .border--top {
                height: 1px;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin-bottom: 2px;
                background-image: linear-gradient(90deg, rgba(42,208,202,0.5018382352941176) 0%, rgba(225,246,100,0.5) 20%, rgba(254,176,254,0.5) 40%, rgba(171,179,252,0.5) 60%, rgba(93,247,164,0.5) 80%, rgba(88,196,246,0.5) 100%);
            }
            span {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: bold;
                font-size: 19.371px;
                line-height: 100%;
                letter-spacing: 0.06em;
                text-transform: uppercase;
                mix-blend-mode: normal;  
                margin: 0 2px; 
            }
            .marquee--text--polymorph {
                background-blend-mode: screen;
                background: conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg);
                background: radial-gradient(95.11% 95.11% at 36.64% 4.89%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.88%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                
            }
            .marquee--text--universe {
                background: radial-gradient(95.11% 95.11% at 36.64% 4.89%, #2AD0CA 0%, #E1F664 22.92%, #FEB0FE 46.88%, #ABB3FC 68.23%, #5DF7A4 87.5%, #58C4F6 100%),
                conic-gradient(from 176.21deg at 50% 50%, #000000 -24.66deg, #FFFFFF 0.25deg, #000000 50.63deg, #000000 51.97deg, #FFFFFF 88.12deg, #000000 142.5deg, #FFFFFF 196.87deg, #000000 256.87deg, #FFFFFF 300deg, #000000 335.2deg, #000000 335.34deg, #FFFFFF 360.25deg);
                background-clip: text;
                -webkit-text-stroke: 2px transparent;
                color: $black;
                letter-spacing: 2px;
            }
        }
    }
    .content {
        width: 100%;
        padding-top: 2vw;
        box-sizing: border-box;
    }
}