@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.polymorph--card--skeleton {
  cursor: pointer;
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 16px;
  transition: 0.3s ease-in-out;
  .react-loading-skeleton {
    border-radius: 12px;
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .card--number {
      > span {
        display: flex;
        align-items: center;
      }
    }
    .card--price {
      display: flex;
      align-items: center;
    }
  }
  &--body {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 225px;
    width: 100%;
    border-radius: 4px !important;
    @include lg {
      height: 314px;
    }
  }
  &--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > span {
      display: flex;
      align-items: center;
    }
  }
}
@include xl {
  grid-template-columns: repeat(2, 1fr);
}
@include sm {
  grid-template-columns: 1fr;
}
