@import '../../../assets/scss/variables';
@import '../../../assets/scss/_mixins';

.rarity--charts--list {
    display: grid;
    grid-template-columns: 255px 1fr;
    grid-gap: 30px;
    .categories--filters {
        h2 {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 160%;
            color: $black;
            margin-bottom: 20px;
        }
        .each--category {
            position: relative;
            z-index: 100;
            margin-top: 12px;
            .dropdown {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 12px;
                padding: 11px 16px;
                cursor: pointer;
                margin-bottom: 20px;
                &.open {
                    background-image: linear-gradient(101deg, #bceb00, #00eaea);
                    background-origin: border-box;
                    box-shadow: 2px 1000px 1px $white inset;
                    border: 1px solid transparent;
                    img {
                        transform: rotate(180deg);
                    }
                    .box--shadow--effect--block {
                        opacity: 0.2;
                    }
                }
                &:hover {
                    border-color: transparent;
                    border-radius: 10px;
                    .box--shadow--effect--block {
                        opacity: 0.2;
                    }
                }
                span {
                    font-family: $spaceGroteskFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 140%;
                    color: $black;
                }
                img {
                    transition: 0.3s ease-in-out;
                }
                .box--shadow--effect--block {
                    position: absolute;
                    left: -4px;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: calc(100% + 8px);
                    min-height: 50px;
                    border-radius: 12px;
                    background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                    opacity: 0;
                    transition: 0.2s;
                    z-index: -1;
                }
            }
            .traits {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 12px;
                .trait {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    label {
                        cursor: pointer;
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 140%;
                        color: $black;
                    }
                    input {
                        cursor: pointer;
                        -webkit-appearance: none;
                        position: relative;
                        background: $white;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        box-sizing: border-box;
                        border-radius: 6px;
                        width: 24px;
                        height: 24px;
                        margin-right: 12px;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        &:hover {
                            background-image: linear-gradient(101deg, #bceb00, #00eaea);
                            background-origin: border-box;
                            box-shadow: 2px 1000px 1px $white inset;
                            border: 1px solid transparent;
                        }
                        &:checked {
                            background: linear-gradient(135deg, #bceb00 15.57%, #00eaea 84.88%);
                            border-color: transparent;
                            &::after {
                                content: '\2518';
                                color: #000000;
                                font-size: 16px;
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
        @include lg {
            display: none;
        }
    }
    .list--with--selected--filters {
        .selected--filters {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            min-height: 46px;
            .result {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: $black;
                margin-right: 12px;
                margin-bottom: 8px;
            }
            button.light-border-button {
                display: flex;
                align-items: center;
                padding: 6px 14px;
                box-shadow: 2px 1000px 1px rgba(255, 255, 255, 0.9) inset !important;
                font-size: 14px;
                line-height: 140%;
                margin-right: 12px;
                margin-bottom: 8px;
                cursor: default;
                img.close {
                    cursor: pointer;
                    width: 10px;
                    height: 10px;
                    margin-left: 8px;
                }
            }
            .clear--all {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 150%;
                text-decoration-line: underline;
                color: $black;
                background: none;
                margin-bottom: 8px;
            }
            @include lg {
                display: none;
            }
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            .card {
                background: $white;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 12px;
                padding: 16px;
                transition: 0.3s ease-in-out;
                &:hover {
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
                }
                &--header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .card--number {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 160%;
                        color: #B3B3B3;
                    }
                    .card--price {
                        display: flex;
                        align-items: center;
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 120%;
                        color: $black;
                        img {
                            margin-right: 5px;
                        }
                    }
                }
                &--body {
                    position: relative;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    height: 225px;
                    width: 100%;
                    img.rarity--chart {
                        cursor: pointer;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        object-fit: cover;
                    }
                    .card--scrambled {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        .tooltiptext {
                            visibility: hidden;
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            width: 160px;
                            background-color: $black;
                            color: $white;
                            text-align: center;
                            border-radius: 100px;
                            padding: 5px 0;
                            position: absolute;
                            z-index: 1;
                            top: -35px;
                            left: 50%;
                            transform: translateX(-50%);
                            &::after {
                                content: '';
                                position: absolute;
                                top: 100%;
                                left: 50%;
                                margin-left: -5px;
                                border-width: 5px;
                                border-style: solid;
                                border-color: black transparent transparent transparent;
                                @include md {
                                    left: 86%;
                                }
                            }
                            @include md {
                                transform: translateX(-86%);
                            }
                        }
                        &:hover {
                            .tooltiptext {
                                visibility: visible;
                            }
                        }
                    }
                    @include lg {
                        height: 314px;
                    }
                }
                &--footer {
                    h2 {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        color: $black;
                        margin-bottom: 5px;
                    }
                    p {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 160%;
                        color: #B3B3B3;
                    }
                }
            }
            @include xl {
                grid-template-columns: repeat(2, 1fr);
            }
            @include sm {
                grid-template-columns: 1fr;
            }
        }
    }
    @include lg {
        grid-template-columns: 1fr;
    }
}

.rarity--charts--empty {
    width: 100%;
    p {
        font-family: $spaceGroteskFont;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        margin-top: 176px;
        margin-bottom: 66px;
    }
}