@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.auction-setup {
  background-image: url('../../assets/images/pink-bg1.png');
  background-size: 100% 200px;
  background-repeat: no-repeat;
  // @include lg {
  //     background-image: url('../../assets/images/pink-bg2.png');
  //     background-size: cover;
  // }
  // @include sm {
  //     background-image: url('../../assets/images/pink-bg3.png');
  // }
  .set-text {
    font-family: $sharpGroteskSemiBoldFont;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #000;
    padding-top: 18px;
    @include sm {
      font-size: 26px;
    }
  }
  .tabs.container {
    .tab_items {
      display: flex;
      width: 100%;
      #tabsdiv {
        margin-right: 3px;
        box-shadow: 0px 10px 40px rgba(136, 120, 172, 0.2);
        width: 33%;
        &.disabled {
          opacity: 0.2;
        }
      }
      button {
        min-width: 100%;
        min-height: 50px;
        background: $white;
        border-radius: 4px;
        position: relative;
        font-family: $sharpGroteskMediumFont;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1;

        img {
          padding: 12px;

          @include sm {
            display: block;
            text-align: center;
            margin: -20px auto auto;
          }
        }
        @include sm {
          min-height: 100px;
          min-width: 100%;
          padding-left: 20px;
          white-space: break-spaces;
        }
      }
      .first-triangle {
        position: absolute;
        border-radius: 4px;
        min-height: 50px;
        width: 0;
        border-top: 25px solid transparent;
        border-left: 20px solid #f5f6f8;
        z-index: 100;
        border-bottom: 25px solid transparent;
        @include sm {
          border-top: 50px solid transparent;
          border-left: 20px solid #f1e3d7;
          border-bottom: 50px solid transparent;
        }
        @include lg {
          border-left: 20px solid #f8fafa;
        }
      }
      .last-triangle {
        position: absolute;
        margin-left: -2px;
        min-height: 50px;
        width: 0;
        z-index: 200;
        border-top: 25px solid transparent;
        border-left: 20px solid #fff;
        border-bottom: 25px solid transparent;
        @include sm {
          border-top: 50px solid transparent;
          border-left: 20px solid #fff;
          border-bottom: 50px solid transparent;
        }
      }
      .active {
        button {
          color: #fff;
          background: #000;
          border-left: 1px solid #fff;
        }
        .last-triangle {
          border-left: 20px solid #000;
        }
      }
    }
  }
}
