@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.bundle--sell--form--container {
    width: 100%;
    .form--title {
        font-family: $sharpGroteskSemiBoldFont;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        color: $black;
        margin-bottom: 40px;
    }
    .form--block--parent {
        // min-height: 475px;
        width: 100%;
        background: rgba(0, 0, 0, 0.02);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 10px;
        margin-bottom: 60px;
        padding: 40px 50px;
        @include lg {
            padding: 35px 30px;
        }
        .row--bundle--name {
            margin-bottom: 0 !important;
            border-bottom: none !important;
        }
        .row--bundle--name, .row--bundle--description {
            width: 100%;
            .characters--used {
                float: right;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 150%;
                color: rgba(0, 0, 0, 0.4);
                @include md {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                }
            }
            .left--block {
                width: 100% !important;
                @include md {
                    position: relative;
                }
                .intup-l {
                  width: 100% !important;
                  input {
                        width: 100% !important;
                        height: 50px;
                        padding: 0 15px;
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: $black;
                    }
                }
            }
        }
        .row {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .row--child {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include sm {
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    position: relative;
                }
                .left--block {
                    width: 65%;
                    @include lg {
                        width: 50%;
                    }
                    @include sm {
                        width: 100%;
                    }
                    .row--title {
                        font-family: $spaceGroteskFont;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 20px;
                        color: $black;
                        margin-bottom: 10px;
                        @include sm {
                            font-size: 13px;
                        }
                    }
                    .row--description {
                        font-family: $spaceGroteskFont;
                        font-size: 14px;
                        line-height: 18px;
                        color: rgba(0, 0, 0, 0.4);
                        @include sm {
                            font-size: 12px;
                        }
                    }
                }
                .right--switch {
                    @include sm {
                        position: absolute !important;
                        margin-top: 0 !important;
                        top: 0 !important;
                        right: 0 !important;
                    }
                }
                .right--block {
                    position: relative;
                    width: 35%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    @include lg {
                        width: 45%;
                    }
                    @include sm {
                        width: 100%;
                        margin-top: 10px;
                    }
                    .intup-l {
                        width: 100%;
                        input {
                            width: 100%;
                            height: 50px;
                            padding: 0 15px;
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            color: $black;
                        }
                    }
                    .price--dropdown {
                        font-family: $spaceGroteskFont;
                        font-weight: normal;
                        max-width: 98px;
                        height: 34px;
                        width: 100%;
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        bottom: 0;
                        z-index: 12;
                        // margin: auto;
                        p {
                            display: none;
                        }
                        :nth-child(1) {
                            margin-right: 5px;
                        }
                        .price--dropdown--items {
                            :nth-child(1) {
                                margin-right: 5px;
                                width: 20px;
                            }
                        }
                    }
                }
            }
            .ending--price--content, .schedule--future--time--content {
                width: 100%;
                margin-top: 35px;
                user-select: none;
                // min-height: 200px;
                background: rgba(0, 0, 0, 0.02);
                border: 1px solid rgba(0, 0, 0, 0.1);
                box-sizing: border-box;
                border-radius: 10px;
                padding: 30px;
                @include sm {
                    padding: 20px;
                }
                .row--child {
                    margin-bottom: 30px;
                    @include lg {
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                    }
                    .left--block {
                        width: 60%;
                        @include lg {
                            width: 100%;
                        }
                    }
                    .right--block {
                        @include lg {
                            width: 60%;
                            margin-top: 20px;
                        }
                        @include sm {
                            width: 100%;
                        }
                        .date__input {
                            width: 100%;
                        }
                    }
                }
            }
            .schedule--future--time--content {
                .row--child {
                    margin-bottom: 0;
                    @include lg {
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
                    @include sm {
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                    }
                    .left--block {
                        @include lg {
                            width: 40%;
                        }
                        @include sm {
                            width: 100%;
                        }
                    }
                    .right--block {
                        @include lg {
                            width: 50%;
                        }
                        @include sm {
                            width: 100%;
                        }
                    }
                }
            }
            .buyer--address {
                margin-top: 20px;
                width: 100%;
                .intup-l {
                    width: 100%;
                    input {
                        width: 100%;
                        height: 50px;
                        padding: 0 15px;
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: $black;
                    }
                }
            }
        }
        .row--privacy {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}