@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.select--nfts--container {
    width: 100%;
    margin-bottom: 15px;
    .section--title--block {
        width: 100%;
        margin-bottom: 30px;
        .section--title {
            font-family: $sharpGroteskSemiBoldFont;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: $black;
            margin-bottom: 10px;
        }
        .section--hint--text {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.6);
            a {
                margin-left: 5px;
                text-decoration: underline;
                color: $black;
                font-weight: 500;
            }
        }
    }
    .header--search--block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        @include md {
            flex-wrap: wrap;
        }
        .search--block {
            width: 65%;
            @include lg {
                width: calc(55% - 8px);
            }
            @include md {
                width: 100%;
            }
        }
        .sort--by--block {
            width: calc(25% - 12px);
            @include lg {
                width: calc(25% - 8px);
            }
            @include md {
                width: calc(50% - 6px);
                margin-top: 15px;
            }
            // margin-left: 12px;
        }
        .filters--count--block {
            width: calc(10% - 12px);
            @include lg {
                width: calc(20% - 8px);
            }
            @include md {
                width: calc(50% - 6px);
                margin-top: 15px;
            }
            .filters--count--parent {
                width: 100%;
                padding: 1px;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                position: relative;
                .filters--count--child {
                    min-height: 50px;
                    background-color: $white;
                    width: 100%;
                    border-radius: 10px;
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 13px;
                    .count--block {
                        width: 18px;
                        height: 18px;
                        background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p {
                            font-size: 12px;
                        }
                    }
                    img {
                        width: 15px;
                    }
                    p {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 140%;
                        font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
                        color: $black;
                    }
                }
                // .box--shadow--effect--block {
                //     width: calc(100% + 8px);
                //     min-height: 58px;
                //     position: absolute;
                //     z-index: -5;
                //     left: -4px;
                //     right: 0;
                //     top: 0;
                //     bottom: 0;
                //     background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                //     opacity: 0;
                //     margin: auto;
                //     border-radius: 12px;
                //     transition: 0.2s;
                // }
            }
            // .filters--count--parent:hover {
            //     // background: $white;
            //     .box--shadow--effect--block {
            //         opacity: 0.2;
            //     }
            // }
        }
    }
    .sorting--filters--row {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        position: relative;
        z-index: 5;
        // box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        align-items: center;
        justify-content: flex-start;
        @include md {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .sorting--filter {
            width: 200px;
            position: relative;
            z-index: 1;
            @include md {
                width: calc(50% - 6px);
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        .open {
            .box--shadow--effect--block {
                opacity: 0.2;
            }
        }
    }
    .filters--row--data {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 30px;
        .nfts--data--count {
            width: 100px;
            p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                display: flex;
                align-items: center;
                color: $black;
            }
        }
        .filters {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: calc(100% - 165px);
            .filter--item--parent {
                min-height: 32px;
                padding: 1px;
                // width: 125px;
                background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                border-radius: 12px;
                min-height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                margin-bottom: 12px;
                .filter--item--child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 14px;
                    background: linear-gradient(135deg, rgba(188, 235, 0, 0.1) 15.57%, rgba(0, 234, 234, 0.1) 84.88%), #FFFFFF;
                    border-radius: 10px;
                    min-height: 30px;
                    // width: 123px;
                    .price--icon {
                        margin-right: 5px;
                    }
                    .default--avatar {
                        border-radius: 5px;
                        // padding: 5px;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 12px;
                    }
                    .avatar--img {
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        border-radius: 5px;
                        margin-right: 12px;
                    }
                    .filter--text {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: $black;
                    }
                    .close--icon {
                        width: 10px;
                        cursor: pointer;
                        margin-left: 12px;
                    }
                }
            }
        }
        .clear--all {
            text-align: right;
            text-decoration: underline;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            cursor: pointer;
            display: flex;
            width: 65px !important;
            justify-content: flex-end;
        }
    }
    .nfts--gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        > div {
            width: calc(25% - 22.5px);
            margin-right: 30px;
            @include lg {
                width: calc(33.3% - 16.6px);
                margin-right: 25px;
            }
            @include md {
                width: calc(50% - 6px);
                margin-right: 12px;
            }
            @include sm {
                width: 100%;
                margin-right: 0;
            }
        }
    }
    .select--nfts--footer {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @include md {
            flex-direction: column;
        }
        .selected--nft--block {
            width: calc(75% - 6px);
            display: flex;
            flex-wrap: wrap;
            .selected--nft--item {
                width: 60px;
                height: 60px;
                margin-right: 12px;
                border-radius: 5px;
                position: relative;
                margin-bottom: 12px;
                img {
                    border-radius: 5px;
                    object-fit: cover;
                    height: 100%;
                }
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .close--icon {
                    position: absolute;
                    width: 12px;
                    height: 12px;
                    background: $black;
                    z-index: 9;
                    top: -6px;
                    right: -6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    padding: 2px;
                    cursor: pointer;
                }
            }
        }
        .buttons--group {
            display: flex;
            align-items: center;
            @include md {
                width: 100%;
                flex-direction: column-reverse;
            }
            button {
                display: block;
                height: 42px;
                margin-left: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                @include md {
                    width: 100%;
                    margin-bottom: 12px;
                }
            }
        }
    }
}