@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.select--nfts--container {
    width: 100%;
    .section--title--block {
        width: 100%;
        margin-bottom: 30px;
        .section--title {
            font-family: $sharpGroteskSemiBoldFont;
            font-weight: 600;
            font-size: 20px;
            line-height: 130%;
            color: $black;
            margin-bottom: 10px;
        }
        .section--hint--text {
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            color: rgba(0, 0, 0, 0.6);
            a {
                margin-left: 5px;
                text-decoration: underline;
                color: $black;
                font-weight: 500;
            }
        }
    }
    .header--search--block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        .search--block {
            width: 65%;
        }
        .sort--by--block {
            width: calc(25% - 12px);
            // margin-left: 12px;
        }
        .filters--count--block {
            width: calc(10% - 12px);
            .filters--count--parent {
                width: 100%;
                padding: 1px;
                box-sizing: border-box;
                background-color: rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                position: relative;
                .filters--count--child {
                    min-height: 50px;
                    background-color: $white;
                    width: 100%;
                    border-radius: 10px;
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 13px;
                    .count--block {
                        width: 18px;
                        height: 18px;
                        background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p {
                            font-size: 12px;
                        }
                    }
                    img {
                        width: 15px;
                    }
                    p {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 140%;
                        font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
                        color: $black;
                    }
                }
                // .box--shadow--effect--block {
                //     width: calc(100% + 8px);
                //     min-height: 58px;
                //     position: absolute;
                //     z-index: -5;
                //     left: -4px;
                //     right: 0;
                //     top: 0;
                //     bottom: 0;
                //     background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                //     opacity: 0;
                //     margin: auto;
                //     border-radius: 12px;
                //     transition: 0.2s;
                // }
            }
            // .filters--count--parent:hover {
            //     // background: $white;
            //     .box--shadow--effect--block {
            //         opacity: 0.2;
            //     }
            // }
        }
    }
    .sorting--filters--row {
        width: 100%;
        margin-bottom: 30px;
        display: flex;
        // box-shadow: 0px 10px 36px rgba(136, 120, 172, 0.14);
        align-items: center;
        justify-content: flex-start;
        > div {
            width: 200px;
            position: relative;
            z-index: 1;
        }
        .open {
            .box--shadow--effect--block {
                opacity: 0.2;
            }
        }
    }
    .filters--row--data {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 30px;
        .nfts--data--count {
            p {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                display: flex;
                align-items: center;
                color: $black;
            }
        }
        .filters {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .filter--item--parent {
                min-height: 32px;
                padding: 1px;
                // width: 125px;
                background: linear-gradient(135deg, #BCEB00 15.57%, #00EAEA 84.88%);
                border-radius: 12px;
                min-height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 10px;
                margin-bottom: 12px;
                .filter--item--child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 14px;
                    background: linear-gradient(135deg, rgba(188, 235, 0, 0.1) 15.57%, rgba(0, 234, 234, 0.1) 84.88%), #FFFFFF;
                    border-radius: 10px;
                    min-height: 30px;
                    // width: 123px;
                    .default--avatar {
                        border-radius: 5px;
                        // padding: 5px;
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 12px;
                    }
                    .avatar--img {
                        width: 20px;
                        height: 20px;
                        object-fit: contain;
                        border-radius: 5px;
                        margin-right: 12px;
                    }
                    .filter--text {
                        font-family: $spaceGroteskFont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 140%;
                        display: flex;
                        align-items: center;
                        color: $black;
                    }
                    .close--icon {
                        width: 10px;
                        cursor: pointer;
                        margin-left: 12px;
                    }
                }
            }
        }
        .clear--all {
            text-decoration: underline;
            font-family: $spaceGroteskFont;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            margin-left: 12px;
            cursor: pointer;
        }
    }
}