@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.sell--nft--page--header {
    min-height: 200px;
    background: url('../../../assets/images/sellNft/sel-nft-page-header-bg.png'), linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, white 0%), white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 60px;
    .wrapper--center {
        display: block;
        padding: 50px 0;
        .back--page--section {
            a {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-family: $spaceGroteskFont;
                font-size: 16px;
                line-height: 20px;
                font-feature-settings: 'ss02' on, 'ss03' on, 'ss04' on;
                color: $black;
                .back--page--name {
                    margin-left: 10px;
                }
            }
        }
        .subheader--title--section {
            margin-top: 20px;
            p {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 140%;
                color: $black;
            }
        }
    }
}